[2020-07-21 15:49] HerringtonDarkholme opened #6 "Code Coverage Tools"

[2020-07-21 15:52] HerringtonDarkholme opened #9 "Example Code"
As in https://github.com/ElemeFE/element/tree/dev/examples

[2020-07-24 07:49] HerringtonDarkholme opened #17 "Developer Documentation and setup"

[2020-07-28 09:08] JeremyWuuuuu opened #51 "New Component: replace the original Modal implementation with new Teleport API"
Since there is a built in API `teleport` we can easily add component's such as `Modal`, here are some test code I did on [codesandbox](https://codesandbox.io/s/vue-todo-list-app-with-single-file-component-0mfy2)

[code]
This renders out:
![image](https://user-images.githubusercontent.com/15975785/88643908-e32a0180-d0f4-11ea-983b-3dd97aa3a122.png)

[2020-07-30 10:51] Liiked opened #64 "New Component: Carousel"

[2020-07-31 10:04] bastarder opened #70 "[Problem] support value & v-model same time"
i have one component `<switch v-model=“aaa”> `
it support `v-model` & `value` same time

in vue 2.0, the `v-model` default propName is `value`, and eventName is `change`,
but in vue 3.0, change to `modelValue` and `update:modelValue`
if i support both of them

in `Switch` how can i make sure, which value (`value`, `modelValue`) should be the final value;

[2020-08-02 16:05] JeremyWuuuuu opened #83 "### Carousel"

[2020-08-04 02:34] chuo0817 opened #91 "### Container"

[2020-08-04 03:21] hanx316 opened #95 "### Input"

[2020-08-04 04:31] SimonaliaChen opened #99 "### Loading"

[2020-08-04 07:35] SunLn opened #101 "### Message"

[2020-08-04 07:54] SunLn opened #102 "### Image"

[2020-08-05 02:43] JeremyWuuuuu opened #107 "### Tooltip"
Tooltip component same as https://github.com/ElemeFE/element/tree/dev/packages/tooltip

[2020-08-06 06:50] SimonaliaChen opened #111 "### InfiniteScroll"

[2020-08-06 06:58] SimonaliaChen opened #113 "### Cascader"

[2020-08-06 15:16] Caaalabash opened #115 "### InputNumber"

[2020-08-06 15:21] Caaalabash opened #116 "### Calendar"

[2020-08-07 03:47] zazzaz opened #117 "### TimePicker"

[2020-08-07 03:48] zazzaz opened #118 "### DatePicker"

[2020-08-07 03:48] zazzaz opened #119 "### DateTimePicker"

[2020-08-07 03:48] zazzaz opened #120 "### Pagination"

[2020-08-09 13:48] zazzaz opened #125 "### Form"

[2020-08-10 02:34] JeremyWuuuuu opened #128 "### Upload"
Assignee @JeremyWuuuuu

[2020-08-12 10:13] zouhangwithsweet opened #132 "### ColorPicker"

[2020-08-12 10:25] zouhangwithsweet opened #133 "### Dropdown"
Dependencies:
- `el-button` (done)
- `el-button-group` (done in #100)

[2020-08-13 06:57] bastarder opened #134 "### Tabs"
Dependencies:
- not dependent on other components

[2020-08-18 02:24] JeremyWuuuuu opened #141 "### Popper"
Fundamental component `Popper` for `Tooltip` and `Select`, etc.

[2020-08-18 02:33] HerringtonDarkholme commented on #91
Fixed by #110

[2020-08-18 02:33] #91 closed

[2020-08-18 03:10] Ryan2128 opened #143 "### Slider"

[2020-08-18 03:30] homer6wang opened #144 "### Dialog"
Dependencies:
- not dependent on other components

[2020-08-18 03:34] TingYinHelen opened #145 "想加入开发"
想问一下有什么组件没有被block，可以assign一个给我么，强烈希望加入一起开发

[2020-08-18 03:58] JeremyWuuuuu commented on #145
Closing this issue due to it's unrelated to this Repo
Also if you want to contribute, please go to README for more info

[2020-08-18 03:58] #145 closed

[2020-08-18 05:35] luxueyan opened #146 "希望参与进来"
是需要邀请吧

[2020-08-18 05:37] zazzaz commented on #146
开源项目 直接 fork 项目提交代码就可以一起完成了！

[2020-08-18 05:40] #146 closed

[2020-08-18 05:41] zazzaz opened #147 "🎉 Welcome to Element Plus"
Element Plus - A Vue.js 3.0 UI library
------

## Core Updates

Element UI is an awesome Vue 2.x UI library.

However, in order to support Vue 3.0 with new syntax and great composition API, a  fully refactor and rewritten is needed.

[Element Plus](https://github.com/element-plus/element-plus/)  is the next generation of Element UI with full **Vue 3.0** composition API support.

And it's rewritten

[2020-08-18 05:42] JeremyWuuuuu commented on #146
Closing this issue due to it it not related to this project, if you wish to participant, please go fork this repo and pull request

[2020-08-18 05:54] JeremyWuuuuu opened #148 "👏 How to contribute"
## Welcome to ElementPlus

To be able to participate, you will need to:
1. Fork this repo
2. Check the project board [Migration Backlog](https://github.com/element-plus/element-plus/projects/1) and find the component you are going to work on.
3. Make sure that you read README before coding.
4. After you complete your coding, Pull Request to this repo and loop some reviewers into

[2020-08-18 05:57] luxueyan opened #149 "### Drawer"
https://github.com/element-plus/element-plus/projects/1#card-42276200
只能复制 没有权限convert

[2020-08-18 05:59] luxueyan commented on #148
I have no permission to convert to a card to an issue. How operate it.

[2020-08-18 05:59] JeremyWuuuuu commented on #149
I believe this one is depend on #144 , can you dig into it before coding?

[2020-08-18 06:01] JeremyWuuuuu commented on #148
I'll help you with that, but before you doing so, please take a look on the feature itself

[2020-08-18 06:26] Ryan2128 commented on #83
Is the plan for this component to use vue 3 to refactor or rewrite all the logic?

If it is the former, what's the current progress? I submitted a [PR](https://github.com/kkbjs/element3/pull/10) about refactoring this component in another code repository. If this component has not been refactored, can I submit a PR about it?

[2020-08-18 06:35] luxueyan commented on #149
Sorry for continually disturbing you！But I just checked the old element-ui(2.13.2) ，the drawer component dose not depend on the Dialog component. It only depend on a css class 'el-dialog__close'. Is there some change?

[2020-08-18 06:42] JeremyWuuuuu commented on #149
Nope, just checked it out, it only depends on `PopupManager`. You can go ahead doing it

[2020-08-18 06:42] JeremyWuuuuu opened #150 "### Drawer"
Assign to @luxueyan
Drawer component

[2020-08-18 06:43] JeremyWuuuuu commented on #150
#149

[2020-08-18 06:44] JeremyWuuuuu commented on #149
Duplicated with #150

[2020-08-18 06:44] #149 closed

[2020-08-18 06:59] Liiked commented on #83
Yes, it's been refactored with typescript. It's almost done there😉 and PR be submitted today. There's only few works to do with the "card" type of carousel between v2 and v3, and pass the last test case with all things settled.

[2020-08-18 07:05] Ryan2128 commented on #83
OK😊

[2020-08-18 07:59] wendell0316 opened #152 "Tooltip"

[2020-08-18 08:02] JeremyWuuuuu commented on #152
Closing this issue due to Tooltip is ongoing. And also, please go check out the backlog before opening issue

[2020-08-18 08:02] #152 closed

[2020-08-18 08:05] #64 closed

[2020-08-18 08:06] Liiked opened #153 "### NavMenu"

[2020-08-18 08:22] Liiked opened #154 "### NavMenu"
Includes these components:
- `el-menu`
- `el-menu-item`
- `el-menu-item-group`
- `el-submenu`

Dependencies:
- `el-tooltip` (depended by `el-menu-item`, tracked by #107)

[2020-08-18 08:22] #153 closed

[2020-08-18 09:44] bastarder opened #155 "### Tree"

[2020-08-18 11:32] QC-L opened #156 "### MessageBox"
https://github.com/element-plus/element-plus/projects/1#card-42275921

[2020-08-18 12:29] JeremyWuuuuu opened #157 "### Clickoutside"
Directive clickoutside

[2020-08-18 12:31] JeremyWuuuuu commented on #156
Hi, welcome, before you get started, do make sure that you have went through `README.md`.

[2020-08-19 07:28] #141 closed

[2020-08-19 07:29] #157 closed

[2020-08-19 09:12] Ryan2128 opened #161 "### Transfer"
The Transfer component denpends on Input component, I want to begin to refactor this component after Input refactored.

[2020-08-19 09:22] zazzaz commented on #161
cool

[2020-08-19 09:37] Ryan2128 commented on #161
😁~

[2020-08-19 09:43] zazzaz opened #162 "☝️ Breaking Change List"
Here is the list of breaking changes from Element 2.x to Element Plus

[2020-08-19 09:48] zazzaz commented on #162
## Time Picker

### Attributes
1. Delete picker-options (Move picker-options to component tag)
2. Delete picker-options.format (Use the only picker format)
3. Delete picker-options.selectableRange (New selectableRange API )
4. Add disabledHours disabledMinutes disabledSeconds APIs

[2020-08-19 11:20] Chersquwn opened #164 "### Popover"
https://github.com/element-plus/element-plus/projects/1#card-42276101

Hi, I wish to contribute this component.

[2020-08-19 11:40] JeremyWuuuuu commented on #164
Hi, before you doing so , I'd like to ask you to go through the old version of popover for better understanding of how it was designed, and how to do the migration, when you ready, you can go ahead doing it

[2020-08-19 16:34] Ryan2128 commented on #143
90% completed, waiting for InputNumber & Tooltip refactored.

[commit](https://github.com/Ryan2128/element-plus/commit/364d8404d1aecac349ac414d28882aa9c5b38e9a)

[2020-08-20 02:15] TingYinHelen opened #166 "### Select"

[2020-08-20 02:17] JeremyWuuuuu commented on #143
Neat, you can try attach `popper` on this is the internal tooltip for us developers to use, and also if you find any bug please feel free to raise an issue and assign to me

[2020-08-20 02:29] zazzaz commented on #166
cheers~

[2020-08-20 06:05] Ryan2128 commented on #143
Yes, I will try it after get off work. 😁

[2020-08-20 07:48] zazzaz opened #169 "Popper bug list"

[2020-08-20 07:51] zazzaz commented on #169
It's better to provide a pure popper with no default styles like padding, border color
<img width="396" alt="image" src="https://user-images.githubusercontent.com/10731096/90731903-e6339e80-e2fc-11ea-977a-7103fc9669e2.png">

[2020-08-20 07:54] zazzaz commented on #169
wrong arrow direction in `effect="light"`
<img width="404" alt="image" src="https://user-images.githubusercontent.com/10731096/90732159-4591ae80-e2fd-11ea-95c9-3ca188c68187.png">

[2020-08-20 07:54] JeremyWuuuuu commented on #169
I am considering a new API called `shouldDecorate` as `boolean` to  fix this one.

[2020-08-20 07:58] JeremyWuuuuu commented on #169
loop @ Ryan2128 in to get updates

[2020-08-20 08:38] bastarder commented on #162
## Timeline

### Attributes
1. Delete reverse (You should update data to reverse time-line，not bind props reverse)

[2020-08-20 14:16] HassanKrayem commented on #147
Wonderful Guys
Would The Next Generation Element UI Plus also work on VUe 2.x ?

[2020-08-20 14:21] JeremyWuuuuu commented on #147
Well, the answer is no, because we have made syntax changes to support Vue3 (setups and hooks), in this case `ElementPlus` won't be compatible to `Vue2` based application, but we will make sure component API remains the same as `V2`.

[2020-08-20 14:35] Ryan2128 commented on #169
Should I wait for your update first? I don't understand what you mean too much.

[2020-08-20 14:56] JeremyWuuuuu commented on #169
Nope, you can go ahead implement features related to tooltip with popper, the current documentation might be fragmentary,
Here are some APIs you might need:
1. manualMode (if you want to control the tooltip manually like `manual` in tooltip in v2
2. value (if manualMode is set to true) you are going to need it to control the visibility
3. placement as same as tooltip's in v2
4. effect

[2020-08-20 15:09] Ryan2128 commented on #169
Ok, thank you for your explanation.😁

[2020-08-21 02:28] zazzaz opened #171 "🎉 Welcome to Element Plus"
![element-plus-logo](https://user-images.githubusercontent.com/10731096/91267529-259f3680-e7a6-11ea-9a60-3286f750de01.png)

Element Plus - A Vue.js 3.0 UI library
------

## Core Updates

Element UI is an awesome Vue 2.x UI library.

However, in order to support Vue 3.0 with new syntax and great composition API, a  fully refactor and rewritten is needed.

[Element Plus](https://github.com/element-

[2020-08-23 07:28] bradleyzhou opened #182 "### Slider"
ElSlider

Dependencies:
- `el-input-number` (in progress in #115)
- `el-tooltip` (used by internal component slider-button, in progress in #107)

[2020-08-23 15:37] FFFFof7 opened #183 "### Autocomplete"
I can do this

[2020-08-23 17:36] bradleyzhou commented on #182
Ooops. Guess I missed that because #143 was not in the Kanban https://github.com/element-plus/element-plus/projects/1.

Manually added #143 to the Project board. Closing this as a duplicate of #143.

[2020-08-23 17:36] #182 closed

[2020-08-24 06:46] JeremyWuuuuu commented on #183
Hi, @FFFFof7 , if you wish to work on this component, you can simply fork this repo and get started, also, before you get started, I'd like to ask you to review the original component see if there's any dependency that might block you on this.

[2020-08-24 06:49] JeremyWuuuuu commented on #162
## Tooltip

### Attributes
1. popperOptions: since we have replaced the previous version to `@popperjs/core` v2, the popperOptions are completely different from v1.
[code]

[2020-08-24 09:09] JeremyWuuuuu commented on #164
@Chersquwn Hi, is there any progress on this? If not, I'm going to close this issue then

[2020-08-24 09:10] #164 closed

[2020-08-24 09:11] JeremyWuuuuu commented on #156
HI, just checking to see if you have made any progress since, I am closing this issue now, feel free to reopen this issue if you have made any progress

[2020-08-24 09:11] #156 closed

[2020-08-24 09:15] JeremyWuuuuu commented on #150
Hi @luxueyan, just checking in see if you have made any progress yet, and I am closing this issue for now, feel free to reopen this issue if you feel like it

[2020-08-24 09:15] #150 closed

[2020-08-24 09:30] justwiner opened #186 "### Table"

[2020-08-24 13:10] xiaoeyuZZZ opened #190 "###Popover"

[2020-08-25 02:19] #134 closed

[2020-08-25 03:21] JeremyWuuuuu commented on #144
Assigning this to me since @homer6wang was to busy on his errands

[2020-08-25 03:31] Chersquwn commented on #164
@JeremyWuuuuu Oh, sorry. I didn‘t see the reply in time, and i have complete popover component.

[2020-08-25 03:35] JeremyWuuuuu commented on #190
Duplicate #194
@xiaoeyuZZZ this one is already done by @Chersquwn, can you pick another one to dig in?

[2020-08-25 03:56] xiaoeyuZZZ commented on #190
ok

[2020-08-25 03:57] #190 closed

[2020-08-25 04:09] xiaoeyuZZZ opened #196 "###Popconfirm"

[2020-08-25 14:51] #107 closed

[2020-08-25 14:55] JeremyWuuuuu opened #202 "### Popover"
Dependencies:
- ElPopper

This component has not been claimed yet.

[2020-08-25 14:56] JeremyWuuuuu opened #203 "### Transfer"

[2020-08-25 14:58] JeremyWuuuuu opened #204 "### MessageBox"

[2020-08-25 14:58] JeremyWuuuuu opened #205 "### Popconfirm"
Dependencies
- `el-popover` (done)
- `el-button` (done)

[2020-08-25 14:58] JeremyWuuuuu opened #206 "### Autocomplete"

[2020-08-25 15:02] JeremyWuuuuu commented on #203
Duplicated with #161

[2020-08-25 15:02] #203 closed

[2020-08-25 15:05] JeremyWuuuuu opened #207 "### Select"
Dependencies:
- `el-tag` (done in issue #78)
- `el-input` (in progress in issue #95)
- `el-scrollbar`(in progress in issue #126)

[2020-08-25 22:54] TingYinHelen commented on #207
https://github.com/element-plus/element-plus/projects/1#card-44156383

[2020-08-26 02:07] JeremyWuuuuu commented on #169
ElPopper needs to add a minimum width ~20px to `el-popper` in order to keep the arrow placement correct

[2020-08-26 03:24] geekLeopoldFitz opened #209 "The style of the home page of the official website is misplaced."
![image](https://user-images.githubusercontent.com/15906192/91251728-9df9fd80-e78e-11ea-8dfb-fa2e9ea851c5.png)
At the same time, is this project based on community?

[2020-08-26 03:34] zazzaz commented on #209
That is because the `el-select` component is not ready yet. And will be avaliable soon

[2020-08-26 03:38] JeremyWuuuuu commented on #209
Hi, the front page is not our highest priority right now, and this is as @zazzaz said, `el-select` is an ongoing component. I'm closing this issue.

[2020-08-26 03:38] #209 closed

[2020-08-26 03:38] JeremyWuuuuu commented on #207
Duplicated with #166

[2020-08-26 06:18] Uluer opened #211 "Tag bug list"
1. the close event should not trigger the click event
`
emits: ['close'],  // ['close', 'click']
`
`
const handleClick = event => {
     ctx.emit('close', event)  // click
}
`
2. [Using <transition> as component's root will no longer trigger transitions when the component is toggled from the outside.](https://github.com/vuejs/rfcs/blob/master/active-rfcs/0017-transition-as-root.md)
whether to cons

[2020-08-26 06:26] JeremyWuuuuu commented on #211
@Uluer Hi, thanks for raising this up, all transition-related styles will be updated later when the migration finished.
Would you like to make a PR for the bug?

[2020-08-26 06:34] Uluer commented on #211
Thank you for seeing this question, I will not submit a PR because my technique is too low

[2020-08-26 06:36] JeremyWuuuuu commented on #211
@Uluer Feel free to submit a PR for this, we will have some people working with you on this one.

[2020-08-26 10:18] luxueyan commented on #150
I have done the feature, but the unit test is doing at my free time.

[2020-08-27 10:03] bmfs commented on #183
Duplicated with #206

[2020-08-27 10:04] bmfs commented on #206
Duplicate with #183

[2020-08-27 10:20] bmfs commented on #111
@SimonaliaChen Is this available to work on? I wouldn't mind to pick this up.

[2020-08-27 11:03] SimonaliaChen commented on #111
Thanks for joining us ! I am working on it.  Maybe you can pick up `Loading` or `Message` if you don't mind.

[2020-08-27 11:52] JeremyWuuuuu commented on #101
@Bruno Santos hi, are you interested in this?

[2020-08-27 12:02] bmfs commented on #101
Sure. I can give a try.

On Thu, Aug 27, 2020, 12:53 jeremywu <notifications@github.com> wrote:

[2020-08-27 12:06] JeremyWuuuuu commented on #101
@bmfs , nice! that'd be great, FYI, there is a component named `Notification` might share the same functionality with `Message`, you can take a look on that and also if you find any common logic in both case, it'd be a good idea if you extract them out

[2020-08-27 13:22] #102 closed

[2020-08-28 03:44] #133 closed

[2020-08-28 03:58] JeremyWuuuuu opened #218 "New directive: Trap focus"
Adding a new directive named `v-trap-focus` to trapping focus inside opened `modal`
### Functionality:
 - Should be able to trap the first focusable element on the modal
 - Should be able to restore the focus event when modal gets closed
 - Should be able to trap the focus inside the open modal

[2020-08-28 03:58] JeremyWuuuuu commented on #218
cc @zouhangwithsweet @HerringtonDarkholme @zazzaz  @bastarder , any suggestions?

[2020-08-28 05:10] bastarder commented on #218
if i set two element `v-trap-focus`, which one will be focus?

[2020-08-28 06:23] JeremyWuuuuu commented on #218
IMHO, the main design of this directive is that we want to trap focus inside some modal with structure like this:
[code]
The main idea is to trap focus inside this modal, instead of manipulate the focus, there might be some sort of conflict for components with autofocus, we'll dig into that and keep them isolated

[2020-08-28 08:17] YuLinXi commented on #204
https://github.com/element-plus/element-plus/projects/1#card-42275921

[2020-08-28 08:19] YuLinXi commented on #204
i do this

[2020-08-28 08:21] JeremyWuuuuu commented on #204
@YuLinXi Did this mean that you want to take this task?

[2020-08-28 08:23] JeremyWuuuuu commented on #204
@YuLinXi If you have any progress, please make a draft PR to us to track on. If we haven't seen any progress in 3 days, we will remove you from the assignee.

[2020-08-28 08:24] YuLinXi commented on #204
@JeremyWuuuuu  ok

[2020-08-28 08:25] JeremyWuuuuu commented on #196
Same as #205

[2020-08-28 08:26] JeremyWuuuuu commented on #205
Closing this due to it's duplicated with #196

[2020-08-28 08:26] #205 closed

[2020-08-28 08:49] YuLinXi commented on #204
@JeremyWuuuuu Hello, is my priority to migrate the original components and ts-type later ?

[2020-08-28 08:52] JeremyWuuuuu commented on #204
@YuLinXi, No, you need to work on both **migration** and **type annotation** ;)

[2020-08-28 08:58] YuLinXi commented on #204
@JeremyWuuuuu fine

[2020-08-28 14:38] zouhangwithsweet commented on #218
how to handle `select` or `checkbox` ?

[2020-08-29 16:17] Ryan2128 opened #223 "Checkbox: label type and modelValue type"
**label:**
When I was refactoring `Transfer` component which depend on `Checkbox` and `CheckboxGroup` component, I met the warn below.

![image](https://user-images.githubusercontent.com/33176053/91640124-dd09a680-ea4d-11ea-94eb-ab602f5b65f2.png)

Then I checked the API of Element2's `Checkbox` components and found that the type of `label` is `string / number / boolean`.  But now it receives the t

[2020-08-29 16:20] Ryan2128 commented on #223
Link to `Checkbox` [migration issue](https://github.com/element-plus/element-plus/issues/109)

cc @zouhangwithsweet.

[2020-08-30 13:37] zouhangwithsweet commented on #223
I will fix it in a new branch

[2020-08-30 13:58] Ryan2128 commented on #223
OK.

[2020-08-31 02:37] JeremyWuuuuu commented on #183
@FFFFof7 Hi, it seems like the guy who implemented input has already implemented this components #216 , so I am closing this issue since there were no updates from you

[2020-08-31 02:37] #183 closed

[2020-08-31 02:38] JeremyWuuuuu commented on #166
@TingYinHelen Any updates?

[2020-08-31 02:39] JeremyWuuuuu commented on #196
@xiaoeyuZZZ , hi, we haven't heard any updates, have you made any progress on this? If you do, please make a Draft PR to us for tracking your updates, otherwise I am assigning this task to the others

[2020-08-31 02:42] JeremyWuuuuu commented on #186
@justwiner , hi, please make a draft PR for us to track on your progress, if you have encountered any problem please contact us

[2020-08-31 02:45] justwiner commented on #186
Okay，I will do it in the evening after work.
An initial version is expected to be given this weekend.

[2020-08-31 03:08] MBearo opened #230 "Compiled failed:Can't resolve 'throttle-debounce/throttle'"
### Env
mac 10.15.6
node 14.5.0 && 11.12.0 && 10.21.0
### Detail
website/pages/component.vue
website/pages/index.vue

[code]

[2020-08-31 03:17] TingYinHelen commented on #166
i will update as soon as possible

[2020-08-31 03:20] JeremyWuuuuu commented on #230
Hey, have you tried it with `yarn bootstrap`? I just checked it out, `throttle-debounce/throttle` is declared in the `package.json` file.

[2020-08-31 03:22] MBearo commented on #230
[code]
Modify it to the above so it can run

[2020-08-31 04:00] MBearo commented on #132
Can I help you?

[2020-08-31 07:12] zazzaz commented on #132
@MBearo That would be nice, please.

[2020-08-31 08:56] MBearo commented on #132
What should I do?

[2020-08-31 09:10] zazzaz commented on #132
@MBearo
Check here for more information.

https://github.com/element-plus/element-plus/issues/148

[2020-08-31 13:04] Ryan2128 opened #235 "Discussion about v-bind="$attrs""
In vue3, `$attrs` includes `style` and `class`, but not in vue2. In vue3, one of its uses is pass attrs to `Fragment`, so it should include `style` and `class`.

There is at least a styling error if use `v-bind="$attrs"` apply to a child node which has single root node.

Just like:
[First demo](https://github.com/element-plus/element-plus/pull/216#pullrequestreview-478143604)
[Second demo](https:/

[2020-09-01 01:38] #230 closed

[2020-09-01 01:52] MBearo commented on #132
Create an issue and the title is ColorPicker ?

[2020-09-01 02:15] zazzaz commented on #132
@MBearo we already have this issue.  #132   you can start coding right away. 😁

[2020-09-01 02:18] JeremyWuuuuu commented on #132
@MBearo  I think ColorPicker has been taken by someone, the label is not correct, sorry about that

[2020-09-01 04:01] MBearo commented on #132
All right

[2020-09-01 14:16] #143 closed

[2020-09-01 14:22] JeremyWuuuuu opened #245 "Integrate `InputNumber` with `Slider`"
Currently `InputNumber` is in development, so the `InputNumber` featured `Slider` has no been implemented yet, this feature should be integrated right after `InputNumber` gets merged

[2020-09-01 14:23] JeremyWuuuuu commented on #245
Assigning this to @Ryan2128 , since he is the owner of `Slider`

[2020-09-01 14:27] Ryan2128 commented on #245
👌  😁

[2020-09-02 02:26] #218 closed

[2020-09-03 02:24] Hades-li commented on #169
![image](https://user-images.githubusercontent.com/12124478/92063242-54806280-edcd-11ea-96ae-dbaca7a53785.png)
I need v-model one value。but，is not work。
![image](https://user-images.githubusercontent.com/12124478/92063403-a2956600-edcd-11ea-8e9d-d2dbd5991815.png)
maybe you need change this code

[2020-09-03 02:34] JeremyWuuuuu commented on #169
Hey @Hades-li , please note that `el-popper` is only an internal component that provides all component that based on it the ability to use wrapped `@popperjs`, you need you play this on popper's rule, value will only be effective when `manualMode` is set to true, the component which uses `el-popper` will have the control of the visibility of popper.

You just play it by the rule ok?

[2020-09-03 06:23] JeremyWuuuuu commented on #235
@Ryan2128 @HerringtonDarkholme @zazzaz @zouhangwithsweet @bastarder @SimonaliaChen

Hey, guys, I do think this issue is valuable due to the current issue we have been encountering with.

With the  change of `Vue` itself,  the element now inherit attributes like `style` `class` etc, to the component's root which was not the same behavior in **Vue 2.x**.

Due to this issue, once the child templates

[2020-09-03 06:28] SimonaliaChen commented on #235
I'd love to give a try.

[2020-09-03 06:28] JeremyWuuuuu commented on #235
The hook would be look like this:

Let's say we have a hook that takes 2 parameters of `ctx.attrs` and `keys to exclude`, the result returned by this hook should be an object which is **responsive** and also without any member with a name that's included in the `keys to exclude` collection

[code]

[2020-09-03 12:58] JeremyWuuuuu opened #251 "`El-Popper` adding emit events for upper layer in order to notify parent components to handle events"
The current version of `El-Popper` does not emit any events to the upper layer, which is inconvenient when it has been set to `manualMode`, in order to notify the upper layer on events such as `mask clicked` ` trigger entered` `trigger left` etc. We need to emit events when certain event occurs.

1. Should emit `maskclick` event when the shadowing mask has been clicked.
2. Should emit `triggerente

[2020-09-04 00:24] #95 closed

[2020-09-04 04:08] zouhangwithsweet commented on #169
![image](https://user-images.githubusercontent.com/21095710/92198295-97623900-eea6-11ea-83f0-14f021db44cb.png)
`Popper.js` will add in-line style for `div.el-poppe-arrow`.But it's not a corrrect stylesheet.

:smiling_imp:
[code]

:100:
[code]

[2020-09-04 06:59] #223 closed

[2020-09-04 10:38] Ryan2128 opened #254 "Checkbox: lack default value of inject"
The newest code lacks default value of inject of `elForm`, `elFormItem`, `CheckboxGroup`.

[code]

![image](https://user-images.githubusercontent.com/33176053/92230325-82ed6300-eedd-11ea-9e22-2d6cc77b3866.png)

@zouhangwithsweet

[2020-09-04 14:36] Ryan2128 commented on #99
My task is done. Is there any progress in the migration of this component? If not, I can do it.

[2020-09-04 16:11] xiaoeyuZZZ commented on #162
## Popconfirm

### Attributes
1. onConfirm is replaced by confirm
2. onCancel is replaced by cancel

[2020-09-05 12:32] #254 closed

[2020-09-05 21:55] johnwheeler opened #260 "Element UI vs Element Plus"
Hi,

It's been a while since I've looked at element-ui. I went to the repo and it looks like it hasn't had activity for 4 months, so I searched #elementui on twitter and found this project, which is an upgrade to Vue 3, what I'm looking for. Is this a continuation from the same group of people or a fork with different maintainers? I only ask because of the lack of activity in the element repo; jus

[2020-09-07 03:20] Brooooooklyn opened #266 "Enable dependabot"
https://app.dependabot.com/

Since I have added [dependabot.yml](https://github.com/element-plus/element-plus/blob/dev/.github/dependabot.yml) and [dependabot auto merge](https://github.com/element-plus/element-plus/blob/dev/.github/workflows/yarn.js.yml#L20) job, we can get the benefit of dependabot to auto update dependencies in this project. When testing passed, it will be merged automatically.

[2020-09-07 14:06] JeremyWuuuuu commented on #266
Thanks @Brooooooklyn , I have just enabled `dependabot` for `ElementPlus`, dunno if the settings are correct. I'll catch you up once I get updated

[2020-09-07 14:07] JeremyWuuuuu commented on #266
Seems everything is working fine. #269 so I'm closing this issue, thanks again!

[2020-09-07 14:07] #266 closed

[2020-09-07 16:06] HerringtonDarkholme commented on #260
Hi! Glad to see you here!
ElementPlus is a UI library for Vue3, the spiritual descendant of ElementUI (which is more or less inactive for some reason),

Most of our contributors are also contributors to ElementUI,  right now we are focusing on rapid development of Element Plus' components. If you want to know more information about this project, keep an eye on us!

 We are anticipating our first a

[2020-09-07 16:57] johnwheeler commented on #260
Thank you @HerringtonDarkholme !

[2020-09-07 16:57] #260 closed

[2020-09-08 09:48] bastarder commented on #169
1. Slots v-if problem， v-show style problem
2. closeDelay
3. `show`, ‘hide’ event miss
  4. `activated`, `deactivated` should use hook
  5. width ，title props miss

[2020-09-08 10:16] zazzaz commented on #101
@bmfs   hi, please make a draft PR for us to track on the migration progress, if you have encountered any problem please contact us

[2020-09-08 12:51] #161 closed

[2020-09-09 02:16] bmfs commented on #101
Noticed two bugs that also affect Notification:

 * When multiple Messages/Notifications that use a VNode are closed, the offset prop doesn't update.
 * When more than 2 Messages/Notifications that use a VNode are closed, I'm getting the following error:
[code]

[2020-09-09 09:13] #70 closed

[2020-09-09 10:20] zazzaz opened #297 "DatePicker && TimePicker bug list"

[2020-09-09 10:22] zazzaz commented on #297
#### TimePicker

1. double tap `Tab` to set focus on first input and trigger popper panel

#### TimeRangePicker

1. double tap `Tab` to set focus on first input and trigger popper panel

[2020-09-09 13:18] #144 closed

[2020-09-09 13:58] JeremyWuuuuu commented on #169
I did not see any `width` `title` in v2 [ElementUI](https://element.eleme.cn/#/zh-CN/component/tooltip)

[2020-09-10 06:04] zazzaz commented on #266
@Brooooooklyn

Hi, this project is still under heavy development and updates daily.

As we could see not all the packages have flowed semantic versioning,  and we have some unexpected behavior with the new (even patch) version installed and have to force a downgrade to the previous one.

So it might be better to manage the dependencies ourselves manually to get better control during development.

[2020-09-10 06:27] Brooooooklyn commented on #266
This is true but
IMO keep the dependencies fresh is a better way to keep a project health.
You can choose the old traditional way: `manage the dependencies ourselves manually to get better control during development`. But the problem is, `some unexpected behavior with the new (even patch) version` will not disappear whether you upgrade daily or monthly. One day sooner or later, you must fix them.

[2020-09-10 08:16] zazzaz commented on #266
Thanks for the reply.

It is true that `keep the dependencies fresh is a better way to keep project health`. And we cloud re-enable it later after the project is released.

At this time, we are focusing on the full migration process and will lock the dependencies, and we may not have time dealing with unexpected bugs caused by dependencies upgrade.

[2020-09-11 08:20] liupl opened #303 "Avatar style"
`Fit Avatar Container`: style problems caused by `flex`

[2020-09-11 16:51] #303 closed

[2020-09-14 07:06] zazzaz commented on #162
## Calendar

### Attributes
1. value / v-model Date Object only
2. range Date Object only, do not have to be start day of week / end day of week
3. remove first-day-of-week, use Day.js locale instead
4. slot data add date (JS Date)

### Doc
How to set Day.js locale

[2020-09-14 15:43] #111 closed

[2020-09-15 02:50] #83 closed

[2020-09-15 03:05] #211 closed

[2020-09-16 06:49] #117 closed

[2020-09-16 06:49] #116 closed

[2020-09-16 07:56] #207 closed

[2020-09-16 13:37] xiaofeng-bm opened #316 "yarn storybook 报错 Object(...) is not a function"
chrome: 85.0.4183.102
yarn: 1.22.5
node: v12.18.3

windows10

![Snipaste_2020-09-16_21-34-43](https://user-images.githubusercontent.com/45890549/93344903-cee8c200-f864-11ea-894f-559b2c16b952.png)

[2020-09-16 13:40] JeremyWuuuuu commented on #316
`StoryBook` will be deprecated in near future, use `yarn website-dev[:play]` instead.

[2020-09-16 13:40] #316 closed

[2020-09-16 13:43] JeremyWuuuuu commented on #251
Since in #306 we have adopted `v-model` approach instead of emitting events to the upper layer, should close this issue then

[2020-09-16 13:43] #251 closed

[2020-09-17 15:08] Ghitu commented on #316
@xiaofeng-bm if you want to make it work just update .storybook/preview.js with this

`import { addDecorator } from '@storybook/html'
import { createApp } from 'vue'
// import '../src/style/element-ui@2.13.2.css'
import '../packages/theme-chalk/src/index.scss'
import ElementPlus from '../packages/element-plus'
import './demo.css'

/**
 * Wraps a story into a Vue Element
 * @param {JSX.Element} tem

[2020-09-17 19:31] g3r4n commented on #204
I know that the Message-box component was in Element-UI, but was is the difference with Dialog ? #144 ?

[2020-09-17 19:47] g3r4n commented on #316
@JeremyWuuuuu  Do you plan to replace StoryBook with something different ?
yarn website-dev[:play] isn't working from my end.

[2020-09-17 19:59] g3r4n commented on #51
@JeremyWuuuuu What is the aim of this ticket ? We already have Dialog #144 and Message-box is coming #204 . Do you want to create a Modal component or update the current ones to use teleport ?

[2020-09-17 20:47] g3r4n opened #321 "TimeSelect"
Are we migrating this component ?
See:
https://element.eleme.io/#/en-US/component/time-picker#fixed-time-picker
https://github.com/ElemeFE/element/blob/dev/packages/time-select/index.js

[2020-09-17 23:48] zazzaz commented on #321
Yes, but we haven't started it yet.

[2020-09-18 01:21] bmfs commented on #101
The pull request https://github.com/element-plus/element-plus/pull/291 is ready to be reviewed.

Ended up not extracting any common logic with the Notification component, but I also agree that some can be shared.

Ended up finding a few bugs in the Notification component and I would be happy to prepare a pull request with fixes and also work on extracting the common code.

Should I open a ticket t

[2020-09-18 01:50] JeremyWuuuuu commented on #51
Indeed, I simply wanted to implement a general component that teleports the child component to wherever we wanted it to go, and it should be managed by this component. The current implementation which I am not very satisfied (I wanted to find the best practice for components like `Notification` which has already been implemented was good enough to me though).

[2020-09-18 07:33] xiaofeng-bm commented on #316
yarn website-dev:play is erroy "'PLAY_ENV' 不是内部或外部命令，也不是可运行的程序"

[2020-09-18 07:39] Linkontoask commented on #171
nice

[2020-09-18 07:48] zazzaz commented on #316
@xiaofeng-bm use `npx cross-env PLAY_ENV=true yarn website-dev`

[2020-09-18 07:57] Linkontoask opened #323 "Object(...) is not a function"
运行 storybook 报以上错误。

![image](https://user-images.githubusercontent.com/26475695/93571840-97def180-f9c7-11ea-93bd-b3aada2ae1be.png)

[2020-09-18 08:00] zazzaz commented on #323
please use 'yarn website-dev' instead, please.

[2020-09-18 08:00] #323 closed

[2020-09-18 08:01] JeremyWuuuuu commented on #316
For `Windows` users you need to refer to @zazzaz 's suggestion in order to get your program work

[2020-09-18 08:02] zazzaz commented on #169
set `trigger="click"` , should do nothing on mouse leave.

Demo code
[code]

[2020-09-18 08:02] JeremyWuuuuu commented on #323
Please refer to #316

[2020-09-18 08:06] Linkontoask opened #324 "Uncaught TypeError: this.$message is not a function"
复现步骤

+ 克隆
+ 安装（yarn）
+ 运行（yarn website-dev）

路由

`/#/zh-CN/component/message`

错误日志

[code]

[2020-09-18 08:10] JeremyWuuuuu commented on #324
Hi @Linkontoask ,
This is an ongoing project, some components haven't been implemented of haven't had been merged yet, e.g. `message`.
We are anticipating our first release in the near future.
Thanks.

[2020-09-18 08:10] JeremyWuuuuu commented on #324
FYI #291 .

[2020-09-18 08:11] #324 closed

[2020-09-18 08:23] zazzaz commented on #323
I've updated the readme accordingly.

[2020-09-18 10:38] zazzaz commented on #162
## Date Picker

### Attributes
1. remove first-day-of-week, use Day.js locale instead

### Doc
Update editable description

[2020-09-18 11:25] liupl opened #327 "carousel组件样式问题"
`carousel`组件下的`* {text-align:center;}`全局样式导致别的组件出现各种样式问题
![](https://p6-juejin.byteimg.com/tos-cn-i-k3u1fbpfcp/fac47fb49c6741a7b3c5546f52c6a22c~tplv-k3u1fbpfcp-zoom-1.image)

[2020-09-19 11:01] CHOYSEN commented on #171
What's the difference between the two projects?

[https://github.com/kkbjs/element3](url)

[2020-09-19 11:06] CHOYSEN opened #332 "What's the difference between the two projects?"
What's the difference between the two projects?

[https://github.com/kkbjs/element3](https://github.com/kkbjs/element3)

[2020-09-19 14:31] zazzaz commented on #332
This is Elenent UI for Vue3.0. All of our contributors are from Element UI.

[2020-09-19 14:31] #332 closed

[2020-09-20 06:00] chuzhixin commented on #171
💯💯💯 多番打探比对，发现还是element-ui原来的团队成员，这下可算放心了，vue-admin-beautiful差点就要换成了ant-design了，恭喜element plus获得新生

[2020-09-20 08:44] CHOYSEN commented on #332
ok thanks

[2020-09-21 06:22] lytian opened #335 "Add typescript definition ?"

[2020-09-21 06:59] NO-MAP commented on #171
什么时候能发布呢？可以给一个大概的时间么。

[2020-09-21 07:03] zazzaz commented on #171
@NO-MAP You can use
[code]
to try Element Plus today.

And also check here as an installation reference.
https://element-plus.org/#/en-US/component/installation

[2020-09-21 07:09] NO-MAP commented on #171
ok, i got it, thanks.

[2020-09-21 07:25] #327 closed

[2020-09-22 01:19] YuLinXi commented on #204
message-box base on dialog

[2020-09-22 09:10] trincer commented on #171
什么时候能发布呢？能否给一个大致的时间计划？

[2020-09-22 09:59] zazzaz commented on #171
@trincer We plan to release within one month if everything goes well as expected.

[2020-09-22 20:04] g3r4n commented on #335
添加typescript定义 = Add typescript definition ?
Can you be more specific ?

[2020-09-22 21:23] g3r4n opened #340 "ElDropdown: Uncaught TypeError: can't convert null to object"
on the dev branch when I'm running the website
[code]
I got the following error in the navigator:
![image](https://user-images.githubusercontent.com/10941033/93939172-aeb87780-fd2a-11ea-88e8-5a388ac1e6ea.png)

[2020-09-23 00:32] lytian commented on #335
How to use it with typescript？------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;&quot;Enguerrand&amp;nbsp;des&amp;nbsp;Vaux&quot;<notifications@github.com&gt;
发送时间:&nbsp;2020年9月23日(星期三) 凌晨4:05
收件人:&nbsp;&quot;element-plus/element-plus&quot;<element-plus@noreply.github.com&gt;;
抄送:&nbsp;&quot;Vincent&quot;<619115125@qq.com&gt;;&quot;Author&quot;<author@noreply.github.com&gt;;
主题:&nbsp;

[2020-09-23 01:46] zazzaz commented on #335
@lytian we will add TypeScript support in our future release.

[2020-09-23 01:47] lytian commented on #335
OK，Thinks

[2020-09-24 05:12] zhuzhichao commented on #171
期待早日发布，祝顺利！

[2020-09-24 09:45] zouhangwithsweet commented on #340
- node version v12.14.1
- vue v3.0.0

I cannot reproduce locally :thinking:

[2020-09-24 12:51] #335 closed

[2020-09-25 02:44] trincer commented on #171
Looking forward to that. Thanks!

[2020-09-25 03:55] bhabgs opened #347 "@vue/babel-plugin-jsx context 处理失败，className 没问题"
没写英文的，主要是想看下 element 怎么处理的jsx，
我目前遇到了一个问题就是打包后 vue.CreateTextVNode 的文字展示不出来。

* version
vue: 3.0.0
rollup:2.28.2
@vue/babel-plugin-jsx: 1.0.0-rc.3

* babel.config
[code]

* conponent detail
[code]

* build file
[code]

* use component

[code]

* demo img
![image](https://user-images.githubusercontent.com/19221378/94220539-c4d95a00-ff1b-11ea-939b-80b44e90e059.png)

[2020-09-25 06:23] JinwiKing opened #348 "A hope"
I hope that all component reference docs indicates the name of component for referencing at the header, just like Vant:
![image](https://user-images.githubusercontent.com/37678544/94233110-f52ff100-ff39-11ea-9812-3ef2ef88b24b.png)

Thanks a lot.

[2020-09-25 06:50] zazzaz commented on #348
Will take this into consideration, thanks.

[2020-09-25 07:07] #347 closed

[2020-09-25 08:35] XingXiaoWu opened #350 "setup() return property "_elFormItemSize" should not start with "$" or "_" which are reserved prefixes for Vue internals."
# 复现步骤
vue3
[code]
# 提示
[code]

[2020-09-25 08:43] zazzaz commented on #350
Will fix it soon, thanks.

[2020-09-25 09:12] shlroland opened #352 "dialog component -- closeDelay don't work"
![](https://i.bmp.ovh/imgs/2020/09/bd9b1be5d34e455b.png)
handleClose uses hide function directly.When I trigger onModalClick or closeBtn, closeDelay will not work normally。

[2020-09-25 09:15] JeremyWuuuuu commented on #352
True, would you like pulling request for this?

[2020-09-25 09:17] JeremyWuuuuu commented on #348
Nice suggestion, I think this is kind of necessary for the documentation.

[2020-09-25 09:28] #350 closed

[2020-09-25 12:48] AugmentBLU opened #355 "Better Responsive Support?"
Hello, I'm currently building an app using Element UI and found the responsive support for smaller screens to be a little poor. Will Element Plus be looking at better support for responsive design or follow Element UI's ethos that the framework is more for desktop usage?

[2020-09-25 20:34] g3r4n commented on #340
I had to delete and clone again the repository to fix it 🤷‍♂️

[2020-09-25 20:34] #340 closed

[2020-09-27 03:08] ArishSultan commented on #348
I want to work on this issue, can someone just elaborate what the problem is? I didn't understand the issue

[2020-09-27 03:11] ArishSultan commented on #297
I would like to work on this issue, can you assign it to me?

[2020-09-27 03:13] JeremyWuuuuu commented on #348
@ArishSultan
Well, this is essentially an enhancement for the documentation, which @ExecutableBug would like documentations to have a code fragment for how to get the component from the bundle like this
[code]

[2020-09-27 03:28] zazzaz commented on #297
That would be nice

[2020-09-27 03:30] zazzaz commented on #348
in more detail, it will be better to tell our user what component to import to make the demo work.

[code]

[2020-09-27 03:30] #352 closed

[2020-09-27 03:33] #155 closed

[2020-09-27 03:43] ExecutableBug commented on #348
@ArishSultan yep, just like what @JeremyWuuuuu  and @zazzaz  said, and i am sorry for my description, i am working hard on my english

[2020-09-27 04:10] #128 closed

[2020-09-27 09:14] XingXiaoWu opened #359 "el-options未导出么？"
[code]
无法渲染el-option，是未导出么

[2020-09-27 09:14] #359 closed

[2020-09-27 09:17] XingXiaoWu opened #360 "Not export el-option?"
[code]

Failed to resolve component: el-option

don't export el-option?

[2020-09-27 13:31] g3r4n commented on #360
@XingXiaoWu  Select isn't in the dev branch or in Alpha build yet. You'll have to wait or test with https://github.com/element-plus/element-plus/pull/318

[2020-09-27 13:59] g3r4n commented on #355
@AugmentBLU I don't think, it's on the Roadmap.
The updated web still mention it's for a Desktop usage:
![image](https://user-images.githubusercontent.com/10941033/94366724-63abb500-00da-11eb-8749-10f5e0f17c07.png)

[2020-09-27 14:00] g3r4n commented on #148
All project tasks are "In progress", Is there any area where we can help ?

[2020-09-27 14:54] zazzaz commented on #355
However, we could do something later to improve responsive support if it does not cost too much.

[2020-09-27 14:55] zazzaz commented on #148
@g3r4n code review is welcomed.

[2020-09-28 00:35] zaingithub opened #362 "Add Icon Picker"
Hi, this would be nice if there is icon picker included in this project. Thanks.

[2020-09-28 02:04] zazzaz commented on #362
What is an "icon picker", please? Do you mean https://element-plus.org/#/en-US/component/icon

[2020-09-28 05:10] DreamSaddle opened #363 "Website syntax highlighting bug"
Missing indentation and highlighting of component documentation code blocks, it feels more difficult to read. Hope to optimize, thank you!
---
**组件文档代码块缺失缩进与高亮, 感觉比较影响阅读. 希望优化,谢谢!**

![image](https://user-images.githubusercontent.com/31559386/94392775-d0cb5300-018b-11eb-98bc-2263931ea60d.png)

[2020-09-28 06:12] valentinpalkovic commented on #363
I would like to give it a try to write issues for element-plus in plain English, that everyone in the world can understand the issue and to avoid duplicate issues. In the original Element-UI library it is nowadays impossible to go through the issues, without understanding mandarin or another Chinese dialect. I think English is the most established language among developers and we should strongly k

[2020-09-28 06:20] valentinpalkovic opened #364 "[Discussion]: Write issues, docs and Pr's in english"
I would like to give it a try to write issues for element-plus in plain English, that everyone in the world can understand the issue and to avoid duplicate issues. This should be also valid for all written documentation and PR's. In the original Element-UI library, it is nowadays impossible to go through the issues, without understanding mandarin or another Chinese dialect. I think English is the

[2020-09-28 06:21] valentinpalkovic commented on #364
@zazzaz What do you think?

[2020-09-28 06:44] zazzaz commented on #364
Yes, it will be great if all our issues and pull requests are in English.

And maybe, we could add an issue translation bot to fix those none-English issues.

[2020-09-28 07:42] JeremyWuuuuu commented on #364
**Agreed**, even though the population of developers in China has been raising for the past years, the majority of those who speaks Chinese were not willing to use English on Github, which to us who understands Chinese is not a problem but for those who does not, will be a big problem.

I **agree** with @zazzaz that we should import the `Translation Bot` into this repo that users/developers do not

[2020-09-28 07:43] DreamSaddle commented on #363
The problem has been fixed, thanks

[2020-09-28 07:43] #363 closed

[2020-09-28 07:47] JeremyWuuuuu commented on #362
@zaingithub would you mind to be more specific about the feature you requested? Give us a screen recording or something we that we can understand what we need to do.

[2020-09-28 07:49] JeremyWuuuuu commented on #360
Closing this issue for now due to `Select`'s migration has not completed, you can track #318 to see if it gets merged.

[2020-09-28 07:49] #360 closed

[2020-09-28 09:04] codesinging commented on #362
I think he means that icon picker is like this:

![](https://tva1.sinaimg.cn/large/007S8ZIlly1gj6h39gfnrj30fm0jmtb2.jpg)

[2020-09-28 09:16] JeremyWuuuuu commented on #362
I don't quite understand, besides the filterable select, what benefit you can get comparing  to `cmd/ctrl` + `F` provided by browser?
![image](https://user-images.githubusercontent.com/15975785/94413929-506a1980-01ae-11eb-8793-8369535d92cd.png)

[2020-09-28 09:18] zhixiaotong commented on #362
IMHO, it‘s not necessary...Empty、Skeleton and so on instead

[2020-09-28 09:28] JeremyWuuuuu commented on #362
@zhixiaotong , I personally do have a plan on adding `Skeleton` component in the near future.

[2020-09-28 09:29] codesinging commented on #362
Maybe it's different users, one for web developers and one for users of the application. haha

[2020-09-28 09:33] zhixiaotong commented on #362
svg icon is usually used much more in my practice

[2020-09-28 10:15] ElementPlus commented on #171
🎉

[2020-09-29 07:39] sunlifei1 commented on #171
I have been using element-ui as a desktop application for a long time. I am a fan of element-ui. I hope that the development team can do better than the previous version.

[2020-09-30 05:53] zzfn opened #374 "scroll bar component"
Whether to export the scroll bar component,provide documentation and rich function

[2020-09-30 05:58] JeremyWuuuuu commented on #374
Could you please be more precise about what you need or what you want? I don't quite get what you tried to describe. You may describe it in Chinese, I can read.

[2020-09-30 06:11] zzfn commented on #374
[code]
这个组件是否是提供详细的文档和丰富一下组件功能

[2020-09-30 06:14] JeremyWuuuuu commented on #374
For now `ScrollBar` is an internal only component that we did not have the plan to expose it to outside users, this API is used for constructing `select` and the other components. cc @zazzaz, I personally think this component is qualified to be exported to outside users though.

[2020-09-30 07:31] huangzhongzhong opened #376 "CSS代码优化 / CSS code optimization(refactor)"
当前element原生css代码中存在一些**没有应用**到的全局变量，设计逻辑**不一致**的变量结构等，计划后续进行**优化**一波，形成更丰富优雅的变量结构。

Translation:

Currently we have `global vars` that have **not being used** since V2, variable structure **did not match** design logic, planning on **optimizing** these long existed problems, to not only **enrich** the variable structure but also **make it more elegant**.

[2020-09-30 07:36] huangzhongzhong opened #377 "Element Plus LOGO 优化 / Element Plus LOGO optimization"
当前element plus的logo和原生风格不符，计划进行优化。

Translation:
The current LOGO style does not match the previous one, planing to optimize it.

[2020-09-30 08:38] JeremyWuuuuu commented on #376
Great, let's push this project to the world stage

[2020-09-30 08:39] JeremyWuuuuu commented on #377
Thanks for reaching out! CAN'T WAIT to see the optimized LOGO!

[2020-09-30 12:03] shaci opened #379 "Failed to resolve component"
I get vue warnings and most of components not showed
![image](https://user-images.githubusercontent.com/1643065/94682510-b8933980-032d-11eb-8442-54ac95af2cbb.png)

My code:
![image](https://user-images.githubusercontent.com/1643065/94682597-da8cbc00-032d-11eb-9415-a117f59311f8.png)

Are these components not ready (or I do something wrong)?

[2020-10-01 19:36] g3r4n commented on #379
el-select and el-option are not yet implement see #318.
same thing for el-table and el-table-column see #314.

[2020-10-02 03:00] ElementPlus commented on #171
Thanks, and feel free to join our Element Plus development.
________________________________
From: sunlifei1 <notifications@github.com>
Sent: Tuesday, September 29, 2020 3:39 PM
To: element-plus/element-plus <element-plus@noreply.github.com>
Cc: ElementPlus <hello@element-plus.org>; Comment <comment@noreply.github.com>
Subject: Re: [element-plus/element-plus] 🎉 Welcome to Element Plus (#171)

I ha

[2020-10-02 14:06] #379 closed

[2020-10-02 14:41] shaci commented on #355
Can you give examples of the bad responsive support for smaller screens? I'm just interesting, it is useful information for future. I found this - https://github.com/ElemeFE/element/issues/6967  ("el-col layout breakpoints different than bootstrap breakpoints" - and support of screens that are smaller than 768 pixels is very necessary)
And this https://github.com/ElemeFE/element/issues/1561

[2020-10-03 08:02] #125 closed

[2020-10-03 11:07] #166 closed

[2020-10-03 12:13] #118 closed

[2020-10-03 12:13] #119 closed

[2020-10-03 12:16] HerringtonDarkholme commented on #162
# Form

1. validate now returns a promise that reject invalidFields instead of a single boolean if no callback is provided.
2. the library now assumes Promise is always available and users should provide a sensible polyfill if they need ever to support deprecate browsers at all.

[2020-10-03 12:24] g3r4n opened #384 "Can't re-open Select"
When you click to open, then close, then re-open a select, the following error is triggered:
![image](https://user-images.githubusercontent.com/10941033/94991514-f9848b80-0583-11eb-86ad-8d8394d3b3ca.png)

[2020-10-03 12:35] #384 closed

[2020-10-03 12:46] g3r4n opened #386 "Options filtering isn't working for Select"
use `yarn website:dev` to be able to test the select component.
go to the Option filtering example. Try to filter options. It won't work

[2020-10-03 12:48] #132 closed

[2020-10-03 12:55] #101 closed

[2020-10-04 06:50] #386 closed

[2020-10-04 11:57] #321 closed

[2020-10-04 12:27] zazzaz commented on #359
el-select is avaliable in 1.0.1-alpha.4

[2020-10-04 12:27] zazzaz commented on #360
el-select is avaliable in 1.0.1-alpha.4

[2020-10-07 06:27] #374 closed

[2020-10-07 12:40] zaingithub commented on #362
Hi, i am sorry for late response. I mean icon picker like this : https://victor-valencia.github.io/bootstrap-iconpicker/

[2020-10-07 20:40] g3r4n commented on #113
@SimonaliaChen are you working on this one ?

[2020-10-07 20:41] g3r4n commented on #154
@Liiked are you working on this one ?

[2020-10-07 23:28] Liiked commented on #154
yeah, I'm working on it☺️

[2020-10-09 04:04] #120 closed

[2020-10-09 08:14] jahnli opened #400 "Using components, console warnings"
![image](https://user-images.githubusercontent.com/20943608/95559465-639ca500-0a4a-11eb-96e3-5c80dba9e4b5.png)

[2020-10-09 09:24] JeremyWuuuuu commented on #400
Yes, this is a known issue, we will fix in the next coming PRs.

[2020-10-10 00:43] MuRongXiaoDouBi opened #401 "why not use tsx?"
Now that the `h` function has been used，why not use the easier to read.

[2020-10-10 01:08] JeremyWuuuuu commented on #401
2 reasons

1st. Before `jsx-next` launched this project has already been using `h` renderer for a while.
2nd. You can see that we have applied `block` concept into this repo, so writing with jsx might not be the best solution for us considering performance.

Also we might need to add some comments for readability in the future.

[2020-10-10 01:08] JeremyWuuuuu commented on #401
Hoping my answer could be helpful for you

[2020-10-10 01:09] #401 closed

[2020-10-10 12:10] huangzhongzhong commented on #377
[element plus-logo.svg.zip](https://github.com/element-plus/element-plus/files/5358941/element.plus-logo.svg.zip)
![element plus-logo](https://user-images.githubusercontent.com/46183365/95654731-94f19f80-0b34-11eb-969e-c4e9c52a6c76.png)

简单的将加号的风格与主体同步了一下，欢迎提出更多意见~

[2020-10-10 23:48] calebeaires opened #403 "Build fails when using Vue 3 on top of typescript"
It is possible to run, but not to build the app.

@vue/cli 4.5.7
 element-plus 1.0.1-alpha.4

main.ts

[code]

Error message

[code]

[2020-10-11 03:37] fangting1989 commented on #403
ElementUI

[2020-10-11 03:39] fangting1989 commented on #403
import { createApp } from 'vue'
import ElementPlus from 'element-plus'
import App from './play/index.vue'
import '../packages/theme-chalk/src/index.scss'
const app = createApp(App)
app.use(ElementPlus)
app.mount('#app')

[2020-10-11 03:42] JeremyWuuuuu commented on #403
could you please provide a minimal reproducible version for us? Platform such as Codepen Codesandbox etc.

[2020-10-11 05:57] takaximina commented on #403
I have got the same problem,when I  use  vue3+typescript;

[2020-10-11 06:23] takaximina commented on #403
After reading the code, it should be during the export of ts. The use method of vue3 will detect whether the export is an object or method. If the export is an object, check whether the install method is included, that is, the code can run Yes, but the ts check will report an error!

[2020-10-11 06:27] takaximina commented on #403
export const a='1'
export const b='2'
export default {a,b}

[2020-10-11 23:48] cheqianxiao commented on #403
Here is a [reproduction link](https://codesandbox.io/s/vibrant-kowalevski-67e5z?file=/src/index.ts).
it seems that the [types](https://github.com/element-plus/element-plus/tree/dev/types) haven't been update to compatible with vue3.  @JeremyWuuuuu

[2020-10-12 00:48] JeremyWuuuuu commented on #403
Indeed, I’ll take a look at the exported types today, will keep you guys updated.

[2020-10-12 01:45] JeremyWuuuuu commented on #403
I took a quick look at the install function exported by ElementPlus which type signature is
`function install (vue: typeof Vue, options: InstallationOptions): void`

also Vue3 `PluginInstallFunction`'s signature is `declare type PluginInstallFunction = (app: App, ...options: any[]) => any;`
which obviously is not a match.

@cheqianxiao @takaximina  you guys interested in making a PR for this?

[2020-10-12 01:58] takaximina commented on #403
ok,I hava down it ;

[2020-10-12 03:06] cheqianxiao commented on #403
@JeremyWuuuuu  thanks, got it !  would have a try later.

[2020-10-12 03:38] kooriookami opened #404 "Dialog New Functions Discuss"
If that' all right, I hope that dialog add these functions:
1.draggable
It can drag header and move the position.
2.multilayer
It can open several dialogs, once click the bottom dialog, its index reach the top.
![image](https://user-images.githubusercontent.com/38392315/95701981-98447280-0c7d-11eb-9fea-1f636f7b22e8.png)
3.maximize
It can maximize the dialog.
![image](https://user-images.githubuser

[2020-10-12 07:30] Mirdoriss opened #405 "###Container"
![image](https://user-images.githubusercontent.com/35458322/95716813-9ccd5300-0c9e-11eb-8358-c22d2b313df1.png)
Container能够折叠，下展，抽拉，拖拽。贴壁纸，前置移位

[2020-10-12 08:01] bastarder commented on #405
is that mean, you will finish them?

[2020-10-12 08:32] JeremyWuuuuu commented on #404
Well, IMHO, `draggable` is a good feature that we could implement it in the next stage, but stacking the modals seems to be a bad feature though, modern UI libraries like `AntDesign`, `FluentUI` never implemented feature like this.

[2020-10-12 08:33] JeremyWuuuuu commented on #377
Neat, we'll have this replaced later.
棒！我们后续会把首页替换成这个.

[2020-10-12 08:43] #405 closed

[2020-10-12 09:25] kooriookami commented on #404
I think we can count how many people expect these feature. In fact, multiple dialogs are still common in some complex management systems.

[2020-10-12 09:28] zhixiaotong commented on #404
Dialog supports full screen, but there is no button to switch full screen before the close button. I am confused about this.

[2020-10-13 03:30] JeremyWuuuuu commented on #404
@zhixiaotong Fullscreen is a feature which have been supported programmatically, instead of providing a button that scales non-fullscreen dialog to fullscreen size, IMHO, there are merely few cases that needs this button, if user wanted to use a full size dialog, your PM/PO should be the one who makes the decision.

[2020-10-13 03:32] JeremyWuuuuu commented on #404
You are right, but without knowing the sample size and its grouping stats, we cannot make the decision, we need to have some fact on that I guess.

[2020-10-13 03:43] zhixiaotong commented on #404
@JeremyWuuuuu Indeed, there are only some cases where the full screen button needs to be displayed. But for Dialog, full-screen buttons are actually not uncommon. I personally think that it depends on the business. Since ElementUI currently does not provide a slot for the button group, we need to write additional absolutely positioned buttons, but it cannot guarantee visual consistency.

[2020-10-13 03:56] zazzaz commented on #377
Looks great.

[2020-10-13 09:13] EphraimNetWorks commented on #403
Facing the same error with a typescript project here

[2020-10-13 15:48] marcoValkyriweb commented on #355
@shaci a great one would be to have date picker range to work with a single pane.

[2020-10-14 02:19] kooriookami opened #410 "Suggestions about scrollbar"
Some components use native scrollbar, such as Textarea, Table, Transfer etc. It's unattractive, and can replace them with el-scrollbar.
![image](https://user-images.githubusercontent.com/38392315/95935238-5d6d4680-0e05-11eb-82d9-9c45546017c1.png)
The doc does not expose el-scrollbar, and hopefully it will be added to the doc. It's quite useful to users.

[2020-10-14 02:33] JeremyWuuuuu commented on #410
Right, `El-ScrollBar` will be included in the first release, also we'll looking into those components see if we can get it integrated.

[2020-10-14 02:36] JeremyWuuuuu commented on #404
@zhixiaotong well, maybe we can provide a field that allows user to add there own button groups as you mentioned, this could provide more flexibility to our users but it might impact title field.

[2020-10-14 08:32] merrylmr commented on #403
Facing the same error with a typescript project here too;

my solution:

main.ts
[code]
and eslintConfig's rules edit as
[code]

[2020-10-14 09:11] merrylmr opened #411 "Custom theme?"
I am using `element-plus` in my project,And i don't  found  the feature that is  "custom theme".
Dose this repository have  this feature so far?

[2020-10-14 09:24] zazzaz commented on #411
Is this what ur looking for?
https://element-plus.org/#/en-US/component/custom-theme

[2020-10-14 10:07] merrylmr commented on #411
@zazzaz  Support   "Update SCSS variables in your project"?

element-variables.scss:
[code]
main.ts:
[code]

[2020-10-14 10:19] zazzaz commented on #411
The doc has not updated yet, simply replace it with element-plus

[2020-10-14 10:28] merrylmr commented on #411
@zazzaz This file"~element-plus/packages/theme-chalk/src/index" don,t exist!

[2020-10-14 17:57] fat4lix opened #413 "Does element-plus support template hints now?"
Guys, thank a lot for yours work!
I decided to test the alpha version a bit, and noticed that the IDE (phpStorm) does't see the components in the vue template

![image](https://user-images.githubusercontent.com/3585188/96027606-c9c96380-0e60-11eb-85d3-4ccf600594f5.png)

Is this currently not supported?

[2020-10-14 18:24] diction opened #414 "add split/增加split组件"
是否可以添加split组件？

[2020-10-14 18:29] diction commented on #362
support+1，支持+1

[2020-10-14 18:33] diction opened #415 "add el-input-currency/增加会计金额输入组件"
是否可以新增el-input-currency组件，或在原有el-input基础上新增功能。

[2020-10-15 02:00] zazzaz commented on #414
Can you please detail it?

[2020-10-15 02:00] zazzaz commented on #415
Can you please detail it?

[2020-10-15 02:37] JeremyWuuuuu commented on #414
Are you looking for `Divider` component if I guessed it correctly, if not, please give us more detailed information about it please

[2020-10-15 02:38] zazzaz commented on #411
@merrylmr Sorry for the inconvenience caused by the packaging error, please use `element-plus@1.0.1-alpha.5` instead.

https://unpkg.com/element-plus@1.0.1-alpha.5/packages/theme-chalk/src/index.scss

[2020-10-15 02:39] JeremyWuuuuu commented on #413
Hi @fat4lix , my understanding on template hints is based on your editor/IDE plugins, from what I know VSCode has already supported it if you have `Vetur` plugin installed

[2020-10-15 02:42] zazzaz opened #417 "[Todo] Global ELEMENT config"
https://element-plus.org/#/en-US/component/quickstart#global-config

[2020-10-15 04:00] diction commented on #414
such as:
https://www.iviewui.com/components/split

[2020-10-15 04:05] diction commented on #415
专用于数据会计金额的input，主要功能：
①自动千分位；②设置保留固定小数位（比如不保留小数或保留两位小数）
such as：
https://ant.design/components/input-number-cn/
但是这个组件有bug，不如输入带小数的数字就不正常。

[2020-10-15 06:41] merrylmr commented on #411
@zazzaz I can't run this project  after update to `1.0.1-alpha.5`. this error as below:

[code]
![image](https://user-images.githubusercontent.com/21325085/96085139-ef9f4880-0ef2-11eb-94c4-06e64aef8c34.png)

[2020-10-15 07:26] kooriookami opened #418 "Dropdown multilevel menu hope"
![image](https://user-images.githubusercontent.com/38392315/96090206-7277d180-0efa-11eb-8bcd-9ecba1ff4c44.png)
Can dropdown support multilevel menu like this. And hoping for a right-click menu effect like right click on the browser.

[2020-10-15 08:00] zazzaz commented on #411
This file is exist as below.
https://unpkg.com/element-plus@1.0.1-alpha.5/lib/index.js

[2020-10-15 11:29] fat4lix opened #419 "Proposal: giving up a "mitt""
I think "mitt" could be given up. At the moment it's used exclusively to change parent stage through events. This task can be accomplished by reactive provide/inject functionality which is well-described in documentation: https://v3.vuejs.org/guide/composition-api-provide-inject.html#mutating-reactive-properties

In our case take a form example. Right now Form provides mitt instance to make FormIt

[2020-10-15 15:10] wozien opened #420 "The button component has an incorrect type assertion"
the button prop 'size' should use type assertion with IButtonSize  but now use IButtonType
![image](https://user-images.githubusercontent.com/17634819/96149151-84587500-0ef8-11eb-8881-3882038d308a.png)

[2020-10-16 02:27] zazzaz commented on #420
fixed

[2020-10-16 02:27] #420 closed

[2020-10-16 02:48] zazzaz commented on #115
added in #368

[2020-10-16 02:48] #115 closed

[2020-10-16 02:51] zazzaz commented on #245
@Ryan2128 `input-number` is avaliable

[2020-10-16 03:11] #206 closed

[2020-10-16 03:14] #196 closed

[2020-10-16 06:05] zazzaz opened #424 "### Loading"

[2020-10-16 06:05] zazzaz commented on #424
do #99

[2020-10-16 06:05] #424 closed

[2020-10-16 06:08] kooriookami opened #425 "Compile Error"
![image](https://user-images.githubusercontent.com/38392315/96219247-fd1f0600-0fb8-11eb-9da4-dd6d5e5ba658.png)
version 1.0.1-alpha.5

[2020-10-16 06:15] zazzaz commented on #425
will fix soon

[2020-10-16 06:40] zazzaz commented on #425
Fixed in 1.0.1-alpha.6

[2020-10-16 06:41] zazzaz commented on #411
@merrylmr  sorry for the build error.

This should be fixed in 1.0.1-alpha.6, and docs updated accordingly.

[2020-10-16 06:58] kooriookami commented on #425
OK, thank you~

[2020-10-16 06:59] #425 closed

[2020-10-16 07:46] kooriookami opened #427 "About form component with display: inline-block"
This the original form items with small size.
![image](https://user-images.githubusercontent.com/38392315/96226366-16c64a80-0fc5-11eb-9cbb-dd63f0fee9a7.png)
They all have different offset. The expected height is 32px.
![image](https://user-images.githubusercontent.com/38392315/96227371-9c96c580-0fc6-11eb-98c9-f14fe79bc5a0.png)
![image](https://user-images.githubusercontent.com/38392315/96226250-f7

[2020-10-16 08:05] kooriookami commented on #427
Since vue3 does not support below ie11, we can replace float, inline-block, vertical-align so on with display: flex.

[2020-10-16 13:48] OS-the-Person opened #428 "More Icons"
It would be nice to have more icons added to the already available ones

Notable icons include:
- Record (circle)
- Stop (Square)
- Social (Multi user)
- and other simple/common icons
and a solid version for every outline icon and vice-versa.

Could we also get the Github repo of the icon designer so we could support him/her to do more if that is the case?

[2020-10-16 14:14] Ghitu commented on #154
Hi, can I help with this?

[2020-10-17 04:58] zazzaz commented on #428
A github repo with icon source files is a cool idea.

[2020-10-17 05:24] Liiked commented on #154
yeah, it would be very helpful!
welcome to  follow the progress and fork [branch](https://github.com/element-plus/element-plus/tree/feat/nav_menu) to contribute your effort

[2020-10-17 11:55] g3r4n commented on #419
I agree with the idea and I think we should also have a look to Select and other component that use mitt. It will be good to not have it as a dependency.

[2020-10-17 12:06] g3r4n commented on #418
I think we can improve the Cascader with an options to choose between select and dropdown. see https://element.eleme.io/#/en-US/component/cascader.
For the context menu triggered with a right click you can achieve that with manual Popover -> https://element.eleme.io/#/en-US/component/popover
Note that we didn't implemented Cascader or Popover yet in Element Plus, we are working on it ;)

[2020-10-17 12:15] g3r4n commented on #113
@JeremyWuuuuu , no one seems to take care of this one, can I do it ?

[2020-10-17 14:42] zazzaz commented on #418
It's hard to tell it's an enhancement to Dropdown or Cascader.

[2020-10-18 03:27] SimonaliaChen commented on #113
Sorry, I haven't checked messages lately. I'm already on it and almost done. Thanks for the help.

[2020-10-18 03:40] kooriookami commented on #418
Look at this, I wonder if can learn from this. http://v1.iviewui.com/components/dropdown
![image](https://user-images.githubusercontent.com/38392315/96358130-5a8c9180-1136-11eb-8bed-81082898842a.png)

[2020-10-19 00:29] fat4lix commented on #413
Yes, you're right. I think it is problem with phpStorm, my bad.

[2020-10-19 00:29] #413 closed

[2020-10-19 05:44] #202 closed

[2020-10-19 05:50] #204 closed

[2020-10-19 08:23] SJanJan commented on #171
element ui是世界上最好用的框架

[2020-10-19 23:52] vowar opened #436 "How to display Message, Notifications... using the composition API?"
Hello! I'm new to the Vue and currently, I'm working with Vue3( composition API ), Vuex4, ElementPlus. And I had a case where I needed to display an error message in a Vuex action.

The first thing that I tried was the **Local import** of the `Message` as mentioned in the https://element-plus.org/#/en-US/component/message

[code]
But if I try to import it this way, the `Message` is always `undefin

[2020-10-20 02:30] JeremyWuuuuu commented on #436
Local `import` should work, you can refer to `notification/src/notify` file, that might be a mistake for me to not export the notify instance in the `index` file. You can try if it works, if not, I might need to make a PR for exposing the instance then.

Sorry for the inconvenience.

[2020-10-20 02:31] #186 closed

[2020-10-20 02:31] JeremyWuuuuu commented on #428
Currently we don't have any resources from designer which adding icons to this repo might cause inconsistency icon style to other icons(personal opinion)

[2020-10-20 02:32] JeremyWuuuuu commented on #419
Indeed, I have looked the PR @fat4lix made, we can do it with broadcasting issue fixed.

[2020-10-20 02:43] zazzaz commented on #51
done

[2020-10-20 02:43] #51 closed

[2020-10-20 02:49] smileShirmy opened #437 "Does not support babel-plugin-component"
[code]

[code]

[code]

[2020-10-20 06:27] zazzaz commented on #437
Thanks. We have fixed this issue in `1.0.1-alpha.8`

[2020-10-20 06:40] smileShirmy opened #442 "error Command "build:them" not found. Did you mean "build:theme"?"

[2020-10-20 06:54] zazzaz commented on #442
thanks, fixed

[2020-10-20 06:54] #442 closed

[2020-10-20 08:00] zouhangwithsweet commented on #437
for this version, you can use
[code]
we will fix it in the future

[2020-10-20 08:29] merrylmr commented on #403
@JeremyWuuuuu  I made a PR for this issue,  can you  review and merge it?

[2020-10-20 09:01] vowar commented on #436
I've tried to `import Message from 'element-plus/packages/message/src/message'` but got the following error

[code]

Version  `1.0.1-alpha.6`

Was it the right import?

[2020-10-20 09:04] JeremyWuuuuu commented on #436
@vowar  Seems we need to export the entry later, I'll make a fix maybe later today.

[2020-10-20 09:07] vowar commented on #436
@JeremyWuuuuu  Thanks 👍

[2020-10-21 01:46] liangbaika commented on #171
什么时候能发布正式的呢

[2020-10-21 01:47] zazzaz commented on #171
@liangbaika You can now use Element Plus vie npm today.

[2020-10-21 02:37] jypblue opened #445 "How can i reset dropdown commandHandler Data?"
[code]
[code]

i can get the commandHandler data and reset it success, but the template it's not work, it's still default value

[2020-10-21 03:50] wangmeng1991 opened #446 "add scrollbar"
[code]

[2020-10-21 05:39] JeremyWuuuuu commented on #446
We will export scroll bar to users in next alpha release.

[2020-10-21 07:46] zouhangwithsweet commented on #446
This error is found in `table`. There is a wrong import module

[2020-10-21 07:52] #403 closed

[2020-10-21 09:17] zazzaz commented on #446
This should have fixed in `element-plus@1.0.1-alpha.9`

[2020-10-21 17:21] IWSR commented on #171
是继续以饿了吗的名义开发，还是以私人团队的名义开发？饿了吗被阿里收购后内部不是都被统一成react了吗，为什么这个还有3.x的兼容计划？

[2020-10-21 18:05] wangmeng1991 commented on #446
ok 👌

[2020-10-21 18:05] #446 closed

[2020-10-22 06:11] LadyChatterleyLover opened #452 "文档可否改成composititon api的写法"

[2020-10-22 06:21] zazzaz commented on #377
updated

[2020-10-22 06:21] #377 closed

[2020-10-22 06:22] zazzaz commented on #169
fixed

[2020-10-22 06:22] #169 closed

[2020-10-22 06:22] JeremyWuuuuu commented on #452
Sure, the documentation will be replaced in the next stage, when all of our components is ready, we will work on implementing that. And we will going to need some help for updating the documentations, if you want to be part of it, please let us know.

[2020-10-22 06:22] zazzaz commented on #411
fixed

[2020-10-22 06:22] #411 closed

[2020-10-22 06:25] LadyChatterleyLover commented on #452
of course, I really want to join you

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "element-plus/element-plus"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年10月22日(星期四) 下午2:22
收件人:&nbs

[2020-10-22 06:26] JeremyWuuuuu commented on #452
Nice, we will let you know when we about to do that.

[2020-10-22 06:27] LadyChatterleyLover commented on #452
thank you

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "element-plus/element-plus"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年10月22日(星期四) 下午2:26
收件人:&nbsp;"element-plus/element-plu

[2020-10-22 06:32] zazzaz commented on #452
@LadyChatterleyLover Great, actually you can start it today if you got some time. A kind reminder, the code in all four languages should be updated accordingilly.

[2020-10-22 07:05] zazzaz commented on #9
done

[2020-10-22 07:05] #9 closed

[2020-10-22 07:29] Wolferring opened #455 "1"

[2020-10-22 08:06] #455 closed

[2020-10-22 09:18] bastarder commented on #445
i test that, everything is correct, can you give me online example ?  such as `codepen`, or more information
[code]

[2020-10-22 09:32] kooriookami opened #457 "When Dropdown is too long"
![image](https://user-images.githubusercontent.com/38392315/96852831-35788580-148c-11eb-8301-06cf954455a1.png)
When Dropdown is too long, it looks like this.
Hope that dropdown can set a max-height, or like the style of select component.
![image](https://user-images.githubusercontent.com/38392315/96853012-6e185f00-148c-11eb-8abc-fed79e81cc63.png)

[2020-10-22 10:07] LadyChatterleyLover commented on #452
OK, how can I start？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "element-plus/element-plus"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年10月22日(星期四) 下午2:32
收件人:&nbsp;"element-plus/

[2020-10-22 13:36] zazzaz commented on #452
@LadyChatterleyLover Any component is fine.

[2020-10-22 22:50] vowar opened #458 "Table is not displayed"
I'm trying to use the [table component](https://element-plus.org/#/en-US/component/table) and for the beginning, I've just copied the `Basic table` example. But I get the **following error**:

[code]

**Code:**

[code]

**Version:**
`"element-plus": "^1.0.1-alpha.9",`

Seems like some problem in the `ElPopper` component. Could you take a look, please?

[2020-10-23 00:22] LadyChatterleyLover commented on #452
OK, how can I put the written documents on the official website？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "element-plus/element-plus"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020

[2020-10-23 02:07] zazzaz commented on #452
You can update the doc under `website/docs` via a pull request.

[2020-10-23 02:15] #99 closed

[2020-10-23 02:16] LadyChatterleyLover commented on #452
ok, thank you!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "element-plus/element-plus"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年10月23日(星期五) 上午10:07
收件人:&nbsp;"element-plus/eleme

[2020-10-23 06:11] jypblue commented on #445
thx

[2020-10-23 06:24] jypblue commented on #445
![image](https://user-images.githubusercontent.com/5317786/96963543-62d03c80-153b-11eb-89b7-18df18695aee.png)
version is: `"element-plus": "1.0.1-alpha.4",`

[2020-10-23 07:07] zazzaz commented on #458
Fixed in `1.0.1-alpha.10`, thanks.

[2020-10-23 09:16] kooriookami opened #460 "Checkbox value-key hope."
Doc has this sentence.
_If the binding value of Select is an object, make sure to assign value-key as its unique identity key name._
_如果 Select 的绑定值为对象类型，请务必指定 value-key 作为它的唯一性标识。_

When Checkbox bind object, it won't show back the value. So hope that checkbox also has value-key attribute.

[2020-10-23 09:32] zazzaz commented on #460
As far as I could see on the doc, `value-key` is used in `Select` component, not `Checkbox`, right?

[2020-10-25 08:35] microkof commented on #147
Is this a offical next version of Element UI? Why does the document seem to be counterfeit? Ex: https://element-plus.org/#/zh-CN/component/installation, Check Hello World's code.

[2020-10-25 08:36] microkof commented on #147
Is this a offical next version of Element UI? Why does the document seem to be counterfeit? Ex: https://element-plus.org/#/zh-CN/component/installation, Check Hello World's code.

[2020-10-25 10:56] kooriookami commented on #460
Yes. That's the problem.

[2020-10-25 13:14] zazzaz commented on #460
Then, what's the problem is? Do you mean you want to have this feature is Checkbox as well?

[2020-10-25 13:58] kooriookami commented on #460
Yes. The checkboxes don't show back when type is object.
Look at this demo. https://okvhc.csb.app/
Click the button, and you will see the deep cloned object has not show back. So I hope checkbox can bind a value-key to make sure the show back value correctly.

[2020-10-26 01:18] #458 closed

[2020-10-26 02:10] zazzaz commented on #460
This comes to a new feature request then.

[2020-10-26 02:55] JeremyWuuuuu opened #461 "Bug: Slider could not be dragged."
- Slider can not be slide, the reason is that popper component prevents the mousedown and mouseup events from spreading
- Style of popper

[2020-10-26 02:56] #245 closed

[2020-10-26 03:37] kooriookami opened #462 "New component TreeSelect hope"
The new component is a combination of `el-select` and `el-tree`. It can support single and multiple select. It looks like this.
Component based on version 2. https://github.com/ayiaq1/el-tree-select
![image](https://user-images.githubusercontent.com/38392315/97131316-cdbd8580-177e-11eb-84ce-44d79e4b6c41.png)
Other UI frame https://www.antdv.com/components/tree-select-cn/
![image](https://user-imag

[2020-10-26 07:22] xlanghejianfeng opened #464 "Cannot find module 'fork-ts-checker-webpack-plugin-v5'"

[2020-10-26 07:23] xlanghejianfeng commented on #464
node:v11.15.0
npm:6.7.0
 "element-plus": "^1.0.1-alpha.10"

[2020-10-26 07:35] zazzaz commented on #464
Hi, any more error info you could provide. Where's this `fork-ts-checker-webpack-plugin-v5` comes from?

[2020-10-26 07:37] xlanghejianfeng commented on #464
npm install element-plus --save -D

npm run server    error info not work

[2020-10-26 07:38] JeremyWuuuuu commented on #464
Unless you give us a detailed error report, we could not provide any help with poor info.

[2020-10-26 07:38] xlanghejianfeng commented on #464
first error is  Cannot find module 'vue-loader-v16/package.json'

[2020-10-26 07:39] JeremyWuuuuu commented on #464
Could you please paste all error reported from your terminal here?

[2020-10-26 07:41] JeremyWuuuuu commented on #464
I think we are having a bad conversation here, providing useless information could not help you nor us to find the way to help you solving this problem. Please provide a detailed error report to us

BTW,  we suggest you to try Node v14+ to run this project. If you already have node natively installed you might need to try `nvm` for a alternative version

[2020-10-26 07:43] xlanghejianfeng commented on #464
node V15

[2020-10-26 07:44] wike2019 opened #465 "alert 框显示有问题"
![image](https://user-images.githubusercontent.com/5925704/97146026-20f4ff80-17a2-11eb-8b83-ca5e11537607.png)
一直不显示

[2020-10-26 07:46] xlanghejianfeng commented on #464
可以添加微信私聊么，现在这个框架还比较新 想引入项目做调研

[2020-10-26 07:49] zazzaz commented on #464
Hi, you can check this project as a reference https://github.com/element-plus/element-plus-starter

[2020-10-26 07:52] xlanghejianfeng commented on #464
Dara:vue3.0-element-plus-demo imike$ npm run serve

 INFO  Starting development server...
 ERROR  Error: Cannot find module 'fork-ts-checker-webpack-plugin-v5'
Require stack:
- /Users/blake/LuoJin/project/vue3.0-element-plus-demo/node_modules/@vue/cli-plugin-typescript/index.js
- /Users/blake/LuoJin/project/vue3.0-element-plus-demo/node_modules/@vue/cli-service/lib/Service.js
- /Users/blake/LuoJin

[2020-10-26 07:56] JeremyWuuuuu commented on #464
Please refer to the error message which tells you that the package/module was missing, first of all, you need to find out if the package is installed, then file this issue.

[2020-10-26 07:58] xlanghejianfeng commented on #464
npm not fork-ts-checker-webpack-plugin-v5, only has fork-ts-checker-webpack-plugin

[2020-10-26 08:00] JeremyWuuuuu commented on #464
Then you need to install `fork-ts-checker-webpack-plugin-v5`.
This is not a issue with ElementPlus, so I am closing this issue

[2020-10-26 08:00] #464 closed

[2020-10-26 08:01] xlanghejianfeng commented on #464
maybe VUE3.0 error?

[2020-10-26 08:03] zazzaz commented on #464
Hi, you can check this Vue3.0 + Element Plus project as a reference https://github.com/element-plus/element-plus-starter

[2020-10-26 10:41] BeADre opened #468 "switch has outline"
![image](https://user-images.githubusercontent.com/34639100/97162821-b00e1180-17ba-11eb-8fc8-573616401d04.png)

[2020-10-26 16:18] Ther-su commented on #468
I think the problem is related to the component tooltip, because when I remove the tooltip in that case, the bug disappeared.

[2020-10-26 21:14] jbrosi opened #471 "defineComponent breaks webstorm-parsing of component tags"
Somehow it seems that when defining components with defineComponent like this:

https://github.com/element-plus/element-plus/blob/e01ae5f9352a895d2c8d019398a9d0eddf586d83/packages/card/src/index.vue#L14-L16

Webstorm (latest version 2020.2.3) is not able to identify those components as valid tags in the templates. However when a component is defined like here:

https://github.com/element-plus/elem

[2020-10-27 02:05] zazzaz commented on #471
This might because Websotrom has not updated to parse the new syntax of Vue 3.0 yet. I use Vscode with Vetur plugin, and it works fine as expected.

[2020-10-27 02:24] JeremyWuuuuu commented on #471
I am not a WebStorm user, if you want full type checking feature, you might need to install some plugin (I dunno if there were any), maybe `Vetur` has its WebStorm version?

[2020-10-27 02:35] JeremyWuuuuu commented on #465
Could you give us a least reproducible repo or online preview version here? A link to the repo is appreciated, a fragment of your code is cool as well.
A issue like this is not going to help us to know whatever the bug is.

[2020-10-27 03:09] #468 closed

[2020-10-27 03:10] JeremyWuuuuu commented on #468
This is fixed in #469 but the changes might take a period of time to get published since we do not have any publishing plan recently.

[2020-10-27 06:12] xlanghejianfeng opened #473 "demo Dialog is not work, some compontents is not work"

[2020-10-27 07:07] Sphinm opened #475 "[docs] Some component documents report property errors!"
### Components behavior
- [Cascader](https://element-plus.org/#/zh-CN/component/cascader)
![image](https://user-images.githubusercontent.com/16483962/97267648-71816100-1865-11eb-840c-32c811621527.png)

- [Upload](https://element-plus.org/#/zh-CN/component/upload)
![image](https://user-images.githubusercontent.com/16483962/97267735-9bd31e80-1865-11eb-8644-5721b974d983.png)

- [Transfer](https://ele

[2020-10-27 07:17] JeremyWuuuuu commented on #475
Hi, @Sphinm
We are still in progress and some components haven't been implemented yet, or the documentation haven't been updated yet, so the error was expected but certainly not correct, we also need help for updating the documentation.
For now we have 3 components on the way, right after the end of migration, we will begin working on documentations immediately.
Sorry for the inconvenience that we

[2020-10-27 07:18] jbrosi commented on #471
Thank you for your answers. The most common plugin (installed by default) is the vue plugin by jetbrains themselves. So the defineComponent is new for the v3 vue? :/ guess i in fact have to wait then until they update. Thought eventually it's just "more verbose" or even old style of writing here and can be omitted, as some of the components have it, some don't.

[2020-10-27 07:24] JeremyWuuuuu commented on #471
So the `defineComponent` API is essentially for enabling IDE support like `VS Code`. I think it will just be fine if your IDE supports `TypeScript`, this API brings type annotations for the users to define their components with correct syntax (the syntax for defining a component have been made breaking.
If your IDE does not work for this API, you might try it with `VS Code` which is also a **power

[2020-10-27 07:56] Sphinm commented on #475
Got it~

[2020-10-27 08:26] jbrosi commented on #471
Alright thank you for the support, I understand now, so it's definitely not an option to leave out the defineComponent here. Will open bug ticket with jetbrains and hope they update the plugin soon :). Will try out vs code in the meantime (but would love to be able to continue using my favorite IDE).

[2020-10-27 08:26] #471 closed

[2020-10-27 08:27] JeremyWuuuuu commented on #471
NP, glad that I could help.

[2020-10-27 08:29] JeremyWuuuuu commented on #473
Please provide detailed error for us in order to track the issue, BTW, I just got a screenshot from the website, which works perfectly for me.
![image](https://user-images.githubusercontent.com/15975785/97276001-9bd91b80-1871-11eb-9f77-322ad5664b50.png)

[2020-10-27 09:00] BeADre commented on #473
The reason might be this #475

[2020-10-27 11:32] buremba opened #482 "[Feature Request] Inline DatePicker component"
It would be great to have an option to add support for `inline` to the `date-picker`. Please see the [related issue](https://github.com/ElemeFE/element/issues/6805) in element-ui.

[2020-10-27 12:07] jypblue commented on #445
fixed by version: "element-plus@1.0.1-alpha.10"

[2020-10-27 12:07] #445 closed

[2020-10-27 14:26] ziqiangxu opened #484 "栅格数和栅格属性对象貌似不起作用"
https://element-plus.gitee.io/#/zh-CN/component/layout

栅格数和栅格属性对象貌似不起作用
![image](https://user-images.githubusercontent.com/18530271/97314909-1ec69a00-18a3-11eb-8839-af4172570740.png)

[2020-10-27 18:21] Ther-su commented on #484
Indeed,I found that the media search did't work for the css.
![image](https://user-images.githubusercontent.com/57524062/97344774-319d9680-18c4-11eb-976c-a5288a74ddd2.png)
And I find the the css about col is like that after I use scss compiler to manage it.
![image](https://user-images.githubusercontent.com/57524062/97344542-d9ff2b00-18c3-11eb-84c2-32e7792d5cfb.png)
It seemed that have an extra br

[2020-10-28 01:34] yingjie-design commented on #473
use English doc 查看,不选中文查看就可以。

[2020-10-28 01:38] Ryan2128 commented on #475
I will update `Transfer`'s docs today, the reason of errors is syntax of slots.

[2020-10-28 03:20] vok123 opened #487 "[Feature request] Vite esm import"
大佬, 关于Vite esm怎么说

[2020-10-28 03:22] JeremyWuuuuu commented on #487
Pardon?

[2020-10-28 03:22] zazzaz commented on #487
You can check the Element Plus Vite starter as a reference. https://github.com/element-plus/element-plus-vite-starter

[2020-10-28 03:25] zazzaz commented on #482
Will consider this, ATM you can use the `Calendar` component instead.

[2020-10-28 03:26] vok123 commented on #487
import { Notification } from 'element-plus';  // 这种引入呢

[2020-10-28 03:28] zazzaz commented on #487
Will support this in the coming version.

[2020-10-28 03:31] vok123 commented on #487
冒昧问一下, 大概啥时候可以发布呢

[2020-10-28 03:37] Ther-su commented on #484
However,after I change the code like this.
![image](https://user-images.githubusercontent.com/57524062/97387633-608e2980-1911-11eb-83bf-ca8ee448257e.png)
![image](https://user-images.githubusercontent.com/57524062/97387646-64ba4700-1911-11eb-9810-97eab8f07dec.png)
And the the css is like this after compiler.
![image](https://user-images.githubusercontent.com/57524062/97387749-93382200-1911-11eb-9d

[2020-10-28 03:38] zazzaz commented on #487
We are working on this.

[2020-10-28 03:52] xlanghejianfeng opened #488 "VUE3.0 typescript 弹窗如何实现"
this.$alert('这是一段内容', '标题名称', {
          confirmButtonText: '确定',
          callback: action => {
            this.$message({
              type: 'info',
              message: `action: ${ action }`
            });
          }

[2020-10-28 03:53] JeremyWuuuuu commented on #484
Well, one way to find out your assumption is by searching in DevTools see if any of these got loaded into DOM.

[2020-10-28 04:07] zazzaz commented on #484
@ziqiangxu  Thanks, this should be a bug in the css bundle, will fix it today.

[2020-10-28 05:51] JeremyWuuuuu commented on #488
Please at least provide us a least reproducible code or cloud IDE link, otherwise we could not give any suggestion

[2020-10-28 05:54] #484 closed

[2020-10-28 05:55] xlanghejianfeng commented on #488
就是 在vue3.0里 都是 composition API ，这样的写法肯定实现不了 弹窗，还需要提供一个 关于vue3.0里的 ts 语法 在官方文档里，谢谢

[2020-10-28 05:55] JeremyWuuuuu commented on #484
Since we have switched `node-sass` to `dart-sass`, there were some sort syntax breaking changes between these 2 different compiler. The bug is fixed in #489, @zazzaz could you please make a publish ASAP?

[2020-10-28 06:05] JeremyWuuuuu commented on #488
Options API is also supported in V3, documentation will be updated once our migration has completed. You can try it with syntax just like V2. A quick demo here.

#### this is not supported by now, so you can not use it in the recent builds. We are trying to find a way to make it work like this
[code]

[2020-10-28 06:39] zazzaz commented on #484
Fixed in `element-plus@1.0.1-alpha.11`

[2020-10-28 12:50] buremba commented on #482
Thanks @zazzaz! It looks like I'm the first financial contributor to the project on OpenCollective, hope you can raise more! :)

[2020-10-28 14:11] zazzaz commented on #482
@buremba Cheers.

[2020-10-28 16:34] rottenpen commented on #452
I want to join it !
I had make a pull request to update Alert docs, and found event close not support any more.
It turned into event click. Is it bug or feature？

[2020-10-29 02:40] kooriookami opened #496 "Bug with select component"
1. Default size of `el-select`, it's height should be 40px, actually it's 36px.
![image](https://user-images.githubusercontent.com/38392315/97518668-ac54d780-19d2-11eb-9a73-f6cf88f30d8e.png)
2. The popover is missing a corner.
![image](https://user-images.githubusercontent.com/38392315/97518628-9515ea00-19d2-11eb-9074-a4aef470501d.png)
3. When click `el-select` twice, it should open and then close

[2020-10-29 04:43] Lliuxs opened #498 "container组件单词拼写错误"
import Fotter from './src/footer.vue'

[2020-10-29 05:34] #498 closed

[2020-10-29 06:46] bastarder commented on #154
@Ghitu @Liiked
Is there any progress?

[2020-10-29 07:34] Ghitu commented on #154
@bastarder Not from my side. Sorry.

[2020-10-29 08:55] Lliuxs opened #501 "el-pagination一些小疑问"
1.不传layout的 在查看dom结构的时候发现有一个el-pagination__rightwrapper结构 不知所云
默认值中的 -> 就是简单的想让后面的不渲染吗？ rightWrapperChildren 设计的意义在哪 是否能解答下
2.已经提取了usePagination.ts 还传props属性是否显得多余?

[2020-10-29 09:58] adairxiao opened #504 "hope support import single component"
I write Vue with JSX, I find it's undefined when I import Button in this way:

![image](https://user-images.githubusercontent.com/41007368/97553294-3a02e800-1a10-11eb-9d95-27df38df3fe5.png)

[2020-10-29 10:00] AllenMRbai commented on #504
me too

[2020-10-29 10:01] zazzaz commented on #504
will support this soon.

[2020-10-29 13:01] AubSs opened #505 "Table Bug"
I've seen two bugs with table,
-> 1 Uncaught TypeError
-> 1 Vue Warn

----- uncaught type Error
[code]

----- Vue Warn (appears multiple time)
[code]

Code Sample
[code]

[2020-10-30 00:35] BrandonMendoza opened #510 "Select drop Down doesnt load label"
Select drop down doesnt load label and shows ID's instead :(
In local works correctly but in Production server dont

![2020-10-29 (1)](https://user-images.githubusercontent.com/34587890/97646448-f5c21880-1a0c-11eb-9d09-aabf712125f7.png)

 <el-form-item label="Estatus" prop="status_id">
                        <el-select v-model="form.status_id" style="width: 100%;" :row-class-name="tableRowClassNa

[2020-10-30 03:26] JeremyWuuuuu commented on #510
Sorry, this is a bug that we will fix immediately.

[2020-10-30 03:27] #505 closed

[2020-10-30 03:33] JeremyWuuuuu commented on #510
Another thing.. We are still in alpha stage, and some feature might be broken, it's not suggested to use it in production project which might be kind of dangerous.

[2020-10-30 03:44] Lliuxs opened #511 "radio-button.vue"
1.为什么不给radio-button提供change方法
2.radio-button的大部分逻辑类似 希望可以合并
3.插槽的写法和radio不一致
       <slot></slot>
      <template v-if="!$slots.default">{{ label }}</template>
4.在使用了el-form的provider之后  为什么radio的类型不as any
return props.disabled || radioGroup_.disabled || (elForm || {} as any).disabled
5.在model的set属性中为什么需要操作instance.refs.radio && (instance.refs.radio.checked = props.modelValue === props.label)?

[2020-10-30 03:48] JeremyWuuuuu commented on #504
We are working on this. This is definitely what we wanted to achieve.

[2020-10-30 03:55] JeremyWuuuuu commented on #510
Also, could you provide the code chunk that of this problem to use for investigation?

[2020-10-30 04:01] JeremyWuuuuu commented on #510
So a quick reply here,

I had a quick investigation for this issue which I cloned the starter repo [EP-starter](https://github.com/element-plus/element-plus-starter)
And build with this:

![image](https://user-images.githubusercontent.com/15975785/97658557-83eadd00-1aa7-11eb-8312-1b793a8d431f.png)
Via command `yarn build`

Then I used [Server](https://www.npmjs.com/package/serve) with command `ser

[2020-10-30 06:19] JeremyWuuuuu commented on #511
I dunno what this issue is all about.
### Question 1.
The first question I cloud answer, `radio-button` do have a change method, but it's not explicit
![image](https://user-images.githubusercontent.com/15975785/97667159-375ccd00-1aba-11eb-9464-e1f0f9b076a4.png)

### Question 2.
You are right, will do that.
### Question 3
![image](https://user-images.githubusercontent.com/15975785/97667203-52c7d800

[2020-10-30 06:20] JeremyWuuuuu commented on #511
Hope that this answers your question, any further question is welcomed.

[2020-10-30 06:22] JeremyWuuuuu commented on #511
cc @zazzaz  You need check on this.

[2020-10-30 09:13] kooriookami opened #514 "Behavior about Tooltip"
[code]
When `el-button` is disabled, `el-tooltip` dosen't show. Is that the expected behavior?
![image](https://user-images.githubusercontent.com/38392315/97682635-25d3ef00-1ad3-11eb-8b5f-83ab9d368776.png)

[code]
![image](https://user-images.githubusercontent.com/38392315/97682430-181e6980-1ad3-11eb-8c15-652a5bd47cbd.png)
When there's a `div`, `el-tooltip` show.

[2020-10-30 09:16] JeremyWuuuuu commented on #514
So, quick answer is yes when it's disabled, it should not show
`Tooltip` attaches to the first descendent, in your case, it was attached to `div` instead of `el-button`, because your `div` is not a disabled element, so the tooltip behaves correctly.

[2020-10-30 09:18] JeremyWuuuuu commented on #514
For any cases like this it is not suggested that user wrapping the disabled component inside a non-disabled component or tag, WE DO NOT KNOW IF IT IS DISABLED, there's no way that `tooltip` traverses the entire subtree.

[2020-10-30 09:18] #514 closed

[2020-10-30 09:18] kooriookami commented on #514
OK, thanks.

[2020-10-30 09:18] JeremyWuuuuu commented on #505
We'll have a release version later, this will be fixed in that release.

[2020-10-30 09:22] MaybeQHL opened #515 "Could you please give priority to updating the components related to the following menu？"
Very urgent

[2020-10-30 09:25] JeremyWuuuuu commented on #515
Pardon?

[2020-10-30 09:25] MaybeQHL opened #516 "element-plus/lib/locale/lang/en not found"
A temporary solution: ![image](https://user-images.githubusercontent.com/34638673/97688207-c4ad1b00-1ad4-11eb-8f8d-67ee607c91d5.png)

[2020-10-30 09:28] MaybeQHL commented on #515
@JeremyWuuuuu   NavMenu component   not found.

[2020-10-30 09:28] JeremyWuuuuu commented on #516
Sorry for the inconvenience.
Since we are actively working on the migration, the online version only had one single `index.js` module which can be found in the package.

The next stage we will try to expose as many members as the V2 version.

[2020-10-30 09:29] JeremyWuuuuu commented on #515
NavMenu has not been completed yet. Might take a couple of days. You can track it #154

[2020-10-30 09:30] JeremyWuuuuu commented on #154
I believe all dependencies were completed. We can proceed on this.

[2020-10-30 09:31] JeremyWuuuuu commented on #154
cc @Ghitu @Liiked, feel free to contact me if you need anything.

[2020-10-30 09:32] MaybeQHL commented on #515
@JeremyWuuuuu ok,thanks 。可以中文提issue 吗？ 翻译的好累。

[2020-10-30 09:33] JeremyWuuuuu commented on #515
Sure, I can read Chinese. But it's better that we keep using English throughout this project. Thx

[2020-10-30 09:34] MaybeQHL commented on #515
@JeremyWuuuuu  ok,i get it

[2020-10-30 09:54] rottenpen opened #517 "Is there a Wechat Group to communicating?"
Is there a Wechat Group to communicating?

[2020-10-30 15:26] #113 closed

[2020-10-30 15:26] #504 closed

[2020-10-30 15:31] JeremyWuuuuu commented on #517
No, we do not have that.

[2020-10-30 15:31] #517 closed

[2020-10-31 07:25] ZhangShiy opened #519 "JSX support"
Does the project team have plans to support JSX

[2020-10-31 07:27] JeremyWuuuuu commented on #519
Hi, could you please describe your issue more specifically?
This project internally supports `jsx`.
If you were trying to use it in your project, you need to install `jsx-next` plugin

[2020-10-31 07:28] JeremyWuuuuu commented on #511
The fix you can track it here #520

[2020-10-31 07:34] ZhangShiy commented on #519
[code]
it reported an error:

ERROR in src/pages/login/login.tsx:10:12
TS2786: 'Input' cannot be used as a JSX component.
  Its instance type 'Input' is not a valid JSX element.
    Property '$props' is missing in type 'Input' but required in type 'ElementClass'.

is there any mistakes?

[2020-10-31 07:39] JeremyWuuuuu commented on #519
Well, the thing here is
`import { Input } from 'element-plus'`
actually imports a `installer function` which provides to the user to allow `app.use` to install it globally, the current released version does not contain any separated export of the component it self, if you need to use it like this, the steps needs to be taken:
1. At your app root, you must register the component globally.
[code]
2.

[2020-10-31 07:40] JeremyWuuuuu commented on #519
FYI, we are working on export the actual components to users, sorry for the inconvenence.

[2020-10-31 07:49] ZhangShiy commented on #519
ok, thanks for your introduction. Looking forward to the release of the official version.

[2020-10-31 08:18] #519 closed

[2020-10-31 17:35] AubSs opened #522 "Component `Loading` do not work on component `Dialog`"
=> Use case : I want to cover a whole dialog modal (including title and close button) when loading random data.
=> What's happening : nothing

--- Code sample
[code]

--- Console error (Chromium Version 88.0.4303.0 (Developer Build) (x86_64))
[code]

[2020-10-31 18:34] AubSs opened #523 "Component Notify undeclared"
Notify is not define in `this`

V: "element-plus": "^1.0.1-alpha.11",

--- error (typescript)
[code]

--- Code sample
[code]

[2020-10-31 18:56] Ther-su opened #524 "[docs]The bug about dialog in the doc website."
![image](https://user-images.githubusercontent.com/57524062/97787525-c4ed0980-1bed-11eb-9c1a-595a116628a7.png)
The dialog can work when you click the button.
Whether we should change the `:visible.sync="dialogVisible"` to `v-model="dialogVisible"` in the doc website?

[2020-10-31 19:04] AubSs opened #525 "Autocomplete input resize"
autocomplete input can't be resized (using flex properties or other)
I don't understand why it has an arbitrary fixed size.

[2020-11-01 04:54] Ryan2128 commented on #523
In my test, it work well. Did you import element-plus correctly?

[2020-11-02 03:06] JeremyWuuuuu commented on #524
Yes indeed, the documentation has not been updated yet, we still have components left to be migrated, soon this should be fixed.

[2020-11-02 03:09] JeremyWuuuuu commented on #523
You need to provide us a minimal reproducible version unless we have no clue what caused this issue.
Firstly you need to check if you registered `ElementPlus` correctly, then we can have further discussion(provide a minimal reproducible code)

[2020-11-02 03:10] JeremyWuuuuu commented on #511
Since there were no further response. I'm closing this issue

[2020-11-02 03:10] #511 closed

[2020-11-02 03:11] JeremyWuuuuu commented on #510
@BrandonMendoza Hey, have you solved the bug?

[2020-11-02 03:15] zouhangwithsweet commented on #457
In fact, dropdown is used for a small number of options. I don't think this is a bug.

[2020-11-02 03:16] #457 closed

[2020-11-02 07:09] rottenpen opened #529 "[bugs] I found a md-loader bug in docs"
The code  `import xxx from 'vue'`  is not allow in docs. So Composition can't be import in docs. #512
There are 2 ways to fix it.
1. Compostion Api should be code like
[code]
but I think it is no a good idea

2. Import all composition Api in `website/md-loader/index.js`

which is better？And I will PR to fix it.

[2020-11-02 07:22] JeremyWuuuuu commented on #529
Sorry, I don't quite get it.
It seems just fine on my machine.
Closing this due to it's not reproducible.
![image](https://user-images.githubusercontent.com/15975785/97840574-3b3d5900-1d1f-11eb-957e-145c6c87f242.png)

[2020-11-02 07:22] #529 closed

[2020-11-02 07:24] rottenpen commented on #529
run `yarn website-dev` is all right?

[2020-11-02 07:27] JeremyWuuuuu commented on #529
Yes, it is alright. The bug you mentioned did not exist, please double checking your code.
One thing, you do need to remove `data` option when you use `setup`, in this case I get exact error like you did.

[2020-11-02 07:29] JeremyWuuuuu commented on #525
cc @Caaalabash

[2020-11-02 07:37] rottenpen commented on #529
oh... I get that `"vue"` "" is not allow, must be `'vue'`. It's ok now.

[2020-11-02 08:34] Ther-su commented on #524
ok,thanks.

[2020-11-02 09:03] #496 closed

[2020-11-02 09:24] #437 closed

[2020-11-02 09:34] Caaalabash commented on #525
I only can provide you limited help because of you didn't provide a minimal reproducible code.

maybe you only set css rules on `.el-autocomplete`, you can try set css rules on `.el-input`, `.el-input__inner`.

[code]

[2020-11-02 12:34] AubSs commented on #525
--- Code Sample
[code]

Give :
<img width="823" alt="Screenshot 2020-11-02 at 13 31 16" src="https://user-images.githubusercontent.com/10529080/97868508-18577880-1d10-11eb-8adb-d76bd51921fd.png">

[2020-11-02 12:43] AubSs commented on #523
[test.zip](https://github.com/element-plus/element-plus/files/5475039/test.zip)

It's really a simple install

V: alpha 11

[2020-11-02 13:06] Caaalabash commented on #525
So this is a usage problem. Please [check the document](https://element.eleme.cn/#/en-US/component/form#alignment) and set css rules if you needed :)

[2020-11-02 17:43] AubSs commented on #525
Maybe,
So it's assumed that input number / date picker / select do not follow CSS form rules like any others input type?
For example, in my form, it's not convenient that I have to hack these specific fields to be completely integrated.
Why label 'Period' should not be positioned like the label "Reference" by default?

[2020-11-02 19:02] Caaalabash commented on #525
Please [check the document](https://element.eleme.cn/#/en-US/component/form#alignment), you can find the `label-position="top"` attribute easily. For your other questions, I only can say this is by design.

[2020-11-02 19:20] AubSs commented on #525
Ok,
@Caaalabash Thank you for your time !

[2020-11-02 20:04] Caaalabash commented on #525
There this a problem with `el-autocomplete` indeed. `<el-autocomplete style="width: 100%"/>`'s behavior will be fixed

[2020-11-03 03:43] JeremyWuuuuu commented on #525
So is this issue fixed? @Caaalabash

[2020-11-03 03:44] #525 closed

[2020-11-03 04:47] Caaalabash commented on #525
Yes, I think. @JeremyWuuuuu

[2020-11-03 06:06] JeremyWuuuuu commented on #510
Closing since no further response.

[2020-11-03 06:06] #510 closed

[2020-11-03 08:25] #488 closed

[2020-11-03 09:56] Lliuxs opened #533 "[Questions]: Questions about the implementation of `ElCheckboxGroup`"
1.请问 ElCheckboxGroup中定义modelValue的意思何在
在provide中使用...toRefs(props), 是否覆盖了这个属性?

2.el-popover 的实现为什么不使用el-popper来实现？还要重新写个popper  el-popper是否可以考虑使用jsx的写法 现在的写法使用的Teleport好像没什么用

3.日期选择器的diabled能否到时间 例如 时间要选到当前时间的2小时之后  日期时间选择器能不能和TimePicker结合起来使用  现在结合的好像只有 time-select

4.el-select的渲染为什么不需要虚拟列表来实现 我们现在几千个数据 要前端来筛选 非常的卡

5. 能否在autocomplete增加一个属性 只有选择了options才关闭选择项 (现在有个需求 必须选择了才可以 否则就关闭)  有input的话就不

[2020-11-03 10:16] LYao0919 opened #534 "element-plus 中 navMenu 错误问题"
您好，在element-plus文档中（ https://element-plus.org/#/en-US/component/menu ） 关于navmenu错误问题，是否有新版？
正式版本上面时候能够发布呢？

[2020-11-04 01:48] pangao66 opened #537 "如何使用Message/MessageBox"
[code]
message  messageBox 组件无法使用
打印是undefined

[2020-11-04 02:34] zazzaz commented on #452
@rottenpen Agreed. However, we should not update all the docs into VCA, it depends. More important, updating old syntax like slot to the new version to make all demos work is a high priority.

[2020-11-04 02:43] rottenpen commented on #452
@zazzaz Are there any Todolist about it？

[2020-11-04 02:49] JeremyWuuuuu commented on #534
Navmenu has not been migrated yet, so for now you won't be able to use it.

[2020-11-04 02:51] JeremyWuuuuu commented on #523
For alpha.12 we have 'element-plus/lib/*' exported. You may import `Nofity` directly from `element-plus/lib/notification' package.

[2020-11-04 03:27] zazzaz opened #540 "📚 Document improvement Todo List"
Feel free to join us to update the document via a pull request. 😁

Only English and Chinese docs update is needed.

For other languages, if you are not a native speaker, please just paste the fresh English content.

[2020-11-04 03:30] zazzaz commented on #540
## Use Vue 3.0 Composititon API

[2020-11-04 03:35] zazzaz commented on #540
## Incomplete docs

- Switch  add loading #402, missing English docs

[2020-11-04 03:36] zazzaz commented on #452
Good idea, I have opened a new issue here https://github.com/element-plus/element-plus/issues/540

[2020-11-04 03:36] #452 closed

[2020-11-04 03:38] Lliuxs commented on #537
const { ctx } = getCurrentInstance()
console.log(ctx.$message)

[2020-11-04 03:45] pangao66 commented on #537
Whether I use the options API or the composition API, it doesn't work properly,  console.log(this.$message)  or  after import {Message} from 'element-plus'  console.log(Message)  it's undefined
无论用options-api还是  composition-api , 都不能正常运行, 无论是 this.$message还是 import Message  之后 , console.log都是undefined

[2020-11-04 03:47] JeremyWuuuuu commented on #537
Have you registered `Message` via `app.use(MessageBox)`? Please provide us code with full context.
有没有在全局注册？希望你提供完整一点的代码。

[2020-11-04 04:42] pangao66 commented on #537
@JeremyWuuuuu
我用vue-cli 使用的,版本是"element-plus": "^1.0.1-alpha.12",
main.js
[code]
app.vue
[code]

[2020-11-04 04:59] JeremyWuuuuu commented on #537
Hi, code like this
[code]

[2020-11-04 05:47] pangao66 commented on #537
这种我也试过了, 会报错,我提这个iisues之前已经看过了 https://github.com/element-plus/element-plus/issues/488这个,

![image](https://user-images.githubusercontent.com/20113031/98073814-1cb49a80-1ea4-11eb-9665-dd7a8e1a8427.png)

这样使用Notify 组件是可以的, 但是使用MessageBox/Message组件 import就报错

[2020-11-04 06:29] zouhangwithsweet commented on #540
Ensuring a smooth document transition experience should also be considered. Some common components' docs may not be necessary to change.

[2020-11-04 06:33] JeremyWuuuuu commented on #537
![image](https://user-images.githubusercontent.com/15975785/98077064-7029e700-1eaa-11eb-8aca-021d859eb435.png)
I believe that we have exported member `MessageBox`
See also
![image](https://user-images.githubusercontent.com/15975785/98077180-b0896500-1eaa-11eb-90da-f8d8667952ba.png)

[2020-11-04 06:33] JeremyWuuuuu commented on #537
You can find it here https://unpkg.com/element-plus@1.0.1-alpha.12/lib/message-box/index.js

[2020-11-04 06:34] JeremyWuuuuu commented on #537
Do you mind to give us a link on CodeSandBox or something?

[2020-11-04 07:29] pangao66 commented on #537
https://codesandbox.io/s/vibrant-solomon-humjn?file=/src/App.vue

[2020-11-04 07:40] langki commented on #534
I have the same problem

[2020-11-04 08:52] kooriookami commented on #537
`this.$message.success('123')` cause this.$message.success is not a function.
`this.$message({message:'123',type: 'success'})` is normal.

[2020-11-04 08:56] JeremyWuuuuu commented on #537
Seems `$message` did not have a member named `success`, according to `notification.ts`
We have a code chunk of
![image](https://user-images.githubusercontent.com/15975785/98090100-92c5fb00-1ebe-11eb-8bf1-1ed03ca27124.png)
Which `Message` does not have this chunk of code to give assign shortcut to `Message`

[2020-11-04 09:28] lht931942788 opened #544 "能否新加个treeselect组件"

[2020-11-04 09:30] JeremyWuuuuu commented on #544
Could you be more specific about this component?
In the current stage our first priority is to migrate and optimize existing components, we will consider the effort of making a component you wanted, if you could be more specific about the component, maybe a link would be very helpful.

[2020-11-04 09:40] lht931942788 commented on #544
![image](https://user-images.githubusercontent.com/44287981/98094804-bbe98a00-1ec4-11eb-8296-e43d9311566c.png)
就像这样一个树形结构的下拉选

[2020-11-04 09:40] lht931942788 commented on #544
https://www.vue-treeselect.cn/

[2020-11-04 09:44] JeremyWuuuuu commented on #544
Though we did not provide this feature out of the box, but with the current tree component I think users can implement there own tree-select themselves, but I do think we can make this happen, but not in a short time.

[2020-11-04 09:45] lht931942788 commented on #544
自己写的哪有你们写的好的，要做么，我可以等

[2020-11-04 10:47] Lliuxs opened #546 "el-rate"
allow-half属性设置样式计算
在计算classes的时候
 let threshold = currentValue.value
  if (props.allowHalf && currentValue.value !== Math.floor(currentValue.value)) {
      threshold--
  }
 result.fill(activeClass.value, 0, threshold)
 result.fill(voidClass.value, threshold, props.max)
如果currentValue.value = 2.5 这样得到的threshold会是1 会导致1的是on但是2的是off
这里的逻辑是否有误？
![image](https://user-images.githubusercontent.com/35122

[2020-11-04 14:06] BezMaster opened #548 "Import Element Plus components onDemand"
Hi, actualy i try to use your element plus but i can not load only compoents i want to use. I followed the documentation in
https://element-plus.org/#/en-US/component/quickstart

I tried with app.use:

`import { Button, Select } from 'element-plus';`
`const app = createApp(App)`
`app.use(Button);`

But It does not work :(

I tried with app.component:

`import { Button, Select } from 'element-plus'

[2020-11-04 15:43] wvffle opened #549 "Drawer not opening"
Drawer is not opening for me neither on https://element-plus.org/#/en-US/component/drawer nor in my own project.

Both chromium and firefox affected.

[2020-11-04 15:56] JeremyWuuuuu commented on #549
Sorry for the inconvenience, due to some reason the documentation has not been updated, we are working on that, there were some breaking changes we made in the new version
If you intend to open the drawer you need to use `v-model="binding"` to open, also drawer might potentially have some unexpected bugs, if you find any please tell us that we can make it better.
The current version of ElementPlus

[2020-11-04 15:57] JeremyWuuuuu commented on #549
We will update the documentations ASAP!

[2020-11-04 16:09] #549 closed

[2020-11-05 01:07] pangao66 commented on #537
更换了 "element-plus": "^1.0.1-alpha.14"版本 ,可以了  非常感谢

[2020-11-05 02:05] zazzaz commented on #537
fixed in alpha.14

[2020-11-05 02:05] #537 closed

[2020-11-05 02:28] JeremyWuuuuu commented on #548
Sorry for the late response.
We were working on the import on demand, but you still need to use a `babel-plugin` to do that.
cc @zouhangwithsweet  Could you provide some help?
BTW, what version you were using? We just got our **alpha 14** released, it should work fine with tree shaking

[2020-11-05 02:44] JeremyWuuuuu commented on #546
Seems our showcases didn't cover case like this.
Are you interested in file up a PR to fix this?

[2020-11-05 03:00] kooriookami commented on #462
Duplicate of #462

[2020-11-05 03:01] kooriookami commented on #544
Duplicate of #462

[2020-11-05 03:39] kooriookami opened #550 "Bug with Popover"
https://element-plus.org/#/zh-CN/component/popover
First demo.
Click to activate: cannot close on click blank.
Focus to activate: when blur, it still shows

`Popconfirm`
miss the border
![image](https://user-images.githubusercontent.com/38392315/98194853-48df2280-1f5b-11eb-96c0-60f87e5f1230.png)

[2020-11-05 03:42] JeremyWuuuuu commented on #550
Indeed, will be fixed soon.

[2020-11-05 03:58] huanyun-c opened #551 "Element Plus 组件内部默认使用中文？为什么时间组件和table组件等等这些默认都是英文的？"

[2020-11-05 04:00] zouhangwithsweet commented on #548
For now, all components export with prefix `El`. We are discussing how to export  `install` and component.
E.g.
[code]

[2020-11-05 04:48] pangao66 commented on #551
相同的问题 +1    confirm等 组件的 文案都是英文

[2020-11-05 06:08] zazzaz commented on #551
Sorry for the late update of the docs.

Element Plus is aimed to be an international UI libiary and the default language is English.

For Chinese users, you should import the relavant locale file according to the doc.

[2020-11-05 06:21] pangao66 commented on #551
Even though I set the  Chinese as default language the components still show the English .
main.js
[code]
我按照文档来的, 但是页面已经显示是英文文案

[2020-11-05 06:55] zazzaz commented on #551
@pangao66 well it's a bug, will fix it soon.

[2020-11-05 07:09] #551 closed

[2020-11-05 07:11] zazzaz commented on #551
will be available in next release

[2020-11-05 09:05] zazzaz commented on #162
## Locale

1. Default language English
2. Locale file name in lower case

[2020-11-05 11:13] BezMaster commented on #548
im using element-plus@1.0.1-alpha.14

[2020-11-05 11:20] BezMaster commented on #548
sorry @zouhangwithsweet but it does work for me it says :

`TS2724: Module '"../node_modules/element-plus/types"' has no exported member 'ElButton'. Did you mean 'Button'?`

[2020-11-06 03:42] #550 closed

[2020-11-06 03:44] JeremyWuuuuu commented on #550
@kooriookami with #557 should resolve the problem, but we are still awaiting for the next release. So you won't be able to use it til alpha 15.

[2020-11-07 05:05] #546 closed

[2020-11-07 08:41] uranius666 commented on #436
Not working yet)

[2020-11-09 07:30] #544 closed

[2020-11-09 07:54] bastarder commented on #522
i try to test on `element-ui`, dialog also happen nothing,  maybe in this case, you can use Loading with service,
in `element-plus` the dialog was change to `Fragment`, so v-loading not work on it now. maybe we can improve it.

[2020-11-09 09:15] zazzaz commented on #362
Sorry, we have no plan to support this.

[2020-11-09 09:15] #362 closed

[2020-11-10 02:17] xlanghejianfeng opened #566 "大神什么时候能发布正式版，官网demo还是2.0语法"

[2020-11-10 02:30] JeremyWuuuuu commented on #566
Thank you for your concern, we are still under actively developing, the release date is hard to say, we will continue roll out alpha versions, we want our first stable release to be less buggy, the demo will be updated soon, but most of them will remain untouched, we will cover some VCA usage in the updated version.

[2020-11-10 02:30] #566 closed

[2020-11-10 07:18] maicWorkGithub commented on #534
@JeremyWuuuuu 我看projects里，dialog标记为完成，但是不能使用，文档里的例子也是一个都不能运行，报了warning：
[code]

[2020-11-10 09:30] wenyangliu commented on #548
you can use:
[code]

that's fine with me @BezMaster

[2020-11-10 10:10] zazzaz opened #569 "ElPopper manual mode enhancement"
https://github.com/element-plus/element-plus/blob/f3d24d6109958b7328e84bf60c072acb3d76ec8b/packages/popper/src/renderers/popper.ts#L78

Do not stop onMouseup onMouseDown in manual mode.

[2020-11-10 10:21] xlzy520 opened #570 "Tabs: @tab-click事件传递的参数是一个Proxy，不能直接拿到tab实例"
![image](https://user-images.githubusercontent.com/28336270/98661356-504e6380-2381-11eb-9d7c-6f6c2985010a.png)

[2020-11-10 10:24] xlzy520 commented on #570
看了下源码，`evt.props.name`必须要这样取值吗

[2020-11-10 10:28] xlzy520 commented on #570
![image](https://user-images.githubusercontent.com/28336270/98662140-4f6a0180-2382-11eb-810e-ebc7ff1256bc.png)

[2020-11-10 10:32] zazzaz commented on #534
@maicWorkGithub  Hi, please check the English doc for ElDialog at this moment https://element-plus.org/#/en-US/component/dialog

[2020-11-10 10:33] xlzy520 opened #571 "按需引入无法正常执行"
报如下错误
![image](https://user-images.githubusercontent.com/28336270/98662757-36ae1b80-2383-11eb-8448-5ff65b65ffc0.png)

[2020-11-10 10:34] xlzy520 commented on #571
OS: Mac,
Node:  10.19.0
npm: 6.13.4

    "babel-plugin-component": "^1.1.1",

[2020-11-11 05:44] vok123 opened #575 "Vite ssr 打包代码非node环境问题"
version: 1.0.1-alpha.14

解决方案:  `/package.json`  新增 `"module": "lib/index.esm.js"`

[2020-11-11 05:51] JeremyWuuuuu commented on #570
Indeed, interested in making a PR?

[2020-11-11 05:51] JeremyWuuuuu commented on #570
cc @bastarder

[2020-11-11 05:54] JeremyWuuuuu commented on #571
There are still some parts of code needed to be fixed, we will take a look at this issue, could you provide detailed code for us? A link or repo would be very much appreciated.

[2020-11-11 06:03] vok123 opened #576 "element-plus/packages/table Vite ssr no rendering"
version: `element-plus@^1.0.1-alpha.14`;
description: Vite ssr `td` `th` tag no rendering;

[2020-11-11 06:05] JeremyWuuuuu commented on #575
Are you interested in making a PR?

[2020-11-11 06:06] JeremyWuuuuu commented on #576
cc @justwiner

[2020-11-11 06:07] JeremyWuuuuu commented on #534
#572 You can track the progress here for NavMenu

Also you should change the syntax due to the breaking change of `Dialog's` `visible` API.

[2020-11-11 07:28] justwiner commented on #576
Can you provide a git repository demo?pls. @vok123

[2020-11-11 08:09] xlzy520 commented on #571
@JeremyWuuuuu https://github.com/xlzy520/hello-vue3

[2020-11-11 08:29] bastarder commented on #570
i dont think it necessary, because if you emit 'tab.props', the more information such as `active, index` will be lost.

[2020-11-11 08:31] vok123 commented on #576
https://github.com/vok123/vue3-ts-vite-ssr-starter

[2020-11-11 08:32] #465 closed

[2020-11-11 09:11] xlzy520 commented on #570
@bastarder 是的，是我想的太简单了，感觉需要在文档那边说明一下

[2020-11-11 10:03] xlzy520 opened #580 "I18n 默认非中文"
使用table组件、分页组件，可以复现

[2020-11-11 10:12] xlzy520 opened #581 "CDN方式引入无法使用"
[code]

测了elementUI， 是可以正常展示的，但是plus不能

[2020-11-11 10:18] zazzaz commented on #580
Hi, The default language of Element Plus is English.

You can check more detail here. https://github.com/element-plus/element-plus/blob/dev/website/docs/en-US/i18n.md

We will update our website ASAP

[2020-11-11 12:23] saundaryapb opened #582 "Pagination size-change event trigger issue"
it seems like there's an issue in size-change event, whenever I am changing the page size the event is not getting trigged, the other event i.e., current-change is working as it supposed to be. I am using latest vue 3.0 and it's composition api's.
[code]

[2020-11-11 12:25] saundaryapb commented on #582
<template>
  <div class="main">
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="currentPage"
      :page-sizes="[10, 20, 30, 40, 60, 100]"
      :page-size="10"
      layout="total, sizes, prev, pager, next, jumper"
      :total="pageData.length"

    </el-pagination>
  </div>
</template>

<script>
import { ref } from "vue";

[2020-11-11 12:26] saundaryapb commented on #582
`<template>
  <div class="main">
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="currentPage"
      :page-sizes="[10, 20, 30, 40, 60, 100]"
      :page-size="10"
      layout="total, sizes, prev, pager, next, jumper"
      :total="pageData.length"

    </el-pagination>
  </div>
</template>

<script>
import { ref } from "vue"

[2020-11-11 12:33] saundaryapb commented on #582
[code]

[2020-11-12 02:28] JeremyWuuuuu commented on #582
Yes, this is a bug, I believe, I looked through the source code, I did not find any code for emitting this `size-change` event, I will fix it on next release.

[2020-11-12 02:32] showyoulove opened #583 "Loading以服务方式使用报错"
Loading.service(options)

Cannot read property 'service' of undefined

[2020-11-12 02:39] showyoulove commented on #583
`import { Loading } from "element-plus"`
console.log(Loading) undefined

[2020-11-12 05:52] zazzaz commented on #569
This will also fix https://github.com/ElemeFE/element/issues/20376

[2020-11-12 06:43] #154 closed

[2020-11-12 07:12] lighter217 opened #585 "在js封装中Message无法正常运行"
报错：**Object(...) is not a function**

`import { Message } from 'element-plus'`

`export function test(val) {
    Message('val is ' + val)
}`

[2020-11-12 07:16] JeremyWuuuuu commented on #583
I believe this is a bug that we accidentally forgot to export loading as a global member.
cc @zazzaz

[2020-11-12 07:17] JeremyWuuuuu commented on #585
Please use methods like `import { Message } from 'element-plus/lib/message;` as a workaround for now, we will fix this issue in the upcoming release.

[2020-11-12 07:31] showyoulove commented on #583
什么时候可以修复

[2020-11-12 07:35] JeremyWuuuuu commented on #583
It should be no biggy, will fix in the next release (within 1 to 2 days)

[2020-11-12 08:01] #585 closed

[2020-11-12 08:01] lighter217 commented on #585
tks

[2020-11-12 08:10] lighter217 commented on #551
我也遇到这个问题，刚想提issue来着(手动捂脸)

[2020-11-12 08:23] xlzy520 commented on #580
嗯，官方文档上很多东西都太老了，还是沿用element的

[2020-11-12 09:36] zazzaz commented on #583
Yes, we missed the service property here

https://github.com/ElemeFE/element/blob/dev/packages/loading/index.js#L10

[2020-11-12 13:37] xiaoxian521 opened #588 "[Feature Suggestion]: `ElTree` suggestion"
树组件是否可以扩展成支持大数据渲染以及搜索呢

[2020-11-13 01:31] Emiya0306 commented on #588
+1, lazy render for huge amount of data is a very important feature. I think `Select`, `Transfer`, `Tree`, `Table` should support this mode.

[2020-11-13 01:35] xiaoxian521 commented on #588
Lazy loading has been supported. What you need is one-time loading

[2020-11-13 01:52] Emiya0306 commented on #588
Emmm, I mean lazy render, not lazy loading. Like react-virtualized you know. 😸

[2020-11-13 01:53] xiaoxian521 commented on #588
hh this is a good issues

[2020-11-13 02:06] xiaoxian521 commented on #588
The rendering performance of vue3.0 plus virtual scrolling is a good component, I believe

[2020-11-13 02:21] JeremyWuuuuu commented on #570
@xlzy520  Are you interested in making a PR for the documentation?

[2020-11-13 02:53] JeremyWuuuuu commented on #585
Sorry, the current exported `Message` is actually an installer, so you cannot call it directly to get it work as expected, you need to change the import path in order to get it work like this:
[code]

[2020-11-13 05:46] JeremyWuuuuu commented on #588
We can surely implement windowing to the tree element, but the concern is, is it worth it. how many tree node would you ended up with in the tiny component?

[2020-11-13 05:48] JeremyWuuuuu commented on #588
Also, virtualization requires users to pass extra attributes to the component, such as column size, window size, etc. maybe we can make an stand alone virtualized `tree component` instead of making breaking changes to `Tree`.
I'll take a note on this.

[2020-11-13 05:50] xiaoxian521 commented on #588
This demand is very common, especially for large enterprises such as transportation and environment

[2020-11-13 05:53] xiaoxian521 commented on #588
It is suggested that v-contextmenu can be combined with tree component as https://github.com/heynext/v-contextmenu

[2020-11-13 05:55] JeremyWuuuuu commented on #588
Yes, the idea is great, lets keep this tracked after we get our first release, we can start to get our hands on this.

[2020-11-13 05:57] JeremyWuuuuu commented on #588
The priority for us right now is to get the code fully tested, documentations updated, then get the first candidate released. I personally strongly agree with the idea of virtualize the tree component.

[2020-11-13 05:58] xiaoxian521 commented on #588
hh Always support you

[2020-11-13 06:15] #582 closed

[2020-11-13 06:20] JeremyWuuuuu commented on #461
according to #371 closing

[2020-11-13 06:20] #461 closed

[2020-11-13 06:21] JeremyWuuuuu commented on #417
@SimonaliaChen This is done right?

[2020-11-13 07:04] anrananran commented on #171
@zazzaz 大佬的github是小号吗，想关注一波

[2020-11-13 10:51] justwiner commented on #576
sry, the latest is delayed because of something.
I ran your demo just now, I found that this is not a problem with `element-plus`.The problem is that the interface for obtaining table data is not working properly.
![image](https://user-images.githubusercontent.com/30335393/99064335-bdd6db80-259d-11eb-9129-8077f9f1df6a.png)
I have provided mock data for your table, and the table component can work

[2020-11-13 11:16] discko opened #592 "Component 'message' is not compatible with its declaration"
I am using Element-Plus, version 1.0.1-alpha.14
in the definition of the component 'message' (which is located at package/message/src/index.ts), Message is an `IMessage`.
[code]
but the declaration (according to `import { Message } from 'element-plus'`, Message is a `ElMessage`) of the `ElMessage` is
[code]
the two are not compatible.

In element-ui, 'message' code is written as this: after defini

[2020-11-13 11:52] justwiner commented on #576
You can close this issue, it is not caused by `element-plus`
@JeremyWuuuuu

[2020-11-13 16:22] zazzaz commented on #417
done

[2020-11-13 16:22] #417 closed

[2020-11-14 04:26] 12Tall opened #593 "[MessageBox] TypeError: Cannot read property 'id' of undefined"
### Environment

- node: v14.15.0
- vue: 3.0.3
- element-plus: 1.0.1-alpha.14
- vite: 1.0.0-rc.8
- vue-cli-plugin-element-plus: ~0.0.5

### Description

When I am trying to use `MessageBox` as follows:
[code]

An exception will be reported when I click `OK` or `Cancel`, except for `CloseButton` on the top-right of the `MessageBox`

[code]

Is there any solutions or methods to get rid of the error?

[2020-11-14 05:04] Ryan2128 commented on #593
You may have installed two versions of vue devtools.

Please take a look at this [issue](https://github.com/vuejs/vue-devtools/issues/1302)

[2020-11-14 05:08] 12Tall commented on #593
@Ryan2128  That‘s it, I've removed the former Devtools, and restarted the browser. Everything goes normal. Thanks alot!

[2020-11-14 05:08] #593 closed

[2020-11-14 06:53] vok123 commented on #576
还是有问题的, 你上面写的不是异步的数据, 当数据异步的时候就有问题了, el-table依旧不渲染数据, 原生的table确是可以的
`
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Market',
  data() {
    return {
      fruitList: [] as any[]
    };
  },
  serverPrefetch() {
    return new Promise(resolve => {
      setTimeout(() => {
        this.fruitList = [{
          id: 1,
          name:"111",
          price: 20

[2020-11-14 07:31] justwiner commented on #576
@vok123
Your `serverPrefetch` is not called, i think `fruitList` is still `[]`
and this is my code:
[code]
This code is a normal asynchronous request for data, and it runs as expected.

[2020-11-14 08:45] vok123 commented on #576
有运行的, 在server端. 在我的demo里面你把我上面的代码copy进去, 然后 `npm run test`.  启动服务之后右键查看网页源码, 你可以看到服务器端对`el-table`渲染的结果. 貌似你上面这个dome在server端应该是不适应的...

[2020-11-14 09:52] justwiner commented on #576
@vok123
oh~,i get it.

Including `Input` components, etc.
provide values for `Input`, and they will not be rendered into html tags on the `server-side`
like this:
[code]
Actually in `server-side`:
[code]

`element-plus` does not support `server-side` rendering for the time being.
At present, the rendering code is build in js files.
If you want to support `server-side` rendering, you can mention `f

[2020-11-14 10:00] vok123 commented on #576
o(╥﹏╥)o

[2020-11-14 13:32] qq282126990 opened #596 "Locally introduce the ui library and report an error Uncaught TypeError: Object(...) is not a function"
![image](https://user-images.githubusercontent.com/26755049/99148081-ae03e800-26c0-11eb-9033-d9c0054a4784.png)
![image](https://user-images.githubusercontent.com/26755049/99148088-b9571380-26c0-11eb-9e9a-d0d2fa3cf711.png)

I have tried several times, probably due to ```defineComponent```

Unrecognized

[2020-11-14 13:38] JeremyWuuuuu commented on #592
Sorry for the inconvenience, I think this is a mistake that I made in the declaration file, I did export the `Message` component with members `success` `error` etc, you can use it directly by
[code]
This is a issue that we need to fix, but in the current stage, we just hit our first milestone (the migration), the next stage, we want to test our migrated components, fix bugs, types, exports, docs.

[2020-11-14 13:42] JeremyWuuuuu commented on #596
According to your screenshots, I hope that you went through the guideline step by step, because you clearly did not register `ElementPlus` as global component, in this case you could never introduce it to the UI because `Vue` does not recognize components which undeclared. You need follow the setup steps at [ElementPlus](https://element-plus.org/#/zh-CN/component/installation)

[2020-11-14 13:44] qq282126990 commented on #596
I use the cnd method
![image](https://user-images.githubusercontent.com/26755049/99148417-7a29c200-26c2-11eb-8c3a-062f27e009d7.png)

[2020-11-14 13:45] qq282126990 commented on #596
I download the file locally and it is not available, but I can use <script src="https://unpkg.com/element-plus/lib/index.js"></script>

[2020-11-14 13:51] qq282126990 commented on #596
Let me download this file to a local directory, and it will make an error through local reference

![image](https://user-images.githubusercontent.com/26755049/99148472-caa11f80-26c2-11eb-8bea-a2b3c5a3a83f.png)

![image](https://user-images.githubusercontent.com/26755049/99148508-fe7c4500-26c2-11eb-85a1-2829f93da424.png)

Change here to the downloaded ```index.js```

I downloaded the source code fr

[2020-11-14 16:03] zazzaz commented on #576
Element Plus support SSR from the very beginning the same as Element UI. If there a render error we will fix it for sure.

[2020-11-14 21:12] aywan commented on #515
Issue #154 is done.
Release new version to npm please

[2020-11-15 02:41] zazzaz commented on #515
@aywan will do in the next few days, cheers

[2020-11-15 07:20] sososoyoung commented on #519
Hello @JeremyWuuuuu , Thanks your work, Is there any update?

[2020-11-15 15:21] JeremyWuuuuu commented on #596
Sure, I guess we have some problem in the umd exports, I asked @zazzaz for the answer, he told me that we did have problems, we will fix that in the coming version.

[2020-11-15 15:25] xlzy520 commented on #570
@JeremyWuuuuu OK

[2020-11-16 02:28] kooriookami opened #598 "Bug with ColorPicker"
1. ColorPicker in doc has wrong style.
![image](https://user-images.githubusercontent.com/38392315/99206321-0ee10c80-27f6-11eb-9a67-8370db08a5ec.png)

2. I can't click the color panel to select a color.
![image](https://user-images.githubusercontent.com/38392315/99206399-42bc3200-27f6-11eb-881d-39b43899bb2c.png)

[2020-11-16 02:34] zazzaz commented on #598
Thanks. This is a known bug and will be fixed in the next release.

[2020-11-16 02:34] #598 closed

[2020-11-16 02:35] #569 closed

[2020-11-16 02:40] kooriookami commented on #580
![image](https://user-images.githubusercontent.com/38392315/99207067-f70a8800-27f7-11eb-917f-7d0f13d40286.png)

I can't import this.

[2020-11-16 03:39] zazzaz commented on #580
1.0.1-alpha.15 has fixed this bug.

[2020-11-16 03:39] #580 closed

[2020-11-16 05:30] Shanks333 opened #600 "国际化语言无效"
import { createApp } from 'vue'
import ElementPlus from 'element-plus';
import locale from 'element-plus/lib/locale/lang/zh-CN'
import 'element-plus/lib/theme-chalk/index.css';
import App from './App.vue'

const app = createApp(App);

app.use(ElementPlus, { locale });

app.mount('#app')

main.js这样写了之后组件的语言并没有改为中文

[2020-11-16 05:44] JeremyWuuuuu commented on #600
cc @zazzaz

[2020-11-16 06:07] Shanks333 commented on #600
ok了，升级到1.0.1-alpha.15版本解决了该问题

[2020-11-16 06:18] zazzaz commented on #600
great

[2020-11-16 06:18] #600 closed

[2020-11-16 06:24] kooriookami opened #602 "A Few Bug List"
I'm not sure whether you have known these bugs, I just list them for your information.
1. The slider button above on the popover.
![image](https://user-images.githubusercontent.com/38392315/99217811-e5cf7480-2813-11eb-8a1d-96e5eb961c99.png)
2. The color picker can't colse on click twice.
3. Notification under the doc header.
![image](https://user-images.githubusercontent.com/38392315/99217868-08fa

[2020-11-16 06:44] kang558 commented on #171
很不错，看到尤大星星了，顺道看了一下。加油！期待稳定版本

[2020-11-16 08:21] lighter217 opened #603 "[Bug Report]: `ElDatePicker` two way binding bug"
在组件中选择日期后，无法将选择的值渲染到dom上

[2020-11-16 09:35] fyzhu opened #604 "menu's group name can't display"
menu's group name can't display

[2020-11-16 09:35] lighter217 opened #605 "el-pagination无法正常使用"
handleCurrentChange和handleSizeChange无效，currentPage和pageSize的值会变，但是table数据不会翻页。

[2020-11-16 09:54] zazzaz commented on #603
Any demo code please?

[2020-11-16 11:39] BezMaster commented on #548
@wenyangliu
When you load element-plus like that, you load all elements-plus components. In fact in your sample Button contains all elements-plus imports not just the Button import. I'm sure that you can write <el-input in your code and you can see the input ;(.

[2020-11-16 11:58] lighter217 commented on #603
而且value-format也不起作用
![11111](https://user-images.githubusercontent.com/44219413/99250029-fdbfec00-2845-11eb-9ec2-ec7a4c6405cb.png)
![22222](https://user-images.githubusercontent.com/44219413/99250040-031d3680-2846-11eb-80ad-1cb438be3c3c.png)

[2020-11-16 15:20] BezMaster commented on #548
I solved my problem like below:
`
import { Button, Input } from "element-plus";

const app = createApp(App);
app.use(Button as any);
app.use(Input as any);
`

[2020-11-16 16:39] #548 closed

[2020-11-16 16:39] BezMaster commented on #548
I solved my problem like below:
import { Button, Input } from "element-plus";
const app = createApp(App);
app.use(Button as any);
app.use(Input as any);

[2020-11-16 17:07] denyncrawford opened #606 "Unhandled error during execution of render function at <ElScrollbar key="hours" ref="listHoursRef" class="el-time-spinner__wrapper" ... >"
Hi!!! I'm just trying to reproduce the [component form absic example](https://element-plus.org/#/es/component/form) and it renders just nice.

This is my wiew:
![view](https://user-images.githubusercontent.com/28849055/99280581-42c92b80-2810-11eb-9bd1-cc97b0d0c285.png)

The problem is that as soon as you click on the time picker, the following error appears with the following warnings:

[code]

An

[2020-11-16 19:12] denyncrawford commented on #603
Same issue here. I opened an issue about another relatet problem [here](https://github.com/element-plus/element-plus/issues/606) but I also mentioned this error...

[2020-11-17 01:10] lighter217 commented on #605
@current-change有效，@size-change无效。

[2020-11-17 01:29] JeremyWuuuuu commented on #605
I made a fix in #590, also I think we had a release yesterday for recent bug fixes, please update your local version. Also I hope that you report an issue with a minimal reproducible code or a link, this would help us for locating the errors

[2020-11-17 01:29] #605 closed

[2020-11-17 01:31] JeremyWuuuuu commented on #602
Thanks for reporting the bugs, I'll follow up these bugs making sure they are tracked

[2020-11-17 01:34] JeremyWuuuuu commented on #606
@zazzaz can you take a look?

[2020-11-17 01:36] JeremyWuuuuu commented on #603
I think this might be a bug, but could you add a  watch statement to watch the model see if it's getting chaned?

[2020-11-17 01:42] lighter217 commented on #603
值确实会变，但是界面不渲染。
![333](https://user-images.githubusercontent.com/44219413/99329443-3816a100-28b9-11eb-934c-787f0e375141.png)
![444](https://user-images.githubusercontent.com/44219413/99329451-3baa2800-28b9-11eb-84f6-f9d85364fbd4.png)

[2020-11-17 01:51] Angelinanay opened #607 "el-dialog缺少遮罩层，并且el-dialog打开后没有浮动在页面上"
![image](https://user-images.githubusercontent.com/24545670/99331048-c3446680-28ba-11eb-8ae0-9c61254013ec.png)

[2020-11-17 01:52] Angelinanay commented on #607
![Uploading image.png…]()

[2020-11-17 01:53] Angelinanay commented on #607
![image](https://user-images.githubusercontent.com/24545670/99330821-b32c8700-28ba-11eb-9f64-63004a900555.png)

[2020-11-17 01:56] JeremyWuuuuu commented on #607
Reproducible code please

[2020-11-17 03:05] zazzaz commented on #607
bug 1: lock-scroll by default
bug 2: no el-mask
<img width="1228" alt="image" src="https://user-images.githubusercontent.com/10731096/99341444-d825f780-28c4-11eb-9c63-e608c6eedf5c.png">

[2020-11-17 03:23] zazzaz commented on #606
will do

[2020-11-17 03:52] 12Tall commented on #607
Same issue from my side, but I think it was ok on `^1.0.1-alpha.14`.  Here is the component code:

[code]

<img width="434" alt="issue-el-dialog" src="https://user-images.githubusercontent.com/29416757/99343573-21784600-28c9-11eb-8063-1883b0f823c0.png">

[2020-11-17 07:03] ysfscream opened #608 "Can not use vue-i18n@next"
https://element-plus.org/#/zh-CN/component/i18n

👆 Using the method in the document to configure i18n is invalid.

[2020-11-17 07:11] Shanks333 commented on #608
You can try upgrading to 1.0.1-alpha.15

[2020-11-17 07:16] ysfscream commented on #608
Yes, I am using this version.

[2020-11-17 07:32] zazzaz commented on #608
We will support vue-i18n@next (9.0.0) soon. But we'd like to see it release it's first `rc` version to freeze the public APIs.

[2020-11-17 07:35] ysfscream commented on #608
OK, thanks for your answer, that's sound good!

[2020-11-17 07:45] yumemi-omi opened #609 "DatePicker value isn't reflected into the input form."
[Here](https://codesandbox.io/s/bold-brook-f8esz?fontsize=14&hidenavigation=1&theme=dark) is sample code.
Input value isn't reflected into the input form.

[code]

[2020-11-17 13:03] Lliuxs opened #613 "el-tag 样式写法不规范"
在计算样式的时候有一段
'tagSize' ? `el-tag--${tagSize.value}` : '',
感觉很怪异 这里的tagSize应该是计算得到的tagSize不是常量字符串吧?

[2020-11-17 14:06] denyncrawford opened #614 "Changing locale lang not working"
I'm trying to change the lang to spanish but it doesn't seem to work. The datepicker calendar is loaded on English still.

![2](https://user-images.githubusercontent.com/28849055/99398256-f12da900-28c2-11eb-986e-15bdb42d4bf9.png)

As you can see, the script is proerly loaded at the resources tab on left, but nothing change.

I'm using Rollup, so this is my `rollup.config.js` where I'm replacing th

[2020-11-17 15:35] yumemi-omi commented on #614
I faced the same issue. Once I updated `1.0.1-alpha.15`, resolved an issue.
So it might be worth checking `element-plus` version you use.

[2020-11-17 15:46] JeremyWuuuuu commented on #614
I believe that we have some deficient in the locale system. We will fix that ASAP

[2020-11-17 15:48] JeremyWuuuuu commented on #607
Thanks for providing detailed code. I will dig into it and try to fix it ASAP

[2020-11-17 15:48] denyncrawford commented on #614
@yumemi-omi Nice, I updated to `1.0.1-alpha.15` and the locale work just fine. So, @JeremyWuuuuu that was my fault, but it is still not rendering de date on the view :/

[2020-11-17 15:49] JeremyWuuuuu commented on #613
True this must be a bug the variable reference was accidentally written as a string which is wrong

[2020-11-17 15:52] JeremyWuuuuu commented on #614
I will look into it tomorrow, sorry for kept you waiting. It's kinda late😂

[2020-11-17 15:53] denyncrawford commented on #614
@JeremyWuuuuu Don't worry hahaha. Thank u!

[2020-11-18 01:51] em2046 commented on #537
in alpha.15 with vite

import { Message } from "element-plus/lib/message";

Uncaught (in promise) SyntaxError: The requested module '/@modules/element-plus/lib/utils/util.js' does not provide an export named 'isVNode'

[2020-11-18 02:16] zazzaz commented on #614
The locale issue should have been fixed in `1.0.1-alpha.15`.

As for locale related to date time picker and calendar, there's a slight difference than Element 2.0 that we use Day.js's locale. This could make the translation much more accurate and supports more locales out of the box.

Please try the code below:
[code]

Ref: https://day.js.org/docs/en/i18n/i18n

[2020-11-18 02:39] em2046 opened #615 "Drawer can not show select options"
el-drawer__wrapper has z-index: 2005; look like a dynamic z-index
and
.el-popper only has z-index: 2000;
![select](https://user-images.githubusercontent.com/10690832/99475765-2fda6680-298a-11eb-9071-120e4ddb951c.png)

[2020-11-18 02:41] JeremyWuuuuu commented on #615
True, I did not integrate popper with dynamic `z-index` yet, I'll fix this in next version, sorry for the inconvenience.

[2020-11-18 06:39] PumpkinCheshire opened #617 "Cannot use v-for on el-tab-pane"
As shown in Documents:

https://element-plus.org/#/en-US/component/tabs

[code]

Tabs will not be shown.

![Screenshot_20201118_173831](https://user-images.githubusercontent.com/30663626/99494367-fd9a2a80-29c4-11eb-802c-eba1a12b9a67.png)

Same problem in my local project.

[2020-11-18 07:39] bastarder commented on #617
@PumpkinCheshire  Thanks!
this is a bug , i use wrong `Fragment`, i will fix this bug in next version.

[2020-11-18 08:02] #617 closed

[2020-11-18 08:45] cn-Meepo opened #620 "When I import element-plus,vite will not be reload"
When I import element-plus,vite will not be reload

[2020-11-18 09:03] zazzaz commented on #620
You can check this as a reference https://github.com/element-plus/element-plus-vite-starter

[2020-11-18 09:05] zazzaz commented on #606
Any demo code please?

[2020-11-18 09:12] zazzaz commented on #603
@lighter217 can you provide a reproduction repo, please. It looks ok on my side.

<img width="382" alt="image" src="https://user-images.githubusercontent.com/10731096/99509738-215b7180-29c1-11eb-8d95-bad665e4486a.png">

[code]

[2020-11-18 09:14] zazzaz commented on #604
Looks OK with our demo code
https://element-plus.org/#/en-US/component/menu

Can you provide more details? A screenshot or demo code will be great.

[2020-11-18 09:46] iamkun commented on #581
https://codepen.io/iamkun/pen/YzWMaVr

You can check this example as a reference.

[2020-11-18 09:53] cn-Meepo commented on #620
@zazzaz this item also can not be reload

[2020-11-18 10:10] zazzaz commented on #620
This is an interesting bug.

I tried myself and it seems something has blocked the hot module replacement in Vite.

Not sure if it is a bug in Vite or in Element Plus.

Will keep an eye on it.

[2020-11-18 10:16] #534 closed

[2020-11-18 10:17] zazzaz commented on #575
the umd bundle in `element-plus@1.0.1-alpha.15` should have fixed this issue

[2020-11-18 10:41] zazzaz commented on #596
Hi, you can check this answer as a reference https://github.com/element-plus/element-plus/issues/581#issuecomment-729562200

[2020-11-18 10:53] denyncrawford commented on #606
This is my datepicker component:
![code](https://user-images.githubusercontent.com/28849055/99520453-debe7880-2971-11eb-8519-25551d80d7ea.png)
![code](https://user-images.githubusercontent.com/28849055/99520776-4d033b00-2972-11eb-8447-e171614ff828.png)
And as you can see, a date is selected but no data is showed on the input.
And this is the time picker:
[code]
And the error message is the one abo

[2020-11-18 10:57] zazzaz commented on #606
Can you please try the code in this answer? https://github.com/element-plus/element-plus/issues/603#issuecomment-729542874

I've tested it and seems fine

[2020-11-18 10:58] zazzaz commented on #516
fixed in element-plus@1.0.1-alpha.15

[2020-11-18 10:58] #516 closed

[2020-11-18 10:58] zazzaz commented on #515
fixed in element-plus@1.0.1-alpha.15

[2020-11-18 10:58] #515 closed

[2020-11-18 11:41] denyncrawford commented on #606
Nope. It didn't work like that either :/.

[2020-11-18 14:14] #613 closed

[2020-11-18 14:15] #581 closed

[2020-11-18 14:18] #602 closed

[2020-11-18 16:12] wjkang opened #625 "vite build error"
win10
node v10.19.0
vite v1.0.0-rc.8
- Building production bundle...
- Building production bundle...
[vite] Build errored out.
{ Error: Unexpected token
    at error (H:\Github\element-plus-vite-starter\node_modules\rollup\dist\shared\rollup.js:5253:30)
    at Module.error (H:\Github\element-plus-vite-starter\node_modules\rollup\dist\shared\rollup.js:9821:16)
    at tryParse (H:\Github\element-plu

[2020-11-19 00:58] lighter217 commented on #603
still not working.
![777](https://user-images.githubusercontent.com/44219413/99606763-5dd0b100-2a45-11eb-8993-d0764ebb7629.png)
![888](https://user-images.githubusercontent.com/44219413/99606768-5f9a7480-2a45-11eb-81db-ecb433fcdf86.png)

[2020-11-19 01:38] xiaoxian521 opened #626 "Vite allows the project to fail"
hello, i install element-plus@lastest but i use vite run project， It doesn't work
tip: Use of eval is strongly discouraged, as it poses security risks and may cause issues with minification

[2020-11-19 01:39] xiaoxian521 commented on #626
I think it may be that some code in element plus has affected vite's

[2020-11-19 01:56] SLin0218 opened #627 "Row Col 无法按需引入"
`* element-plus/lib/col in ./src/plugins/element.ts`

[2020-11-19 01:56] qq282126990 commented on #596
this is ok, ty，I am running my vue3 plugin normally

[2020-11-19 02:04] zazzaz commented on #596
cool

[2020-11-19 02:04] #596 closed

[2020-11-19 02:05] zazzaz commented on #626
I will double-check the code, as for now, you can check this as a reference https://github.com/element-plus/element-plus-vite-starter

[2020-11-19 06:20] xiaofeng-bm commented on #627
![Snipaste_2020-11-19_14-19-17](https://user-images.githubusercontent.com/45890549/99628996-3d6b1b80-2a72-11eb-9c24-e113f1616c8c.png)
路径不对，element-plus吧el-col和el-row放到了layout目录下

[2020-11-19 07:35] zazzaz commented on #501
1. I do think we've missed some logic related to `rightWrapperChildren`. Thanks.

[2020-11-19 09:45] buaazs opened #629 "Pagination size UI not update while page-size prop changed"
Seems the internal size value has updated, but the UI not

[2020-11-19 09:47] zazzaz commented on #627
Thanks, we will fix this bug in the next few days in #630

[2020-11-19 09:48] zazzaz commented on #583
We will fix this bug in the next few days in #630

[2020-11-19 09:49] zazzaz commented on #571
Thanks, we will fix this bug in the next few days in #630

[2020-11-19 09:50] zazzaz commented on #523
Thanks, we will fix this bug in the next few days in #630

[2020-11-19 11:15] Ryan2128 commented on #629
Can you provide your version and a reproduction ?

[In my test](https://codesandbox.io/s/rough-shadow-zepnm?file=/src/App.vue), it worked well in `1.0.1-alpha.15`.

[code]

[2020-11-19 13:44] #629 closed

[2020-11-19 16:00] JeremyWuuuuu opened #633 "[Bug] [Website] Demo box `try it` section tooltip seems weird"
The demo box's tooltip seems odd but the rest tooltips seems to be just fine. I believe this is a bug which needs to be fixed
![image](https://user-images.githubusercontent.com/15975785/99690550-3c160f00-2ac3-11eb-8611-5559dc515ae1.png)

[2020-11-19 16:06] JeremyWuuuuu commented on #607
Oh, BTW, I was planing to remake `Dialog` Component myself, this should take some time, I will remake this one before the next weekend. This might take a while.

[2020-11-19 16:07] JeremyWuuuuu commented on #614
@zazzaz updates?

[2020-11-19 16:08] JeremyWuuuuu commented on #606
So the binding seems good, but the value was not presented to the view, it needs to be fixed ASAP

[2020-11-19 16:09] JeremyWuuuuu commented on #606
We are already looking into this issue, will fix this one in a short time

[2020-11-19 16:11] JeremyWuuuuu commented on #570
Can we close this issue now?

[2020-11-19 16:14] JeremyWuuuuu commented on #603
Could you tell us which version of `vue` you were using? We had an investigation in which we believe this issue relates to the the change of `vue` because this repo is depending on version `3.0.0`

[2020-11-19 16:14] JeremyWuuuuu commented on #603
duplicate with #614

[2020-11-19 22:45] denyncrawford commented on #606
Thank you guys, I'll be up to test it when is ready!!

[2020-11-19 22:52] denyncrawford commented on #614
I'm using the 1.0.1-alpha.15 and it works prefectly. Thanks guys! Closing this issue.

[2020-11-19 22:52] #614 closed

[2020-11-20 01:03] lighter217 commented on #603
i'm using `vue 3.0.0` and `element-plus 1.0.1-alpha.15`
![zzzz](https://user-images.githubusercontent.com/44219413/99742791-30503a00-2b0f-11eb-808f-7fa036791255.png)

[2020-11-20 02:04] #615 closed

[2020-11-20 03:10] #570 closed

[2020-11-20 06:18] ZzqiZQute commented on #603
This issue happens because there is an issue in `@vue/babel-helper-vue-transform-on` package, it just convert the first character to upper case, but like some events in `element-plus`, such as `set-picker-option`, the helper change it to `onSet-picker-option`, but `vue3` will only recognize `onSetPickerOption`, so some events does not trigger when you use the build version.

[2020-11-20 06:26] ZzqiZQute opened #637 "Multiple select show weird tags when options load after dropdown list showed."
Reproduction repo: https://github.com/ZzqiZQute/element-plus-select-options-issue.git

When options are loaded in the `visible-change` event where visible is true, if I select the second option, the other options tag before this option shows weirdly.

![image](https://user-images.githubusercontent.com/39512431/99766629-6eb01e00-2b3c-11eb-9523-0af9b44c61d7.png)

[2020-11-20 08:01] kooriookami opened #638 "Some small things"
Hey, it's me again. I find some small things this time.
1. `Select` seems has two panel when animating. And the shadow is heavier than other popver. The small triangle is bigger than others.
![image](https://user-images.githubusercontent.com/38392315/99771728-8db2ae00-2b44-11eb-8928-e3db07dae222.png)![image](https://user-images.githubusercontent.com/38392315/99771787-a622c880-2b44-11eb-99b5-d70aaf

[2020-11-20 08:07] JeremyWuuuuu commented on #638
Thanks for raising this issue!
One thing that I wanted to ask is which version of `EP` and `Vue` you are current using?
Could you provide me some information?
Or this is what you found in the documentation website?

[2020-11-20 08:09] JeremyWuuuuu commented on #638
This is definitely helpful for making this product better!

[2020-11-20 08:11] JeremyWuuuuu commented on #638
For the first issue I think @SimonaliaChen had a fix last month to fix this by adding `transform-origin` in order to the the animation ordering correct.

[2020-11-20 08:18] JeremyWuuuuu commented on #638
Recording for the `Popover` issue, seems that it can be correctly responded by blurring out of focus.
![Screen Recording 2020-11-20 at 4 13 57 PM](https://user-images.githubusercontent.com/15975785/99776515-ea659700-2b4b-11eb-97d8-7381195aa06b.gif)

[2020-11-20 08:18] kooriookami commented on #638
Yes, I just found in the doc at this stage. When the version is stable, I will use it in some projects and find other problems.

[2020-11-20 08:20] kooriookami commented on #638
I compared it with element 2.x. Version 2.x when mouse click and release, it will close.

[2020-11-20 08:21] JeremyWuuuuu commented on #638
On the 3rd issue is definitely a regression issue, I'll make sure it's fixed.

[2020-11-20 08:23] JeremyWuuuuu commented on #638
Yep, I just double checked with the v2 version, I believe v2 version is handling this with `mousedown` an `mouseup`, in this case `focus` is supposed to stay focus on ONE element before user move focus to the others, I think the v2 version is somehow wrong.

[2020-11-20 08:27] kooriookami commented on #638
I agree v3 can do better. Some break changes are inevitable.

[2020-11-20 08:28] JeremyWuuuuu commented on #638
This one is checked as a bug.

[2020-11-20 08:29] JeremyWuuuuu commented on #638
Yep, I think I need to mention the change on documentaion

[2020-11-20 08:36] JeremyWuuuuu commented on #638
So for (2), I am sure that this one is somehow related to a PR I made recently #597. This needs to be properly discussed, I wasn't expecting this to be happened, this should be covered in tests I believe.
Also cc @zazzaz we need to find another way to fix the issue.
For (3), because that we have took a bold upgrade on the `vue-popper`'s core dependency `@popperjs`, now `@popperjs` will reposition

[2020-11-20 08:37] JeremyWuuuuu commented on #638
So we have 4 problems here to fix. Thanks again for filing up this issue

[2020-11-20 08:41] kooriookami commented on #638
Thank you as well.

[2020-11-20 08:43] buaazs opened #639 "v-loading not unwrap ref"
Template: <el-table  v-loading="loading" ...
loading is from inject:  inject: ['loading']
In parent component provide:
 provide() {
      return {
        loading: computed(()=>this.loading)
      }
 }
The loading prop from provided is not working. Instead I have to create a new variable vloading to make it work:
<el-table  v-loading="vloading" ...
watch: {
      ['loading.value'](val, old){

[2020-11-20 09:05] JeremyWuuuuu commented on #639
So, first thing of all, you **DO NOT MIX OPTIONS WITH COMPOSITION API**. This is the basic principle I think.
If you wish to get property from the upper layer. With `provide/inject` it should work fine.
in `parent.vue` you either do something like this:
[code]
or

[code]

[2020-11-20 09:09] bastarder commented on #639
agree with @JeremyWuuuuu ，
if you must use composition API in option mode, you shoud use `v-loading="loading.value"` not `v-loading="loading"` in child components, but i don't recommend it

[2020-11-20 09:15] JeremyWuuuuu commented on #639
NOTE that there are differences between Provide Option API and Provide Composition API

[2020-11-20 09:24] JeremyWuuuuu commented on #639
AS @bastarder mentioned. If you are using [provide option API](https://v3.vuejs.org/api/options-composition.html#provide-inject), and you have provided a `ComputedRef` down to the children, you will need to adding `.value` on the property in order to get it work. because you are actually providing a `ref`, instead of a `reactive`.

[2020-11-20 09:25] JeremyWuuuuu commented on #639
I am closing this issue due to it is not a bug of `ElementPlus`, feel free to reopen it.

[2020-11-20 09:25] #639 closed

[2020-11-20 12:29] Ryan2128 commented on #637
Thanks, it will be fixed soon.

[2020-11-20 20:43] toramanlis commented on #436
You can import `element-plus/lib/message`

[2020-11-21 01:01] ccfish86 commented on #436
[code]
like this.
and full example 'https://github.com/ccfish86/demo-vue3/blob/master/element-plus/src/api/request.ts#L9'

[2020-11-21 02:32] zazzaz commented on #436
we have fixed this in #630 and will be available in the next release

[2020-11-21 02:51] OLetsGame commented on #171
加油，献上 star 支持一下，会持续关注！

[2020-11-21 03:04] #637 closed

[2020-11-21 03:56] buaazs commented on #639
Thank you all. It's very kind of you all. Indeed I'm new to vue3 and not familiar with the reactive/ref/computeRef ...

[2020-11-21 06:16] docming opened #644 "vue3 warn"
vue3.0 corejs3.6.5
runtime-core.esm-bundler.js?5c40:38 [Vue warn]: A plugin must either be a function or an object with an "install" function.

DevTools failed to load SourceMap: Could not load content for webpack://ElementPlus/node_modules/async-validator/dist-web/index.js.map: HTTP error: status code 404, net::ERR_UNKNOWN_URL_SCHEME

DevTools failed to load SourceMap: Could not load content for

[2020-11-21 06:21] #644 closed

[2020-11-21 06:21] JeremyWuuuuu commented on #644
Can you provide a minimal reproducible repo or link for us to investigate?

[2020-11-21 07:11] docming opened #646 "LostSourceMap"

[2020-11-21 07:12] docming opened #647 "Lost Webpack SourceMap"
DevTools failed to load SourceMap: Could not load content for webpack://ElementPlus/node_modules/mitt/dist/mitt.es.js.map: HTTP error: status code 404, net::ERR_UNKNOWN_URL_SCHEME

DevTools failed to load SourceMap: Could not load content for webpack://ElementPlus/node_modules/async-validator/dist-web/index.js.map: HTTP error: status code 404, net::ERR_UNKNOWN_URL_SCHEME

[2020-11-21 07:23] #646 closed

[2020-11-21 11:11] #633 closed

[2020-11-21 12:28] JeremyWuuuuu commented on #647
Could you describe your issue more with more details? Also please attach the minimal reproducible code for us to investigate.

[2020-11-22 02:20] yumemi-omi commented on #609
No response?

[2020-11-22 03:52] JeremyWuuuuu commented on #609
Sorry kept you waiting, I am currently investigate this bug, hopefully I can make a fix for this bug.

[2020-11-22 07:46] #607 closed

[2020-11-22 07:46] #638 closed

[2020-11-22 07:48] zazzaz commented on #609
This is might be related to this https://github.com/element-plus/element-plus/issues/603#issuecomment-730878604

[2020-11-22 11:04] JeremyWuuuuu commented on #638
@kooriookami I think all the problems except `Select` animation has already been solved, and will be released in the next version. cc @SimonaliaChen she is going to fix that issue later.

[2020-11-22 11:05] JeremyWuuuuu commented on #647
Unless you can provide us more detailed informations to investigate, we are not be able to help you with your problem, I am closing this issue due to no further response, feel free to reopen it if you have more informations to provide.

[2020-11-22 11:05] #647 closed

[2020-11-22 11:50] JeremyWuuuuu commented on #609
I have tried to reproduce this on my machine which is on MacOS Big Sur 11.0.1 (20B29)
And I am working on `Vue` with version 3.0.2.
![image](https://user-images.githubusercontent.com/15975785/99902744-0ce9e280-2cfb-11eb-82bd-1078f8a87e42.png)
Everything seems working fine on my machine, but somehow on the `CodeSandBox` link you provided it didn't.

[2020-11-22 11:55] JeremyWuuuuu commented on #603
True, I tried it with `Dev` mode, it worked just fine, on `Prod` mode, this gets tricky.

[2020-11-22 12:19] yumemi-omi commented on #609
Thank you for confirming it.
I see, let me try again. And inform you of result later.

[2020-11-22 13:18] JeremyWuuuuu commented on #609
According to #603, the root cause should be the compiler which compiles the code unexpectedly, we will make a work around for this issue

[2020-11-22 15:16] zazzaz commented on #583
fixed in 1.0.1-alpha.18

Now you can use
[code]

[2020-11-22 15:16] #583 closed

[2020-11-22 15:17] zazzaz commented on #523
fixed in 1.0.1-alpha.18

[2020-11-22 15:17] #523 closed

[2020-11-22 15:19] zazzaz commented on #436
fixed in 1.0.1-alpha.18

Now you can use
[code]

Docs will be updated shortly

[2020-11-22 15:19] #436 closed

[2020-11-22 16:30] NO-MAP opened #652 "[bug report] component: el-pagination"
i'm using el-pagination component.
[code]

i found that 'v-model:pageSize' didn't work.

in element-plus package, i find some code:
[code]
which means it should work.

by the way, i am using the latest version.
[code]

[2020-11-23 01:56] zazzaz commented on #625
Hi, can you please try this latest version to see if it works `1.0.1-alpha.18`?

[2020-11-23 02:07] wjkang commented on #625
@zazzaz  It's not woks, same error

[code]

[2020-11-23 02:24] JeremyWuuuuu commented on #652
[code]

These code should not work since `update:currentPage` should be updated as `updateModel:currentPage`.

[2020-11-23 02:25] JeremyWuuuuu commented on #652
I will fix this in the next version. Sorry for the inconvenience.

[2020-11-23 03:03] JeremyWuuuuu commented on #473
This should be fixed in #650 closing due to it's fixed.

[2020-11-23 03:03] #473 closed

[2020-11-23 03:04] JeremyWuuuuu commented on #604
Any updates? @fyzhu

[2020-11-23 03:05] JeremyWuuuuu commented on #571
This should be fixed in `alpha-18` you might try it out.

[2020-11-23 03:05] JeremyWuuuuu commented on #524
Fixed in #650

[2020-11-23 03:05] #524 closed

[2020-11-23 03:08] JeremyWuuuuu commented on #427
@kooriookami what about people using polyfills? This change might break their code. But I think the idea is correct, we might just say we are no longer support IE11.

[2020-11-23 03:19] RicardoWL opened #654 "级联选择器(cascader)无法初始化选项"
使用v-model:value无法初始化选项
控制台出现
[Vue warn]: Extraneous non-props attributes (value) were passed to component but could not be automatically inherited because component renders fragment or text root nodes.

版本号`1.0.1-alpha.18`

[2020-11-23 04:38] kooriookami commented on #427
What I described was one way. The finally goal is to ensure that the style is accurate. Especially the `color-picker`, there is a large blank in the form.

[2020-11-23 05:33] docming opened #655 "DevTools failed to load SourceMap"
not sure this is a bug or not

DevTools failed to load SourceMap: Could not load content for webpack://ElementPlus/node_modules/mitt/dist/mitt.es.js.map: HTTP error: status code 404, net::ERR_UNKNOWN_URL_SCHEME

DevTools failed to load SourceMap: Could not load content for webpack://ElementPlus/node_modules/async-validator/dist-web/index.js.map: HTTP error: status code 404, net::ERR_UNKNOWN_URL_SC

[2020-11-23 05:37] JeremyWuuuuu commented on #655
We have met this warning as well. And I think we need to check it out why is this happening, but this won't have any impact on how the code works, by it might somehow stuck users from being able to debugging into `mitt` or `async-validator`.
BTW, are you using `vite` as bundler?

[2020-11-23 05:39] JeremyWuuuuu commented on #654
Could you provide us with a minimal reproducible code for verifying the bug?

[2020-11-23 05:40] JeremyWuuuuu commented on #501
I'll look into this.

[2020-11-23 06:14] RicardoWL commented on #654
@JeremyWuuuuu [https://github.com/RicardoWL/cascader-test.git](url)

[2020-11-23 06:22] JeremyWuuuuu commented on #654
Well, because of the change of `Vue` itself, now that users only need to use `v-model` to pass down the value to the component, adding an arg named `value` is redundant so that was not supported right now, checkout on the official documentation [Cascader#attributes](https://element-plus.org/#/cascader-attributes)

[2020-11-23 06:32] RicardoWL commented on #654
But it also did not initialize the selection with `v-model`

[2020-11-23 06:34] JeremyWuuuuu commented on #654
It did, check this out [Codesandbox](https://codesandbox.io/s/mystifying-payne-insqf?file=/src/App.vue)

[2020-11-23 06:36] JeremyWuuuuu commented on #400
This is now fixed.

[2020-11-23 06:36] #400 closed

[2020-11-23 06:46] RicardoWL commented on #654
Well....
When will it be fixed?..

[2020-11-23 07:26] zazzaz commented on #627
this has been fixed in `1.0.1-alpha.20 `

Note, we have change the name with an `el-` prefix for each component.

The code should be written as blew:
[code]

[2020-11-23 07:26] #627 closed

[2020-11-23 07:30] zazzaz commented on #571
this has been fixed in `1.0.1-alpha.20 `

Note, we have change the name with an `el-` prefix for each component.

The code should be written as blew:
[code]

[2020-11-23 07:30] #571 closed

[2020-11-23 07:31] zazzaz commented on #475
fixed, thanks

[2020-11-23 07:31] #475 closed

[2020-11-23 08:22] docming commented on #655
I'm using the Vuecli@4.5.9

[2020-11-23 09:18] Pixelairport opened #659 "Use of eval is strongly discouraged, as it poses security risks and may cause issues with minification"
When I do 'npm run dev' in my vue 3 app created with vite i get a lot of messages: "Use of eval is strongly discouraged, as it poses security risks and may cause issues with minification" before app is started.

[2020-11-23 09:28] JeremyWuuuuu commented on #654
I am going to take a look tonight, it should be quick.

[2020-11-23 09:30] RicardoWL commented on #654
Thanks.

[2020-11-23 09:36] weiyuc opened #661 "`select` component `size` property not working when set `multiple`"
[code]
expect: el-select height = 28px
in fact: el-select height = 40px

[2020-11-23 09:39] iamkun opened #662 "A donation to Element Plus"
Because Element's main development team has been acquired by a large corporation, which does not use donations, Element hereby transfers all its received donations to Element Plus.

Thanks to all the financial contributors that helped us. See them here https://opencollective.com/element

Feel free to close this issue if you get this message.

Cheers.

[2020-11-23 11:42] Ryan2128 commented on #661
Can you provide you version? In my test, it works well.

[DEMO](https://codesandbox.io/s/prod-architecture-q90jz?file=/src/App.vue)

[2020-11-23 14:16] JeremyWuuuuu commented on #659
Hey @Pixelairport, could you provide some code for us to investigate? This could be caused by the configuration of `Vite`. Might be caused by referencing the wrong bundle. cc @zazzaz , can you take a look?

[2020-11-23 14:38] Pixelairport commented on #659
Of course. I also tested your code at https://github.com/element-plus/element-plus-vite-starter. This also have the problem. I donwload it, do npm install and then npm run dev and then I get the problem.

[2020-11-23 14:42] JeremyWuuuuu commented on #659
I think that's a problem with the `Vite` configuration which referenced a wrong package(the minified one). Are you running this in dev mode? Or prod mode? If you are running it in dev mode then it verifies my assumption, if not, then we need to figure out what is going on, I asked @zazzaz to look at this issue, we will make sure this will be fixed in a short time. Sorry for the inconvenience.

[2020-11-23 14:42] JeremyWuuuuu commented on #659
Also cc @zouhangwithsweet.

[2020-11-23 14:45] JeremyWuuuuu commented on #652
@NO-MAP Hi, can you tell me which version of `Vue` you are using?

[2020-11-23 14:49] NO-MAP commented on #652
my package.json shows
[code]

[2020-11-23 14:57] JeremyWuuuuu commented on #652
Could you run command on the root path of your project
[code]
Then paste the result here? Thanks.

[2020-11-23 15:02] NO-MAP commented on #652
as follows:
[code]

[2020-11-23 15:04] JeremyWuuuuu commented on #652
got it thanks

[2020-11-23 15:10] NO-MAP commented on #652
i am not sure if this can help you:

in the package code,

https://github.com/element-plus/element-plus/blob/41655b6847f23525ad6ceb2fff98cb146df5f32c/packages/pagination/src/index.ts#L128

'internalCurrentPage.value' has the watchEffect function to emit 'update:currentPage'

but nowhere to emit 'update:pageSize'

[2020-11-23 15:30] JeremyWuuuuu commented on #652
Yep, so I did some investigation on the code, and had my conclusion about this bug.
1. There was a design mistake of modeling `pageSize` on version 2.x, which did emitted update:pageSize but no one is using it.
2. When user uses `Vue` with version greater than `3.0.0` e.g. `3.0.2`, a change of event emitting has been made internally in `Vue`, so events which were supposed to work is not working an

[2020-11-23 16:04] JeremyWuuuuu commented on #652
I am going to fix the issue which causes `v-model:pageSize` not updating to the upper layer, but the bug of `Vue` itself should be fixed in the next release.

[2020-11-23 16:07] Pixelairport commented on #659
I really like your library so i dont have inconvenience :) Im glad that someone takes the time and does a library like that. Dev mode shows the info "Use of eval is strongly discouraged, as it poses security risks and may cause issues with minification", but it seems to work and shows the button with counter which is included in the vite starter. When I do npm run build it crashes. I just dowloade

[2020-11-23 16:07] NO-MAP commented on #652
i am looking forward it. thanks.

[2020-11-23 16:07] NO-MAP commented on #652
i am looking forward it. thanks.

[2020-11-23 16:19] JeremyWuuuuu commented on #659
Well, this is definitely something we need to take a look since we need to blend in with `Vue` eco-system, Let's see what we can do for this issue. I'll keep you notified when we fix it.

[2020-11-23 22:05] ntgraph opened #665 "Can not import libray on demand"
I have followed import library on demand in Vue 3 project.  There are too many errors that npm run serve won't finish.  Can you please revise the documentation ?
Then I can not test the internationlization.

[2020-11-24 00:06] xiaogemm commented on #603
是的，确认就是这个问题，将index.js中的onSet-picker-option修改为onSetPickerOption后一切正常

[2020-11-24 00:44] ntgraph opened #666 "Select - not displaying label, display id instead"
Select should display label, but it display value.  This happen where there are multiple select and multiple sources on the same page.

[2020-11-24 01:01] JeremyWuuuuu commented on #666
Could you give us a minimal reproducible code and a screenshot plz?

[2020-11-24 01:07] JeremyWuuuuu commented on #665
Cc @zazzaz , well we need a minimal reproducible repo or link in order to make further invetisgation. Could you help with that?

[2020-11-24 01:39] Ryan2128 commented on #666
Do you mean this? #637

[2020-11-24 01:47] zazzaz commented on #665
@ntgraph I've double-checked our docs and confirm it is the updated version. Also, please make sure you are using the latest release, which is `1.0.1-alpha.20` at the moment.

If the problem continues, please provide a reproduction repo or demo code or some error message.

[2020-11-24 01:47] weiyuc commented on #661
it not working on latest version,
[demo](https://codesandbox.io/s/wizardly-framework-hx5y4?file=/src/App.vue)

[2020-11-24 02:05] zazzaz commented on #661
The problem finally becomes, a select component inside a form does not size correctly.

[2020-11-24 02:15] JeremyWuuuuu commented on #661
Then this is some bug that we need to fix. Assigning it to me.

[2020-11-24 02:48] #654 closed

[2020-11-24 02:51] JeremyWuuuuu commented on #626
The might related to #659

[2020-11-24 02:52] JeremyWuuuuu commented on #620
This might have something to do with #659

[2020-11-24 02:56] JeremyWuuuuu commented on #625
This could be related to #659 , I think its configuration error.

[2020-11-24 03:07] JeremyWuuuuu commented on #603
So this is confirmed as a bug caused by `Vue` for those of you tries to solve this bug, simply lock the `Vue` version at exact `3.0.0`, this issue will be gone, until then, we have no idea how the API would go. From my understanding, since they have already officially released the API they made should stay still instead of making drastic changes like this, as a side effect they broke our functiona

[2020-11-24 03:11] JeremyWuuuuu commented on #603
Linking this to https://github.com/vuejs/vue-next/issues/2540

[2020-11-24 03:11] JeremyWuuuuu commented on #609
Linking this to https://github.com/vuejs/vue-next/issues/2540

[2020-11-24 03:13] JeremyWuuuuu commented on #487
@vok123 Try it out with `alpha-20`.

[2020-11-24 03:17] em2046 opened #667 "Uncaught (in promise) SyntaxError: The requested module '/@modules/element-plus.js' does not provide an export named 'ElMessage'"
https://element-plus.org/#/en-US/component/message
Local import
import { ElMessage } from 'element-plus';

error: Uncaught (in promise) SyntaxError: The requested module '/@modules/element-plus.js' does not provide an export named 'ElMessage'

if using
import ElMessage from 'element-plus/lib/el-message';
error: Uncaught (in promise) SyntaxError: The requested module '/@modules/element-plus/lib/uti

[2020-11-24 03:45] xiaogemm commented on #603
这就很奇怪了。我之前 Vue版本是3.0.0。是有这个问题的。换成3.0.2。问题同样存在
现在只能先用着了。同步更新版本（Vue和element+），要是有问题就先修改。直到不需要修改就可以使用。好在这个改动不太大

这个就更奇怪了。codesandbo中vue版本3.0.0和3.0.2表现是不一致的，但我本地两个版本下表现一致。当然，我测试的只是组件内部默认行为：`<el-date-picker
      v-model="value1"
      type="date"
      format='YYYY-MM-DD'
      placeholder="选择日期">
    </el-date-picker>`
另外：DatePicker返回值只能是Date对象，之前的valueFormat弃用了吗？

[2020-11-24 05:42] zazzaz commented on #662
thanks

[2020-11-24 05:42] #662 closed

[2020-11-24 06:33] zazzaz commented on #667
This might be Vite bug, ref here https://github.com/vitejs/vite/pull/837.

You can use Webpack bundle at this moment before Vite fix it.

[2020-11-24 06:33] zazzaz commented on #655
will fix this soon in #668

[2020-11-24 06:36] kooriookami opened #669 "Global css may change component style"
[code]
When I add these style. `box-sizing: border-box` cause the different circle size. `word-break: break-word` cause the text error. Is it worth improving?
![image](https://user-images.githubusercontent.com/38392315/100056815-489ebc80-2e61-11eb-9d9e-9e73a6b53ee0.png)
![image](https://user-images.githubusercontent.com/38392315/100056850-53595180-2e61-11eb-9881-9368b7f1c4aa.png)

[2020-11-24 06:38] zazzaz commented on #659
will fix it soon

[2020-11-24 06:53] zazzaz commented on #626
will fix soon

[2020-11-24 06:53] zazzaz commented on #620
will fix soon

[2020-11-24 06:58] #620 closed

[2020-11-24 06:58] #659 closed

[2020-11-24 07:12] kooriookami opened #671 "Bug with el-image"
[code]
![image](https://user-images.githubusercontent.com/38392315/100060033-f8c2f400-2e66-11eb-8bbd-0a3f90920962.png)
When you click the button. It shows an error image. Actually expect a custom error.

[2020-11-24 07:16] NO-MAP opened #672 "[bug report] `el-button` whth loading prop did not work when used in `el-dialog` footer slot."
`el-button` with loading prop did not work when used in `el-dialog` footer slot.

Here is an example:
[code]

[online codesandbox](https://codesandbox.io/s/ecstatic-cache-tyiii?file=/src/App.vue)

i am not sure if it is `elment-plus`'s problem or `vue-next`.

version:
[code]

by the way, `el-message` dom's z-index is lower than `el-dialog`, `el-message` will be covered.

[2020-11-24 07:31] zazzaz commented on #655
fixed in 1.0.1-alpha.21 , thanks

[2020-11-24 07:31] #655 closed

[2020-11-24 07:31] zazzaz commented on #659
fixed in 1.0.1-alpha.21, thanks

[2020-11-24 07:32] zazzaz commented on #626
fixed in 1.0.1-alpha.21, thanks

[2020-11-24 07:32] #626 closed

[2020-11-24 07:32] zazzaz commented on #620
fixed in 1.0.1-alpha.21, thanks

[2020-11-24 07:40] JeremyWuuuuu commented on #671
I dug it up and I find out that the event `onerror` was not event triggered by Image, we need to find a way to fix this issue.
If you change the setter in `click` method to some url which doesn't even exist it will still be the same as an empty link though.

[2020-11-24 07:51] kooriookami commented on #671
When the url changes, I can change a key to refresh the compoent. `<el-image :key="key"></el-image>`

[2020-11-24 07:59] JeremyWuuuuu commented on #671
![image](https://user-images.githubusercontent.com/15975785/100064840-fca64480-2e6d-11eb-8b31-9e67eeb676b4.png)
This is what I've found out on [MDN#Image](https://developer.mozilla.org/zh-CN/docs/Web/API/HTMLImageElement)

[2020-11-24 08:08] kooriookami commented on #671
Well, chrome does not compatible with `onerror`. It seems only `new Image()` can be used.

[2020-11-24 08:11] JeremyWuuuuu commented on #671
I already found a work around on this issue, PR is on the way.

[2020-11-24 08:15] lqsong commented on #667
[code]
tip:
Module '"../../../../node_modules/element-plus/types"' has no exported member 'ElMessage'. Did you mean 'Message'?Vetur(2724)

[2020-11-24 08:16] Cyril5169 opened #676 "希望form组件可以加一个getupdatecolumn方法获取绑定的model中哪些属性被修改了"
希望form组件可以加一个getupdatecolumn方法获取绑定的model中哪些属性被修改了

[2020-11-24 08:17] Cyril5169 opened #677 "希望table组件可以加个新增行，编辑行的扩展"
希望table组件可以加个新增行，编辑行的扩展，保存数据时可以获得哪些行是新增的，哪些行是修改的

[2020-11-24 08:32] 1948037137 opened #678 "el-date-picker 选择以后value值改变了但是视图不显示"
![image](https://user-images.githubusercontent.com/46392442/100068559-ac7db100-2e72-11eb-9c34-67dce194dc59.png)

[2020-11-24 08:45] JeremyWuuuuu commented on #678
See #609
Also See #603

[2020-11-24 08:46] JeremyWuuuuu commented on #678
Closing due to duplication

[2020-11-24 08:46] #678 closed

[2020-11-24 08:46] JeremyWuuuuu commented on #678
This is a bug caused by `Vue`, the simplest way to solve this is to lock your `Vue` version to `3.0.0` instead of using `^` to get the most compatible version.

[2020-11-24 08:48] JeremyWuuuuu commented on #677
Could you specify the requirement? We need to estimate the effort before doing so.

[2020-11-24 08:48] JeremyWuuuuu commented on #676
Could you specify the requirement? We need to estimate the effort before doing so.

[2020-11-24 08:51] JeremyWuuuuu commented on #669
Since the strategy of `ElementPlus` is the same as `ElementUI` we do not want to use `scoped style` for certain reasons, so the users will have to take care of their global style in order to avoid the impact on the UI library, adding `!important` modifier to CSS properties is a **had to** situation when it has to be added. Users sometimes need to styling the component themselves.

[2020-11-24 09:15] bukexuewang opened #680 "希望el-form组件根标签做成自定义"
用render处理根标签根标签，有时候不是用form提交表单，有的时候在table里编辑要用的验证函数，感谢大佬

[2020-11-24 09:24] JeremyWuuuuu commented on #680
You might need give us a demo so that we can estimate the effort on doing it

[2020-11-24 09:27] Cyril5169 commented on #676
例如，我使用el-form编辑一条数据，假如用户没有做任何修改，点击保存，那么我需要知道用户没有修改任何东西，我就不需要做任何处理。如果用户只修改了某个字段的值，那么我只需要告诉后台，只需要修改这一个值即可，而不用所有值都更新一遍。
现在我的处理方式是进入编辑时记录model的值：this.comparativeData = JSON.parse(JSON.stringify(this.model));在保存时判断：Object.keys(this.comparativeData).forEach(key => {
    if (this.model[key] != this.comparativeData[key]) {
        this.updateColumns.push(key);
    }
})

[2020-11-24 09:30] Cyril5169 commented on #677
希望可以增加类似extjs那样的行编辑扩展，配置column的editor类型(input,date,select..)，编辑完成后，通过方法getNewRecords(),getUpdatedRecords(),getRemovedRecords()获得相应的改变

[2020-11-24 09:32] kooriookami commented on #669
I changed global style to body. It still has problems. Is it possible to set default values to element components?
[code]

[2020-11-24 09:38] JeremyWuuuuu commented on #669
This requirement is too specific, fixing this issue would cause another, this is the reason that `ElementPlus` wants to stay neutral. The way of solving this issue is to put the rule out of `.el` scope. you can achieve that via `attributes selector`

[2020-11-24 09:46] Cyril5169 opened #681 "el-menu垂直布局下能否配置同时显示图标和文字"
我通关改变全局样式的方式显示出来了，不知道能否加个配置。因为用户反映只显示图标icon不够直观，不知道是什么功能，必须要显示文字。我添加文字之后是如下图这样的效果，看着还可以，希望能有一个配置
![1](https://user-images.githubusercontent.com/52475487/100077004-ccb26d80-2e7c-11eb-8ba0-6842b549051b.png)

[2020-11-24 09:48] JeremyWuuuuu commented on #681
Issues without a valid reproduction link will be closed directly.

[2020-11-24 09:48] JeremyWuuuuu commented on #681
Sample code should do.

[2020-11-24 09:50] JeremyWuuuuu commented on #681
Also I believe that the doc site has sample like [NavMenu](https://element-plus.org/#/side-bar)

[2020-11-24 09:52] xiaogemm opened #682 "国际化：locale声明文件缺失"
import zhLocale from 'element-plus/lib/locale/lang/zh-cn'
在1.0.1-alpha.18时可正常引入。但1.0.1-alpha.21时声明文件缺失

[2020-11-24 09:54] xiaogemm commented on #682
import zhLocale from 'element-plus/packages/locale/lang/zh-cn'
引入正常

[2020-11-24 09:57] JeremyWuuuuu commented on #682
This could be the the recent packaging strategy. cc @zazzaz

[2020-11-24 09:58] JeremyWuuuuu commented on #682
For now our API is not that stable, we are working on stabilizing the API.

[2020-11-24 09:59] zazzaz commented on #682
will fix it soon

[2020-11-24 10:02] Cyril5169 commented on #681
like this: http://qkapdrpwu.hn-bkt.clouddn.com/el-menu.jpg

[2020-11-24 11:01] kooriookami commented on #669
I found it may be the `slider popover` problem. The same style `word-break: break-word;` cause two effects.
![image](https://user-images.githubusercontent.com/38392315/100085357-e5278580-2e86-11eb-93c2-3b6187a1e54a.png)![image](https://user-images.githubusercontent.com/38392315/100085378-e9ec3980-2e86-11eb-8d48-9d299c610c0e.png)
Left is `slider popover`, right is `popover component`

[2020-11-24 11:21] #680 closed

[2020-11-24 12:17] JeremyWuuuuu commented on #666
I'll close this issue since it's been a while since it's been opened. Feel free to reopen if you have updates on this

[2020-11-24 12:17] #666 closed

[2020-11-24 12:22] #671 closed

[2020-11-24 12:30] xiaogemm commented on #682
这两天有看到快速迭代了好几个版本。已经超出我预期了。像你们这么更新，稳定是早晚的事

[2020-11-24 13:18] xiaogemm opened #683 "Feature suggestion: allow i18n to dynamically update locale"
当前初始引入：
[code]

当前动态切换语言：
我只能在本项目动态切换语言版本时，使用：
`createApp({}).use(ElementPlus, {locale: lang})`
去动态切换，这应该不是最好的处理方法

建议：
可否在use方法中兼容处理至：语言码入参即可动态加载内部语言包，且最好有缓存不会重复加载。例如：
[code]
这样的使用方式，会更便捷。而且处理流程都在内部完成

应用场景是针对项目本身需要动态切换语言时，能动态的同步切换Element+的语言包

------------------------------
另外：/packages/locale/index.ts中
template(),t()两个方法中对option参数无类型申明
use()中 l 参数 无类型申明

[2020-11-24 13:53] zazzaz commented on #683
Haven't tested it myself, but you may try this
<img width="725" alt="image" src="https://user-images.githubusercontent.com/10731096/100103008-5410d880-2e9f-11eb-8dcb-f907bc94bd52.png">

BTW, we will support vue-i18n@next after it's release, and change i18n will be much easier that time

[2020-11-24 14:44] xiaogemm commented on #683
您图片中的方法，和我在上面说的类似。我之所以做以下处理，是因为我在main.ts中是完整引入的ElementPlus，而不是按需引入：
`createApp({}).use(ElementPlus, {locale: lang})`
已经可以达到动态切换的目的

完整引入时，是同时设置一个默认的语言包：createApp(App).use(ElementPlus, { locale })
按需引入时，是先locale.use设置语言包，然后再app.component引入组件；

而我想要的功能是：当我在main.ts中完整引入后，可以在一个切换项目本身语言包的功能（比如一个toggleLang.vue组件）中同步的切换Element+的所有组件语言默认项

我因为嫌i18n在一个文件中配置一个语言所有的语言包资源麻烦，就没用它；使用的是根据自己使用习惯自己写的，用的顺手，小，可控……
`

[2020-11-24 15:06] #672 closed

[2020-11-24 15:17] JeremyWuuuuu commented on #672
With fix in #686 should solve the problem. This will be released in the next version.

[2020-11-24 23:58] ntgraph opened #687 "El-select - in multiple el-select, select not display correctly"
On multiple cascading dropdown ( multiple select) .
Example, on selecting a city in a list, page should display country and province
Country is already preload in state, so the first select display the label correctly.
List of provinces is loaded in mounted cycle when providing the city object, inside this object there is a province id. however it seems like this data list come too late and the se

[2020-11-25 01:15] lqsong opened #688 "Module '"../../../../node_modules/element-plus/types"' has no exported member 'ElMessage'. Did you mean 'Message'?"
[code]
Tips:

Other:
[code]
Tips:

[2020-11-25 01:48] xiaogemm commented on #688
import { Message } from 'element-plus'

[2020-11-25 01:50] lqsong commented on #688
[https://element-plus.gitee.io/#/dan-du-yin-yong](https://element-plus.gitee.io/#/dan-du-yin-yong)

[code]

[2020-11-25 02:33] JeremyWuuuuu commented on #688
This is a issue with typing, instead of the functionality itself, and that was a known issue, and we are planning on fix it in the next release. Thx.

[2020-11-25 02:35] JeremyWuuuuu commented on #688
The error was thrown by `Vetur`, because it cannot find the definition according to the import name, because we have exported the member with a `El` prefix, but no with the `*.d.ts` file, which provides type definition to the component.

[2020-11-25 02:36] JeremyWuuuuu commented on #688
We might have a release tonight, but that won't have any effect on the functionality.

[2020-11-25 02:38] JeremyWuuuuu commented on #687
Issues without a valid reproduction link will be closed directly.
Unless you could provide us a minimal reproducible code, we were not able to help you with that.

[2020-11-25 02:42] JeremyWuuuuu commented on #681
[NavMenu](https://element-plus.org/#/zh-CN/component/menu) just modify the CSS will satisfy your request.

[2020-11-25 02:42] JeremyWuuuuu commented on #665
I'll close this issue since it's been a while since it's been opened. Feel free to reopen if you have updates on this

[2020-11-25 02:42] #665 closed

[2020-11-25 02:57] JeremyWuuuuu commented on #606
UPDATES: if you were using `Vue` with version higher than "3.0.0", then you probably won't get it work since this is a bug from `Vue`, they have made changes against `EventEmitting`, we are not be able to help with that, so for now you might want to stick your `Vue` version to `3.0.0`, remove the `^` symbol from your version field, run `rm -rf node_modules` then bootstrap your project again via `y

[2020-11-25 02:58] JeremyWuuuuu commented on #606
Right now we can only wait until `Vue` fix the bug themselves. You might want to refer to the bug at https://github.com/vuejs/vue-next/issues/2540

[2020-11-25 03:00] JeremyWuuuuu commented on #487
I'll close this issue since it's been a while since it's been opened. Feel free to reopen if you have updates on this

[2020-11-25 03:00] #487 closed

[2020-11-25 03:05] JeremyWuuuuu commented on #687
I think this is a typical `Cascader` situation. Check this out: [Cascader](https://element-plus.org/#/en-US/component/cascader) checkout the `Dynamic loading` section, this could be something you want I suppose.

[2020-11-25 03:06] JeremyWuuuuu commented on #687
I still want you to provide us some sort of code that we can help you better with a demo

[2020-11-25 03:18] Cyril5169 commented on #681
OK~但是如果有个配置就更好了~,thanks.i will colse it

[2020-11-25 03:18] #681 closed

[2020-11-25 03:38] zzs89117920 opened #689 "国际化：ts中引入出错"
import locale from 'element-plus/lib/locale/lang/zh-cn'
在1.0,1-alpha.14时可以正常引入，1.0.1-alpah.21出错

![image](https://user-images.githubusercontent.com/5515847/100180280-c5d63a00-2f12-11eb-8751-eb7291568013.png)

[2020-11-25 04:01] lzq920 commented on #676
我觉得你说的问题跟组件没有关系呢，更像是graphql的做法

[2020-11-25 05:19] JeremyWuuuuu commented on #689
Hey, this is not a functional error, it's typing error, we are planning on fixing it in the next release. The functionality remains the same. You can just ignore the error reported by type checker, in this case, if you wish to compile your code without error, you might need to suppress compiler from being complaining about this.

[2020-11-25 05:27] JeremyWuuuuu commented on #683
So there are 2 ways to manage that.
The 1st one is the most common one I believe which is adding the `language` variable to url, most enterprise use this way to switch between locations, but some of them manage doing this by deploy different servers.
The other way to do so is to keep a global provider as a reactive value, when it changes it causes the entire app to re-render, thus the locale gets

[2020-11-25 05:29] JeremyWuuuuu commented on #683
But since `vue-i18n@next` is not fully stable so that we were not be able to support the functionalities, because as you can see we have making changes of our own APIs. As @zazzaz mentioned we have plan on supporting this but it's just not the right time to do so. No worries, once they are ready, we will be implementing the functionality ASAP.

[2020-11-25 08:37] em2046 opened #690 "[enhancement] Virtual Scroll"
el-table
el-select
Support virtual scroll get better performance

[2020-11-25 08:57] canvascat opened #691 "Unnecessary horizontal scroll bars appear at the bottom of the website"
![image](https://user-images.githubusercontent.com/31235016/100204279-a6550680-2f3e-11eb-9009-162f78e3d629.png)

[2020-11-25 09:15] yokots opened #693 "Select 组件和 Option 组件打包后代码重复及 inject SelectToken 错误"
lib 目录下的 Select 组件已有 Option 组件的代码，但为调用 app.component(script.name, script) 注册 Option 组件。如果单独引入 Option 组件，一个问题是会造成代码的重复引入，一个是 Option 和 Select 组件（编译后的）分别 inject 的是不同的 symbol，运行有错。

[2020-11-25 09:17] lebron112 opened #694 "el-option 使用报错"
![image](https://user-images.githubusercontent.com/20268396/100207882-106faa80-2f43-11eb-8553-c76beda19f2f.png)
![image](https://user-images.githubusercontent.com/20268396/100207907-16658b80-2f43-11eb-8650-0edee93b4b8d.png)
当有数据时报的是 Cannot read property 'optionsCount' of undefined
点击选择时报的是 TypeError: Cannot read property 'emitsOptions' of null
![image](https://user-images.githubusercontent.com/202

[2020-11-25 09:19] JeremyWuuuuu commented on #694
Could you run the command
[code]
And paste the result here?

[2020-11-25 09:25] lebron112 commented on #694
@JeremyWuuuuu  "version": "3.0.2"

[2020-11-25 09:44] JeremyWuuuuu commented on #694
Alright, before I can do the investigation, would you mind providing a demo code or link to us? Without a minimal reproducible mode I might not be able to debug.

[2020-11-25 09:49] SLin0218 opened #695 "Cannot import components on part in typescript projects"
`element-plus@1.0.1-alpha.21`
`vue.3.0.2`

![image](https://user-images.githubusercontent.com/23139501/100209132-77419380-2f44-11eb-8451-f378dec75dd4.png)

If import with the El prefix, the declaration cannot be found.
If don't use a prefix, can't find it in lib

![image](https://user-images.githubusercontent.com/23139501/100209517-f2a34500-2f44-11eb-89c1-aaacb86b800c.png)

export name is not pref

[2020-11-25 09:50] JeremyWuuuuu commented on #695
Duplicate with #689  #688 , will be fixed in the next release.

[2020-11-25 09:51] JeremyWuuuuu commented on #693
Issues without a valid reproduction link will be closed directly.

[2020-11-25 10:01] JeremyWuuuuu commented on #694
This could be related to #693 , what env you were running then? Production (meaning compiled code) or dev (meaning with dev server)

[2020-11-25 10:02] lebron112 commented on #694
@JeremyWuuuuu with dev

[2020-11-25 10:04] JeremyWuuuuu commented on #694
I had a peek on the code I saw this error was caused by:
![image](https://user-images.githubusercontent.com/15975785/100212606-8591ae80-2f48-11eb-8417-417deaaf091f.png)
The line of incrementing `optionsCount`, I will do the further investigation on my machine later. Thank you for being cooperative. I'll fix this ASAP

[2020-11-25 12:49] Jonny-china opened #697 "[Feature Suggestion]: can ElTooltip default inserts to `DocumentBody`"
如果父元素设置了 ` overflow: hidden;` 就会不显示
![image](https://user-images.githubusercontent.com/31563977/100230182-55eea080-2f60-11eb-90f0-262be42c2e0a.png)

[2020-11-25 13:10] JeremyWuuuuu commented on #697
Well, I think it's legit to make the API remain the same as v2 version, sure.
I will make a PR for that.

[2020-11-25 13:12] JeremyWuuuuu commented on #693
cc @zazzaz

[2020-11-25 13:51] ntgraph commented on #666
Here is the code, provinces2 is the sort of data coming back for endpoint.
city.province_id with match the id coming provinces.
If I put provinces2 instead of province, the select display correctly,
but if the select wait for the data to come from the endpoint, there is the problem of display the city.province_id

[code]

[2020-11-25 14:11] ntgraph commented on #687
Here is my code, it works well in Vue 2.6 with Element UI

[code]

[2020-11-25 16:45] NO-MAP opened #698 "app.use(ElementPlus, { size: 'small', zIndex: 3000 }); zIndex did not work."
code:
[code]
view:
![image](https://user-images.githubusercontent.com/25893193/100256447-c0630900-2f7f-11eb-82cd-e3ddeae14f46.png)

and `el-message` will be covered by `el-dialog`
as follows:
![e6b7453eb88357f4db181ac21d05f11](https://user-images.githubusercontent.com/25893193/100256104-50ed1980-2f7f-11eb-97ef-9f6e798ae83c.png)

it seems like the default value 2000 should be more higher.
https://g

[2020-11-26 01:31] lebron112 commented on #694
list changed: Cannot read property 'optionsCount' of undefined
click select: TypeError: Cannot read property 'emitsOptions' of null

[2020-11-26 02:02] JeremyWuuuuu commented on #698
Will be fixed soon.

[2020-11-26 02:02] JeremyWuuuuu commented on #698
Would you mind provide me some sample code?

[2020-11-26 02:04] JeremyWuuuuu commented on #694
Alright, I'm going to try to find the bug and fix it, should not take so long.

[2020-11-26 02:06] JeremyWuuuuu commented on #693
@yokots , we need some code for reproduce this bug. Could you help providing that?

[2020-11-26 03:37] 1948037137 opened #700 "element-plus.org进不去，有什么解决的办法吗"

[2020-11-26 03:39] yokots commented on #693
![lib-el-select](https://user-images.githubusercontent.com/24869428/100305122-56784d00-2fdb-11eb-8bfc-4de4fda2348f.png)
![lib-el-option](https://user-images.githubusercontent.com/24869428/100305142-5f691e80-2fdb-11eb-824f-d81cc4f07d52.jpg)
从代码截图里可以清楚的看出，el-select 生成的代码包含了 el-option 的代码，在单独引入 select 组件时，由于在 install 时未注册 option，会警告找不到 el-option 组件，如果一起引入 select 和 option ，由于 select 和 option 使用不同的 Inj

[2020-11-26 05:18] zazzaz commented on #700
We are working on this to speed up our website networking.

Also, you can visit https://element-plus.gitee.io/ as an alternative, which is faster in China.

[2020-11-26 05:38] JeremyWuuuuu commented on #700
If you can visit .org site you might need to get pass of the GFW, or as @zazzaz said, use [ElementPlus](https://element-plus.gitee.io/) instead, it's hosted inside mainland China.
Closing this issue due to it's not related to the project itself.

[2020-11-26 05:38] #700 closed

[2020-11-26 05:50] JeremyWuuuuu commented on #697
Umm, so I went back to find out why we made this change during the migration: the reason behind making this change is that inserting tooltip to `body` causes performance issue due to the tooltip itself was positioned relatively with its parent, when we insert it to the body, `popperjs`(which is the library we use underneath this whole thing) will try to listen to the global event when the position

[2020-11-26 05:53] JeremyWuuuuu commented on #690
Hi, we will consider adding this feature to our components for better performance, but this should be on hold until we meet our current goal which is an official release.

[2020-11-26 06:25] lebron112 commented on #694
pagination user select that cannot be used to switch page sizes

[2020-11-26 08:15] hsiangleev opened #702 "[Bug Report]: NavMenu bug"
我在使用NavMenu组件配合vue-router的时候，发现使用vue-router在页面跳转的时候，如果跳转的页面的导航条没有打开，会报错，如果跳转的页面的导航条打开了，就不报错了
![https://hsiangleev.github.io/tool/test/images/1.png](https://hsiangleev.github.io/tool/test/images/1.png)

[2020-11-26 08:19] JeremyWuuuuu commented on #702
Could you specify this **BUG 🐛** with a minimal reproducible code or link? I think I already know what you said. But with a demo would be better for us to locate the bug. Thanks.
With reproducible steps would be better. A sample just for your reference:

----
### Reproducible Steps:

1. do something
2. do something.
3. then observe...

[2020-11-26 08:59] hsiangleev commented on #702
@JeremyWuuuuu Sorry, I re-created a project, only introduced element-plus and vue-router, and found that no errors were reported. I am not sure if it is the element-plus problem, let me check again

[2020-11-26 09:28] mexumeng commented on #702
English English English...

[2020-11-26 09:55] Lliuxs commented on #697
我也发现这个东西没出现在body下 看了下你们的注释写的Vue did not support createVNode for Teleport
改成jsx的写法 Teleport好像是生效的
![WX20201126-175510](https://user-images.githubusercontent.com/35122287/100335969-8d1c8a80-3010-11eb-9ab1-4b1c6ece4b0a.png)

[2020-11-26 10:09] Lucas-lululu opened #703 "import { ElNotification } from 'element-plus'"
设置为ts的时候会出现 改为js没有
![image](https://user-images.githubusercontent.com/47276871/100337484-652e2680-3012-11eb-8db7-80356eaf39a2.png)
![image](https://user-images.githubusercontent.com/47276871/100337515-6f502500-3012-11eb-888f-bbce419b7800.png)

[2020-11-26 10:14] Jonny-china commented on #703
我ts类型正常，但是引入的组件是 `undefined `，调用不了，例如 `Message ` 组件，console后打印出 `undefined `

[2020-11-26 10:19] Lucas-lululu commented on #703
yes

[2020-11-26 11:31] NO-MAP commented on #698
sample:

https://codesandbox.io/s/quiet-rgb-2fv46?fontsize=14&hidenavigation=1&theme=dark

when i use mutilple dialogs, the last dialog's index will be higher than message's.

[2020-11-26 11:56] #698 closed

[2020-11-26 13:56] Lliuxs opened #704 "Question about documentations"
1. Collapse 折叠面板 中的slot标题没显示出来  需要改为 v-slot:title 或者#title ?
![image](https://user-images.githubusercontent.com/35122287/100359156-20b28300-3032-11eb-8844-0c7f5e67ba30.png)

[2020-11-26 14:08] ntgraph commented on #687
Hi Jeremy,
please check your email. I were not able to put all my codes and images on this issue here.  I am a beginner in Github, please forgive me.
Thanks,
Lap

[2020-11-26 15:09] #682 closed

[2020-11-26 15:10] #691 closed

[2020-11-26 15:12] JeremyWuuuuu commented on #704
Yes, that has been addressed in #684

[2020-11-26 15:13] JeremyWuuuuu commented on #704
Oh sorry for the earlier reply, this should be fixed soon, since the documentation has not been updated yet.

[2020-11-26 15:14] JeremyWuuuuu commented on #703
Bump the version you will get it correct. But you will end up like @Lucas-lululu due to some type bugs we had, but we are about to release a new version to fix that.

[2020-11-26 15:16] JeremyWuuuuu commented on #703
This one is duplicate with #695 #689 , so I am closing it due to duplication, you can track this down there.

[2020-11-26 15:16] #703 closed

[2020-11-26 15:17] JeremyWuuuuu commented on #687
Gotcha, I will take a look tomorrow on my local time.

[2020-11-26 15:20] JeremyWuuuuu commented on #676
Watch you have been asking is a time machine which tracks data change, you can achieve that via Vue builtin `Watch` API. It's just as simple as it could be.

[2020-11-26 15:24] JeremyWuuuuu commented on #676
Via watch you can implement the diff functionality yourself, instead of get it straight from `Form`, the mechanism is quite simple just like this.
With VCA, you can do
[code]
Via VOA you can do:
[code]

[2020-11-26 15:53] acupofspirt opened #706 "Wrong generated declaration file for el-submenu"
_lib/el-submenu/index.d.ts_
[code]

`Subel-menu` is invalid identifier in TypeScript

[2020-11-26 16:11] JeremyWuuuuu commented on #706
Looks @zazzaz did get all cases covered. Will be fixed soon😂

[2020-11-27 01:07] xingleizhao commented on #704
You are right.
When you use named `slot` to implement custom panel title content, you need to modify it to supported by Vue 3.0 `v- slot:title` or `#title`.

[2020-11-27 01:55] hsiangleev commented on #702
@JeremyWuuuuu
I reproduced this error. It was a problem with this attribute ":unique-opened='true'". I removed this attribute and no error was reported.
You can see the effect at the address below, click "跳转" and an error will be reported
[https://codesandbox.io/s/trusting-wood-4b5vx?file=/index.html](https://codesandbox.io/s/trusting-wood-4b5vx?file=/index.html)

[2020-11-27 02:07] JeremyWuuuuu commented on #702
@hsiangleev Thanks for providing this information, I am going to take a look at the root cause of the bug.