[2020-11-27 02:13] JeremyWuuuuu commented on #693
True, this is definitely a bug that we need to fix, it did not throw any error before is because we did not use `Symbol` on those token. Me and @zazzaz will make sure that it's fixed.

[2020-11-27 02:34] #669 closed

[2020-11-27 04:01] JeremyWuuuuu commented on #706
Fixed in #709 , I am closing this, a new version should be rolled out.

[2020-11-27 04:01] #706 closed

[2020-11-27 04:04] JeremyWuuuuu commented on #689
Closing this due to #685

[2020-11-27 04:04] #689 closed

[2020-11-27 04:06] JeremyWuuuuu commented on #694
Fixed in #709

[2020-11-27 04:06] #694 closed

[2020-11-27 04:06] JeremyWuuuuu commented on #693
Fixed in #709

[2020-11-27 05:06] zazzaz commented on #688
fixed in 1.0.1-alpha.23

you can use
[code]

[2020-11-27 05:06] #688 closed

[2020-11-27 05:07] zazzaz commented on #695
fixed in 1.0.1-alpha.23

you can use
[code]

[2020-11-27 05:07] #695 closed

[2020-11-27 05:07] zazzaz commented on #667
fixed in 1.0.1-alpha.23

you can use
[code]

[2020-11-27 05:09] zazzaz commented on #693
fixed in 1.0.1-alpha.23

[2020-11-27 05:09] #693 closed

[2020-11-27 05:09] zazzaz commented on #694
fixed in 1.0.1-alpha.23

[2020-11-27 05:10] zazzaz commented on #706
fixed in 1.0.1-alpha.23

[2020-11-27 05:10] zazzaz commented on #703
fixed in 1.0.1-alpha.23

[2020-11-27 05:10] zazzaz commented on #682
fixed in 1.0.1-alpha.23

[2020-11-27 05:10] zazzaz commented on #689
fixed in 1.0.1-alpha.23

[2020-11-27 05:45] JeremyWuuuuu commented on #687
So I got your code pasted below:

[code]

In order to find the problem I need you to provide the `City` class, also from the screenshot:
![Screenshot](https://user-images.githubusercontent.com/15975785/100414726-5d738e00-30b5-11eb-9d5a-400b9eda3c0f.PNG)
So the value displayed on the UI is a mapping to `:value` binding in `el-option` in your case here is
[code]

[2020-11-27 05:46] JeremyWuuuuu commented on #687
And I am sure that this is a bug from us, which needs to be fixed. Sorry for causing you trouble. I will fix it ASAP

[2020-11-27 06:02] JeremyWuuuuu commented on #687
This code below is a basic usage of select. which is the basic usage of `ElSelect`
[code]

And the result you can see here

![image](https://user-images.githubusercontent.com/15975785/100416031-70d42880-30b8-11eb-941a-731c4ddc4458.png)

So the bug must be happened here:
[code]

Which causes `item[getProvince]` evaluating unexpected value back to the binding.

Try this in `onMounted`:

[code]
see w

[2020-11-27 06:04] JeremyWuuuuu commented on #687
Also one thing that I wanted to mention is that, `vue-i18n` is not fully integrated into `ElementPlus` yet. See #608 for more information.

[2020-11-27 07:03] xiaomengqi123 opened #712 "scope.$index 有问题"

[2020-11-27 07:07] JeremyWuuuuu commented on #712
Issues without a valid reproduction link will be closed directly.

[2020-11-27 08:11] 564142183 opened #713 "期待发布"

[2020-11-27 08:56] JeremyWuuuuu commented on #713
Thanks, closing this. We are expecting the beta release next week.

[2020-11-27 08:56] #713 closed

[2020-11-27 09:30] cwxyz007 opened #714 "Tree 控件 onNodeExpand 没有触发"
示例仓库：https://github.com/cwxyz007/element-plus-test

如下代码中，当展开 Tree 控件节点的时候，没有触发 `onNodeExpand` 事件。

`onNodeCollapse` 能事件正确触发。

[code]

[2020-11-27 09:35] cwxyz007 commented on #714
https://github.com/element-plus/element-plus/blob/53dfce0903dba7620bb6d77a9d1c770beabb9ed0/packages/tree/src/tree-node.vue#L192-L201

看了一下源码，可能是这里的 `ctx` 不对。希望能帮到 debug。

[2020-11-27 09:37] JeremyWuuuuu commented on #714
This might caused by Vue instead of ElementPlus see #678

One way to verify this is to lock the version of Vue to 3.0.0

[2020-11-27 09:38] JeremyWuuuuu commented on #714
We are expecting the fix from Vue

[2020-11-27 09:46] canvascat opened #715 "[Bug] Scrollbar isn't updated when only wrap size is changed."
![Video_20201127173831 wmv_20201127_174356](https://user-images.githubusercontent.com/31235016/100435076-5f9b1400-30d8-11eb-8e61-2ce36d631998.gif)

[2020-11-27 09:46] zazzaz commented on #603
Yes, cause Date object is the best way to store a date time. you can check the ☝️ Breaking Change List  here https://github.com/element-plus/element-plus/issues/162#issuecomment-676052160

Besides, you can use `dayjs(date-value).format('YYYY')` to get what you want easily. And since `dayjs` is the core dependence of Element Plus, there's no additional cost.

[2020-11-27 09:48] cwxyz007 commented on #714
I tried this way, But It's still not working.

And more, Both `onNodeExpand` and `onNodeCollapse` are not triggered.

[2020-11-27 09:49] JeremyWuuuuu commented on #714
Alright, then I'm going to find out what happened,thanks for bringing in this bug

[2020-11-27 13:51] ntgraph commented on #687
Thanks for your collaboration, by reading your comment, I remove the vue-i18n, hence the getProvince and bind the options directly with provinceName_en.  It is still not display correctly.

[code]
I also provide the city class here
[code]
unluckily, still not working.
question on the side, how to paste code in here with nice formatting and color?
Thanks for your help

[2020-11-27 14:14] JeremyWuuuuu commented on #687
For formatting you can give hint to github via "```language" notation

[2020-11-27 14:16] JeremyWuuuuu commented on #687
Can you provide some sample of provinces? Doesn't have to be real data, sample will do. Let's get this solved.

[2020-11-27 14:28] JeremyWuuuuu commented on #687
With data option all members will be marked as reactive that's for sure

[2020-11-27 14:28] ntgraph commented on #687
![image](https://user-images.githubusercontent.com/7518854/100459036-c39ae980-3092-11eb-9128-616241c1d8e0.png)

here is what the fetch come to this.provinces

[2020-11-27 14:34] JeremyWuuuuu commented on #687
Got it I'll use that for testing

[2020-11-27 15:04] JeremyWuuuuu commented on #687
https://codesandbox.io/s/sad-dream-qmwws?file=/src/App.vue @ntgraph take a look at this

[2020-11-27 15:05] JeremyWuuuuu commented on #687
Seems everything is working fine on my testing data.

[2020-11-27 15:09] ntgraph commented on #687
I have described earlier if provinces is defined in data (provinces2), then it works.  But if provinces is coming from an api, it has certain delay, then it won't bind.

[2020-11-27 15:12] JeremyWuuuuu commented on #687
Sorry I forgot that. I'll make an async one.

[2020-11-27 15:23] JeremyWuuuuu commented on #687
https://codesandbox.io/s/sad-dream-qmwws?file=/src/App.vue Right now it's set asynchronously

[2020-11-27 15:59] ntgraph commented on #687
I have tried the nexttick...
sandbox, select display select

[2020-11-27 17:01] JeremyWuuuuu commented on #687
What do you mean "select displays select'?
I don't get it

[2020-11-27 17:06] JeremyWuuuuu commented on #687
After I made this demo, I just realize that if the v-model you bind with does not match any value in that option group it won't get mapped because there were no value for it to map to. Also if you are fetching the data lazily, you might want the v-model that binds to it to be undefined or initialize it with the first value in that option group here in this case "provinces"

[2020-11-27 19:49] ntgraph commented on #687
Let me explain,
select v-model is linked to city.province_id.
at first, on created, fetchCity is called, it retrieve city from api, it contains city.province_id,
then it fetch provinces, so the options is fetch with provinces and selected value id match with the v-model from select.

I repeat that this same code works well in Vue2.6 and element-ui.

[2020-11-27 19:55] ntgraph commented on #687
the sandbox code display the placeholder text: select, not the value

[2020-11-27 20:02] ntgraph opened #717 "[Feature request suggestion] - scheduler"
Hi,
I wish you can make a Scheduler component, related to Calendar

[2020-11-27 21:37] ntgraph commented on #687
Unhandled error during execution of component event handler
  at <ElSelect modelValue=2 onUpdate:modelValue=fn placeholder="Sélectionez une province/état..."  ... >
  at <EditCity onVnodeUnmounted=fn<onVnodeUnmounted> ref=Ref<
Proxy {$i18n: {…}, $t: ƒ, $tc: ƒ, $te: ƒ, $d: ƒ, …}

  at <RouterView>
  at <DefaultLayout>
  at <App>

[2020-11-27 22:34] ntgraph opened #718 "El-tooltip - not styling"
Hi,
Using your custom theme, and change theme color web site, I have exported the zip file and import in my app, in main.js
Most of element is styling as expected, but tooltip is not styling, in the browser inspect windows, I do not see el-popper is-dark in styles.

[2020-11-28 01:20] JeremyWuuuuu commented on #687
I think I kinda got it. Correct me if I am wrong:
Before the provinces was fetched from the server, city was fetched and selected, which contains a `province_id` inside of the city object, so at this time, the value of v-model was set with the value `city.province_id`, then the options of province selector gets fetched and it should contains a value matches the `city.province_id` in your show case

[2020-11-28 02:51] rieval opened #719 "如何在 Vite 里按需引入 Element-Plus ？"
我按照教程安装了 `babel-plugin-component`

然后在项目根目录写入了 `.babelrc` 文件：
[code]
并修改了 `main.ts` 文件：
[code]
但我发现前后两次 build，项目体积有了非常显著的增长：

![屏幕截图 2020-11-28 104920](https://user-images.githubusercontent.com/22883406/100492482-66249c80-3167-11eb-928f-20923c5539ca.png)

我猜测可能是 Vite 并不包含 Babel 的原因，请解惑。

[2020-11-28 03:00] zazzaz commented on #717
Any detail or demo pleae?

[2020-11-28 03:05] JeremyWuuuuu commented on #719
Right, if you wish to do that you might need to import via explicit path, like

[code]

[2020-11-28 03:21] JeremyWuuuuu commented on #718
The custom styling feature is not supported in ElementPlus.

[2020-11-28 03:22] JeremyWuuuuu commented on #718
One way to manage to do that is to use global css to override the default style

[2020-11-28 03:24] zazzaz commented on #718
Hi, the "change theme color web site" is not ready for Element Plus yet. But will be available soon.

You can not use "Update SCSS variables in your project", https://element-plus.org/#/en-US/component/custom-theme

[2020-11-28 03:48] rieval commented on #719
感谢，已经解决

根据 debug 的提示，我需要额外安装 `@babel/runtime` 这个包，不知道是不是我自己的问题

![屏幕截图](https://user-images.githubusercontent.com/22883406/100493126-e26eae00-316e-11eb-9712-828773242ffa.png)

此外，我还需额外引入相应的 css

`import 'element-plus/lib/theme-chalk/el-button.css'`

最后在 `vite.config.ts` 里添加 `optimizeDeps` 设置项：

[code]

希望官方可以修改一下文档，说明如何在 Vite 里按需引入

[2020-11-28 03:51] JeremyWuuuuu commented on #719
We also have a esm bundle built just for this @zazzaz could you help him out?

[2020-11-28 05:35] huangzhongzhong commented on #376
https://github.com/huangzhongzhong/element-wcag2.0 我做了一些修改工作，但没有完成全部，先放出来给大家看看~ 感觉更适合作为一个设计师用的版本存在？哈哈哈，更改了许多样式嵌套关系，开发可能会觉得不适应~

[2020-11-28 06:14] zazzaz commented on #667
still not fixed

[2020-11-28 06:48] huangzhongzhong commented on #377
补上了移动端常用的小号版本~
[element plus-logo-small .zip](https://github.com/element-plus/element-plus/files/5610155/element.plus-logo-small.zip)
![image](https://user-images.githubusercontent.com/46183365/100495661-a6e0dd80-3188-11eb-98a4-f8685d48cb62.png)

[2020-11-28 09:52] cn-Meepo commented on #620
@zazzaz   somewhere is fixed,but when i use form,the  '<el-form-item label="账号">'  label changed, it is not be reload

[2020-11-28 16:38] ntgraph commented on #717
Something like bryntum.com

[2020-11-28 16:40] ntgraph commented on #687
Yes, you are right on!

[2020-11-29 03:16] zazzaz commented on #377
Thanks

[2020-11-29 03:18] zazzaz commented on #717
I'm afraid we have no plan to add a Gantt Components ATM

[2020-11-29 03:18] #717 closed

[2020-11-29 10:10] rieval commented on #719
如果有更好的方法，请告诉我
😂😂

[2020-11-29 10:50] #704 closed

[2020-11-29 11:07] zazzaz commented on #719
@rieval Hi, you can try `element-plus@1.0.1-beta.0`, we've removed the `@babel/runtime` dep after this release.

[2020-11-29 12:05] cwxyz007 commented on #714
I have update the example, and it seem a bug of JSX compiler.

When I use `.vue` file, It works fine, but when I move to `.tsx`, it doesn't work.

[2020-11-29 12:38] JeremyWuuuuu commented on #687
This could be a potential bug with `ElementPlus`, I think if the v2 version works fine for you then v3 version should work as well, I think your case is just as usual as the others so it should work as you expected, let me see what I can do to make it right.

[2020-11-29 16:29] scx567888 opened #722 "Cannot read property 'success' of undefined"
[code]
package.json
[code]
main.js
[code]
is element-plus bug or vite bug?

[2020-11-30 00:31] ohno-kouki opened #723 "The dialog component is not available."
There is no 'visible' in the dialog component props.

Operation check code
[code]

Browser Console Log
[code]

Use Versions
Vue: 3.0.0
Element-plus: 1.0.1-beta.0

[2020-11-30 01:36] Ryan2128 commented on #722
Are you using the latest version? It works well in the latest version.

[DEMO](https://codesandbox.io/s/priceless-benz-yey3y?file=/src/App.vue)

[2020-11-30 01:43] Ryan2128 commented on #723
The name of prop that controls whether the dialog is displayed is `modalValue`, you can use `v-model="dialogVisible"` directly.

[2020-11-30 02:03] scx567888 commented on #722
thank you ; i try use webpack ; is ok;  but when i use vite ; is undefined; so I'm not certain is a element-plus bug or vite bug;

[2020-11-30 02:31] JeremyWuuuuu commented on #723
There is no need to use `.visible` modifier, refer to [Dialog Component](https://element-plus.org/#/en-US/component/dialog)

[2020-11-30 02:34] JeremyWuuuuu commented on #722
@scx567888
Hi, thanks for reporting this issue. If you wanted to use it with `Vite` then explicit importing is required since the `index.js` from `element-plus/root` is built in UMD format. You can try this:

[code]

[2020-11-30 02:38] ohno-kouki commented on #723
Thank you！

[2020-11-30 02:38] #723 closed

[2020-11-30 02:38] JeremyWuuuuu commented on #714
Because in the `.tsx` files, it was hand written, which does not match the event name `Vue` emits. In this repo, the compiler version was locked in `3.0.0`, which in your repo it's `^3.0.0`, these 2 were incompatible, so the bug occurs.

No worries, we are planning on bumping the version to `^3.0.3` today, so it should work fine after the bumped release.

[2020-11-30 02:49] JeremyWuuuuu commented on #712
Closing due to not further response.

[2020-11-30 02:49] #712 closed

[2020-11-30 05:37] kqwork opened #724 "date-picker 组件不显示日期"
初步检查，发现
// node_modules\element-plus\lib\el-time-picker\index.js
`
ctx.emit('set-picker-option', ['formatToString', formatToString]);
`

触发之后，
`onSetPickerOption()`并没有被回调，从而导致
`displayValue`计算属性中`!pickerOptions.value.panelReady`为`true`，直接返回。

[2020-11-30 05:41] JeremyWuuuuu commented on #724
This is related to `Vue`'s change, duplicate with #678 , I am fixing it right now, will be fixed soon.

[2020-11-30 06:14] chenyuan8059 opened #725 "[Feature Request] ElSelectTree & ElVirtualList"
1、希望能够添加下拉树形组件 el-select-tree
2、希望能够添加虚拟滚动组件 el-visual-list

[2020-11-30 06:46] zxiaozhou commented on #725
我觉得也是，，这几个都用得很平凡，频率用得高的都不提供，，那还提供啥

[2020-11-30 07:08] xiaomengqi123 opened #726 "使用{{scope.$index }} 在table中显示为"
![image](https://user-images.githubusercontent.com/33782250/100578739-d7a64b80-331d-11eb-8556-f8e477dd2736.png)
![image](https://user-images.githubusercontent.com/33782250/100578773-ec82df00-331d-11eb-898d-600801853a0a.png)

[2020-11-30 07:19] giserman001 opened #727 "希望级联面板可以添加全选和头部文本"
希望级联面板可以添加全选和头部文本

[2020-11-30 07:20] xiaomengqi123 commented on #726
![image](https://user-images.githubusercontent.com/33782250/100579490-4afc8d00-331f-11eb-84be-55c963d957f6.png)
Please help me sort it out. Thank you

[2020-11-30 07:21] xiaomengqi123 commented on #726
![image](https://user-images.githubusercontent.com/33782250/100579751-bb0b1300-331f-11eb-9aaa-aea646e5f12c.png)
Please help me sort it out. Thank you

[2020-11-30 07:28] giserman001 commented on #727
列如： ![image](https://user-images.githubusercontent.com/24283342/100580284-9cf1e280-3320-11eb-8e9d-73ab30bfd472.png)

[2020-11-30 07:28] giserman001 commented on #727
![image](https://user-images.githubusercontent.com/24283342/100580337-b430d000-3320-11eb-919b-2d3ac6148de3.png)

[2020-11-30 07:29] giserman001 commented on #727
![image](https://user-images.githubusercontent.com/24283342/100580436-e17d7e00-3320-11eb-8651-1d64c2c57f95.png)

[2020-11-30 11:06] rieval commented on #719
你好，我在测试的时候发现 `element-plus/lib/utils/error.js` 这个文件仍然引用了 `@babel/runtime` 这个包

![屏幕截图 190218](https://user-images.githubusercontent.com/7274487/100602468-e3eed080-333e-11eb-848e-cd7bdf19e062.png)

![屏幕截图 190316](https://user-images.githubusercontent.com/7274487/100602490-ebae7500-333e-11eb-945f-dd05119f8cdc.png)

[2020-11-30 11:13] WalkAlone0325 opened #730 "文档的搜索不支持，加载不出来"

[2020-11-30 11:54] JeremyWuuuuu commented on #730
True, this issue needs to be taken care of, we will fix it soon.

[2020-11-30 11:56] JeremyWuuuuu commented on #719
@rieval we might stop supporting versions lower than ES6 in the near future, what you have encountered is indeed some configuration issue of `ElementPlus`, you might still need to use the way you used before in order to make this work. Sorry for the inconvenience, let's keep this issue tracked via this issue.

[2020-11-30 14:01] guangzan opened #731 "Type check failed for prop "bodyStyle"."
This is an example of a card component on the element+ website.

[code]
![image](https://user-images.githubusercontent.com/43458667/100618751-34722800-3357-11eb-9fe7-65b1558121b6.png)

I think the reason is：lib/el-card/index.js
[code]

[2020-11-30 14:04] WalkAlone0325 opened #732 "NavMenu导航菜单组件不能实现路由跳转"
[code]
按文档使用 **vue-router 的模式，启用该模式会在激活导航时以 index 作为 path 进行路由跳转**，但路由无法跳转

[2020-11-30 14:07] WalkAlone0325 opened #733 "NavMenu导航菜单按文档路由无法跳转"
[code]
按文档使用 **vue-router 的模式，启用该模式会在激活导航时以 index 作为 path 进行路由跳转**，但路由无法跳转

[2020-11-30 16:03] WnagoiYy opened #734 "NavMenu菜单导航点击报错"
<el-menu-item
              :index="d.Index"
              :key="d.Index"
              v-else    >..........
            </el-menu-item>
el-menu已经添加router属性，index都组合试过路径、数字等
navmenu在页面上只能点一次，然后点击其他菜单项后所处区域点不动并且控制台报错：
[code]
翻阅node_modules下源代码**应该是** el-menu文件夹下的index.js 第178行处函数引起：
[code]

[2020-12-01 01:19] kooriookami opened #735 "Dropdown menu has error style"
![image](https://user-images.githubusercontent.com/38392315/100684775-ed674f80-33b5-11eb-9b97-d10d3a1acef1.png)
The black and grey background are two components, dropdown menu will be clipped.

[2020-12-01 01:21] JeremyWuuuuu commented on #735
This could be related to the change of the default insertion strategy of `el-popper`, could you also test `Select` just in case

[2020-12-01 01:23] JeremyWuuuuu commented on #732
Will be fixed soon.

[2020-12-01 01:25] kooriookami commented on #735
![image](https://user-images.githubusercontent.com/38392315/100685308-150ae780-33b7-11eb-9df9-e588b874f71f.png)
`select` is normal.

[2020-12-01 01:32] JeremyWuuuuu commented on #731
You were right, even though string type is acceptable but we still need to accept object and array

[2020-12-01 01:32] zychome commented on #733
遇到了同样的问题

[2020-12-01 01:34] JeremyWuuuuu commented on #735
thanks this will be fixed soon

[2020-12-01 01:35] JeremyWuuuuu commented on #734
Will be fixed soon.
Thank you for making this issue cc @Liiked

[2020-12-01 01:36] JeremyWuuuuu commented on #733
Will be fixed soon.
This one is duplicate with #734

[2020-12-01 01:41] WalkAlone0325 commented on #733
@zychome 先可以试试用router-link的自定义渲染

[2020-12-01 01:42] JeremyWuuuuu commented on #714
making fix in #729

[2020-12-01 01:43] JeremyWuuuuu commented on #733
duplicate with #732

[2020-12-01 01:44] JeremyWuuuuu commented on #732
closing due to duplication

[2020-12-01 01:44] #732 closed

[2020-12-01 01:45] JeremyWuuuuu commented on #734
a work around https://github.com/element-plus/element-plus/issues/733#issuecomment-736160786

[2020-12-01 01:53] zychome commented on #733
@WalkAlone0325
暂时 用菜单的select事件配合router.push手动解决了

[2020-12-01 02:24] ZLwangzhen opened #737 "页头显示bug"
![image](https://user-images.githubusercontent.com/67615285/100689403-5f906200-33bf-11eb-95fc-e1e8dade06f0.png)

[2020-12-01 03:04] JeremyWuuuuu commented on #725
Indeed, these are components that will be used in high frequency, this is on the schedule.

[2020-12-01 03:14] JeremyWuuuuu commented on #737
This is not a bug from us, what you saw was an icon in `iconfont` format, this might be caused by incapable of loading iconfont resource.
Screenshots on my computer were attached. If you want to solve this problem, please provide your computer's platform and versions, also the browser that you are currently using to reproduce this bug.
FYI: I am using
MacOS Big Sur version 11.0.1
with
Brave browse

[2020-12-01 03:15] JeremyWuuuuu commented on #737
Please do clear your browser cache with hard reload, and try again.

[2020-12-01 03:15] JeremyWuuuuu commented on #726
cc @justwiner

[2020-12-01 03:29] BeADre opened #738 "Can't find version"
![image](https://user-images.githubusercontent.com/34639100/100693697-62dc1b80-33c8-11eb-8cb1-138fbad8d3fb.png)

[2020-12-01 03:51] VPoints opened #739 "Select 组件设置值的问题"
![image](https://user-images.githubusercontent.com/20237649/100691806-74bbbf80-33c4-11eb-8865-9306312e3221.png)
如图所示 ：
期望结果应该为
按照正常的结果应该是 options 选择中正常匹配
然后 selectbox也正常匹配
经过查看：
useSelect.js 中 setSelected 在 modelValue中调用 这时并未传入options watch
options.vue 中操作了父级的 cacheOptions 与options 并传入 实例对象
但 options变更的同时并未进行 setSelected
目前可以通过 options. push的同时操作 父级的 setSelected 得到结果
我尝试着使用 watch 监听 options 或者 cac

[2020-12-01 03:54] VPoints commented on #739
![image](https://user-images.githubusercontent.com/20237649/100695198-b0a65300-33cb-11eb-8e7b-1109bc7fc62e.png)
这是结果图片

上述有一个提问有个错误 ,options 解构赋值后并不需要watch
也就是只需要在 options 中进行 解构赋值即可完成该目标。

[2020-12-01 03:54] JeremyWuuuuu commented on #604
I'll close this issue since it's been a while since it's been opened. Feel free to reopen if you have updates on this

[2020-12-01 03:54] #604 closed

[2020-12-01 03:55] VPoints commented on #739
期望结果
![image](https://user-images.githubusercontent.com/20237649/100695363-02e77400-33cc-11eb-970e-c0e4e9691a4f.png)
options.vue变更
![image](https://user-images.githubusercontent.com/20237649/100695408-1692da80-33cc-11eb-8d0e-f12d14e3c127.png)

[2020-12-01 03:55] JeremyWuuuuu commented on #738
You need to run command `yarn gen:version` for that.

[2020-12-01 03:56] JeremyWuuuuu commented on #702
This could be duplicated with #734

[2020-12-01 03:57] JeremyWuuuuu commented on #739
Thank you for this issue!
This might be related to the issue #687
You interested in making a PR for this fix?

[2020-12-01 03:58] JeremyWuuuuu commented on #739
cc @ntgraph this is definitely related to the problem that you have encountered, and we can solve that in a short time.

[2020-12-01 04:18] BeADre commented on #738
thanks

[2020-12-01 04:18] #738 closed

[2020-12-01 05:56] lebron112 opened #740 "pagination组件问题"
当第一次查询设置total为1200条，分页设置50页 切换到 3页，
第二次带搜索条件的查询，此时搜索结果返回数据49条，分页器已经跳到了1并且只有1页了，没有触发current-change，
建议total值变化后，current-page * size 比total大时， 再触发一次 current-change事件

[2020-12-01 06:05] JeremyWuuuuu commented on #739
So for you to understand the context I translated the comments here:

期望结果应该为
按照正常的结果应该是 options 选择中正常匹配
然后 selectbox也正常匹配
经过查看：
useSelect.js 中 setSelected 在 modelValue中调用 这时并未传入options watch
options.vue 中操作了父级的 cacheOptions 与options 并传入 实例对象
但 options变更的同时并未进行 setSelected
目前可以通过 options. push的同时操作 父级的 setSelected 得到结果
我尝试着使用 watch 监听 options 或者 cacheOptions 的结果
这和使用 react 很类似 options 并没有被监听 只有通过对

[2020-12-01 06:08] zazzaz commented on #738
yarn bootstrap

[2020-12-01 06:15] JeremyWuuuuu commented on #740
Will be fixed soon.

[2020-12-01 06:33] xyuanbuilds opened #742 "【Bug】Fixed状态下表头固定列使用触摸板滚动，会产生明显同步延时"
表头，固定列都有错位现象
![image](https://user-images.githubusercontent.com/21687167/100705189-c45cb400-33e1-11eb-967c-320ea090be15.png)
因为不是同一个渲染层，触摸板触发较高频次scroll事件，似乎不可避免地会产生这种无法同步的效果。
后续有什么优化方向？

[2020-12-01 06:37] JeremyWuuuuu commented on #742
One way to fix this is using virtual window scroll technic, just like this: [React Virtualized MultiGrid](https://bvaughn.github.io/react-virtualized/#/components/MultiGrid)

[2020-12-01 06:41] xuzining opened #743 "希望增加新组建treeSelect"
能不能写个官方的树选择组件

[2020-12-01 06:51] JhonXY commented on #742
it is about scrolling synchronize
virtual cannot fix this. i have make a react virtual table use react-window, cannot fix scrolling synchronize
But antd fix this with or without virtual, or there are something different bettween react and vue?

[2020-12-01 06:55] #735 closed

[2020-12-01 06:57] JeremyWuuuuu commented on #742
Seems like ant design had different approach on this feature. Pretty neat, I think we could use the technic that they use to implement the table component.

[2020-12-01 07:00] JeremyWuuuuu commented on #742
As you mentioned, with virtual table it is still a problem when you scroll in a fast pace.

[2020-12-01 07:02] VPoints commented on #739
Yes, of course
But I don't know how to participate in open source projects = =。

[2020-12-01 07:05] JeremyWuuuuu commented on #739
Simple
### Step 1
click the fork icon on the right top

### Step 2
[code]

### Step 3
1. Coding
2. Add some tests against the change you just made
3. Commit the change and push to your forked remote
4. Make a PR via fork
5. Add me as reviewer

Then it's done

[2020-12-01 07:15] JeremyWuuuuu commented on #743
Duplicate with #462 , we will implement this one in the near feature.

[2020-12-01 07:15] #743 closed

[2020-12-01 07:23] JhonXY commented on #742
https://github.com/react-component/table/blob/master/src/Table.tsx#L447-L476

but i can not get how did they do it, they just change the scrollLeft

[2020-12-01 08:18] Ther-su commented on #739
@VPoints Maybe you need to run `npm run cz` to commit so that you can pass the CI

[2020-12-01 08:48] JeremyWuuuuu commented on #742
We could get inspired by https://2x.antdv.com/components/table-cn/, they did a great job for implementing this feature.

[2020-12-01 08:48] BoooMaaa opened #747 "DatePicker在按需引入时错误"
DatePicker引用了lib/el-time-picker/src/common/constant，但是这个文件并没有被build

[2020-12-01 08:56] FullOfVigour opened #748 "文档错误"
文档中快速构建模块按需引入的代码块中
![image](https://user-images.githubusercontent.com/25943199/100718221-098ae100-33f6-11eb-8e6c-e22d35f3eb09.png)
这几个文件缺少引入

[2020-12-01 09:12] JeremyWuuuuu commented on #742
We could get inspired by https://2x.antdv.com/components/table-cn/, they did a great job for implementing this feature.

[2020-12-01 09:42] giserman001 opened #750 "这里不做一下兼容吗？"
![image](https://user-images.githubusercontent.com/24283342/100723297-8e78f900-33fc-11eb-9f7a-4c1ecccedf84.png)

[2020-12-01 09:43] #750 closed

[2020-12-01 09:44] giserman001 opened #751 "这里是不是要兼容一下？"
![image](https://user-images.githubusercontent.com/24283342/100723554-dc8dfc80-33fc-11eb-9197-877c0dbcbcfc.png)

[2020-12-01 09:47] JeremyWuuuuu commented on #751
For?

[2020-12-01 09:47] JeremyWuuuuu commented on #748
cc @zazzaz

[2020-12-01 10:02] giserman001 commented on #751
![Uploading image.png…]()

[2020-12-01 10:33] zazzaz commented on #747
Any demo code, please? e.g. How do you use this component.

[2020-12-01 10:33] zazzaz commented on #748
will do

[2020-12-01 10:34] JeremyWuuuuu commented on #751
Sorry could you be more specific?

[2020-12-01 10:36] gyjtiancai opened #752 "messageBox ，message"
"element-plus": "^1.0.1-beta.0",

app.config.globalProperties中并无$confirm $alert  $message  等全局方法

[2020-12-01 10:38] SimonaliaChen commented on #727
Hi, could you be more specific about the features you mentioned？

[2020-12-01 11:14] #748 closed

[2020-12-01 11:19] Ryan2128 commented on #752
[DEMO](https://codesandbox.io/s/vigilant-roentgen-hbofh?file=/src/App.vue)

[2020-12-01 11:31] gyjtiancai commented on #752
<el-button plain @click="confirm">确认消息</el-button>

[2020-12-01 11:39] gyjtiancai commented on #752
`
<template>
<el-button plain @click="confirm">确认消息</el-button>
</template>

<script>
import { defineComponent, getCurrentInstance} from "vue";
export default defineComponent({
  name: "demo",
  setup() {
    const globalThis = getCurrentInstance();
    console.log(globalThis.appContext.app.config.globalProperties)
    function confirm() {
       globalThis.appContext.app.config.globalProperties.$

[2020-12-01 11:57] Ryan2128 commented on #752
Have you installed the component library or corresponding components correctly and completely in entry file?

Complete:
[code]

On demand:
[code]

[2020-12-01 11:57] #731 closed

[2020-12-01 12:29] seanyujc opened #755 "支持插件模式的组件在ts中类型检查失败"
import { ElMessage } from "element-plus";
const app = createApp(App);
app.use(_ElMessage_);
`
类型“IMessage”的参数不能赋给类型“Plugin_2”的参数。
  不能将类型“IMessage”分配给类型“PluginInstallFunction & { install?: PluginInstallFunction | undefined; }”。
    不能将类型“IMessage”分配给类型“PluginInstallFunction”。
      参数“options”和“app” 的类型不兼容。
        不能将类型“App<any>”分配给类型“string | IMessageOptions | undefined”。
          类型“App<any>”与

[2020-12-01 12:32] JeremyWuuuuu commented on #755
This issue will be fixed soon, but it won't have any impact on the functionality of `ElementPlus`, you can use them directly

[2020-12-01 12:38] JeremyWuuuuu commented on #752
Have you installed them globally? If you did not, then you are going to get error, these methods will not be automatically mounted to the `app.globalProperties`. After you register them globally, you can visit the member via
in setups
[code]
or in options API
[code]

[2020-12-01 13:01] JhonXY commented on #742
There is more to learn，thanks

[2020-12-01 13:04] JeremyWuuuuu commented on #742
I asked someone in the team to do some spike on the implementation, we will make the implementation in `ElementPlus`

[2020-12-01 13:05] JeremyWuuuuu commented on #742
Thanks for bringing it up!

[2020-12-01 13:07] JeremyWuuuuu commented on #747
@zazzaz confirmed here https://unpkg.com/browse/element-plus@1.0.1-beta.0/lib/el-time-picker/ no constants can be found
![image](https://user-images.githubusercontent.com/15975785/100744661-1cfb7380-3419-11eb-8ef7-a93a096e2eab.png)
We didn't export constants in the `index.ts` file. so that it will not be packed.

[2020-12-01 13:17] #740 closed

[2020-12-01 13:20] JeremyWuuuuu commented on #739
@VPoints You need help on this? Just ask, I am glad to help

[2020-12-01 13:23] JeremyWuuuuu commented on #462
@Ryan2128 Can you take a spike on this?

[2020-12-01 13:24] JeremyWuuuuu commented on #737
I'll close this issue since it's been a while since it's been opened. Feel free to reopen if you have updates on this
This issue has nothing to do with `ElementPlus` website itself, it's caused by either the browser or the operation system.

[2020-12-01 13:24] #737 closed

[2020-12-01 13:25] JeremyWuuuuu commented on #702
Fixed in #745

[2020-12-01 13:25] #702 closed

[2020-12-01 13:25] JeremyWuuuuu commented on #733
Closing this due to it's fixed in #745

[2020-12-01 13:25] #733 closed

[2020-12-01 13:26] JeremyWuuuuu commented on #734
Closing due to it's fixed in #745

[2020-12-01 13:26] #734 closed

[2020-12-01 13:27] JeremyWuuuuu commented on #724
Fixed via #729

[2020-12-01 13:27] #724 closed

[2020-12-01 13:27] JeremyWuuuuu commented on #714
Fixed in #729

[2020-12-01 13:27] #714 closed

[2020-12-01 13:27] #747 closed

[2020-12-01 13:28] JeremyWuuuuu commented on #719
Fixed in #577

[2020-12-01 13:28] #719 closed

[2020-12-01 13:30] JeremyWuuuuu commented on #667
@zazzaz  Is this fixed in #577 ?

[2020-12-01 13:33] JeremyWuuuuu commented on #727
![IMG_5674](https://user-images.githubusercontent.com/15975785/100747289-d0b23280-341c-11eb-87be-544fd6906f60.JPG)
@SimonaliaChen Like this.

[2020-12-01 13:36] JeremyWuuuuu commented on #722
This should be fixed in #577 , now `Vite` knows where to find the components. This will be released in `Beta1`, so I am closing this, it won't take long to publishing the new version, you can then run `yarn upgrade` to try it out.

[2020-12-01 13:36] #722 closed

[2020-12-01 13:38] JeremyWuuuuu commented on #726
Could you provide minimal reproducible code or link?

[2020-12-01 13:43] justwiner commented on #726
i get it.
fixed. It's just that the code hasn't been pushed.
@JeremyWuuuuu

[2020-12-01 15:21] Ryan2128 commented on #462
YES. @JeremyWuuuuu

[2020-12-01 17:49] kamalalnabrissi2017 opened #758 "Bel Bont El3areedh"
Hussain Aljassmi https://open.spotify.com/track/4ZU4yHDLZcMcy8BF6Y89fu

[2020-12-01 17:50] kamalalnabrissi2017 opened #759 "elemens plus l"
https://www.github.com/element-plus/vue-cli-plugin-element-plus/tree/master/generator%2Ftemplates%2Fsrc%2FApp.vue

[2020-12-01 20:33] g3r4n commented on #759
@kamalalnabrissi2017 what's the issue ?

[2020-12-01 20:35] g3r4n commented on #759
@zazzaz It's spam like #758

[2020-12-01 21:25] acupofspirt opened #760 "el-table-column: vnode error with show-overflow-tooltip"
Vue 3.0.3, element-plus 1.0.1-beta.1

`show-overflow-tooltip` on `el-table-column` component produces errors

![image](https://user-images.githubusercontent.com/1342726/100798381-a53b4200-3434-11eb-8465-857f63c6699d.png)

[2020-12-02 00:19] JeremyWuuuuu commented on #759
Closing it due to its irrelevant

[2020-12-02 00:19] #759 closed

[2020-12-02 00:20] #758 closed

[2020-12-02 00:22] JeremyWuuuuu commented on #760
Yep the overflow tooltip had a bug and it's here #728

[2020-12-02 00:22] JeremyWuuuuu commented on #760
It will be fixed very soon

[2020-12-02 00:44] gyjtiancai commented on #752
你好 入口文件中我全局注册了element-plus，  appContext.components中有elelemnt-plus注入的组件 但是没有我提及的message，messageBox等
![1606869642(1)](https://user-images.githubusercontent.com/56705837/100813347-1d782680-347a-11eb-822c-b5e222c64651.jpg)

[2020-12-02 00:46] gyjtiancai commented on #752
你好 入口文件中我全局注册了element-plus， appContext.components中有elelemnt-plus注入的组件 但是没有我提及的message，messageBox等
![1606869642(1)](https://user-images.githubusercontent.com/56705837/100813721-e8200880-347a-11eb-86cb-fe6221f15ea7.jpg)

[2020-12-02 01:05] JeremyWuuuuu commented on #752
Because you have just replaced the globalProperties value with the assignment
`Object.assign()` at line12

[2020-12-02 01:06] JeremyWuuuuu commented on #752
One way to solve this is that you need to use the original globalProperties as source then assign the the value that you wanted to the globalProperties instead of overriding it

[2020-12-02 01:07] JeremyWuuuuu commented on #752
Using `Object.assign(app.config.globalProperties, {
  ...things
})`

[2020-12-02 01:09] gyjtiancai commented on #752
谢谢  或者把element全局注册放在Object.assign下面

[2020-12-02 01:14] #752 closed

[2020-12-02 01:21] iceycc opened #761 "搭建开发环境，运行提示VueCompilerError: Element is missing end tag."
读md文件时出错

[2020-12-02 01:24] JeremyWuuuuu commented on #761
Could you please add detailed description in the issue? Issue without description of minimal reproducible code will be closed directly, thanks

[2020-12-02 01:39] iceycc commented on #761
有点小包的问题。。我是想自己开发一下，不知道是我的环境问题还是编辑器问题，把整个项目down下来,编辑器是webstorm，`yarn bootstrap`。然后`yarn website-dev` 后,控制台提示下面类似的报错，md文件都提示这个错误。。。

[code]

[2020-12-02 01:43] zychome opened #762 "NavMenu 导航菜单 水平模式与文档的demo不一致（子菜单的呈现方式）"
![Dingtalk_20201202102459](https://user-images.githubusercontent.com/2106842/100820197-abf3a480-3488-11eb-8990-cc3f2de5284a.jpg)
![Dingtalk_20201202102435](https://user-images.githubusercontent.com/2106842/100820214-b31ab280-3488-11eb-9a21-c4e9b506ff01.jpg)

[2020-12-02 01:43] iceycc commented on #761
node v12.13.1
电脑 mac 10.15.7

[2020-12-02 01:54] JeremyWuuuuu commented on #761
Got it I'm going to verify this

[2020-12-02 02:08] StringLiu2 opened #763 "vue3 tsx的情况下报onClick类型没有找到"

[2020-12-02 02:09] StringLiu2 commented on #763
![image](https://user-images.githubusercontent.com/44939840/100819042-56b69380-3486-11eb-8ccc-fd32dd13ef1e.png)
报错没找到onClick类型？怎么回事？

[2020-12-02 02:11] JeremyWuuuuu commented on #762
Issues without a valid reproduction link will be closed directly.

[2020-12-02 02:24] JeremyWuuuuu commented on #761
I ran it on my machine it worked fine
![image](https://user-images.githubusercontent.com/15975785/100820098-78b11580-3488-11eb-812f-6f34df7f4de4.png)
node v14.10.0
MacOS Big Sur 11.0.1

[2020-12-02 02:49] JeremyWuuuuu commented on #762
Can you provide a minimal reproducible code or link?

[2020-12-02 02:52] lqsong opened #764 "DatePicker, DateTimePicker are wrapped by Card，overflow: hidden;"
[code]
![20201202105219](https://user-images.githubusercontent.com/22975974/100822018-7a7cd800-348c-11eb-9729-abc38c5196b5.png)

[2020-12-02 02:56] JeremyWuuuuu commented on #764
Right, this was a regression bug caused by the change to `el-popper`. Will be fixed soon.

[2020-12-02 03:19] kooriookami opened #766 "Bug with slot of el-table-column"
When use `scope.row.xxx.yyy` in `el-table-column`, There is an error: TypeError: Cannot read property 'yyy' of undefined. I can use  `scope.row.xxx?.yyy`. It seems a bug with lifecycle.

[2020-12-02 03:25] uinio opened #767 "Implement new on-demand import"
both webpack and rollup now support tree shaking,Implement new on-demand import

[2020-12-02 03:27] zazzaz commented on #667
fixed in  #577

[2020-12-02 03:27] #667 closed

[2020-12-02 03:29] JeremyWuuuuu commented on #767
We have implemented on-demand import, you can try it out with vite now. see [Vite Element Starter](https://github.com/element-plus/element-plus-vite-starter)

[2020-12-02 03:36] JeremyWuuuuu commented on #763
This is related to the jsx plugin which does not recognize the emitting events we declared in the `emits` field. Definitely not from our side.

[2020-12-02 03:37] JeremyWuuuuu commented on #763
FYI https://github.com/vuejs/vue-next/issues/1356 https://github.com/vuejs/vue-next/pull/2628/files

[2020-12-02 03:38] #764 closed

[2020-12-02 04:58] kooriookami opened #770 "Form label-width=“auto” will not change automatically"
When the form set `label-width=“auto”`, and the form-item is dynamic, the label width will not be correct.

[2020-12-02 05:00] kooriookami opened #771 "Dialog show-close is invalid"
Dialog show-close is invalid, when set `:show-close="false"`, still shows.

[2020-12-02 05:07] #767 closed

[2020-12-02 05:35] seanyujc commented on #755
I'm glad you said that be fixed soon. other, some global custom properties are not defined. such as:
[code]

[2020-12-02 05:59] kooriookami commented on #770
[code]
You can click the tab, and see the effect.
![image](https://user-images.githubusercontent.com/38392315/100834307-a1e09e80-34a6-11eb-9530-6e13dfdfa42a.png)

[2020-12-02 06:03] JeremyWuuuuu commented on #771
Thank you for being so actively giving us feedback, I personally am full of gratitude of that. This should be a bug that's caused by the previous change against dialog, and it will be fixed tonight. Thanks!

[2020-12-02 06:04] JeremyWuuuuu commented on #770
You interested in fix this issue? I think this might related to the css issue you've mentioned before.

[2020-12-02 06:12] Ther-su commented on #771
Sorry, I did not see your self-assign before commited.

[2020-12-02 06:14] kooriookami commented on #770
It may not be the css problem, when remove `el-tabs` and `el-tab-pane`, the style is correct.

[2020-12-02 06:15] JeremyWuuuuu commented on #770
So it must be impact from the ancestors style.

[2020-12-02 06:17] JeremyWuuuuu opened #774 "New Component - ElSkeleton"
- As a developer, I want a feature that I can have a skeleton component for indicating loading state.
   - As a developer I want the skeleton to have background color consistent with [Color](https://element-plus.org/#/zh-CN/component/color) Placeholder Text with color value `#C0C4CC`
   - As a developer I want the skeleton to be animated with flag `moving`
   - As a developer I want the skeleton t

[2020-12-02 06:18] JeremyWuuuuu commented on #774
cc @zazzaz

[2020-12-02 06:18] kooriookami commented on #770
[code]
When the key of `form` changed, the style is correct. I think it's the computed width of lebal error.

[2020-12-02 06:20] zychome commented on #762
`<div>
    <el-menu
      default-active="1"
      class="el-menu-demo"
      mode="horizontal"
      background-color="#545c64"
      text-color="#fff"
      active-text-color="#ffd04b">
      <el-menu-item index="1">处理中心</el-menu-item>
      <el-submenu index="2">
        <template #title>我的工作台</template>
        <el-menu-item index="2-1">选项1</el-menu-item>
        <el-menu-item index="2-2">选项2<

[2020-12-02 06:24] JeremyWuuuuu commented on #770
From what I am getting here, it's related to a computational rendering issue, whenever the `key` changes, `el-form` gets re-rendered then the width of the label will be calculated correctly. So it has to have something todo with the `calculation` part of the label width, if you are willing to fix the bug, then I will assign this to you

[2020-12-02 06:45] JeremyWuuuuu opened #776 "Release Automation - Release new version via Github Actions"
## Background
Now we are under fast pace developing, which often comes with lots of bug fixes and new features.
The current way of releasing is manually release by @zazzaz

## Requirement
As a maintainer myself I want to release a new version via Github provided release function [release](https://github.com/element-plus/element-plus/releases/new) here, when I type fill up required informations and

[2020-12-02 06:57] kooriookami commented on #770
I have no good way to solve this problem, regret.

[2020-12-02 07:47] piexlmax opened #777 "Card组件body-style的props类型检测错误"
warning内容： [Vue warn]: Invalid prop: type check failed for prop "bodyStyle". Expected String with value "[object Object]", got Object

经过翻阅源码 发现 card下接收的bodyStyle type为String 默认为 ""

请问此处的props类型是否存在问题

[2020-12-02 07:54] JeremyWuuuuu commented on #777
We had a fix in #754 and merged, also published, use `yarn upgrade` to upgrade your local version

[2020-12-02 07:54] #777 closed

[2020-12-02 07:59] lqsong opened #778 "Popover,Popconfirm in the Table，overflow: hidden;"
[code]
![image](https://user-images.githubusercontent.com/22975974/100844810-4e2a8100-34b7-11eb-877c-025fa27bb14a.png)

[2020-12-02 08:00] welca commented on #755
try this:
`app.use(ElMessage as any)`

[2020-12-02 08:15] ht-sauce opened #779 "关于lodash引入导致的文件过大问题"
![1606896644(1)](https://user-images.githubusercontent.com/34828964/100846517-95b20c80-34b9-11eb-8b78-6bdfc61a5366.jpg)
我已经在生产环境中使用了该组件库，并且为了优化大小问题，我做了按需加载。虽然会有一些小问题，但是自己都可以解决。但是今天用vuecli的打包分析vue-cli-service build --report发现一个致命的问题。
elemenPlus引入了lodash.js，导致原本很小的首屏加载，瞬间飙升到600kb以上，其中lodash.js就需要500kb。希望官方能够重视该问题，否则是非常影响首屏加载的。

[2020-12-02 08:17] LuoHuacheng opened #780 "Alert 组件样式显示问题"
Alert 组件在没有辅助性文字且带图标的条件下，图标与文字没有水平对齐，因为 **slot description** 没有做判断，如下图，希望可以添加判断。
![微信截图_20201202161305](https://user-images.githubusercontent.com/14214871/100846777-e45fa680-34b9-11eb-9ef3-eabc5f45bb43.png)
![微信截图_20201202161404](https://user-images.githubusercontent.com/14214871/100846786-e7f32d80-34b9-11eb-9fea-bb0db4e5f38b.png)

[2020-12-02 08:20] JeremyWuuuuu commented on #779
This is serious, we need to take a look on that. cc @zazzaz

[2020-12-02 08:21] JeremyWuuuuu commented on #780
cc @Ryan2128 , can you make a PR for this?

[2020-12-02 08:23] Ryan2128 commented on #780
YES.

[2020-12-02 08:25] LuoHuacheng opened #781 "i18n RTL support ?"
我注意到有提供阿拉伯语言支持 **ar** ，因为中东地区的书写排版方式是从右向左的，请问官方有没有支持布局上的左右切换呢？还是说需要我自己将样式文件单独提取出来做一次 **rtl** 处理再根据条件加入自己项目。

I noticed that there is Arabic language support ar because the writing and typesetting method in the Middle East is from right to left. Does the official support for switching left and right in the layout? Or I need to extract the style file by myself, do rtl processing and then add it to m

[2020-12-02 08:28] JeremyWuuuuu commented on #781
Nope, that has not been added.
We definitely need to add rtl support.

[2020-12-02 08:40] kooriookami opened #783 "Tooltip with dropdown will not show"
Tooltip with dropdown will not show.
[code]
Is this a bug?
![image](https://user-images.githubusercontent.com/38392315/100848988-dcedcc80-34bc-11eb-8e2f-d26fb8f116be.png)

[2020-12-02 08:44] ht-sauce opened #784 "el-pagination国际化，官方文档错误sync使用，sync下数据未更新"
直接拷贝官方分页组件
 <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page.sync="currentPage3"
      :page-size="100"
      layout="prev, pager, next, jumper"
      :total="1000">
    </el-pagination>
1、vue3已经不支持sync，现在是@update，并且使用@update发现数据不会同步变更
2、目前为按需加载，引入使用的时候官方的“前往”中文字样，变成go to，并且没有找到可以变更名称的参数

[2020-12-02 08:48] PurpleDandelion commented on #726
I have the same problem.just because $index is undefined

[2020-12-02 08:57] JeremyWuuuuu commented on #784
Answer for

Part of the documentation has not been updated yet.
Now you use `v-model:currentPage` as model value to pass down to `el-pagination

Answer for

Because the default locale has been updated to `en_US`. In order to change that, simply do this:

[code]

[2020-12-02 09:01] piexlmax opened #786 "希望可以在el-menu的select中可以获取到所选择元素的相关属性"
在 element v2版本中 select三个参数（index,indexPath,element）其中element可以获取到目前活跃item上所挂载的属性，在v3版本中，第三个属性之可以获取到{index，indexPath}，期望可以如V2版本一样

[2020-12-02 09:02] JeremyWuuuuu commented on #783
I wonder under what circumstances you are going to need feature like this? This just doesn't make any sense to me.

[2020-12-02 09:05] JeremyWuuuuu commented on #783
Cause you see, because `ElDropdown` was built with `ElPopper`, `ElTooltip` was built with as well. The current implementation of `ElPopper` is to took the first child of the `default` slot then copy it via `cloneVNode`, even thought I haven't take a closer look at this issue, but I do see potential issue.

[2020-12-02 09:09] #780 closed

[2020-12-02 09:09] Ryan2128 commented on #783
Maybe this ? It works well.

[code]

[2020-12-02 09:14] #771 closed

[2020-12-02 09:18] kooriookami commented on #783
![image](https://user-images.githubusercontent.com/38392315/100853052-43c1b480-34c2-11eb-86c6-3a66ceada0b2.png)
When the button is an icon, the tooltip has a great work.

[2020-12-02 09:19] kooriookami commented on #783
Yes, it's work well.

[2020-12-02 09:21] JeremyWuuuuu commented on #783
There are risks for this kind of implementation that you might want to be aware of, which is that when there is no sufficient space, the top `tooltip` will be flipped down and taking over the dropdown's position, which could be annoying.

[2020-12-02 09:26] JeremyWuuuuu commented on #786
Could you be more specific? It's kind of hard to assume what you need...

[2020-12-02 09:27] justwiner commented on #726
[code]

[2020-12-02 09:31] Ttou opened #787 "TSX 相关问题"
版本：1.0.1-beta.14
说明：记录遇到的类型问题，**有些组件没有用 defineComponent 构建，引用时就会报错**
- [x] ElInput 的 placeholder 属性缺失
- [x] ElSubmenu 使用报错：JSX element type 'ElSubmenu' does not have any construct or call signatures
- [ ] ElForm 的 size 属性当前是 any，应该是 medium / small / mini
- [x] ElMenuItem 使用报错：JSX element type 'ElMenuItem' does not have any construct or call signatures

[2020-12-02 10:14] #779 closed

[2020-12-02 10:29] Liiked commented on #786
the impelemation of `menu` is never like before, you may specify your needs
we'll see if there is any neccessary to do it or make it better

[2020-12-02 11:16] Liiked commented on #762
is there any possibility you've done something which affects or covers elemet-plus styles?

[2020-12-02 11:40] Liiked commented on #787
you may leave some **code** or **reproduction** method here to help us identify your question

[2020-12-02 11:49] lqsong opened #789 "'Select' is used in 'Drawer'，Option to disappear。"
[code]
[https://element-plus.gitee.io/#/zi-ding-yi-nei-rong](https://element-plus.gitee.io/#/zi-ding-yi-nei-rong)

![image](https://user-images.githubusercontent.com/22975974/100869025-67432a00-34d7-11eb-8878-951ae2052e72.png)

[2020-12-02 15:40] Forx-Js opened #791 "TypeScript 下按需引入,部分组件出现引入出现问题"
1. 按照文档提示 配置 `babel.config.js`
2. 按照文档 引入所有组件(按需引入)
[code]

[2020-12-03 00:38] zychome commented on #762
谢谢 ，确实是这个原因

下面的li影响到了菜单样式
li {
  display: inline-block;
  margin: 0 10px;
}

[2020-12-03 01:13] ntgraph commented on #687
Hello,
is this fixed?  I download beta.2 it seems worst

[2020-12-03 01:16] JeremyWuuuuu commented on #687
nope the one I asked for the fix did not fix it, I will fix it today and will be released with beta.3

[2020-12-03 01:17] JeremyWuuuuu commented on #789
Regression bug, will be fixed and released in beta.3

[2020-12-03 01:19] JeremyWuuuuu commented on #791
Could you provide a minimal reproducible code  or repo for this bug?

[2020-12-03 01:22] JeremyWuuuuu commented on #787
Well, the placeholder thing is indeed some type mistaken that we have added yet, this will be fixed soon

[2020-12-03 01:30] Lliuxs commented on #533
ElDropdownItem 属性command默认值 单词拼写错误

[2020-12-03 02:14] #762 closed

[2020-12-03 02:16] ht-sauce opened #792 "ElDialog无法正确展示，按需加载样式丢失"
这个问题比较严重，在按需加载的时候我发现弹窗不能正确展示在页面上，通过检查dom节点发现已经正常挂载了。然后通过另一个issues发现是样式丢失，但是并不是弹窗内部是蒙版部分丢失。
解决方式是在全局样式部分加入
// 弹窗样式丢失
.el-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

[2020-12-03 02:25] #766 closed

[2020-12-03 02:26] kooriookami opened #793 "Bug with slot of el-table-column"
When use `scope.row.xxx.yyy` in el-table-column, There is an error: TypeError: Cannot read property 'yyy' of undefined. I can use `scope.row.xxx?.yyy`. It seems a bug with lifecycle.

[2020-12-03 02:33] JeremyWuuuuu commented on #792
I'll go ahead investigating this issue. Thank you!

[2020-12-03 02:33] JeremyWuuuuu commented on #793
cc @justwiner

[2020-12-03 02:35] JeremyWuuuuu opened #794 "[New Component] - Virtual List"
A new component that allows user to view a hug amount of data and without compromising the performance

[2020-12-03 02:36] JeremyWuuuuu commented on #794
#790

[2020-12-03 02:39] piexlmax commented on #786
抱歉，更新版本后发现第三个参数route已经恢复正常。

[2020-12-03 02:39] #786 closed

[2020-12-03 03:59] JeremyWuuuuu commented on #789
What version are you using?
It seems fine on my machine with `beta.2`
![image](https://user-images.githubusercontent.com/15975785/100962304-08c18e80-355f-11eb-9948-28c4991f8235.png)

[2020-12-03 04:06] piexlmax opened #797 "menu 设置了 unique-opened 出现 'indexOf' of undefined 报错"
报错内容 ： Cannot read property 'indexOf' of undefined
涉及报错代码行数猜测：menu.vue 147 ---> 151

[2020-12-03 04:10] lqsong commented on #789
`beta.2`

[https://element-plus.gitee.io/#/zh-CN/component/drawer](https://element-plus.gitee.io/#/zh-CN/component/drawer)

![image](https://user-images.githubusercontent.com/22975974/100962977-702c0e00-3560-11eb-862b-4f00b14c2c9c.png)

[2020-12-03 04:10] JeremyWuuuuu commented on #797
Fixed in #775  will  be released tonight

[2020-12-03 04:10] #797 closed

[2020-12-03 05:48] JeremyWuuuuu commented on #789
This could be related to the rendering strategy, drawer always updates its `z-index` when `visibility` changes, the current documentation site has not been updated to the newest version I think. This should be fixed in next release.
Also I think we should suggest our user doing things with `how to avoid select component being covered by dialog like components`

[2020-12-03 06:02] acupofspirt opened #799 "ElSelect: popper.value.update is not a function error"
If you try to change the width of input(`.el-input__inner`) inside ElSelect component you will get popper error.

Try to `input.style.width = '140px'` and get **_"Uncaught TypeError: t.update is not a function"_**

**packages/select/src/useSelect.ts:403**
![image](https://user-images.githubusercontent.com/1342726/100970445-fb4bda80-3545-11eb-8106-3c9a29508cab.png)

[2020-12-03 06:04] JeremyWuuuuu commented on #799
Do you have a demo for me to debug?
Though I think this should be `popper.value?.update?.()`, the code seems not robust

[2020-12-03 06:14] UncleCarlos opened #800 "[Feature Request] Tabs增加扩展插槽"
参考 Ant Design

![image](https://user-images.githubusercontent.com/50797685/100970731-732efa80-3570-11eb-8578-c545595ca924.png)

期望
[code]

比较常见的需求，暂时是用css实现了
但当tabs过多出现滚动时，与el-tabs__nav定位有些问题
希望增加插槽

[2020-12-03 06:15] JeremyWuuuuu commented on #800
cc @bastarder

[2020-12-03 06:45] vipsunwei commented on #799
我也遇到了类似的问题，el-select ，onfocus的时候  报了个错
![image](https://user-images.githubusercontent.com/15810277/100973706-fdc62880-3575-11eb-8340-4126345d31d6.png)
![image](https://user-images.githubusercontent.com/15810277/100973801-36660200-3576-11eb-85d7-8eebe8199b40.png)

[2020-12-03 06:46] vipsunwei commented on #799
![image](https://user-images.githubusercontent.com/15810277/100973865-55649400-3576-11eb-8575-ea2ecd2a18b3.png)

[2020-12-03 06:55] vipsunwei opened #801 "el-pagination current-change事件换一页会触发两次"
[code]

handlePageNumberChange   这事件回调中打印会打印出两次

![image](https://user-images.githubusercontent.com/15810277/100974612-8b564800-3577-11eb-855b-b1a2175b1602.png)

[2020-12-03 07:03] vipsunwei opened #802 "el-select 组件 focus时报错 ；浏览器resize时也报错"
报错信息：

![image](https://user-images.githubusercontent.com/15810277/100975033-50084900-3578-11eb-8b68-6d6c83ebc960.png)

![image](https://user-images.githubusercontent.com/15810277/100975102-7201cb80-3578-11eb-8670-310a53238ee3.png)

缩放浏览器时报错：
![image](https://user-images.githubusercontent.com/15810277/100975172-8b0a7c80-3578-11eb-98de-24f8c1123ad2.png)

![image](https://user-images.githubuserconte

[2020-12-03 07:04] CaiPeng1989 commented on #791
`element-plus/lib/index.d.ts`
`ElScrollBar` -> `ElScrollbar`

[2020-12-03 07:04] cwxyz007 opened #803 "el-checkbox "checked" prop not working"
Example: https://github.com/cwxyz007/element-plus-test

Code:

[code]

Result is:

![image](https://user-images.githubusercontent.com/14226737/100975326-cefd8180-3578-11eb-83be-dd319aa6e60e.png)

package.json:
[code]

[2020-12-03 07:11] cwxyz007 commented on #803
Find some source code, and it didn't check "checked" props.

https://github.com/element-plus/element-plus/blob/5db2e9729cfe346854be957c26d6c86e11484960/packages/checkbox/src/useCheckbox.ts#L78-L87

[2020-12-03 07:13] JeremyWuuuuu commented on #803
cc @zouhangwithsweet please take a look at this issue.

[2020-12-03 07:17] JeremyWuuuuu commented on #803
I believe that `checked` and `modelValue` or `v-model` is the same thing, they all represent the same thing which is the state of the binding checkbox, that indicates whether the checkbox is checked or not, so it was a redundant design in version 2.x, I think we only need `v-model` to represent the current state of the checkbox. Otherwise the code would be much more complicated with all that compa

[2020-12-03 07:17] JeremyWuuuuu commented on #803
We should definitely mention that on the documentation.

[2020-12-03 07:18] JeremyWuuuuu commented on #802
Got it, this should be fixed soon cc @zouhangwithsweet

[2020-12-03 07:19] JeremyWuuuuu commented on #801
I'm going to take a look at the code, thank you. If this is verified as a bug, it will be taken care of soon.

[2020-12-03 07:21] JeremyWuuuuu commented on #802
Duplicate with #799

[2020-12-03 08:45] ht-sauce commented on #784
好的。

[2020-12-03 08:45] #784 closed

[2020-12-03 08:53] Pixelairport commented on #799
I also have a similar error with the select field. If i use the field in my app and change the value in the field and then resize my page, I get: "Uncaught TypeError: t.update is not a function".

<img width="572" alt="Bildschirmfoto 2020-12-03 um 09 53 02" src="https://user-images.githubusercontent.com/1210592/100986376-6816a300-354d-11eb-8d6d-b2f6884bee0d.png">

[2020-12-03 09:06] SimonaliaChen commented on #727
@giserman001 If this is what you want, I'm sure it's valuable in some scenarios. But I think it's kind of too customized to exist in a common ui library, especially the `caption`. We need designer involved which might take a long time. As for `check all`, it does make some convenience in `checkStrictly` mode, we will figure it out in out later stable version.

[2020-12-03 09:06] #727 closed

[2020-12-03 09:06] ht-sauce opened #804 "Eltable中关于滚动条会随意跳动，show-overflow-tooltip参数引发的bug，ElPagination 参数page-count无效"
问题有点多，我一个个来
一、Eltable部分
1、el-table中关于行数超过然后出现滚动条的问题
当最后一页（最后一页数据无法分页）的时候返回上一页会丢失竖向滚动条，再返回一次就正常了
2、针对上一个问题，个人手动修改样式，但是没有给height参数赋值，横向滚动条会随意跳动
个人解决方式：
首先:max-height="700":height="700"都需要
并且样式上增加：
::v-deep(.is-scrolling-left) { height: 659px; overflow: auto; }
3、当表格上面使用show-overflow-tooltip参数鼠标移动上去会出现大量的vue方面的bug，不知道是官方代码引发了vue深层次原因，还是其他。
目前个人采用自定义单元格方式实现
![AVTROUOSLON$@SE5F~_S$KV](https://user-imag

[2020-12-03 09:11] JeremyWuuuuu commented on #804
About `show-tooltip` see #728

About `Pagination`
Here is the section about `page-count`
![image](https://user-images.githubusercontent.com/15975785/100988318-8f3f9580-358a-11eb-8ed2-24bf9899c1ae.png)

[2020-12-03 09:13] vipsunwei opened #805 "分页器el-pagination选择pagesize的时候，弹出的选择框可以调整弹出方向吗？"
分页器选择pagesize的时候，弹出的选择框可以调整弹出方向吗？
向下弹出来超出了可视范围了，
![image](https://user-images.githubusercontent.com/15810277/100988517-c9109c00-358a-11eb-9012-116bd0ca496b.png)

[2020-12-03 09:14] JeremyWuuuuu commented on #804
So this means, when `total` is passed to the component, `page-count` won't have any effect on this component.
That's because we have a `internalPageCount` to do the calculation, and I think this is a little bit confusing, because we always want data to drive the UI, which means, `page-count` should have never been an API exposed to our users.

[2020-12-03 09:15] JeremyWuuuuu commented on #805
Reasonable, but could you give some demo to reproduce it?

[2020-12-03 09:19] SimonaliaChen opened #806 "Cascader: add `checkAll` option"
**Related Components**

Cascader, Casceder Panel

**Description**

Add `checkAll` option and `checkAllText` option, which only useful in `multiple` mode.
Like this:
![image](https://user-images.githubusercontent.com/36978416/100989245-9915c880-358b-11eb-9268-a052f8bcb5ab.png)
And sure we should take i18n into consideration.

**Affected Issues**

#727

[2020-12-03 09:29] vipsunwei commented on #805
图片传不上来了呀，GitHub不显示图片了又。

大概意思就是本身我的浏览器可视区域高度769px，分页器在页面最下方，选择pagesize的时候，弹出来的选择框在分页器整体下方，就给页面高度撑高了，露出来下方一片白背景，和我的主题风格不一样颜色。
希望可以感知分页器在最下方的时候  ， 向上弹出选择框。

[2020-12-03 09:34] SimonaliaChen commented on #799
I have fixed it in #785, it's because of a duplicated ref binding. We will release it soon in beta.3

[2020-12-03 09:34] #799 closed

[2020-12-03 09:35] SimonaliaChen commented on #802
I have fixed it in #785, it's because of a duplicated ref binding. We will release it soon in beta.3

[2020-12-03 09:35] #802 closed

[2020-12-03 09:52] ht-sauce commented on #804
<el-pagination :current-page="1" layout="prev, pager, next" :page-count="10"> </el-pagination>
刚才的测试代码，我的是这样的
版本："element-plus": "^1.0.1-beta.0",
但是页面上面是这样的
![0)8IVU)2H@{KFV$1Z(95BGI](https://user-images.githubusercontent.com/34828964/100993269-278c4900-3590-11eb-9917-acb11f80dcf4.png)

[2020-12-03 10:03] SimonaliaChen commented on #805
Sounds werid. The `popper` will auto flip when there is no enough room in viewport and should not expand the page. Could you provide a reproduce demo to help us in troubleshooting?

[2020-12-03 11:22] JeremyWuuuuu commented on #805
I think I might know the root cause of this issue. Will be fixed soon.

[2020-12-03 11:26] JeremyWuuuuu commented on #805
@vipsunwei Could you paste the demo code here. Thank you.

[2020-12-03 12:56] cwxyz007 commented on #803
Yes, you are right. And I will use `v-model` to replace it. Thanks for your answer.

[2020-12-03 12:56] #803 closed

[2020-12-03 13:37] JeremyWuuuuu commented on #791
cc @zazzaz

[2020-12-03 13:47] JeremyWuuuuu commented on #761
I'll close this issue since it's been a while since it's been opened. Feel free to reopen if you have updates on this

[2020-12-03 13:47] #761 closed

[2020-12-03 13:51] JeremyWuuuuu commented on #804
This is because the default value of `total` is **1000**, the default value of `pageSize` is **10**, when you did not passing any value to `el-pagination` it gets that from `default`, which in this case is **1000 / 10 **, you get **100** pages.

[2020-12-03 14:32] #726 closed

[2020-12-03 14:40] kooriookami opened #812 "Error style of el-select-dropdown"
![image](https://user-images.githubusercontent.com/38392315/101042694-6d5d0780-35b8-11eb-8f96-1e86b443f7fd.png)
[code]

[2020-12-03 14:43] #778 closed

[2020-12-03 14:45] #792 closed

[2020-12-03 14:56] zazzaz commented on #791
will do

[2020-12-03 17:53] lihaotian0607 opened #818 "Table [Vue warn]: event "cell-contextmenu""
Component emitted event "cell-contextmenu" but it is neither declared in the emits option nor as an "onCell-contextmenu" prop.

[2020-12-04 01:04] lqsong opened #819 "Select [Vue warn] declare it using the "emits" option."
![image](https://user-images.githubusercontent.com/22975974/101108502-965cb700-360f-11eb-8620-fac8ac112635.png)

[2020-12-04 01:06] JeremyWuuuuu commented on #819
Closing, because this is a issue from Vue instead of us. After the version gets bumped to 3.0.4 it should be fixed

[2020-12-04 01:06] #819 closed

[2020-12-04 01:07] JeremyWuuuuu commented on #818
cc @justwiner

[2020-12-04 01:08] JeremyWuuuuu commented on #805
need further info to investigation, it looks good on my side

[2020-12-04 01:10] JeremyWuuuuu commented on #812
I also found this to be a potential bug last night. It correct behavior is that whenever the visibility of select dropdown shows it should adjust its width with its reference

[2020-12-04 01:10] JeremyWuuuuu commented on #812
Interested in making PR on this?

[2020-12-04 01:12] lqsong opened #820 "Popconfirm in the Table，overflow: hidden;"
[https://github.com/element-plus/element-plus/issues/778](https://github.com/element-plus/element-plus/issues/778)

`beta.3`

![image](https://user-images.githubusercontent.com/22975974/101108975-bc368b80-3610-11eb-99a0-6e5bfa79e7e9.png)

**Still unresolved**

[2020-12-04 01:15] JeremyWuuuuu commented on #820
Fixed last night but @zazzaz made a mistake, will come out in beta.4

[2020-12-04 01:15] #820 closed

[2020-12-04 02:57] ht-sauce opened #821 "ElSelect组件点击出现vue warning报错"
![6XKVSBDWJ13QS6FSNJWLRH6](https://user-images.githubusercontent.com/34828964/101116128-77feb780-361f-11eb-92f8-fe279d2358a9.png)
以下是我的代码
`
<el-select placeholder="请选择需要上传的文件类型">
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value"

        </el-option>
      </el-select>
`

[2020-12-04 02:59] JeremyWuuuuu commented on #821
Duplicate with #819 , this came from `Vue`, bumping you version to `3.0.4` this should be solved.

[2020-12-04 02:59] #821 closed

[2020-12-04 03:56] wushuxuan opened #822 "DateTimePicker 设定默认的起始与结束时刻后，选择日期，显示Invalid Date"
![image](https://user-images.githubusercontent.com/30644407/101120073-a5e7fa00-3627-11eb-9a36-a65a2555a119.png)

[2020-12-04 03:57] zazzaz commented on #533
fixed in #823

[2020-12-04 03:57] JeremyWuuuuu commented on #822
cc @zazzaz

[2020-12-04 03:59] JeremyWuuuuu commented on #804
For question 1, could you give some demo code to reproduce it?

[2020-12-04 04:00] JeremyWuuuuu commented on #783
Closing this since this is a trivial issue which related to how you use the components

[2020-12-04 04:00] #783 closed

[2020-12-04 04:01] JeremyWuuuuu commented on #755
This is only a work around on this. We should fix it in code.

[2020-12-04 04:02] wushuxuan commented on #822
是的，我发现了是因为dayjs转换的问题，刚提了pull requests兼容了一下

[2020-12-04 04:02] zazzaz commented on #533
3. yes disabledHours  https://github.com/element-plus/element-plus/issues/162#issuecomment-676052160
4. will do

[2020-12-04 04:21] kooriookami commented on #812
OK, I will try.

[2020-12-04 06:05] jahnli opened #826 "Extraneous non-props attributes"
Extraneous non-props attributes (align, unlink-panels) were passed to component but could not be automatically inherited because component renders fragment or text root nodes.
  at <Picker format="YYYY-MM-DD" type="daterange" modelValue=""  ... >
  at <ElDatePicker modelValue="" onUpdate:modelValue=fn type="daterange"  ... >
  at <Report onVnodeUnmounted=fn<onVnodeUnmounted> ref=Ref< undefined > >

[2020-12-04 06:16] vvizden opened #827 "Can the date picker be shown as a gregorian calendar month?"
Hello,

the date picker for month looks like a lunar calendar, it looks very confusing. Can that be shown as a gregorian calendar month?

The locale lang is zh-cn.

[2020-12-04 06:18] JeremyWuuuuu commented on #826
Duplicate with #821 #819  Please upgrade your local version of `Vue` to `^3.0.4` this problem will be solved. And please search issues before raising one, that will save the maintainers lots of time. Thank you

[2020-12-04 06:18] #826 closed

[2020-12-04 06:24] zazzaz commented on #827
Any detail or screenshot, pls?

[2020-12-04 06:45] justwiner commented on #818
I think it's a new feature, not a bug.
The `cell ContextMenu` event is not included in the `element-ui/Table`

![image](https://user-images.githubusercontent.com/30335393/101130773-0f273780-363f-11eb-98ba-9232e3d35b9f.png)

But this is a good suggestion, and it can be implemented in the next release.

[2020-12-04 06:47] justwiner commented on #793
Because when rendering for the first time, the multi-level header will be generated according to the structure of `el-table-column`.
Here, for the moment, I use `try-catch` to resolve it.
[code]
It doesn't affect the rendering of the page

[2020-12-04 07:00] justwiner commented on #818
You can do the same with the following code
[code]

[2020-12-04 07:09] xyorz opened #831 "el-date-picker的内联style被添加到了下拉框上"
[https://codesandbox.io/s/zen-breeze-8v1n1](url)

[2020-12-04 07:25] bastarder commented on #751
I'll close this issue since it's been a while since it's been opened. Feel free to reopen if you have updates on this

[2020-12-04 07:25] #751 closed

[2020-12-04 07:39] leeq404 opened #832 "Menu collapse transition animation bug"
**Compoent**: Menu

**Question**: Menu  default collapse transition value is true, while open the collapse ，animation has worked, but when close the collapse , the animation has disappear

**Vue Version** : 3.0.4

**Element Version** : 1.0.1-beta.3

![menu.gif](https://s3.ax1x.com/2020/12/04/Dbmbng.gif)

[2020-12-04 07:43] leeq404 commented on #832
I haven't tested this component separately，I will do this as soon.

[2020-12-04 08:10] ym87498510 opened #833 "The slot is not render in <el-upload> with list-type="picture-card""
When we use the office example :
[code]
We  found the tags in <template #file="{file}"> does not render

[2020-12-04 08:12] ym87498510 commented on #833
Actually，I didn't see <solt/> in sourcecode

[2020-12-04 08:17] Lliuxs opened #835 "el-menu enhancement"
是否可新增类似 ele-admin中sidebar-item的递归组件
用户只需要传入一个数组即可

[2020-12-04 08:38] FlyDancing opened #836 "dynamic type of el-date-picker unvisible"

[2020-12-04 08:58] #661 closed

[2020-12-04 09:07] #791 closed

[2020-12-04 09:33] bastarder commented on #606
I'll close this issue since it's been a while since it's been opened. Feel free to reopen if you have updates on this

[2020-12-04 09:33] #606 closed

[2020-12-04 09:39] #770 closed

[2020-12-04 09:45] bastarder commented on #836
can you give more information about that?

[2020-12-04 09:47] Eki0354 opened #837 "input组件建议传出按键原生事件"
直接在el-input上写v-on:keyup和v-on:keypress事件是不起作用的，因为vue3取消了native修饰符，源码里只emit了keydown事件，导致需要判断按键的时候使用很不方便，不知道有没有其他方法解决？

[2020-12-04 11:30] xiaoxian521 commented on #592
@JeremyWuuuuu  我全局引入了element-plus 那么我在vue种需要如何使用message组件呢

[2020-12-04 11:58] vipsunwei commented on #805
@JeremyWuuuuu   我重新创建了一个demo，那个分页器感知在最下方弹出是向上的，但是在我的项目中就是向下的，我对照了两个项目不同的地方，demo中我用的主题是
`plugins: [
    [
      "component",
      {
        libraryName: "element-plus",
        styleLibraryName: "theme-chalk",
      },
    ],
  ],`

我在我的项目中使用了自定义主题，
`plugins: [
    [
      "component",
      {
        libraryName: "element-plus",
        styleLibraryName: "~src/theme",
      },
    ],
  ],`
是官方文档提

[2020-12-04 12:00] vipsunwei commented on #805
@JeremyWuuuuu
这是我用的版本
`"dependencies": {
    "core-js": "^3.6.5",
    "element-plus": "^1.0.1-beta.3",
    "vue": "^3.0.0",
    "vue-router": "^4.0.0-0"
  },
  "devDependencies": {
    "@vue/cli-plugin-babel": "~4.5.0",
    "@vue/cli-plugin-router": "~4.5.0",
    "@vue/cli-service": "~4.5.0",
    "@vue/compiler-sfc": "^3.0.0",
    "babel-plugin-component": "^1.1.1",
    "sass": "^1.26.5",
    "sas

[2020-12-04 12:11] huangzhongzhong commented on #377
![element plus-logo-small@4x](https://user-images.githubusercontent.com/46183365/101162004-b1114900-366c-11eb-9c94-c2f4317253fb.png)
![element plus-logo-small_1@4x](https://user-images.githubusercontent.com/46183365/101162014-b79fc080-366c-11eb-9470-f2645f86a0db.png)
[element plus-logo-small.zip](https://github.com/element-plus/element-plus/files/5642612/element.plus-logo-small.zip)
修复了之前无边框版本忘记设置

[2020-12-04 12:15] xiaoxian521 opened #839 "message组件需求"
可以将message全局添加{ showClose: true }

[code]

不希望每个message都配置{showClose: true,}  可以提供一个全局的配置

[2020-12-04 13:28] vipsunwei opened #840 "el-date-picker 取消左右侧日历联动 unlink-panels 失效了"
`<el-date-picker
      v-model="date"
      type="datetimerange"
      range-separator="至"
      start-placeholder="开始日期"
      end-placeholder="结束日期"
      :unlink-panels="false"
      @change="handleDatePickerChange"

    </el-date-picker>`

我一开始刚看到这个属性高兴极了， 马上试了一下，当时是好使的，

写了几天发现取消联动失效了，这部分代码什么都没改，更新element-plus到beta3 也不好使

[2020-12-04 14:21] JimmyJim1 commented on #840
Ok

[2020-12-04 16:04] boonyasukd opened #841 "Missing defineComponent() in components breaks VS Code Intellisense support"
I'm currently migrating codebase with **VS Code** with **Volar**, which [Evan suggested his team to use instead of **Vetur** "for now"](https://github.com/vuejs/vitepress/pull/137#issuecomment-733868635) (at least until Vetur is fully up-to-date with Vue 3).

While developing, I found that Intellisense inside `<template>` section doesn't work on some of the `element-plus`' components. After inspec

[2020-12-04 20:43] lihaotian0607 opened #842 "Pagination current-change is triggered twice"
https://jsfiddle.net/y8wd413a/1/

![image](https://user-images.githubusercontent.com/32523475/101212830-f86afa00-36ab-11eb-90a5-be6942792477.png)

[2020-12-04 21:37] lihaotian0607 opened #843 "Select in the card will cause the display to be incomplete"
https://jsfiddle.net/y8wd413a/9/

![image](https://user-images.githubusercontent.com/32523475/101217178-84cceb00-36b3-11eb-8021-5e2f1fa03351.png)

[2020-12-05 01:09] JeremyWuuuuu commented on #842
We have fixed this but not released yet, see #811

[2020-12-05 01:09] #842 closed

[2020-12-05 01:10] JeremyWuuuuu commented on #841
Thank you for bringing this up, I promise that we will get this fixed ASAP!

[2020-12-05 01:14] JeremyWuuuuu commented on #839
You can use message via importing isteadof getting it from global properties. Also you are able to encapsulate your own message based on that, just one more function call would not cause any perf issue

[2020-12-05 01:16] JeremyWuuuuu commented on #837
Let me confirm that you need these events from "input" itself or somewhere else?

[2020-12-05 01:17] xiaoxian521 commented on #839
可以提供下示例代码吗 我全家注册这个东西 通过this.$message就拿不到了

[2020-12-05 01:18] xiaoxian521 commented on #839
可以提供示例代码吗？我全局注册了，就拿不到这个this.$message

[2020-12-05 01:20] JeremyWuuuuu commented on #839
Global method

Element Plus has added a global method $message for app.config.globalProperties. So in a vue instance you can call Message like what we did in this page.

Local import

import { ElMessage } from 'element-plus';
In this case you should call ElMessage(options). We have also registered methods for different types, e.g. ElMessage.success(options). You can call ElMessage.closeAll() to ma

[2020-12-05 01:22] JeremyWuuuuu commented on #839
Or you can import like
`import Message from 'element-plus/lib/el-message'`

[2020-12-05 01:23] xiaoxian521 commented on #839
我已经全家导入element 为什么还需要单独这么引用呢？

[2020-12-05 01:23] xiaoxian521 commented on #839
我已经全局导入element 为什么还需要单独这么引用呢？

[2020-12-05 01:35] JeremyWuuuuu commented on #839
In setups you use it like
`const message = getCurrentInstance()?.appContext.config.globalProperties
      .$message;`
Which is more code than you import it directly

In options API you can use it as before via `this.$message`

[2020-12-05 01:53] xiaoxian521 commented on #839
haha 这是我没找到更好的办法才出此下策

[2020-12-05 01:57] JeremyWuuuuu commented on #839
You may make a file which named useConfig
useConfig.ts
[code]

Might save you some code

[2020-12-05 02:15] xiaoxian521 commented on #839
我在main.ts中这样全家注册import ElementPlus from 'element-plus'
import 'element-plus/lib/theme-chalk/index.css'

// 导入公共样式
import "./assets/index.css"

const app = createApp(App)

import Message from 'element-plus/lib/el-message'

app.config.globalProperties.$message = Message

app.use(store).use(router).use(ElementPlus).mount('#app')

然后在单页面中使用this.$message(""); 会报TypeError: Cannot read property '$message

[2020-12-05 02:15] xiaoxian521 commented on #839
是我但方法有问题吗？

[2020-12-05 02:16] JeremyWuuuuu commented on #839
example please

[2020-12-05 02:18] xiaoxian521 commented on #839
就是在setup中直接使用this.$message("");

[2020-12-05 02:19] JeremyWuuuuu commented on #839
setup don't have a `this`, please go read the documentation

[2020-12-05 02:19] #839 closed

[2020-12-05 02:20] JeremyWuuuuu commented on #839
https://v3.vuejs.org/guide/composition-api-setup.html#usage-of-this

[2020-12-05 02:21] xiaoxian521 commented on #839
我知道 render可以使用 但是这样但话 我每个vue单页面是不是都要import Message from 'element-plus/lib/el-message'

[2020-12-05 02:22] JeremyWuuuuu commented on #839
use options API is better for your need

[2020-12-05 02:23] xiaoxian521 commented on #839
好吧 谢谢

[2020-12-05 02:36] Eki0354 commented on #837
Yes, from base 'input'. I can't find a implementation if the page needs do something after someone pressed 'Enter' in 'input'.

[2020-12-05 02:44] JeremyWuuuuu commented on #837
https://github.com/element-plus/element-plus/blob/dev/packages/select/src/select.vue#L96
I just checked the code of select seems it uses these events seamlessly like native input, maybe we didn't update the documentation

[2020-12-05 03:18] Eki0354 commented on #837
Sorry for confusing you. I want to listen the event of 'keyup' or 'keypress' on 'el-input' instead of native 'input'. However, they only provide 'keydown' for 'el-input' right now.

[2020-12-05 03:39] SimonaliaChen commented on #843
Hi, I'm sorry to trouble you. We have changed the default value of `appendToBody` in `popper` and other components based on `popper` from `true` to `false` due to the performance issue, and I did't expect this. In this scenario, the select popper was cut off by `overflow: hidden` from parent node. You can simply add `:popper-append-to-body = true` to fix it. We will reconsider the default value is

[2020-12-05 04:30] #843 closed

[2020-12-05 05:45] zazzaz commented on #840
A reproduction demo, please? The demo on the doc website is working correctly.

[2020-12-05 05:46] zazzaz commented on #822
This is a doc error. You can check here https://github.com/element-plus/element-plus/issues/162#issuecomment-694793880

defaultTime option accept Date object not a time string.

You can pass
[code]

to set default time to 12:00:00.

I'll update the doc shortly.

[2020-12-05 06:51] lqsong opened #847 "Table [Vue warn]: setup() return property "$index" should not start with "$" or "_" which are reserved prefixes for Vue internals."
`1.0.1-beta.4`

![image](https://user-images.githubusercontent.com/22975974/101236093-4104d080-3709-11eb-88de-77d97fb14cfd.png)

[2020-12-05 07:11] lqsong commented on #789
`1.0.1-beta.3` fix ,  `1.0.1-beta.4` again

[2020-12-05 12:12] JeremyWuuuuu commented on #847
Please submitting issues with demo code or reproducible repo or link, we cannot resolve the issue with nothing.

[2020-12-05 12:39] JeremyWuuuuu opened #848 "[Bug Report]: v-on=`listeners` is deprecated since multi-root support"
Due to the deprecation of `v-on="listeners"` in Vue3, I think the components with this syntax should be replaced with `v-bind="$attrs"`.

Refere to [$listeners removed](https://v3.vuejs.org/guide/migration/listeners-removed.html#_2-x-syntax)

[2020-12-05 12:41] lycHub commented on #171
你好，为什么vue3的源码是ts和js混合的呢

[2020-12-05 13:20] JeremyWuuuuu commented on #833
I'll go ahead verifying this.

[2020-12-05 13:21] JeremyWuuuuu commented on #831
Fixed in #845

[2020-12-05 13:21] #831 closed

[2020-12-05 13:24] JeremyWuuuuu commented on #840
Even though I think I somehow know the root cause of this bug, but we still need you to provide some code for us to reproduce it. Thank you

[2020-12-05 13:27] JeremyWuuuuu commented on #805
@vipsunwei Hey, we are glad that you opened this issue, but unless you provide us a repo to reproduce it, we have no idea what is going on with descriptions, we need to see what was really happening.
The doctors can do nothing without seeing the patient, right? (医生不看到病人本身也没办法做任何事情, 不是吗?)

[2020-12-05 13:28] JeremyWuuuuu commented on #739
Fixed in #808

[2020-12-05 13:28] #739 closed

[2020-12-05 13:29] JeremyWuuuuu commented on #687
This shall be fixed in #808, you shall have no problem with version higher than `beta.4`

[2020-12-05 13:30] JeremyWuuuuu commented on #625
I'll close this issue since it's been a while since it's been opened. Feel free to reopen if you have updates on this

[2020-12-05 13:30] #625 closed

[2020-12-05 13:32] JeremyWuuuuu commented on #603
Should be fixed in #729 , upgrade to `Vue@^3.0.4` and `ElementPlus@^1.0.0-beta.4`. You shall have no problem ideally

[2020-12-05 13:32] #603 closed

[2020-12-05 13:33] JeremyWuuuuu commented on #592
Do you still suffer from this issue?

[2020-12-05 13:35] JeremyWuuuuu commented on #832
Could you provide us with demo code or a minimal reproducible repo?

[2020-12-05 13:45] JeremyWuuuuu commented on #841
I dunno whether the current fix in #849 is going to fix all the problems in `Volar`, please give us feedback when you get errors. I am at your service.

[2020-12-05 13:46] #812 closed

[2020-12-05 13:57] g3r4n commented on #297
@zazzaz from my testing, this seems to be fixed. Can you confirm ?
If you still reproduce it, can you give me a demo or steps to reproduce ?

[2020-12-05 14:01] JeremyWuuuuu commented on #837
You can see that we have `v-bind="attrs"  sentence on `el-input` see the pic:
![image](https://user-images.githubusercontent.com/15975785/101245070-4da71a00-3745-11eb-84c5-8a6b871d5db5.png)
This means your events will be inherited directly to `el-input` or `input` or `textarea`.

[2020-12-05 14:02] JeremyWuuuuu commented on #837
Try it for yourself see if the events gets fired after the interactions

[2020-12-05 14:14] #801 closed

[2020-12-05 14:14] #804 closed

[2020-12-05 14:37] ntgraph commented on #687
Hi Jeremy, I have updated to beta.4
I have this error below
Cannot read property '0' of nul

[2020-12-05 14:39] JeremyWuuuuu commented on #687
Could you give me a screenshot or something?

[2020-12-05 14:40] JeremyWuuuuu commented on #687
Maybe detailed error massage with call stack would be very helpful

[2020-12-05 14:43] ntgraph commented on #687
![image](https://user-images.githubusercontent.com/7518854/101245908-00dc2880-36de-11eb-8a11-0aee98e994a8.png)
the select actually display placeholder text, and the options are empty

[2020-12-05 14:46] JeremyWuuuuu commented on #687
So these are the same code as you pasted here before right?

[2020-12-05 14:48] JeremyWuuuuu commented on #687
So I am going to take a look on what is really going on with this, and so sorry that this bug has been staled for so long, I will fix this ASAP

[2020-12-05 14:49] zazzaz commented on #297
@g3r4n Thanks, and yes it's fixed. I'll close it.

[2020-12-05 14:49] #297 closed

[2020-12-05 14:50] JeremyWuuuuu commented on #687
https://codesandbox.io/s/sad-dream-qmwws?file=/src/App.vue I reproduced this issue here, so it must be a bug, and this definitely had something to do with the bug fix in #808

[2020-12-05 14:50] ntgraph commented on #687
it is ok for the delay considering we are at the beginning of both Vue 3 and Element Plus, is it a problem of reactivity?  I hope one day Element Plus will become better and filled with interesting component.

[2020-12-05 14:52] JeremyWuuuuu commented on #687
Thank you for being soooooo supportive, I am so glad that we have you as one of our users!

[2020-12-05 15:09] ntgraph commented on #687
Hi Jeremy,I have develop a project with Vue 2.6 and Element UI for 1 yr, still working on it, but in the meantime, I create a the same project in Vue 3 and Element Plus and hope to move view by view, but so far I am stumble on lots of bug.  I am and I can report bug for you in the future in Element Plus,  I wish I can ask or request new feature or component to make the library more rich.  
So far,

[2020-12-05 15:12] smileShirmy opened #850 "[Select]Select 组件没有实现 focus() 方法使 input 获取焦点"
原 element-ui 以及现在的 element-plus 的 Select 组件文档都有 `focus()` 方法，并且 element-ui 也实现了这个方法，现在尝试升级到 element-plus 之后报该方法 `undefined` 的错误。

[2020-12-05 15:17] JeremyWuuuuu commented on #850
Sorry, we still need you to provide a workable demo code or online editor for this

[2020-12-05 15:20] JeremyWuuuuu commented on #687
Sure, agreed, we as developers also wants this project to thrive, and I will have a look on the website you left here.
Also for i18n issues I am going to ask @zazzaz to follow this up, you might need to open another issue for tracking that.

[2020-12-05 15:32] acupofspirt opened #852 "ElTimePicker: selectableRange doesn't work"
You can pick any time value in spite of `:picker-options={ selectableRange }`.
It is noop on docs page too: https://element-plus.org/#/en-US/component/time-picker

[2020-12-05 15:33] JeremyWuuuuu commented on #852
Yes, I just found out that there is a critical bug in both `time-picker` and `date-picker`, will be fixed ASAP!

[2020-12-05 15:34] JeremyWuuuuu commented on #852
@zazzaz 's going to track this issue.

[2020-12-05 15:48] zazzaz commented on #852
@acupofspirt Hi, the doc has not been updated yet.

According to the Breaking Change List https://github.com/element-plus/element-plus/issues/162, picker-options.selectableRange is changed to new selectableRange API

You can check this test https://github.com/element-plus/element-plus/blob/dev/packages/time-picker/__tests__/time-picker.spec.ts#L175 as a reference. And we will update the doc shortl

[2020-12-05 15:55] vipsunwei commented on #840
@JeremyWuuuuu sorry，是我理解错了，用错了

[2020-12-05 15:55] #840 closed

[2020-12-05 15:58] zazzaz commented on #839
import { ElMessage } from 'element-plus'

You can check the doc here https://element-plus.org/#/en-US/component/message

[2020-12-05 15:59] zazzaz commented on #377
cool

[2020-12-05 16:00] BeADre opened #853 "DateTimePicker中的TimePIcker无法正常滑动"
使用鼠标滚动条滑动或者macbook触控板轻微滑动时无法正常滑动
![image](https://user-images.githubusercontent.com/34639100/101247686-e180e200-3755-11eb-91ac-5984ed3445e2.png)

[2020-12-05 16:04] zazzaz commented on #606
this is a Vue bug and has been fixed in the current release `Vue 3.0.2`

[2020-12-05 16:08] boonyasukd commented on #841
@JeremyWuuuuu Thank you for the quick fix. I will test and give a feedback.

[2020-12-05 16:11] zazzaz commented on #853
It seems working fine on my browser?

[2020-12-05 16:14] zazzaz commented on #687
Yes, we will support vue-i18n-next soon after it's first rc release I hope

[2020-12-05 16:28] BeADre commented on #853
I think I need someone else to give it a try because I have reproduced this problem on different devices

[2020-12-05 16:46] ntgraph opened #854 "[Enhancement request] mask in el-input"
Hi,
I wish there is a mask option in el-input, such as like this
:mask="####"

it can be number of digit, decimal number , certain specific character or number in the input, or Regex string which in turn is providing from data or computed.

[2020-12-05 17:07] SimonaliaChen commented on #687
@ntgraph Hi, I found that this broken might be related to vue version. Check [this](https://codesandbox.io/s/holy-snowflake-3pjyu?file=/src/App.vue) out, vue@3.0.3 works all fine, but vue@3.0.4 doesn't. Could you check the vue version in your project and try again? I will continue to investigate the error.

[2020-12-05 18:51] g3r4n commented on #853
@BeADre What's the issue ? I can't read Chinese.

[2020-12-06 02:14] smileShirmy commented on #850
version:
"vue": "^3.0.0",
"element-plus": "^1.0.1-beta.4",

[code]

[2020-12-06 02:54] JeremyWuuuuu commented on #854
Any demo?

[2020-12-06 02:56] JeremyWuuuuu commented on #853
使用鼠标滚动条滑动或者macbook触控板轻微滑动时无法正常滑动

Translation:

Using mouse scrolling or trackpad touching with slightly movement, it can not be scrolled. Means something is wrong with the scrollbar calculation

[2020-12-06 02:58] JeremyWuuuuu commented on #853
I myself somehow can verify this on my machine with slightly scrolling you can see this:
![image](https://user-images.githubusercontent.com/15975785/101270209-e7a4ac00-37b1-11eb-9d8a-7fb71c49b2a5.png)
It stick at the middle point without going up nor down.

[2020-12-06 03:32] BeADre commented on #853
@JeremyWuuuuu  this problem was found in **DateTimePicker**, not TimePIcker

[2020-12-06 03:33] JeremyWuuuuu commented on #853
Doesn't matter, they are both using the same component

[2020-12-06 03:36] BeADre commented on #853
I can scroll in TimePicker, but not in DateTimePicker

[2020-12-06 03:47] JeremyWuuuuu commented on #789
@lqsong They reason that this bug is showing and disappearing is all about the `insertion mode` of `el-popper` which in previous releases it was defaults to append into `document.body` and we have found some perf issue when it inserts to the body, then change it to `disabled` which means it won't insert to body by default then the perf should be better. Then we had to change it back because the st

[2020-12-06 03:49] JeremyWuuuuu commented on #687
We just found out this is a bug of `Vue` its own. Check this out:
https://github.com/vuejs/vue-next/issues/2737
And they've had a fix for that, so that we will have to wait until the next release gets published.
FYI: https://github.com/vuejs/vue-next/commit/c59897c7b0dbd82b5bbf3fbca945c0639ac37fb8

[2020-12-06 03:51] JeremyWuuuuu commented on #687
Closing since its a bug related to `Vue`

[2020-12-06 03:51] #687 closed

[2020-12-06 03:54] JeremyWuuuuu commented on #853
Got it, verified as well, I cannot scroll https://element-plus.org/#/en-US/component/datetime-picker with slow pace, I was only be able to scroll the picker with a fast pace on the track pad, which means I have to swipe my fingers very fast or a long distant swipe.

[2020-12-06 04:27] Ttou commented on #837
是有这样的情况，ElInput 绑定后不生效，原生的可以：
![Dingtalk_20201206122508](https://user-images.githubusercontent.com/4298437/101271510-5e47a680-37be-11eb-8f9f-9126f4a44d26.jpg)

[2020-12-06 07:27] lqsong commented on #847
`1.0.1-beta.4`

https://github.com/element-plus/element-plus/blob/dev/packages/table/src/table-column/index.ts#L93

https://github.com/element-plus/element-plus/blob/dev/packages/table/src/table-column/index.ts#L208

https://github.com/element-plus/element-plus/blob/dev/packages/table/src/table-column/index.ts#L221

![image](https://user-images.githubusercontent.com/22975974/101274229-46305100-37d

[2020-12-06 07:35] PavelJland opened #856 "Non-props passing attributes issue in el-drawer"
[code]

[code]

`[Vue warn]: Extraneous non-props attributes (visible) were passed to component but could not be automatically inherited because component renders fragment or text root nodes.`

And the drawer is not working!!!!!!!!!!!!!!! because of it.

Vue - vue@3.0.0-rc.13

[2020-12-06 10:25] buaazs opened #857 "el-cascasder v-model default value not work"
template:
  `<el-cascader v-model="val"
    :options="options"
    :props="{ checkStrictly: true }"
    clearable>
  </el-cascader>
`
code in setup:
[code]
I tried both val = ref(1) and val = ref([1]),  the label of default value (s1) not shown in the input box.

I also got below warning in console:
[code]

[2020-12-06 12:11] JeremyWuuuuu commented on #857
The warning was reported by `Vue`, this was a bug in `Vue@3.0.3`, you can dismiss that by upgrading  to `@3.0.4` also this might introduce to another bug see https://github.com/vuejs/vue-next/issues/2737
@SimonaliaChen can you take a look at this?

[2020-12-06 12:13] JeremyWuuuuu commented on #856
@PavelJland Friendly reminder, since `Vue` itself removed the `.sync` modifier, we now use `v-model` as the control flag of visibility. Please use `v-model="visibleBinding"` to control that. Also I think you might need to upgrade your `Vue` version to the official builds, which is `^3.0.4`

[2020-12-06 12:14] JeremyWuuuuu commented on #856
So to wrap it up, you need to use like this to make it work

[code]

[2020-12-06 12:21] vipsunwei commented on #805
@JeremyWuuuuu 我弄了demo了，https://github.com/vipsunwei/pagination-demo

[2020-12-06 13:33] #822 closed

[2020-12-06 14:02] SimonaliaChen commented on #857
Hi, I wrote a [demo](https://codesandbox.io/s/cranky-mclaren-830tg?file=/src/App.vue) according to your description, but it works just fine. Could you provide a reproduction link based on my version?

[2020-12-06 14:04] smileShirmy opened #858 "[Select]Select 组件没有实现 focus() 方法使 input 获取焦点"
原 element-ui 以及现在的 element-plus 的 Select 组件文档都有 focus() 方法，并且 element-ui 也实现了这个方法，现在尝试升级到 element-plus 之后报该方法 undefined 的错误。

version:
"vue": "^3.0.0",
"element-plus": "^1.0.1-beta.4",

[code]

[2020-12-06 14:49] #852 closed

[2020-12-06 15:52] #841 closed

[2020-12-06 16:11] #856 closed

[2020-12-06 16:11] JeremyWuuuuu commented on #856
The doc site will be updated soon with the next release

[2020-12-06 16:12] JeremyWuuuuu commented on #857
Please provide the version of `Vue` also the version of `ElementPlus`, thank you, because that we've found recent bugs reported somehow related to the change of `Vue` so we need you to be more specific.

[2020-12-06 16:17] JeremyWuuuuu commented on #805
Thank you, I will verify if this is the bug from `ElementPlus`

[2020-12-06 16:18] JeremyWuuuuu commented on #858
cc @zouhangwithsweet

[2020-12-06 16:22] #789 closed

[2020-12-07 01:02] FlyDancing commented on #836
this is the url link: [(https://codesandbox.io/s/vue3element-plus-in92u)]
if i use require get the zh-cn locale ,the monthrange date can't see

[2020-12-07 01:39] lujiaming1 commented on #853
it's fine in my chrome ....

[2020-12-07 01:42] bastarder commented on #858
Bug confirmed, will fix soon

[2020-12-07 02:12] justwiner commented on #847
will fix soon in next release.

https://github.com/justwiner/element-plus/blob/e88bfbbba429f91f03e18301fb8db59cdccea761/packages/table/src/table-column/index.ts#L202

[2020-12-07 02:30] bastarder commented on #836
i try [demo](https://codesandbox.io/s/vue3element-plus-forked-mk6du), every thing is ok.

[2020-12-07 02:35] #793 closed

[2020-12-07 02:46] leeq404 commented on #832
sorry, I don't find a library link on codepen, the demo code is provied by offical website. I think it's caused by **menu-collapse-transition**, but I don't find anything different from this compnent, sorry.

[2020-12-07 02:54] zazzaz commented on #850
[code]

missing focus method

[2020-12-07 02:57] bastarder commented on #858
same as #850

[2020-12-07 02:57] #858 closed

[2020-12-07 03:29] #850 closed

[2020-12-07 03:48] buaazs commented on #857
Sorry for misleading for the previous scenario.  I checked my code I found the cause maybe the options is loaded aync.
I also updated the [demo](https://codesandbox.io/s/musing-currying-5ojmr?file=/src/App.vue)
[code]
I'm not sure if this is the recommended way, but I think the model default value is inited from url query and options is loaded async  from API is quite a common case. It's better if

[2020-12-07 04:32] kooriookami commented on #742
![image](https://user-images.githubusercontent.com/38392315/101309832-44729600-3888-11eb-88c5-0e222d2ec702.png)
It seems also has problem.

[2020-12-07 05:21] #837 closed

[2020-12-07 05:30] bastarder commented on #836
CC @zazzaz

[2020-12-07 05:30] wingsico commented on #719
may be you can try this: [vite-element-demand-starter](https://github.com/wingsico/vite-element-demand-starter)

[2020-12-07 06:39] JeremyWuuuuu commented on #848
I misunderstood the documentation, closing.

[2020-12-07 06:39] #848 closed

[2020-12-07 07:24] #576 closed

[2020-12-07 07:26] XuZhaoTong opened #869 "DateTimePicker picker-options is invalid"
![image](https://user-images.githubusercontent.com/32711995/101321756-d6869880-38a0-11eb-9727-4adc0a6e76e1.png)
Official demo，in the second example, the picker-options is invalid

[2020-12-07 07:27] Lliuxs opened #871 "el-tree的选择和禁用状态"
当tree只有一个children的时候 如果设置了disabled属性 这个时候点击没有任何的反应
但是点击下面的子孩子会改变checkbox的选择状态  感觉很奇怪

[2020-12-07 07:30] #760 closed

[2020-12-07 07:30] #818 closed

[2020-12-07 07:33] bastarder commented on #869
CC @zazzaz

[2020-12-07 07:33] bastarder commented on #869
Maybe document need to update, we will fix it

[2020-12-07 07:34] kooriookami opened #872 "Discuss about layout style"
Comparing several frameworks, element layout has a strange style. Does this need improvement?

![image](https://user-images.githubusercontent.com/38392315/101321487-67a93f80-38a0-11eb-8793-f3da50184c79.png)

[code]

[2020-12-07 07:34] Lliuxs commented on #871
https://codesandbox.io/s/cocky-tu-f35u1?file=/src/App.vue
当点击一级 1的时候下面没变化 当时选择下面的三级 1-1-2会反过来改变checkbox的选择状态
不知道是是不是数据问题

[2020-12-07 07:42] bastarder commented on #871
i think this is not bug, in this case, you should use `check-strictly`~
if you don't have other question,  i will close this issue, thx for your feedback

[2020-12-07 07:43] zazzaz commented on #162
## TimePicker

#### Attributes

- Delete picker-options option (Move to top-level options separately)

[2020-12-07 07:46] Lliuxs commented on #871
我的意思不是check-strictly
数据的选择是需要关联的
理论上 当二级 1-1被禁止的时候 下面的应该也是不可操作的 感觉是后台返回数据问题
感谢

[2020-12-07 07:50] #833 closed

[2020-12-07 07:51] JeremyWuuuuu commented on #871
I think this is related to how you implement your business logic instead of a flaw in `el-tree` because you are the user of the component, everything is under your control. In cases like this, you might need to consider if the data design is correct. Also as @bastarder said, use `check-strictly` option for cases like this. `Disabling the parent doesn't mean the the children of it should be disable

[2020-12-07 07:52] JeremyWuuuuu commented on #871
Interested in PR to fix it?

[2020-12-07 07:54] JeremyWuuuuu commented on #872
Seems `1` is taking over some places of `3` and `4`, they should be aligned as individual blocks but seems they were connected somehow.

[2020-12-07 07:54] JeremyWuuuuu commented on #872
This could be a issue when it comes to situations like this. I dunno if there were any historical reason behind this.

[2020-12-07 07:55] kooriookami commented on #872
Yes. It looks like a waterfall, but it doesn't look like a waterfall.

[2020-12-07 07:56] JeremyWuuuuu commented on #872
Indeed, also I do not think waterfall behavior is correct here. So you want to fix it?

[2020-12-07 08:00] kooriookami commented on #872
I haven't researched it yet, might need some time to look at it.

[2020-12-07 08:01] Lliuxs commented on #871
感谢大佬  @JeremyWuuuuu  我的疑问就是你说的这样
父级disabled的时候孩子不一定是disabled 这个还是要根据具体的业务逻辑来处理
之前在使用tree组件的时候一直没使用check-strictly属性 今天联调发现选择不符合预期
一般在使用tree组件的时候都会是有关联的
我觉得这一点从官方文档没有 check-strictly 相关的demo也侧面证明这点 哈哈哈
check-strictly这个属性总感觉怪怪的 我先试下 谢谢

[2020-12-07 08:02] bastarder commented on #871
we will fix this, thx

[2020-12-07 08:05] porcelainHeart commented on #854
Why not just use computed？

[2020-12-07 08:11] Lliuxs commented on #871
我们是否可以在这里使用jsx的方式来定义renderContent的内容？  @bastarder

[2020-12-07 08:12] JeremyWuuuuu commented on #872
Go ahead, assigning this to you then.

[2020-12-07 08:13] #871 closed

[2020-12-07 08:15] chengaohe45 opened #874 "el-select多选显示有问题（版本1.0.1-beta.4)"
el-select多选显示有问题：选择第一个值界面显示为空

[2020-12-07 08:16] JeremyWuuuuu commented on #874
Seems like the bug I mentioned the other day @SimonaliaChen, got time on this?

[2020-12-07 08:17] JeremyWuuuuu commented on #874
Also we need demo code to reproduce the bug.

[2020-12-07 08:42] porcelainHeart commented on #874
demo：
https://element-plus.gitee.io/#/ji-chu-duo-xuan

[2020-12-07 08:44] JeremyWuuuuu commented on #874
Wrong link [ElementPlus Select](https://element-plus.gitee.io/#/zh-CN/component/select)

[2020-12-07 08:46] JeremyWuuuuu commented on #836
LGTM, maybe it was a bug from `Vue`, the only deficiency here is that we didn't load `font-icons`
![image](https://user-images.githubusercontent.com/15975785/101328936-a690c280-38ab-11eb-8c63-51db487732bc.png)

[2020-12-07 08:47] porcelainHeart commented on #874
And in this case，
When selecting two or more options, the options cannot clear。

[2020-12-07 09:24] justpp opened #876 "el-tree组件右击事件bug"
右击会从当前节点逐层返回父级节点

[2020-12-07 09:47] kerm1it commented on #776
Can i work it?

[2020-12-07 09:50] JeremyWuuuuu commented on #776
What do you mean? This issue is meant to track the progress of this task.

[2020-12-07 09:55] kerm1it commented on #776
I want to work this task. I have experience about github actions.

[2020-12-07 09:57] JeremyWuuuuu commented on #776
This is already assigned to @bradleyzhou , sorry for that.

[2020-12-07 09:58] kerm1it commented on #776
OK

[2020-12-07 10:04] JeremyWuuuuu commented on #776
If you want to participant, find another issue without no assignee and tell me about it then you can get your hands on. BTW, I am glad to see someone reaching out to help. Ping me if you need my help

[2020-12-07 10:16] Lliuxs commented on #871
table中自定义表头的文档 貌似也有点问题
<el-table-column
      align="right">
      <template #header #default="scope">
        <el-input
          v-model="search"
          size="mini"
          placeholder="输入关键字搜索"/>
      </template>
      <template #default="scope">  @bastarder

[2020-12-07 10:26] porcelainHeart commented on #876
Please provide the version of Vue and the version of ElementPlus

[2020-12-07 10:38] SimonaliaChen commented on #857
Yes, it's a bug. I might know the reason, and I will fix it ASAP.

[2020-12-07 11:33] FlyDancing commented on #836
you can use follow comments code:

[code]

current month on the flow panel  didn't show

[2020-12-07 11:57] whitecuteXu opened #877 "tslint error"
"vue": "^3.0.4",
 "element-plus": "^1.0.1-beta.5",

ERROR in D:/study/vue-brief-analysis/vue3-News/node_modules/element-plus/lib/el-cascader-panel/src/config.d.ts(2,93):
2:93 Cannot find module '@element-plus/cascader-panel/src/types' or its corresponding type declarations.
    1 | import { PropType } from 'vue';

      |

[2020-12-07 12:05] JeremyWuuuuu commented on #836
@FlyDancing , so I tried with this:

1. Commented the code
[code]

2. Uncommented code:
[code]
I get the error as same as you had.

So I tried to do this:

[code]

Then I got this from the console:

[code]

So I know the problem was that, we have made esm bundle with no commonjs supporting, so if you need to use `require` to get the file, then you simply need to add a `.default` like this:

[code]

[2020-12-07 12:07] JeremyWuuuuu commented on #836
So, we suggest that you might need to use `import` statement throughout the entire project since we export `esm` bundle instead of `umd` bundle, if you want to use `umd` bundle, then you need to configure your bundler to use `index.full.js` instead of `index.js` or `index.esm.js`.

[2020-12-07 12:09] JeremyWuuuuu commented on #836
If you wanted to use `dynamic import` use it with `import(path).then()` or `await import(path)`.

[2020-12-07 12:09] #836 closed

[2020-12-07 12:10] JeremyWuuuuu commented on #836
I am closing this issue since I have already listed the solutions above, try them, feel free to reopen it when you feel so.

[2020-12-07 12:10] JeremyWuuuuu commented on #876
Also with minimal reproducible code and reproducing steps.

[2020-12-07 12:11] JeremyWuuuuu commented on #874
This is the exact bug that I found myself, @Liiked is going to take care of this.

[2020-12-07 12:12] JeremyWuuuuu commented on #877
cc @zouhangwithsweet @zazzaz

[2020-12-07 12:21] JeremyWuuuuu commented on #827
@vvizden Any updates?

[2020-12-07 12:28] JeremyWuuuuu commented on #877
I think that your linter needs to exclude `node_modules` because:
1. This could cause performance issue when linter have so many files to lint
2. Linting external project will not help you on anything, because even if it lints, you won't be able to do anything with it.

Suggestion:
Exclude files under `node_modules` or only under `node_modules/element-plus`

[2020-12-07 12:30] justpp commented on #876
"element-plus": "^1.0.1-beta.5",
    "vue": "^3.0.0"

App.vue
<template>
<el-tree
    :data="data"
    node-key="id"
    default-expand-all
    @node-contextmenu="rightClick"
    draggable
    :allow-drop="allowDrop"
    :allow-drag="allowDrag">
</el-tree>
</template>

<script>
  export default {
    data() {
      return {
        data: [{
          id: 1,
          label: '一级 1',
          child

[2020-12-07 12:31] vvizden commented on #827
Maybe I didn't make myself clear. The month picker just looks like a lunar calendar, such as 十二月. I think 12月 may be probably better, it's more like the Gregorian calendar.

[2020-12-07 12:33] zouhangwithsweet commented on #877
By the way, [TSLint is deprecated](https://github.com/palantir/tslint). For new projects, Eslint is recommended.

[2020-12-07 12:35] JeremyWuuuuu commented on #827
Well, I think I get it, this is something related to locale, because that was translated from `locale` file, In `dayjs` I believe that there is a work around on this. cc @zazzaz

[2020-12-07 12:44] vvizden commented on #827
It is better to show with the Gregorian calendar, because it is different from the lunar calendar.

[2020-12-07 15:29] #235 closed

[2020-12-08 01:58] #847 closed

[2020-12-08 02:38] zazzaz commented on #827
It's not about Gregorian or lunar calendar.

In month picker, we list months via month name, that's Jan, Feb...

And the two Chinese translation '1月' and '一月' are both correct.

[2020-12-08 04:16] zazzaz commented on #742
There are some useful hack in previous element-ui. Not sure if it's related or not
![3446FBF9-C1FA-4cd6-AC79-5F971C058DE3](https://user-images.githubusercontent.com/10731096/101439241-1906ae80-394f-11eb-9031-f88992ac32a0.png)
.

![2F8A51F3-B13D-4fc7-A826-FA848F140314](https://user-images.githubusercontent.com/10731096/101439231-13a96400-394f-11eb-98fa-61603b61fffc.png)

[2020-12-08 04:21] piexlmax opened #879 "当rules和层级form同时存在时会导致undefined"
代码如下
[code]
 本代码在element v2版本中可用
如果将 rules中的内容作为行内验证，也不会产生报错。
这边疑惑的是，在plus中是不支持这种写法了呢，还是存在bug

[2020-12-08 05:44] Aohonze opened #880 "Position of 'form-item-error'"
I found that currently our 'form-item-error' style is adsoluted. So, if our error message is long enough so that can't display by only one line, then it may occupy the space of form-item, or even overlapping with the label of next form item. But we really want is flex-grow the margin of each form item. So, I suggest that delete the position setting of 'form-item-error'. First time to open an issue

[2020-12-08 05:53] gramers opened #881 "select组件，列表切换问题"
![5ad457e745e2bfe69e4c0305ae13ac9](https://user-images.githubusercontent.com/28006607/101445486-8d941a00-395c-11eb-9d1e-5cd641b60a84.png)
![08fb626dfc88b0f5f0c31292400a5ac](https://user-images.githubusercontent.com/28006607/101445489-8f5ddd80-395c-11eb-9496-a258e3b416fd.png)

[2020-12-08 06:07] JeremyWuuuuu commented on #879
Perhaps bug I think, cc @HerringtonDarkholme

[2020-12-08 06:08] JeremyWuuuuu commented on #881
This issue came from `Vue` itself, instead of us, you need to make sure that your `Vue` version is fixed in `3.0.3`, you will only get this error in `3.0.4` it will be fixed in `3.0.5`. Please refer to https://github.com/vuejs/vue-next/commit/c59897c7b0dbd82b5bbf3fbca945c0639ac37fb8

[2020-12-08 06:08] #881 closed

[2020-12-08 06:12] JeremyWuuuuu commented on #874
This bug might have existed since `beta.0` or even `alpha`, nobody seems to notice it, it might have something to do with `el-popper` I am going to investigate it.

[2020-12-08 06:43] MQYForverT opened #882 "el-color-picker -> popper-class -> invalid"
the el-color-picker's attributes 'popper-classis' is  invalid

version：'^1.0.1-beta.5'

[2020-12-08 08:13] Ryan2128 commented on #880
I think this demand is reasonable. It will be fixed in next version.

[2020-12-08 08:17] Ryan2128 commented on #882
It will be fixed in next version.

[2020-12-08 08:27] Pixelairport opened #884 "this.$notify is undefined"
I try to use notifications like the documentation says at "Local import" at https://element-plus.org/#/en-US/component/notification.

I have a Vue3 App and include the Notifications:

[code]

A method calls ```console.log(this.$notify);``` but console says "undefined".

[2020-12-08 08:29] bastarder commented on #884
In this case you should call `ElNotification(options)`

[2020-12-08 08:33] JeremyWuuuuu commented on #884
Well, we don't actually register `Nocations` that way

We register that like this:

![image](https://user-images.githubusercontent.com/15975785/101459083-bcb58600-3972-11eb-9ca4-cb5bc5cd2fe3.png)

`ElNotification` isn't some regular component that you can use it via `template` you use it in javascript code.

So if you wanted to do that just `import { ElNotification as Notify } from 'element-plus`

[2020-12-08 08:40] bastarder commented on #876
Maybe this is due to a VUE update， in old version the key in props is `onNode-contextmenu`, but latest is `onNode-contextmenu`, i will fix this.

[2020-12-08 08:40] #882 closed

[2020-12-08 08:44] Pixelairport commented on #884
Thx @bastarder and @JeremyWuuuuu. I wanted to use this.$notify in methods. Not as a component. Deleted it from component option now. I did not know, that I have to do it on my own. The documentation said: "Element Plus has added a global method $notify for app.config.globalProperties..." But it seems it is missing. I did it now in my main.js like this and it works:

[code]

[2020-12-08 08:45] jiangtj opened #885 "Transfer report error when value is empty"
Below is my code
[code]
[code]

When I select the item on the left and move it to the right, it will report the following error

[code]

This error occurs only if there is no data on the left or right panel

[2020-12-08 08:47] JeremyWuuuuu commented on #884
Yeah, actually the app.use(ElementPlus) is doing exact the same thing you did here. So to inject that into your global config you must do it like
`app.config.globalProperties.$notify = ElNotification;` here. The others like `message` are the same, a simpler way is that you use it like
`app.use(ElNotification)`

[2020-12-08 08:50] Pixelairport commented on #884
did not know that app.use(ElNotification) also works :) thx @JeremyWuuuuu

[2020-12-08 08:50] #884 closed

[2020-12-08 08:50] JeremyWuuuuu commented on #884
Glad that I can help @Pixelairport ;)

[2020-12-08 08:53] Ryan2128 commented on #885
Are you using the latest version?

It works well in latest version.

[demo](https://codesandbox.io/s/practical-sanderson-0p31h?file=/src/App.vue)

[2020-12-08 09:02] jiangtj commented on #885
[code]

This is my dependency, and `beta.5` is already the latest version released yesterday

[2020-12-08 09:04] bastarder commented on #885
i test this case, it works on `vue: 3.0.3` but not `vue: 3.0.4`

[2020-12-08 09:09] Ryan2128 commented on #885
I reproduced it, I am going to check the reason.

[2020-12-08 09:12] bastarder commented on #885
i test this case, it work on 'Vue: 3.0.3' but can not work on 'Vue: 3.0.4'

[2020-12-08 09:14] JeremyWuuuuu commented on #885
Based on the fact that `Vue` itself has bug, this is not a bug from us, its a bug from `Vue`, check this out: https://github.com/vuejs/vue-next/commit/c59897c7b0dbd82b5bbf3fbca945c0639ac37fb8

[2020-12-08 09:14] #885 closed

[2020-12-08 09:15] JeremyWuuuuu commented on #885
Unless `Vue` release the fix in `3.0.5` we cannot help you with this. Downgrade you version of `Vue` to `3.0.3`, it will work.

[2020-12-08 09:16] bastarder commented on #880
i don't agree with this, because if error dom have height, when the input change from 'normal' to 'error', the page will 'flash'.

[2020-12-08 09:18] JeremyWuuuuu commented on #880
This was there and working fine in v2.x, but it looked weird in v3.x, then I think it could be a styling bug. But the solution is not removing the style rule,  instead of make it correct.

[2020-12-08 09:26] Tyrone-Wu commented on #880
But just like we need a lot of dynamic form item, I think it could be ok?

[2020-12-08 09:28] Ryan2128 commented on #880
I think the position change of the form item is acceptable compared to what it is now.

[2020-12-08 09:31] JeremyWuuuuu commented on #880
Well, the first thing that I wanted to say is that, the current implementation is clearly not `modern` enough to me, we still uses `float` in the stylesheets in which case `Vue` does not support `IE11` in the main version (except the compat one). Dynamic form item is a very common requirement in business view.

[2020-12-08 09:31] JeremyWuuuuu commented on #880
And in this case this is caused by `el-popper` instead of the `style rule` you have mentioned there. I will be taking responsibility on this.

[2020-12-08 09:32] JeremyWuuuuu commented on #880
This one will be fixed ASAP.

[2020-12-08 09:34] guagezuishuai opened #887 "怎么吧默认的英文换成中文，现在文档写的是2.x的方法吧，我照着写报错了"

[2020-12-08 09:36] JeremyWuuuuu commented on #887
Demo plz.

[2020-12-08 09:37] JeremyWuuuuu commented on #887
BTW: [ElementPlus ](https://element-plus.gitee.io/#/zh-CN)

[2020-12-08 09:37] Ryan2128 commented on #880
@JeremyWuuuuu Do you want to replace the current display mode with popper? In this case you can assign to you.

[2020-12-08 09:39] zazzaz commented on #887
https://element-plus.gitee.io/#/zh-CN/component/i18n

<img width="792" alt="image" src="https://user-images.githubusercontent.com/10731096/101466563-40c03b80-397c-11eb-8219-dcf193c2e98b.png">

[2020-12-08 09:39] zazzaz commented on #887
https://element-plus.gitee.io/#/zh-CN/component/i18n

![Uploading image.png…]()

[2020-12-08 09:49] xiaoxian521 opened #889 "右键菜单需求"
希望增加一个右键菜单组件
as  https://heynext.github.io/v-contextmenu/

[2020-12-08 09:49] bastarder commented on #880
in this case may be use your own style is better, such as
[code]

[2020-12-08 09:56] Tyrone-Wu commented on #880
Yes, thanks! I just change the `.vi-form-item__error` position style 'absolute' to 'relative', and then I can make the error info more Customization.

[2020-12-08 10:20] guagezuishuai commented on #887
import { createApp } from 'vue';
import App from './App.vue';
import './index.css';
import router from './router';
// 全局样式
import './assets/css/index.css'
// 按需加载所需要的组件和方法
import {components, plugins} from './utils/elements';
import 'element-plus/lib/theme-chalk/index.css';
// import locale from 'element-plus/lib/locale/lang/zh-cn';
// import {setConfig} from 'element-plus/lib/utils/config'
let ro

[2020-12-08 10:29] guagezuishuai commented on #887
我想按需加载，，，

[2020-12-08 10:32] zazzaz commented on #887
Just click the link above, and you will find load on demand on the second section.

[2020-12-08 10:38] guagezuishuai commented on #887
我按照第二部分写报错，Uncaught SyntaxError: The requested module '/@modules/dayjs/dayjs.min.js' does not provide an export named 'default'

[2020-12-08 10:39] guagezuishuai commented on #887
![image](https://user-images.githubusercontent.com/31916606/101473309-a0224980-3984-11eb-9098-ca4aee9a4365.png)

[2020-12-08 10:52] xyorz opened #890 "el-autocomplete clearable doesn't work"
demo:
[https://codesandbox.io/s/nifty-wind-ue4bn](url)
cant clear input value when click the clear button

[2020-12-08 11:26] Ryan2128 commented on #890
It will be fixed in next version.

[2020-12-08 11:26] jeremieblg opened #891 "ColorPicker doesn't work in beta 4"
It is impossible to use the colorpicker correctly since beta 4 but it worked fine in beta 3
We cannot choose the color because the component closes directly after the first click.

[2020-12-08 11:45] vipsunwei opened #893 "ElNotification 弹完消息会在body中留下一堆空的div，这个有办法清除掉吗？"
如果用在弹出实时的消息，在页面上留下的div标签会越来越多，这样不好
![image](https://user-images.githubusercontent.com/15810277/101479744-a79a2080-398d-11eb-8244-4eac58ca7ec4.png)

[2020-12-08 11:47] mengfanhangHome opened #894 "救命，为啥我的组件库安装完成后，使用组件会报错：runtime-core.esm-bundler.js?5c40:217 Uncaught TypeError: Cannot read property 'proxy' of null"
如标题，跪谢大佬

[2020-12-08 11:50] JeremyWuuuuu commented on #894
Issues without a valid reproduction link will be closed directly.

[2020-12-08 11:50] #894 closed

[2020-12-08 11:51] JeremyWuuuuu commented on #894
BTW, the correct place for you is https://github.com/vuejs/vue-next/issues not here.

[2020-12-08 11:52] JeremyWuuuuu commented on #893
Sure, this will be fixed in next release

[2020-12-08 11:53] vvizden commented on #827
I know that both of these translation are correct, it just looks more like the lunar calendar at now. on the other way, We are ususlly used to using a similar format such as `2020年12月` or `二〇二〇年十二月`, but not `2020年十二月`. Consider the consistency of them?

[2020-12-08 11:55] JeremyWuuuuu commented on #891
I have no idea what error you are talking about here, if the error is something like `cannot read '0' from 'null' `, this is a bug from `Vue`, if it is not error like that, please provide demo to us so that we can do debugging.

[2020-12-08 11:57] chengaohe45 opened #895 "el-color-picker无法选中"
# 版本
1.0.1-beta.4 / 1.0.1-beta.5
<pre>
&lt;el-color-picker v-model="color1" show-alpha&gt;&lt;/el-color-picker&gt;    // color1为"#409EFF"
</pre>
## 问题描述
1. 颜色无法选中
2. 当show-alpha为true,颜色选择框中的“输入框”出现异常

## 异常图片
![image](https://user-images.githubusercontent.com/26498356/101480305-79691080-398e-11eb-9246-39d5e25eda56.png)

[2020-12-08 12:03] JeremyWuuuuu commented on #827
@vvizden , what exact problem you try to ask us to solve here? I think Chineses all know `12月` and `十二月` instead of `农历十二月`, if this is not for Chinese users to view then why are we using Chinese as the locale at all? I am kind of confused.

[2020-12-08 12:07] JeremyWuuuuu commented on #827
I don't think that you are wrong but I personally think that everybody that can read interpret `十二月` as December in Gregorian calendar. When it's like `腊月` we say that's Lunar calendar. Right?

[2020-12-08 12:10] vvizden commented on #827
Yes, you are right. But `2020年12月` is better than `2012年十二月`, that's right?

[2020-12-08 12:15] vvizden commented on #827
Excluding `正月`, `冬月` and `腊月`, for the others, older people may feel more like the lunar calendar at first glance.

[2020-12-08 12:17] vvizden commented on #827
If you don't think so, I can close this issue.

[2020-12-08 12:20] JeremyWuuuuu commented on #827
I don't think this is something with exact right or wrong, it's something that we need to discuss about, especially for the users who actually uses pages built upon this library.

I have already seen your point here. It's for the elders to understand that the calendars they saw was not lunar calendar.

[2020-12-08 12:21] JeremyWuuuuu commented on #827
Maybe we can discuss some solution for customization here.

[2020-12-08 12:29] vvizden commented on #827
If there is a functional requirement, we need to switch between lunar and Gregorian calendars. How should the month picker be listed? `十二月` vs `腊月` or `12月` vs `腊月`, also `十月` vs `十月` or `10月` vs `十月`?

[2020-12-08 12:46] Ryan2128 commented on #895
I failed to reproduce the second question.

Can u provide a reproduction?

[2020-12-08 12:56] JeremyWuuuuu commented on #827
I think when its lunar calendar, `腊月` seems better to me. But for me to distinguish the Lunar calendar and the Gregorian calendar, it depends on whether they have Chinese character like for today `廿四` underneath the numbers

[2020-12-08 12:58] Ryan2128 commented on #891
Duplicate #895, it will be fixd in next version.

[2020-12-08 12:58] #891 closed

[2020-12-08 13:02] #895 closed

[2020-12-08 13:03] #890 closed

[2020-12-08 13:04] #879 closed

[2020-12-08 13:04] #876 closed

[2020-12-08 13:08] Ryan2128 commented on #895
For the second question, if have any questions, please reopen this issue. @chengaohe45

[2020-12-08 13:22] vvizden commented on #827
Maybe it's just a matter of personal habit. That's just my sudden thought  someday, why not using this format, such as `1月`, `2月` ... ? Well, that's all.

[2020-12-08 13:50] vipsunwei opened #898 "ElDatePicker 使用unlink-panels属性报警告⚠️"
Extraneous non-props attributes (unlink-panels) were passed to component but could not be automatically inherited because component renders fragment or text root nodes.
  at <Picker format="YYYY-MM-DD HH:mm:ss" type="datetimerange" modelValue=""  ... >
  at <ElDatePicker modelValue="" onUpdate:modelValue=fn type="datetimerange"  ... >
  at <Home onVnodeUnmounted=fn<onVnodeUnmounted> ref=Ref< undef

[2020-12-08 14:20] zazzaz commented on #869
will do

[2020-12-08 15:57] JeremyWuuuuu commented on #827
Well, changing this is easy based on what @zazzaz told me, just a couple of strings, I'll leave the rest discussion to him, this won't take long, I suppose, besides, `AntDesign` did as you proposed `1月` instead of `一月`.

[2020-12-09 01:47] Lliuxs opened #900 "el-table能支持columns的写法吗"
之前用andDesign 表格都是columns的写法 el-table是否可考虑支持

[2020-12-09 02:26] sunlifei1 commented on #889
There is the same demand

[2020-12-09 02:32] Lliuxs commented on #900
ElTableColumn的type是否能增加一个单选的类型(业务有时候有这样的需求)
现在只有多选 单选的是选择单行数据时使用色块表示 感觉使用radio是不是很更好?

[2020-12-09 02:46] kooriookami commented on #889
Then multi-level menus and scrollbars are needed.

[2020-12-09 02:50] xiaoxian521 commented on #889
haha 你们是魔鬼吗

[2020-12-09 02:52] justpp commented on #876
请问修复后的版本什么时间发布呢

[2020-12-09 02:59] ht-sauce opened #901 "ElDrawer参数modal设置为false会导致弹窗无法正常展示，控制项没有可以关闭蒙版点击事件的选项"
### 一、参数modal设置为false会导致弹窗无法正常展示
代码
``
<el-drawer
  title="我是标题"
  v-model="drawer"
  :direction="direction"
           :modal="false"
  :before-close="handleClose" destroy-on-close>
  <span>我来啦!</span>
</el-drawer>
``
通过官网的调试功能，和目前我个人代码中的环境都会产生问题。
版本：^1.0.1-beta.5
二、控制项没有可以关闭蒙版点击事件的选项
没有像弹窗ElDialog参数close-on-click-modal一样，可以控制关闭半透明蒙版的点击事件参数

[2020-12-09 03:04] buaazs opened #902 "el-menu-item v-for issue"
It works fine if the v-for is _options_ . I'd like to load it later so it should be _optionsDefer_ . Then I got below error:
[code]

Code:([demo](https://codesandbox.io/s/great-albattani-op3c7?file=/src/App.vue))
[code]

[2020-12-09 03:10] justwiner commented on #900
In order to be compatible with the usage of `element-ui/table`, `element-plus/table` will not modify the existing API for compatibility with `antdv`, this is not friendly to element-ui users.

Of course table uses `radio` for single selection, we need to discuss

[2020-12-09 03:11] zazzaz commented on #887
Yes, I just found some error in our ESM bundle, and will cause this error while load on demand.

Will fix it soon.

[2020-12-09 03:11] Ryan2128 commented on #902
If version of `vue` is `3.0.4`, check this out : [vuejs/vue-next@c59897c](https://github.com/vuejs/vue-next/commit/c59897c7b0dbd82b5bbf3fbca945c0639ac37fb8)

You can try to downgrade the Vue version to `3.0.3`.

[2020-12-09 03:16] #902 closed

[2020-12-09 03:19] salonglong opened #903 "Element Plus 如何引用单个组件中的 js"
各位朋友，有没有办法把 Element Plus 单个组件的 js 导出来，以 <script src=""></script> 方式在网站中引入，用到非脚手架的项目中？

[2020-12-09 03:25] zazzaz commented on #903
I'm afraid there's no umd bundle for a single component ATM.

But we can support if there's a need.

Any reason you'd like to import it via the html script tag?

[2020-12-09 03:25] zazzaz commented on #898
will fix soon

[2020-12-09 03:29] salonglong commented on #903
Hello, yes.

I just want to use some components, load the full JS file, it's too big.

[2020-12-09 03:34] shlroland opened #904 "timepicker 不支持 键盘上下切换"
![image](https://user-images.githubusercontent.com/45024986/101570993-79125900-3a12-11eb-97a7-1ee399821b35.png)

[2020-12-09 03:51] JeremyWuuuuu commented on #903
Try this
`https://unpkg.com/element-plus@1.0.1-beta.5/lib/el-[componentName]`

[2020-12-09 03:56] xiaoxian521 commented on #903
我认为这样并不可行 因为这个组件还依赖别的js文件 会出现找不到的清空
最新版本的vue-cli还不支持打包umd吧

[2020-12-09 03:57] salonglong commented on #903
Not so, will prompt: ElMessage is not defined

[2020-12-09 04:14] JeremyWuuuuu commented on #903
Mind show some code? I'm not following

Since we now have vite thanks to Evan, you might just use vite to skip the bundling when developing. If you really need load on demand try Vite. Now we don't have plans to release individual packages with umd format. That might need to wait until the first stable version

[2020-12-09 04:16] JeremyWuuuuu commented on #904
Issues without a valid reproduction link will be closed directly.

[2020-12-09 04:27] tolking opened #907 "Elementplus does not work when installed in the devDependencies of the vite project"
Perhaps [lodash-es](https://www.npmjs.com/package/lodash-es) should be used instead of lodash

Maybe dayjs will also have this problem

    "element-plus": "^1.0.1-beta.5",
    "vite": "^1.0.0-rc.13",
    "vue": "^3.0.3",
    "vue-router": "^4.0.1"

[2020-12-09 04:32] JeremyWuuuuu commented on #901
Indeed, I reproduced this, the modal currenly parenting el-drawer will be turned off with modal flag set to false with a display: none

[2020-12-09 04:33] JeremyWuuuuu commented on #901
In this case the drawer's width and height will have no relative object referring to. Will be fixed

[2020-12-09 04:35] shlroland commented on #904
https://element-plus.gitee.io/#/zh-CN/component/time-picker

[2020-12-09 04:37] JeremyWuuuuu commented on #904
How exactly do I reproduce it?
Can you provide some reproducing operations?
Like first second then

[2020-12-09 04:38] xiaoxian521 commented on #907
It can be used. You can take a look at this example: https://github.com/xiaoxian521/CURD-TS/tree/vue-ts

[2020-12-09 04:46] Ryan2128 commented on #904
Maybe he meant that cannot use the arrow keys on the keyboard to change the value when the panel is open.

[2020-12-09 04:53] shlroland commented on #904
yes. i cannt use use arrow keys like up or down to change value

[2020-12-09 04:57] zazzaz commented on #904
will fix

[2020-12-09 05:05] JeremyWuuuuu commented on #900
The reason behind using checkbox istead of radio button is that radio button is supposed to be displayed with groups this means you can only select single item within the group. The requirement you have posted is common but also achievable with JavaScript code, you can use the on-check emitted from el-table to do that

[2020-12-09 05:06] shlroland commented on #904
and when trigger mouseenter event in time-spinner, the value cannt be selected

[2020-12-09 05:11] JeremyWuuuuu commented on #900
I also remember that in older version table can be selected with highlighting instead of with radio button, you can also use that to achieve the feature you wanted with the first column of radio butto and bind it with tables single row selection feature. The point here is that, we kind of want to provide as simple features as we can that users can build more complex feature upon it, instead of add

[2020-12-09 05:18] JeremyWuuuuu commented on #889
Hey guys, I am closing this issue because we want all feature requests to be tracked in discussion here is a link that you might find it helpful
https://github.com/element-plus/element-plus/discussions/905

And in order to request a new feature you can check here:

https://github.com/element-plus/element-plus/discussions/new

[2020-12-09 05:18] #889 closed

[2020-12-09 05:19] JeremyWuuuuu commented on #900
Hey guys, I am closing this issue because we want all feature requests to be tracked in discussion here is a link that you might find it helpful
https://github.com/element-plus/element-plus/discussions/905

And in order to request a new feature you can check here:

https://github.com/element-plus/element-plus/discussions/new

[2020-12-09 05:19] #900 closed

[2020-12-09 05:20] JeremyWuuuuu commented on #800
Hey guys, I am closing this issue because we want all feature requests to be tracked in discussion here is a link that you might find it helpful
https://github.com/element-plus/element-plus/discussions/905

And in order to request a new feature you can check here:

https://github.com/element-plus/element-plus/discussions/new

[2020-12-09 05:20] #800 closed

[2020-12-09 05:20] JeremyWuuuuu commented on #725
Hey guys, I am closing this issue because we want all feature requests to be tracked in discussion here is a link that you might find it helpful
https://github.com/element-plus/element-plus/discussions/905

And in order to request a new feature you can check here:

https://github.com/element-plus/element-plus/discussions/new

[2020-12-09 05:20] #725 closed

[2020-12-09 05:21] JeremyWuuuuu commented on #690
Hey guys, I am closing this issue because we want all feature requests to be tracked in discussion here is a link that you might find it helpful
https://github.com/element-plus/element-plus/discussions/905

And in order to request a new feature you can check here:

https://github.com/element-plus/element-plus/discussions/new

[2020-12-09 05:21] #690 closed

[2020-12-09 05:21] JeremyWuuuuu commented on #677
Hey guys, I am closing this issue because we want all feature requests to be tracked in discussion here is a link that you might find it helpful
https://github.com/element-plus/element-plus/discussions/905

And in order to request a new feature you can check here:

https://github.com/element-plus/element-plus/discussions/new

[2020-12-09 05:21] #677 closed

[2020-12-09 05:21] JeremyWuuuuu commented on #676
Hey guys, I am closing this issue because we want all feature requests to be tracked in discussion here is a link that you might find it helpful
https://github.com/element-plus/element-plus/discussions/905

And in order to request a new feature you can check here:

https://github.com/element-plus/element-plus/discussions/new

[2020-12-09 05:21] #676 closed

[2020-12-09 05:22] JeremyWuuuuu commented on #588
Hey guys, I am closing this issue because we want all feature requests to be tracked in discussion here is a link that you might find it helpful
https://github.com/element-plus/element-plus/discussions/905

And in order to request a new feature you can check here:

https://github.com/element-plus/element-plus/discussions/new

[2020-12-09 05:22] #588 closed

[2020-12-09 05:22] JeremyWuuuuu commented on #462
Hey guys, I am closing this issue because we want all feature requests to be tracked in discussion here is a link that you might find it helpful
https://github.com/element-plus/element-plus/discussions/905

And in order to request a new feature you can check here:

https://github.com/element-plus/element-plus/discussions/new

[2020-12-09 05:22] #462 closed

[2020-12-09 05:23] JeremyWuuuuu commented on #404
Hey guys, I am closing this issue because we want all feature requests to be tracked in discussion here is a link that you might find it helpful
https://github.com/element-plus/element-plus/discussions/905

And in order to request a new feature you can check here:

https://github.com/element-plus/element-plus/discussions/new

[2020-12-09 05:23] #404 closed

[2020-12-09 05:23] JeremyWuuuuu commented on #460
Hey guys, I am closing this issue because we want all feature requests to be tracked in discussion here is a link that you might find it helpful
https://github.com/element-plus/element-plus/discussions/905

And in order to request a new feature you can check here:

https://github.com/element-plus/element-plus/discussions/new

[2020-12-09 05:23] #460 closed

[2020-12-09 05:24] JeremyWuuuuu commented on #414
Hey guys, I am closing this issue because we want all feature requests to be tracked in discussion here is a link that you might find it helpful
https://github.com/element-plus/element-plus/discussions/905

And in order to request a new feature you can check here:

https://github.com/element-plus/element-plus/discussions/new

[2020-12-09 05:24] #414 closed

[2020-12-09 05:24] JeremyWuuuuu commented on #415
Hey guys, I am closing this issue because we want all feature requests to be tracked in discussion here is a link that you might find it helpful
https://github.com/element-plus/element-plus/discussions/905

And in order to request a new feature you can check here:

https://github.com/element-plus/element-plus/discussions/new

[2020-12-09 05:24] #415 closed

[2020-12-09 05:25] JeremyWuuuuu commented on #854
Hey guys, I am closing this issue because we want all feature requests to be tracked in discussion here is a link that you might find it helpful
https://github.com/element-plus/element-plus/discussions/905

And in order to request a new feature you can check here:

https://github.com/element-plus/element-plus/discussions/new

[2020-12-09 05:25] #854 closed

[2020-12-09 05:28] JeremyWuuuuu commented on #171
### how to make feature request
https://github.com/element-plus/element-plus/discussions/905

And in order to request a new feature you can check here:

### Open a new feature request
https://github.com/element-plus/element-plus/discussions/new

[2020-12-09 05:58] zazzaz commented on #800
I do think this is a good feature.

[2020-12-09 06:02] zazzaz commented on #725
el-visual-list #790

[2020-12-09 06:42] XingXiaoWu opened #914 "el-table can't reduce in display:flex"
[code]
el-table can get longer when browser elongated,but it can’t adapt when browser is shrunk

[2020-12-09 07:23] ht-sauce opened #915 "el-drawer中closeDrawer参数不存在，请问有什么办法解决"
我在自定义抽屉的效果，因为需要自定义关闭按钮，所以需要使用closeDrawer，但是经过调试之后。无论是自己代码环境还是官方提供的codepen环境都无法得到closeDrawer。
如图所示，他输出了未定义
![2256ZP9G6J75170~R`F~C0](https://user-images.githubusercontent.com/34828964/101598045-83dce600-3a32-11eb-98df-43910fdabd96.png)

[2020-12-09 07:34] JeremyWuuuuu commented on #915
Sorry for that, I made some changes, you now use `handleClose` to close it you can refer to #817

[2020-12-09 07:35] JeremyWuuuuu commented on #915
I should've changed the documentations right after, sorry for that

[2020-12-09 07:37] JeremyWuuuuu commented on #914
@justwiner will follow this up

[2020-12-09 07:37] kooriookami opened #916 "Dialog behavior"
When dialog first shows, there is obvious cadence to show the body.
![image](https://user-images.githubusercontent.com/38392315/101598826-b3402280-3a33-11eb-9637-438b6cb9db84.png)
![image](https://user-images.githubusercontent.com/38392315/101598839-b804d680-3a33-11eb-91b3-103c6a8ba289.png)

[2020-12-09 07:39] JeremyWuuuuu commented on #907
Guess what, didn't find any reference in your repo using `lodash` on branch `main`

[2020-12-09 07:39] JeremyWuuuuu commented on #907
Well I guess `Vite`'s requirement is just harsh. We will find out a workaround on this.

[2020-12-09 07:41] xinzi1990 opened #917 "Dialog v-if="rendered""
导致首次会有渲染的过程，感觉体验不是很好
![image](https://user-images.githubusercontent.com/19815987/101599736-3a41ca80-3a35-11eb-812d-ca50aded8e6c.png)
![image](https://user-images.githubusercontent.com/19815987/101599748-429a0580-3a35-11eb-812b-8058c34c9d03.png)

[2020-12-09 07:43] JeremyWuuuuu commented on #917
Per description in here: https://element-plus.org/#/en-US/component/dialog

[2020-12-09 07:44] JeremyWuuuuu commented on #916
Same as #917
Per description here:

Maybe adding a lazy flag to control this would be better.

[2020-12-09 07:45] Bo-LiangD opened #918 "element-plus ---vue3.0 引入部分组件 报错"
ERROR  Failed to compile with 2 errors                                                                                                                                                                    3:42:24 ├F10: PM┤
This dependency was not found:

* element-plus/lib/theme-chalk/el-collapse-transition.css in ./src/plugins/element.js

To install it, you can run: npm install --save element-plus/l

[2020-12-09 07:49] LuoRiWuSheng opened #919 "el-select 多选 显示有问题，内容溢出"
2020-12-09

版本号： @1.0.1-beta.6

代码复现

[code pen](https://codepen.io/luoriwusheng/pen/KKgggaj)

期望：
做成像单选框那样， 即使是多选，也不要溢出

单选框是没有溢出的

[2020-12-09 07:52] LuoRiWuSheng commented on #919
element-ui 也有 即使是最新的 也仍旧存在

[2020-12-09 07:55] zazzaz commented on #918
Can you try the latest version 1.0.1-beta.6, please?

[2020-12-09 08:13] Bo-LiangD commented on #918
刚换成了 最新的版本
element-plus / lib / theme-chalk / el-collapse-transition.css 还是找不到 这个 文件
然后错误信息还是一样的。。。
![1c1845d22b61773c4a0b454784e3215](https://user-images.githubusercontent.com/29296518/101602613-5fd0d300-3a39-11eb-97ad-3950df658482.png)
![7c8c1333d6fd528a9774d67df8e1ef8](https://user-images.githubusercontent.com/29296518/101602622-61020000-3a39-11eb-832e-2efd7ebd02ef.png)

[2020-12-09 08:17] tolking commented on #907
Elementplus does not work when installed in the devDependencies of the vite project, But when it is installed in dependencies, it will work.

[2020-12-09 08:19] JeremyWuuuuu commented on #919
Got it, this needs to be taking care of, we will fix this along with #874

[2020-12-09 08:21] JeremyWuuuuu commented on #907
Since `ElementPlus` should be appeared in `dependencies` I think you should correct that, and I dunno if this is something caused by `Vite` or not. Unless you can provide a demo repo for us to reproduce.

[2020-12-09 08:24] zazzaz commented on #918
oh I see.

will fix soon

[2020-12-09 08:37] zazzaz commented on #147
ref https://github.com/element-plus/element-plus/issues/171

[2020-12-09 08:37] #147 closed

[2020-12-09 08:37] tolking commented on #907
clone element-plus-vite-starter and move `"element-plus": "latest"` in to the `devDependencies`
This may not be Elementplus wrong, but the same config work in element-plus-starter
I will close this issues

[2020-12-09 08:54] kooriookami opened #921 "Pagination warning"
![image](https://user-images.githubusercontent.com/38392315/101605922-ba6c2e00-3a3d-11eb-9d43-c5edc06f5eb4.png)

[2020-12-09 08:55] JeremyWuuuuu commented on #921
Upgrade `Vue` this will be fixed

[2020-12-09 08:55] #921 closed

[2020-12-09 08:57] JeremyWuuuuu commented on #921
Duplicate with #819 #821 #826

[2020-12-09 08:59] zazzaz commented on #827
By design, element plus will use date-time-related locale files from Day.js directly.

As for the abbreviated month name in this issue we've talked about, Day.js shows:

https://github.com/iamkun/dayjs/blob/dev/src/locale/zh-cn.js#L10
`monthsShort: '1月_2月_3月_4月_5月_6月_7月_8月_9月_10月_11月_12月'.split('_'),`

That is to say, month picker will finally be the exact result you are looking for.

[2020-12-09 09:03] XingXiaoWu opened #922 "The border of el-Table is abnormal with display:flex"
# Element-Plus version
 "element-plus": "^1.0.1-beta.5"

# OS/Browsers version
Mozilla/5.0 (Macintosh; Intel Mac OS X 11_0_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36

# Steps to reproduce
1.body style:height:100vh;width:100vw;
2. #app style:display:flex; height:100%;width:100%;
3.question1: Dont't set border for el-table
3.question2: Set border for el-table

# What

[2020-12-09 09:05] JeremyWuuuuu commented on #922
This is nice that you can provide detailed information like this, we will start to investigate, thank you!

[2020-12-09 09:06] XingXiaoWu commented on #922
![image](https://user-images.githubusercontent.com/22769131/101608459-b2fa5400-3a40-11eb-8b65-fe0cb6f12075.png)
![image](https://user-images.githubusercontent.com/22769131/101608551-ce655f00-3a40-11eb-9675-81319c3a8903.png)

[2020-12-09 09:26] #907 closed

[2020-12-09 09:53] npm-ued opened #923 "el-breadcrumb-item to not work"
code like this
[code]
vue 3.0.3
vue-router 4.0.0-rc.6
element-plus 1.0.1-beta.0
not call vue-router

[2020-12-09 10:02] zazzaz commented on #923
it is better to try the latest version of element-plus to see if it has been fixed

[2020-12-09 10:23] #901 closed

[2020-12-09 10:27] xyorz opened #925 "el-upload file-list did not update"
The picture card did not update when I update the binding array.
demo:
[https://codesandbox.io/s/sleepy-galileo-xf11y](url)
By the way, it just works fine in element-ui:
[https://codesandbox.io/s/brave-jennings-1z6jn](url)

[2020-12-09 11:17] acupofspirt commented on #898
Also we can't set any class property on ElDatePicker for the same reason - it uses fragments.

[2020-12-09 11:21] Ryan2128 commented on #925
It will be fixed in next version.

[2020-12-09 11:24] Lliuxs opened #926 "el-tabs lazy loading"
当我有很多个tab需要切换的时候
初次加载的时候 content的内容都加载出来了 发送了很多不必要的请求
是否有什么好的解决办法

我觉得理想情况下是第一次显示页签的时候，页签里面的组件才会执行初始化操作，请求数据，渲染dom
初次最好不要加载这么多的
我记得antd好像初次不会将内容全部加载出来

[2020-12-09 11:34] LuoRiWuSheng commented on #874
在 vue 中添加  class 类

`<el-select  multiple  clearable class='fix-text-overflow'>`

`</el-select>`

使用的全局样式

`<style lang="less">`
`.fix-text-overflow {`
`  .el-tag {`
`    position: relative;`
`    max-width: 99%;`
`    overflow: hidden;`

`    & > span {`
`      margin-right: 14px;`
`      overflow: hidden;`
`      text-overflow: ellipsis;`
`      white-space: nowrap;`
`      display: block;`
 `

[2020-12-09 11:53] #872 closed

[2020-12-09 11:54] JeremyWuuuuu commented on #926
cc @bastarder

[2020-12-09 11:54] JeremyWuuuuu commented on #926
I think the lazy loading feature is legit. Let's see if we can get this done.

[2020-12-09 11:56] JeremyWuuuuu commented on #923
Try the latest version, it should be fixed in #745

[2020-12-09 12:26] zwStar opened #928 "dialog渲染问题"
当我使用dialog时 如:
[code]

看到dialog组件的visible是在onMounted里面在判断modelValue再设置为true，也就是dialog的slot子组件渲染会在mounted之后，这个时候就导致上面mounted的时候的slot还是没渲染，所以为null
请问是dialog的这个设计有问题还是有其它方法来满足我这种使用场景

[2020-12-09 12:28] JeremyWuuuuu commented on #928
Per description here: https://element-plus.org/#/zh-CN/component/dialog

[2020-12-09 12:40] Lliuxs opened #929 "el-table文档错误"
![image](https://user-images.githubusercontent.com/35122287/101630660-29597f00-3a5e-11eb-977e-5180ad0b8f2f.png)

文档中 自定义列模板部分 的#trigger插槽 是否应该为reference

在el-popper中接收的插槽是 v-slots为default和trigger
但是在el-popover的trigger中 const trigger = $slots.reference ? $slots.reference() : null
这里是不是可以统一命名

[2020-12-09 13:03] aquarmarine commented on #606
My version is Vue 3.0.4,but I still have this problem.How to solve it?

[2020-12-09 13:04] aquarmarine commented on #606
My version is 3.0.4,but I still have this problem.How to solve it?

[2020-12-09 13:04] XingXiaoWu opened #930 "[Bug Report] El-switch starts the Change method on the first render"
# Element-Plus version
"element-plus": "^1.0.1-beta.5"

# OS/Browsers version
Mozilla/5.0 (Macintosh; Intel Mac OS X 11_0_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36

# Steps to reproduce
set switch @change

# What is Expected?
It will not fire the first time it is rendered

# What is actually happening?
It will fire the first time you render

This is example:
https

[2020-12-09 13:05] JeremyWuuuuu commented on #606
@aquarmarine can you tell me how to reproduce it? cc @SimonaliaChen

[2020-12-09 13:35] Ryan2128 commented on #930
Thanks. It will be fixed in next version.

[2020-12-09 13:50] Ryan2128 commented on #930
I check the source code and test the demo you provide just now, I find there is an error in your usage.

[code]

You passed the `active-value` and `inactive-value`, but the `v-model` is `undefind`. So `switch` will emit a `change` event firstly.

[2020-12-09 13:55] Ryan2128 commented on #930
If there are no doubts, I will close the issue later.

[2020-12-09 14:06] #930 closed

[2020-12-09 14:19] XingXiaoWu commented on #930
Sorry for not replying in time just now.
In fact, I omitted the example when I copied it, but the preset value will also trigger the change event.
Like this:
https://codepen.io/xingxiaowu/pen/KKggqpZ

[2020-12-09 14:20] Ryan2128 commented on #929
First, the slot name should be changed in this demo to make it work.

But, I think the slot name of `el-popper` should not be changed for compatibility reasons.

[2020-12-09 14:23] Ryan2128 commented on #930
You passed the `active-value` and `inactive-value`, so the default value of `v-model` should be one of them.

The logic of emit the `change` event is below:

[code]

[2020-12-09 14:27] Ryan2128 commented on #930
In your latest demo, there is no change event was emitted.

[2020-12-09 14:29] Ryan2128 commented on #930
The code I provided above is your wrong code.

[2020-12-09 14:29] XingXiaoWu commented on #930
oh,I understand.I'm sorry to have bothered you so long. Thank you very much.

Whether the relationship between the two values and the modelVal can be explained in the document is not seen on the document, so this misunderstanding occurs.

[2020-12-09 14:34] Ryan2128 commented on #930
The relevant description is as follows. If you feel that it is not perfect, please feel free to open a PR.

![image](https://user-images.githubusercontent.com/33176053/101642637-2f575c00-3a6e-11eb-8d99-90bb49429b93.png)

![image](https://user-images.githubusercontent.com/33176053/101642673-3b431e00-3a6e-11eb-9475-a2a6ad0c40ff.png)

[2020-12-09 14:36] XingXiaoWu commented on #930
Ok, thanks again

[2020-12-09 15:40] yorkolee opened #932 "el-collapse不能触发change事件"
例子:https://element-plus.gitee.io/#/zh-CN/component/collapse
<el-collapse v-model="activeNames" @change="handleChange">
没有触发事件
handleChange(val) {
   console.log(val);
}

[2020-12-09 16:08] #857 closed

[2020-12-09 16:08] JeremyWuuuuu commented on #932
We will investigate this ASAP

[2020-12-09 16:15] JeremyWuuuuu commented on #929
When `ElPopper` was designed I didn't think about `trigger` as a way to trigger the change, so I named the slot `trigger` then there comes `trigger` for trigger option like `click.

For `ElPopover`, because we wanted to implement functionalities without breaking the previous designed API, so I didn't change the slot name for `ElPopover`
BTW, `ElPopper` was meant to be a component for internal use

[2020-12-09 16:15] JeremyWuuuuu commented on #929
@Lliuxs You interested in making PR for fixing this?

[2020-12-10 02:09] Lliuxs commented on #929
其实很多时候用自带的show-overflow-tooltip可以解决问题
但是这个属性和el-tooltip一样当内容过长时 width会占满屏幕 被人怼说太丑。。。

[2020-12-10 02:19] wukang0718 opened #938 "calendar 组件头部可以支持插槽吗？"
### calendar 组件头部可以支持插槽吗？
![image](https://user-images.githubusercontent.com/42261663/101712709-19c74e00-3ad1-11eb-8710-4e2b22214a6b.png)

[2020-12-10 02:24] Lliuxs commented on #932
我之前遇到过 好像是没emit('change', value) 我是直接取的activeNames的值

[2020-12-10 02:27] JeremyWuuuuu commented on #938
@zazzaz

[2020-12-10 02:28] #929 closed

[2020-12-10 02:43] XingXiaoWu commented on #930
Sorry to bother you again,I found el-switch there was a problem with loading in the table

It looks like only boolean is fine.

If you set activity-value and inactive-value, you will have a problem, It will fire the first time you render

https://codepen.io/xingxiaowu/pen/KKggqpZ

[2020-12-10 02:54] henrybryanRYan opened #940 "ElSelect multiple 多选模式"
2020-12-10

版本号： @1.0.1-beta.6

1、选中一个不展示 大于一个展示
2、删除最后一个选项无法删除

期望：
操作正常

[2020-12-10 03:00] bastarder commented on #926
`el-tab-pane` support `lazy` prop, did you try it? or it doesn't work?

[2020-12-10 03:00] porcelainHeart commented on #940
Known issues.
Duplicate of #874

[2020-12-10 03:04] henrybryanRYan commented on #940
此问题合适能解决？
数据更新了 视图未更新

[2020-12-10 03:05] #925 closed

[2020-12-10 03:09] woshiwhy commented on #932
大概什么时候修复完成

[2020-12-10 03:09] #893 closed

[2020-12-10 03:11] zazzaz commented on #938
What kind of slot are you looking for.

Any screenshot or demo, please?

[2020-12-10 03:11] JeremyWuuuuu commented on #932
We will do it as soon as we can, all contributors are not full time OSS developers. PR is welcomed.

[2020-12-10 03:17] JeremyWuuuuu commented on #832
@Liiked  will take care of this bug here.

[2020-12-10 03:19] JeremyWuuuuu commented on #880
After. we discussed with designers, the principle of the design here is, the shorter the error message the better, so the suggestion here is either you use style overriding technic to do so, or shorten the error message would be a good idea.

[2020-12-10 03:20] JeremyWuuuuu commented on #880
The original idea is that we keep error messages as simple as it can be.

[2020-12-10 03:23] JeremyWuuuuu commented on #835
Don't think this is a good idea though, this should be a HOC(higher ordered component), instead of AC(atomic component)

[2020-12-10 03:23] JeremyWuuuuu commented on #835
Sorry, we have no plan to support this.

[2020-12-10 03:23] #835 closed

[2020-12-10 03:25] JeremyWuuuuu commented on #940
Fixed in #941 will be released in next version

[2020-12-10 03:25] #940 closed

[2020-12-10 03:25] JeremyWuuuuu commented on #904
Could you provide some demo?

[2020-12-10 03:26] JeremyWuuuuu commented on #932
cc @bastarder

[2020-12-10 03:28] JeremyWuuuuu commented on #915
Fixed in #924

[2020-12-10 03:28] JeremyWuuuuu commented on #915
use `refs.drawer.handleClose()` instead

[2020-12-10 03:28] #915 closed

[2020-12-10 03:32] JeremyWuuuuu commented on #874
@LuoRiWuSheng Would you like to give it a shot? I mean make a PR for this fix

[2020-12-10 03:39] wukang0718 commented on #938
![image](https://user-images.githubusercontent.com/42261663/101718151-9a8b4780-3adb-11eb-9d6d-9922e01c06a3.png)
[code]
I want to be able to customize the header this way
I also want to be able to support the choice of year and month
![image](https://user-images.githubusercontent.com/42261663/101718372-01106580-3adc-11eb-8f47-58eacb73778e.png)
![image](https://user-images.githubusercontent.com/4226

[2020-12-10 03:45] JeremyWuuuuu commented on #923
Closing since this was fixed in the latest version

[2020-12-10 03:45] #923 closed

[2020-12-10 04:32] kooriookami opened #942 "Popover with border"
Most components with light effect popver has a border. But the `el-popver` itself has no border. I notice that the style `is-pure` remove the border and padding, many components with `is-pure` also add a border. I think is it possible to remove the `border: none` of `is-pure`. The `is-pure` only has a `padding: 0`.
![image](https://user-images.githubusercontent.com/38392315/101721087-1c7e6f00-3ae2

[2020-12-10 05:08] sufengyong opened #944 "el-select 多选时无法删除最后一个标签"
version: 1.0.1-beta.6
el-select，多选,，选择多个时无法删除最后一个

demo: https://element-plus.org/#/zh-CN/component/select  官方文档，下拉框 -> 基础多选 可复现

[2020-12-10 05:10] JeremyWuuuuu commented on #944
Fixed in #941 has not been released yet

[2020-12-10 05:10] #944 closed

[2020-12-10 05:11] JeremyWuuuuu commented on #944
Also duplicated in #874 #940

[2020-12-10 05:17] #903 closed

[2020-12-10 05:30] MQYForverT opened #945 "About el-select"
when useing remote search to get the options（options：ref([])）

the el-options cant't work

[2020-12-10 05:32] JeremyWuuuuu commented on #945
Please provide some demo for debugging

[2020-12-10 05:33] salonglong commented on #903
感谢各位的回复，我已经将 Element 中的 ts 进行改造，单独拿出来用，完全没有问题。

[2020-12-10 05:46] MQYForverT commented on #945
version：^1.0.1-beta.6

<template>
	<el-select
		ref="headerSearchSelect"
		v-model="search"
		:remote-method="querySearch"
		filterable
		default-first-option
		remote
		placeholder="Search"
		class="header-search-select"
		@change="change"

		<el-option v-for="item in options" :key="item.path" :value="item" :label="item.title.join(' > ')" />
	</el-select>
</template>

<script lang="ts">
import {

[2020-12-10 05:48] shlroland commented on #904
when i trigger mouseenter on spinner, the string will be selected
![image](https://user-images.githubusercontent.com/45024986/101726838-3e7dee80-3aee-11eb-8c45-c7623cca3866.png)
but in element-plus，it doesnt work

[2020-12-10 05:58] guagezuishuai commented on #887
我今天重新拉了包，问题还是存在的。现在是暂时不支持按需的中文么？为什么不能默认中文啊？咱们组件用户最多的不就是中国人么？

[2020-12-10 06:06] zazzaz commented on #887
This is because Vite does not support UMD bundle.

We will try to make it work in the feature release.

At present, there are two alternatives

1 use Webpack and load on demand

2 use Vite and load full bundle

[2020-12-10 06:20] JeremyWuuuuu commented on #942
Well, you are right, popover do have borders, I just confirmed that, do you want to make a PR for this?

[2020-12-10 06:21] henrybryanRYan opened #947 "请教：表单校验如何定义？"
请教：表单校验如何定义？

[2020-12-10 06:23] JeremyWuuuuu commented on #947
https://element-plus.org/#/zh-CN/component/form

TL;DR

Form uses async-validator to validate inputs.
Reference: [Async validator](https://github.com/yiminghe/async-validator)

[2020-12-10 06:23] #947 closed

[2020-12-10 06:26] henrybryanRYan commented on #947
@JeremyWuuuuu 按照官方文档 改为 vue3 格式报错了，能否给个vue3表单验证的例子呢？

[2020-12-10 06:27] JeremyWuuuuu commented on #932
I think it's because of the design, though adding the event is not a big deal, I'll add it later.
For now with `v-model` watching `modelValue` seems a better I idea. (Just my personal opinion)

[2020-12-10 06:30] JeremyWuuuuu commented on #947
The rule:
[code]
When error
![image](https://user-images.githubusercontent.com/15975785/101729930-15f8f300-3af4-11eb-849d-659d3ec8d4e3.png)
When correct
![image](https://user-images.githubusercontent.com/15975785/101729958-1db89780-3af4-11eb-8c69-b20d90563f42.png)

[2020-12-10 06:31] xyorz opened #948 "el-menu open method error"
demo:
[https://codesandbox.io/s/festive-chaplygin-tk90c](https://codesandbox.io/s/festive-chaplygin-tk90c)

[2020-12-10 06:31] JeremyWuuuuu commented on #947
The example is already in the document site, check them out at the section of `表单验证(form-validation)`

[2020-12-10 07:01] henrybryanRYan commented on #947
![1](https://user-images.githubusercontent.com/74169026/101732629-7be77980-3af8-11eb-8fb9-4b263663696b.png)
![2](https://user-images.githubusercontent.com/74169026/101732641-81dd5a80-3af8-11eb-9e84-b994a686a263.png)
![3](https://user-images.githubusercontent.com/74169026/101732650-8570e180-3af8-11eb-83f5-0bdf55d6d092.png)
![4](https://user-images.githubusercontent.com/74169026/101732659-886bd200-3

[2020-12-10 07:05] kooriookami commented on #942
Yes, I do.

[2020-12-10 07:10] JeremyWuuuuu commented on #942
Nice, open a PR and link this issue with it.

[2020-12-10 07:14] JeremyWuuuuu commented on #945
Oh, about that. This issue is related to `Vue` instead of us, they have made some changes of their own introduces bug like you have shown. When you load a list with the list value gets assigned asynchronously, it gets broken. Refer to the issue here: https://github.com/vuejs/vue-next/commit/c59897c7b0dbd82b5bbf3fbca945c0639ac37fb8

[2020-12-10 07:14] JeremyWuuuuu commented on #945
The only way here to solve this is to wait until they release `3.0.5`

[2020-12-10 07:45] MQYForverT commented on #945
ok，thanks

[2020-12-10 07:54] SimonaliaChen commented on #917
It's truely a issue to be optimized. We'll fix it ASAP.

[2020-12-10 07:56] TothingWay commented on #171
正式版预计还有多久发布

[2020-12-10 08:17] #928 closed

[2020-12-10 08:17] #932 closed

[2020-12-10 08:20] #948 closed

[2020-12-10 08:44] #917 closed

[2020-12-10 08:44] #916 closed

[2020-12-10 08:58] henrybryanRYan commented on #947
Can you help to locate the cause of the error and how to modify it? thank you!

[2020-12-10 09:04] #942 closed

[2020-12-10 09:33] y1378056783 opened #956 "请教下在vite中如何配置按需加载，望大神赐教"
按官方文档配置并没有效果，打包后体积还是很大
vite.config配置如下：
module.exports = {
    plugin:['babel-plugin-component']
}
babel.config配置如下
module.exports = {
    plugins: [
      [
        "component",
        {
          "libraryName": "element-plus",
          "styleLibraryName": "theme-chalk"
        }
      ]
    ]
  }
引入示例：
import {  ElPagination, ElDialog } from "element-plus"
export default app => {
  const compo

[2020-12-10 09:35] JeremyWuuuuu commented on #947
Please watch the documentation before you write code. [Composition API](https://v3.vuejs.org/guide/composition-api-introduction.html), if you are not familiar with `Composition API` please go check it out. This is not a bug from us. Thank you

[2020-12-10 09:38] JeremyWuuuuu commented on #947
We have been constantly asking for syntax issues because of `Composition API`, note that `Options API` is still out there, you can use it like you did before. Not everybody needs `VCA`. Documentations have been clear enough, we have already buried ourselves in fixing bugs/making optimizations, these kinds of questions are really not related to us. By reading documentation is a better way to suppor

[2020-12-10 09:39] zazzaz commented on #956
You can check this as a reference #719

[2020-12-10 09:40] JeremyWuuuuu commented on #956
https://github.com/wingsico/vite-element-demand-starter FYI.

[2020-12-10 09:40] #956 closed

[2020-12-10 09:44] henrybryanRYan commented on #947
After the "Model Rules" are removed, the data can be bound normally, but there is no verification function

[2020-12-10 09:49] SimonaliaChen commented on #947
Please provide a whole minimal reproduction, best via https://codesandbox.io/s/crimson-hill-is5r0

[2020-12-10 09:52] JeremyWuuuuu commented on #947
How to bind to to the template is as same as it was before, this is you now knowing how to produce the data via `VCA`, that is not our issue. Please go google that out or read the documentation I just sent you.

[2020-12-10 09:53] JeremyWuuuuu commented on #947
https://element-plus.gitee.io/#/zh-CN/component/form You can see the form here is working just fine, so that proves the error was not from us, if it was, we will fix it.

[2020-12-10 10:10] henrybryanRYan commented on #947
https://codesandbox.io/live/i6j3rh8

[2020-12-10 11:07] SimonaliaChen commented on #947
@henrybryanRYan The cause of the error is that you bind `el-form` a unused ref named `ruleForm` which has conflict with reactive data. Change another name will work, Check [this](https://codesandbox.io/s/musing-waterfall-ps60f?file=/src/App.vue) out.

[2020-12-10 11:18] Tarrowren commented on #763
我看了其他框架的源码，这是目前可行的方式
[code]
![1](https://user-images.githubusercontent.com/35626141/101765528-65ebb000-3b1c-11eb-9a31-e6cb3f7c8612.png)

[2020-12-10 11:47] seolhw opened #958 "在vite当中使用主题，字体路径的 ~ 无法正常解析，build和dev均报错"
在vite当中使用主题，~路径无法正常解析，build和dev均报错
[code]

[2020-12-10 12:08] porcelainHeart commented on #958
You can use @modules/element-plus.

[2020-12-10 12:10] porcelainHeart commented on #958
~ is a convention alias configured in vue-cli. There’s no such thing in Vite.

[2020-12-10 14:26] duanyijie opened #960 "el-select 远程搜索有报错"
文档的示例直接在线运行，任意搜索即可复现
![image](https://user-images.githubusercontent.com/16126552/101784539-9c362900-3b36-11eb-8ec1-b39b2297d5c5.png)

[2020-12-10 15:41] Ryan2128 commented on #960
It is a bug in vue, please check #902 .

[2020-12-10 15:41] #960 closed

[2020-12-11 01:34] henrybryanRYan commented on #947
@SimonaliaChen Thank you very much. The problem has been solved

[2020-12-11 01:36] qiaozhu opened #961 "dropdown能否新增鼠标右键触发 或者自定义触发"

[2020-12-11 01:41] seolhw commented on #958
是的，/@modules/element-plus 仅dev可用，build依旧会报错

[code]

我非常清楚你的意思，我想问有没有什么解决方案？

[2020-12-11 02:21] zazzaz commented on #961
maybe https://github.com/element-plus/element-plus/discussions/909

[2020-12-11 02:32] ht-sauce opened #962 "ElTable使用toggleRowSelection会导致selection-change也被调用"
我现在需要做一个多页选中的功能
在一开始我用selection-change记录当前选择的数据
然后在回到当前页面的时候利用toggleRowSelection选中上一页数据
这时候因为toggleRowSelection是每次都会执行selection-change，导致我最后选择的数据全部丢失了。无法多页选中。

还好可以自定义列表，不然就没法使用了。

[2020-12-11 02:39] Zhaocl1997 opened #963 "time-select picker-options seems not working"
https://element-plus.gitee.io/#/zh-CN/component/time-select , offical doc is sample

[2020-12-11 02:39] kooriookami opened #964 "Bug & improve with scrollbar"
1. In many components like `select`, `time-select`, once click the scrollbar, when mouse up, it still scroll.
2. ![image](https://user-images.githubusercontent.com/38392315/101854442-86f3e580-3b9c-11eb-8ee4-a99b72f287b8.png)
![image](https://user-images.githubusercontent.com/38392315/101854300-38464b80-3b9c-11eb-824d-c5a183a0a17d.png)
![image](https://user-images.githubusercontent.com/38392315/101

[2020-12-11 02:44] Zhaocl1997 commented on #963
more specific "step" not working

[2020-12-11 02:49] JeremyWuuuuu commented on #961
Even though we have a trigger props with a value `click | hover | manual | focus`, but `ElDropdown` didn't implement `v-model` of itself. So that passing `manual` will cause problem.

[2020-12-11 02:59] seolhw commented on #958
把字体文件复制到src下了，用相对路径引入，反正是可以用了，只是升级会有影响，暂时先这样吧，如果没有其他解决方案的话

[2020-12-11 03:14] YJ-H opened #965 "使用form表单，其中含有el-select，vue发出警告"
[Vue warn]: Extraneous non-emits event listeners (beforeEnter) were passed to component but could not be automatically inherited because component renders fragment or text root nodes. If the listener is intended to be a component custom event listener only, declare it using the "emits" option.
  at <ElPopper ref="popper" visible=true onUpdate:visible=fn  ... >
  at <ElSelect modelValue=null onUpda

[2020-12-11 03:16] ht-sauce commented on #962
我换了一种方式，当多页选择的时候需要增加
1、row-key
2、reserve-selection

[2020-12-11 03:16] #962 closed

[2020-12-11 03:18] JeremyWuuuuu commented on #965
This is cause by `Vue`'s own bug, unless `Vue` releases their patch for this in `v3.0.5`, you might lock your `Vue` version back to `v3.0.3` for avoiding this

[2020-12-11 03:19] JeremyWuuuuu commented on #965
Please refer to https://github.com/vuejs/vue-next/commit/c59897c7b0dbd82b5bbf3fbca945c0639ac37fb8

[2020-12-11 03:19] #965 closed

[2020-12-11 03:21] JeremyWuuuuu commented on #958
This is related to the module resolution in `Vite`, we might need some help from them. Also we will update our documentation. Thank you

[2020-12-11 03:25] JeremyWuuuuu commented on #965
Refer to this https://codesandbox.io/s/twilight-haze-ygm69?file=/src/App.vue @YJ-H

[2020-12-11 03:45] Lliuxs opened #966 "el-upload docs Vue warn"
打不来dialog 看控制台有警告
![image](https://user-images.githubusercontent.com/35122287/101859167-2073c500-3ba6-11eb-8c20-f80505afedc3.png)

这里使用直接用v-model吧 文档使用了v-model:visible

[2020-12-11 04:32] y1378056783 commented on #887
修改element-plus/lib/locale/index.js第一行换成zh-cn这步是为生产环境
修改element-plus/lib/index.ems.js找到语言变量，替换成element-plus/lib/locale/lang/zh-cn.js导出的内容这步是为开发环境
这是试过的有效，不知道有没有其他更好的方法

[2020-12-11 06:08] kulipo commented on #826
#921 has fixed, but I found that in the vue version3.0.4, el-date-picker still has this warning, Would you please help to check it.
"element-plus": "^1.0.1-beta.7"
"vue": "^3.0.4"

[2020-12-11 06:10] jahnli commented on #826
Yes, I still get a warning when I try to upgrade

[2020-12-11 06:13] JeremyWuuuuu commented on #966
Right, we didn't update documentation in time. Could you help us with a PR?

[2020-12-11 06:18] kulipo commented on #826
There has two demo on official website:
"Date Range
Picking a date range is supported.
Default          With quick options"
use Default is OK, when use "With quick options", there has  warning.
this is the details of the question.

[2020-12-11 06:19] JeremyWuuuuu commented on #964
Yes, I think we have already known this for a while now, you can see this #716 , you have any suggestion on this fix? #716 didn't have any test cases against the changes, so I couldn't merge it. You want a PR?

[2020-12-11 06:20] JeremyWuuuuu commented on #964
Again, I am so thankful that we have contributors like you.

[2020-12-11 06:29] kulipo commented on #826
when use attribute “align” or "unlink-panels" for <el-date-picker />，the issues can occur.  my local version of Vue is ^3.0.4.

[2020-12-11 06:31] wzohxia opened #968 "menu的折叠动画不起效果"
[code]

[2020-12-11 06:32] JeremyWuuuuu commented on #826
cc @zazzaz
Also, FYI, some attribute has already been removed from `el-date-picker`: check this out https://github.com/element-plus/element-plus/issues/162#issuecomment-676052160

[2020-12-11 06:33] JeremyWuuuuu commented on #968
@Liiked is on his way of fixing this.

[2020-12-11 06:34] JeremyWuuuuu commented on #963
https://github.com/element-plus/element-plus/issues/162#issuecomment-676052160 check this out, picker-options has already been deprecated

[2020-12-11 06:34] JeremyWuuuuu commented on #963
We didn't get the docs updated in time. Sorry for that.
cc @zazzaz

[2020-12-11 06:45] Zhaocl1997 commented on #963
got it

[2020-12-11 06:45] #963 closed

[2020-12-11 07:00] kooriookami commented on #964
I could fix part of these problems, some place I changed will cause damage. I don't understand the effect of some attributes like `native`, `gutter` of scrollbar. I don't know the meaning of their existence. I think if it's a historical legacy that  worth an architect to refactor or improve. ORZ

[2020-12-11 07:37] #877 closed

[2020-12-11 08:28] justwiner commented on #914
Duplicate of #922

[2020-12-11 08:29] Bo-LiangD commented on #968
问题 解决了嘛 弱弱的 问一句 嘿嘿

[2020-12-11 08:42] Liiked commented on #968
Is your problem same as #832 ?

[2020-12-11 08:49] #922 closed

[2020-12-11 08:57] Bo-LiangD commented on #968
是的

[2020-12-11 09:06] Bo-LiangD opened #972 "Men导航切换路由的时候，把数据存储在 Vuex中页面会卡死 ....."
使用 Vue3.0.4 + Element-plus 1.0.1-beta.6 + vuex4.0.0-0
![企业微信截图_16076774031769](https://user-images.githubusercontent.com/29296518/101883847-cb9a7380-3bd2-11eb-9b1f-a2700cdbcbc1.png)
如图 所示  功能类似 导航面包屑
![image](https://user-images.githubusercontent.com/29296518/101883984-fb497b80-3bd2-11eb-91df-b358961b0373.png)
这是我写的方法

警告出现后  后续 继续路由切换 流畅无误

[2020-12-11 09:14] sundongzi opened #973 "when el-table-filter__list too much content,height cannot display normally"
Element UI version
element-plus

Browsers version
chrome(86.0.4240.198)

Vue version
2.6.10

[2020-12-11 09:16] JeremyWuuuuu commented on #973
ElementPlus is built for only Vue3 there is no way that you can use this in v2.x

[2020-12-11 09:16] #973 closed

[2020-12-11 09:18] JeremyWuuuuu commented on #972
Hey can you provide us the minimal reproducible code for us to investigate? We haven't had solid tests with Vuex, I guess that was our mistake

[2020-12-11 09:18] JeremyWuuuuu commented on #972
repo or online editor are both acceptable, thx

[2020-12-11 09:20] sundongzi opened #974 "when el-table-filter__list too much content,height cannot display normally"
Element UI version
element-plus

Browsers version
chrome 86.0.4240.198（正式版本）

Vue version
3.0.4

[2020-12-11 09:20] Bo-LiangD commented on #972
em.em.em.. 稍等片刻

[2020-12-11 09:43] Lliuxs commented on #926
@bastarder 大佬 我觉得应该是可以的吧 之前用antd的时候是支持lazy的。理论上把状态给parent去处理是不是可以满足

[2020-12-11 10:11] Lliuxs commented on #966
1

[2020-12-11 10:11] Lliuxs commented on #966
https://github.com/element-plus/element-plus/pull/975#issue-536757241

[2020-12-11 11:28] Lliuxs commented on #966
当我点开预览的时候 img设置的100%变成了width:0 显示不出来
![image](https://user-images.githubusercontent.com/35122287/101897982-59338e80-3be6-11eb-8d79-d8213bc5c0c0.png)
https://codesandbox.io/s/nostalgic-noether-yz62y?file=/src/App.vue
但是element不会这样
https://codesandbox.io/s/hopeful-ritchie-sxh2u?file=/src/App.vue

[2020-12-11 11:45] Ryan2128 commented on #966
This is a bug of vue3, you can just put an img tag with attr of width, the width will still be 0.

[2020-12-11 12:00] Ryan2128 commented on #966
You can check this [issue](https://github.com/vuejs/vue-next/issues/2677)

[2020-12-11 12:23] FPierre commented on #902
Does the job for me :+1:

[2020-12-11 15:55] hiover opened #977 "form 组件中 rules属性 不起作用"
![image](https://user-images.githubusercontent.com/21093108/101924927-361bd580-3c0c-11eb-9fd0-cd9c030b7b52.png)
![image](https://user-images.githubusercontent.com/21093108/101924943-3e741080-3c0c-11eb-83c9-effbcaa81a72.png)
![image](https://user-images.githubusercontent.com/21093108/101925001-5481d100-3c0c-11eb-867d-3e71902949d6.png)

[2020-12-11 16:03] hiover commented on #977
sure
[code]

[2020-12-11 16:05] JeremyWuuuuu commented on #977
What's the expected result?

[2020-12-11 16:09] hiover commented on #977
Obviously rules does't work，I hope he can work normally。

[2020-12-11 16:18] bigkjp97 opened #978 "导航菜单样式"
不知道大家有没有遇到这个问题，导航侧栏引用后样式出问题，副菜单的标题离箭头很近，还是需要一个个自己调？

[2020-12-11 16:21] JeremyWuuuuu commented on #977
Obviously, you DIDN'T ADD PROP **prop** TO `ElFormItem`

[code]

[2020-12-11 16:21] #977 closed

[2020-12-11 16:22] izcream opened #979 "Typography not working?"
Hello. I try to use element-plus UI in my vuejs project.

I got a problem with base style fonts not working(like its render font without any base style from element).
how do I solve This?

<img width="326" alt="Screen Shot 2563-12-11 at 23 21 05" src="https://user-images.githubusercontent.com/10282500/101928073-c1469c80-3c07-11eb-9645-817954f89986.png">
<img width="401" alt="Screen Shot 2563-12-11

[2020-12-11 16:32] JeremyWuuuuu commented on #979
Have you imported the style sheet correctly?

[2020-12-11 16:35] izcream commented on #979
I follow guide from element-plus doc from this https://element-plus.org/#/en-US/component/quickstart

and You can try to add h1 in this sandbox font will render sans-serif like my problem. https://codepen.io/iamkun/pen/YzWMaVr

[2020-12-11 16:36] JeremyWuuuuu commented on #979
Try this in your index.css

[code]

[2020-12-11 16:37] JeremyWuuuuu commented on #979
I just had a test on my machine with `codesandbox`, it uses the default font from my machine. So I added the code like that, everything seems fine.

[2020-12-11 16:38] izcream commented on #979
Thank I will try this. I think it's will imported base typo from element 😅

ps. I try to dig into theme-chalk sass src folder and not found any css related to set font-family or in element-variable not found smth like font-family too. Its normal?

[2020-12-11 16:40] JeremyWuuuuu commented on #979
Take a look at this.
[ElementPlus - Typography](https://element-plus.org/#/en-US/component/typography)
I had the same guess as you did, but turned out unexpected.

[2020-12-11 16:42] izcream commented on #979
Yes I look this in doc before create this issue. First I think element-plus will auto import and set font-family to html,body but look like its not do like this. I must import and set font-family manully. It's right way right😅?

[2020-12-11 16:43] JeremyWuuuuu commented on #979
Yup, you have to do it on your own, guess that element have left the choice to the users.

[2020-12-11 16:45] izcream commented on #979
Thanks I wil closed this issue

Solve by manual set font-family in you css 😇

[2020-12-11 16:45] #979 closed

[2020-12-11 16:47] JeremyWuuuuu commented on #979
![image](https://user-images.githubusercontent.com/15975785/101930738-8185b200-3c13-11eb-85d2-d952e324250c.png)
I found the code in the website codebase, guess that need to be mentioned in the documentation. Thank you for bringing this up.

[2020-12-12 00:26] SimonaliaChen commented on #978
Please provide a valid reproduction link.

[2020-12-12 00:32] SimonaliaChen commented on #974
Issues without a valid reproduction link will be closed directly. And, please specify the version of `element-plus`

[2020-12-12 04:12] bigkjp97 commented on #978
<el-radio-group v-model="isCollapse" style="margin-bottom: 20px;">
  <el-radio-button :label="false">展开</el-radio-button>
  <el-radio-button :label="true">收起</el-radio-button>
</el-radio-group>
<el-menu default-active="1-4-1" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" :collapse="isCollapse">
  <el-submenu index="1">
    <template #title>
      <i class="el-icon-location"

[2020-12-12 08:11] xiaoxian521 commented on #414
@JeremyWuuuuu I think I can add and improve this feature

[2020-12-13 07:12] Bo-LiangD commented on #972
哈喽
https://gitee.com/boliangd/demo.git
我把代码上传了  您跑一下

[2020-12-13 09:30] umi-soft opened #983 "是否有计划整合formily"
想了解一下，官方对 阿里开源的formily是否有整合计划呢
formily社区，需要@formily/element这样子的组件

[2020-12-13 09:43] g3r4n commented on #983
is it related to / similar than https://github.com/element-plus/element-plus/issues/348 ?

[2020-12-13 10:21] #964 closed

[2020-12-13 12:31] zazzaz commented on #983
@umi-soft

formily 是一个很棒的产品，期待双方能力可以打通。

我们现在人手有限，而且对 formily 底层了解不深，可能没有额外的精力来实现，不知道你们是否愿意参与贡献这个 feature

我的想法是可以放在 ElemeFE 或者 element-plus 组织下的一个单独仓库来实现能力，Element 官网给出用法 demo

作为一个 formily 和 Element 双官方的解决方案

[2020-12-13 12:52] zazzaz commented on #938
I'll mark this as a feature request to see if anyone needs this as well.

[2020-12-14 00:53] kailong321200875 opened #985 "希望新增【TreeSelect】组件"
1. The overall description of component
希望新增TreeSelect组件，因为很多情况下，Select组件并不能满足，只能自己把Select组件和Tree组件结合起来，多少有点不尽人意，希望官方可以新增一个TreeSelect组件。

2. The actual requirements
参考 https://ant.design/components/tree-select-cn/

3. If there is any reference that we can refer to
参考 https://ant.design/components/tree-select-cn/

[2020-12-14 01:02] Ryan2128 commented on #985
#878

[2020-12-14 02:24] JeremyWuuuuu commented on #983
Nope, they want us to support this [formily](https://github.com/alibaba/formily).

[2020-12-14 02:42] microkof opened #986 "[产品建议]希望Loading组件支持插槽"
现代前端开发中，如果接口出错，最佳实践是将Loading的转圈svg改成出错svg，同时在下方放一个“重新加载”的按钮，因此：

需要Loading支持插槽。

我知道2.0没有这个能力，希望plus版本能加上，谢谢！

[2020-12-14 02:47] Bo-LiangD commented on #972
哈喽  在的嘛

[2020-12-14 02:57] JeremyWuuuuu commented on #986
Please add this to https://github.com/element-plus/element-plus/discussions, I am closing this issue.

[2020-12-14 02:57] #986 closed

[2020-12-14 02:59] JeremyWuuuuu commented on #985
Please open a discussion here: https://github.com/element-plus/element-plus/discussions, I'm closing this issue

[2020-12-14 02:59] #985 closed

[2020-12-14 03:00] JeremyWuuuuu commented on #983
In short term we are unlikely to do that because of the shortage of our developers. In long term we could do as @zazzaz said above.

[2020-12-14 03:01] JeremyWuuuuu commented on #983
Would you mind adding this issue to here: https://github.com/element-plus/element-plus/discussions in order to get it tracked? I am closing this.

[2020-12-14 03:01] #983 closed

[2020-12-14 03:02] JeremyWuuuuu commented on #972
We'll investigate it soon.

[2020-12-14 03:03] JeremyWuuuuu commented on #966
Closing due to #976

[2020-12-14 03:03] #966 closed

[2020-12-14 03:04] JeremyWuuuuu commented on #945
Closing since this was a bug from `Vue`

[2020-12-14 03:04] #945 closed

[2020-12-14 03:43] ht-sauce opened #989 "ElTabs和vue的v-if组件配合会导致整体vue产生bug，必须刷新才可以"
复现地址：
https://github.com/ht-sauce/vuemini-test
重现步骤
我使用了element-plus的tabs组件，当组件内部的子组件和v-if配合的时候会产生vue方面的错误。
在git代码示例中，请单击“切换tabs产生的bug”按钮，复现错误
我使用了plus元素的tabs组件。当组件内部的子组件与V-IF配合使用时，将出现Vue错误。

在GIT代码示例中，单击“切换选项卡产生的错误”按钮以重现错误

[2020-12-14 06:21] #914 closed

[2020-12-14 06:30] erbaihuang commented on #968
Has it been fixed in 1.0.1-beta.8?

[2020-12-14 06:39] tcstory commented on #884
when you use vue-cli alone with element-plus-plugin to create a vue 3.x with typescript project. maybe you need to add the following code to correct some errors

let's use Message component as an example

[code]

[code]

[2020-12-14 06:44] JeremyWuuuuu commented on #989
Thank you for reporting this issue. We will investigate it soon. cc @bastarder

[2020-12-14 06:47] JeremyWuuuuu commented on #884
Hey, would you like to make a PR for updating the documentation? I read about what you wrote above, and I think it is a good thing for the users to notice. So, would you like to have a try?

[2020-12-14 06:59] JeremyWuuuuu commented on #968
Nah, we will try our best to fix that as fast as we can. Once this issue is fixed, this issue will get closed along with the PR.

[2020-12-14 06:59] tcstory commented on #884
@JeremyWuuuuu yeah, that's a good idea. i will do it after i have time. but i wanna knonw  where to the add the documentation? in the page of message component or somewhere?

[2020-12-14 07:04] JeremyWuuuuu commented on #884
![image](https://user-images.githubusercontent.com/15975785/102050201-51a9fa80-3e1d-11eb-8d7c-2c960ad1b4e4.png)
Add it here would be great. You can add 1 Chinese version and 1 English, then copy the English version to `jp` `fr` `es`, you don't have to do the copy in the beginning, after I proofread the translated version then you can copy them, that would save you sometime, in another words is tha

[2020-12-14 07:51] xiaoxian521 commented on #989
@ht-sauce
问题：当组件内部的子组件和v-if配合的时候会产生vue方面的错误。
解决办法: 可以使用v-show

[2020-12-14 08:21] TothingWay opened #990 "dialog title slot not working"
### Version
element-plus: 1.0.1-beta.8
vue: 3.0.4

### Environment
macOS 10.15.7

### Reproduction link
[view](https://codesandbox.io/s/distracted-ritchie-zpih2?file=/src/App.vue)

### What is expected?
The title slot working

### What is actually happening?
The title slot not working

---

[2020-12-14 08:34] JeremyWuuuuu commented on #990
Yes, this is a mistake that I have committed before. Will be fixed ASAP.

[2020-12-14 08:47] Liiked commented on #968
the issue is related to the feature of [new transition class in vue3](https://v3.vuejs.org/guide/migration/transition.html), which triggers the [#2593](https://github.com/vuejs/vue-next/issues/2593) & [#2531](https://github.com/vuejs/vue-next/issues/2531).

fix of 2593 & 2531 is worked, but causes animation failure in hooks of 'leave'. We'll find a moderate way to fix this ASAP.

[2020-12-14 08:55] Liiked commented on #978
you can change the **width** of vertiacal menu by yourself.
the official demo also shows the case.

[2020-12-14 09:07] wangshixiang1984 commented on #968
Have the same problem, when collapse and expand, no animation . when click submenu,  have animation on drop dwon but no on slide up

[2020-12-14 09:18] ht-sauce commented on #989
我需要刷新组件内部状态。也就是重新运行该组件。v-if是比较省代码的方式了。

[2020-12-14 09:18] TothingWay opened #991 "dialog can't scroll if the content to large"
### Version
element-plus: 1.0.1-beta.8
vue: 3.0.4

### Environment
macOS 10.15.7

### Reproduction link
[view](https://codesandbox.io/s/distracted-ritchie-zpih5-zpih2?file=/src/App.vue)

### What is expected?
dialog can't scroll when the content to large

### What is actually happening?
dialog scroll when the content to large

[2020-12-14 09:44] TothingWay opened #992 "Global config of size not working with table"
### Version
element-plus: 1.0.1-beta.8
vue: 3.0.4

### Environment
macOS 10.15.7

### Step to reproduce

1. app.use(ElementPlus, { size: 'small', zIndex: 3000 });
2. Use table in vue file
3. The size of the table is always as medium

### What is expected?
Global config of size working with table and other components

### What is actually happening?
Global config of size just working with button

[2020-12-14 10:50] bigkjp97 commented on #978
copy ,thks for the answer..

[2020-12-14 11:09] #978 closed

[2020-12-14 14:22] zazzaz opened #994 "Start business"
测试一下

[2020-12-14 14:30] #994 closed

[2020-12-15 02:58] luchaoqun123 opened #996 "How to migrate element UI to element plus"
element UI无法继续适应vue3,于是element plus应运而生。
对于本项目的贡献者先说句：辛苦了

对于老项目的vue版本升级已经没有问题
那么element UI  如何迁移到element plus？

如有相关文档烦请给了链接

[2020-12-15 03:19] zazzaz commented on #996
Hi, the migration guide is not available yet but on its way.

At the moment, you can upgrade it your self by

- 1  update the install script with Vue3 syntax https://element-plus.org/#/en-US/component/installation
- 2 take a look at the Breaking Change List https://github.com/element-plus/element-plus/issues/162
- 3 the rest code should be working fine as before

Feel free to ask our Element team

[2020-12-15 03:29] JeremyWuuuuu commented on #996
We might need to add breaking change to the documentation site. E.g. what is different from the previous version, with a diff syntax:
[code]

[2020-12-15 03:31] JeremyWuuuuu commented on #992
cc @justwiner

[2020-12-15 03:32] JeremyWuuuuu commented on #992
Maybe @justwiner did not implement that, because by the time table got merged, global config had not been added into the bundle entry yet.

[2020-12-15 03:33] TothingWay commented on #992
How long do you expect it to be fixed.

[2020-12-15 03:35] JeremyWuuuuu commented on #992
The fix itself is rather simple. But it depends on @justwiner 's time arrangement.

[2020-12-15 03:36] JeremyWuuuuu commented on #992
Also, PR is welcomed, we are happy if you could provide help.

[2020-12-15 03:39] TothingWay commented on #992
ok，I'll try to it

[2020-12-15 03:58] #990 closed

[2020-12-15 04:06] Cyril5169 opened #998 "Table column data filtering. When there is a lot of data, it is difficult to find the data to be filtered. Can you add a filter box"

[2020-12-15 04:31] ht-sauce commented on #989
我发现在el-table组件中动态的变化整个列数据也会造成这种情况。
`<el-table
      cell-class-name="custom-cell"
      style="margin: 10px 0;"
      height="354px"
      :data="tablelist"
      border
      :header-cell-style="{ padding: '4px' }"

      <template v-for="(item, index) in colums" :key="index">
        <el-table-column
          :sortable="item.sortable"
          :prop="item.prop"
          :align="item.align ||

[2020-12-15 04:52] xiaoxian521 commented on #989
@ht-sauce 我认为那你可以尝试不适用element-plus去渲染数据 可以用普通标签尝试 如果还出问题那你应该去vue-next提一下issues

[2020-12-15 06:46] JeremyWuuuuu commented on #968
Got it, will fix soon.

[2020-12-15 07:05] JeremyWuuuuu commented on #972
I did a simple investigation, refer to here: https://github.com/vuejs/vue-next/issues/2027,
watching `route` is essentially `deep: true` case, in this case, because route is a rather large object which causes the traverse over route costly.

[2020-12-15 07:13] JeremyWuuuuu commented on #972
The simplest way to modify the code, per Evan's suggestion:
![image](https://user-images.githubusercontent.com/15975785/102182754-c21d4e00-3ee7-11eb-991d-bff9e44d5c10.png)

But this modification will cause other issue:
![image](https://user-images.githubusercontent.com/15975785/102182800-d6614b00-3ee7-11eb-96db-07e5cc69414c.png)

This is what you need to fix. The warning and the lagging were no lo

[2020-12-15 07:15] JeremyWuuuuu commented on #972
Note that you **MUST** use `watchEffect` instead of `watch` to do the job, or you can use `computed` to do the work.

[2020-12-15 07:16] JeremyWuuuuu commented on #972
Feel free to ping me on this. Thank you. Since this isn't issue from `ElementPlus`, I am closing this issue, feel free to reopen it if you feel to.

[2020-12-15 07:16] #972 closed

[2020-12-15 07:27] #974 closed

[2020-12-15 07:28] JeremyWuuuuu commented on #974
Closing due to no demo, feel free to reopen if you need to.

[2020-12-15 07:31] JeremyWuuuuu commented on #989
I think it could be a potential problem, we will investigate this. Thank you for the issue.

[2020-12-15 07:42] justwiner commented on #992
sry, my first. hhh~
@TothingWay
[code]

[2020-12-15 07:43] TothingWay commented on #992
hhh, I was about to mention PR, and you fixed it, so fast

[2020-12-15 07:48] zazzaz commented on #992
@TothingWay Hi, thanks for your attention. Actually, there is still a lot of work we can do to make Element Plus better.

e.g. https://github.com/element-plus/element-plus/pull/984 This PR only updates the Chinese doc.

It will be great if you could help us to make a PR to update the doc in other languages accordingly.

[2020-12-15 08:21] JeremyWuuuuu commented on #998
Issues without a valid reproduction link will be closed directly.

[2020-12-15 08:25] JeremyWuuuuu opened #1000 "[New feature] Adding Space component"
Per https://zhuanlan.zhihu.com/p/135446399 , `Space` could be a common component that we use frequently.

I think it's worthy adding to the component library.

[2020-12-15 08:44] chengaohe45 opened #1001 "El date picker cannot inherit class and style"
版本：1.0.1-beta.8

例：
`
    <el-date-picker
        class="a12345"
        style="width: 300px;"
        v-model="dateValue"
        type="year"
        placeholder="选择日期">
     </el-date-picker>
`
class和style是失效的。
是故意这样设计的？
这样的设计只能做样式覆盖，体验有点不好

[2020-12-15 09:00] kooriookami commented on #1000
awesome

[2020-12-15 09:14] OneSeven commented on #1000
Hope to make flex and grid compatible with each other ！

[2020-12-15 09:30] JeremyWuuuuu commented on #1000
Could you be more specific?

[2020-12-15 10:01] OneSeven commented on #1000
In element 2.x el-row turns on flex,'el-col span=24' will be invalid, there may be other problems, it can be realized similar to the grid in vuetify

[2020-12-15 10:45] MBearo opened #1004 "Failed to compile"
version is 1.0.1-beta.8,when i run `yarn website-dev`,throw error
[code]
I check source code,can't find './version',waht happened?
[code]

[2020-12-15 11:02] xyorz opened #1006 "el-submenu do not expand correctly when change route"
I tried to use el-menu with router option, but it behaves strange.
When route change, the submenu doesn't expend correctly if the menu item extracted into a component.
But it works well if the menu item directly wrapped by el-menu.
Here is the demo:
[https://codesandbox.io/s/sad-stallman-dl3n0?file=/src/NavbarMenu.vue](https://codesandbox.io/s/sad-stallman-dl3n0?file=/src/NavbarMenu.vue)

[2020-12-15 11:17] #1004 closed

[2020-12-15 11:17] JeremyWuuuuu commented on #1004
Please refer to package.json.scripts part.

[2020-12-15 11:19] JeremyWuuuuu commented on #1001
cc @zazzaz

[2020-12-15 11:34] CocaColf opened #1007 "script website-build execution error"
when i clone the project and run the script `website-build`,there is an error :

![image](https://user-images.githubusercontent.com/25732253/102209946-821c9200-3f0c-11eb-8d29-403d1c2b803d.png)

[2020-12-15 11:36] JeremyWuuuuu commented on #1007
![image](https://user-images.githubusercontent.com/15975785/102210101-b7c17b00-3f0c-11eb-8ad7-90c05b1f84d3.png)
We literally have this written in the `README.md`, please read it before getting started.

[2020-12-15 11:36] #1007 closed

[2020-12-15 11:41] CocaColf commented on #1007
sorry, my bad.

[2020-12-15 14:19] zazzaz commented on #1001
this is a bug, will fix it soon

[2020-12-15 14:46] zazzaz commented on #918
fixed in #959 and avaliable in `1.0.1-beta.8`

[2020-12-15 14:46] #918 closed

[2020-12-15 15:11] Bing573 opened #1010 "Raise "Uncaught TypeError: Object(...) is not a function" error while importing components in nuxt.js plugin."
The plugin is as simple as below
[code]
No matter what component is imported, it always raises  an error as follow
[code]

[2020-12-16 01:46] ht-sauce commented on #989
我自己实现了最简单的v-for循环和带有基础自定义组件的实现无法发现问题。但是采用了element的组件会引发问题。
这是demo地址：https://github.com/ht-sauce/vuemini-test
请点击页面的‘切换表格列引起的bug’
里面有我复现的bug。我之前给vue-next提过bug，但是无法复现无elementui组件的方式。所以到这里了。表格还好。但是我想tabs组件的问题是比较严重的。很多小伙伴都会这样去操作。
![R{9JAXZF IRNN2XUGL}UFM0](https://user-images.githubusercontent.com/34828964/102294145-918af200-3f83-11eb-9772-fbc961cd826f.png)

[2020-12-16 02:16] JeremyWuuuuu commented on #1000
So, I'm going to ask you to open a new issue to track that. With detailed descriptions like `actual behaviors` `expected behaviors` etc. @OneSeven Could you do that for me?

[2020-12-16 02:23] #991 closed

[2020-12-16 02:52] Lliuxs opened #1012 "el-select Vue warn"
之前是ok的 升级了版本之后就一堆的警告⚠️   beforeEnter
![image](https://user-images.githubusercontent.com/35122287/102298889-f5fe7f00-3f8c-11eb-9627-dac210280a32.png)

[2020-12-16 03:17] garrettzxd opened #1013 "The loading component will mask the border of the table"
`<el-tabel v-loading="false" border></el-table>`

在table存在border的情况下使用loading

table border-left border-top会被遮盖起来

受loading css影响
`.el-table--border.el-loading-parent--relative{
  border-color: transparent;
}`

注释该css工作正常

[2020-12-16 03:20] MBearo commented on #1004
Oh, sorry, I know what's going on,thank you

[2020-12-16 04:40] zazzaz commented on #1010
a reproduction demo please

[2020-12-16 04:43] zazzaz commented on #1012
Duplicate of #819 , #965

[2020-12-16 07:33] Bing573 commented on #1010
Wrong VUE version,  my mistake.

[2020-12-16 07:33] #1010 closed

[2020-12-16 07:57] guagezuishuai opened #1017 "Official example console warning of El date picker"
https://codepen.io/guagezuishuai/pen/RwGVwVv

文档的示例中 el-date-picker 第一个带快捷选项，再线运行，点击选择器控制台报警告

[Vue warn]: Extraneous non-props attributes (align) were passed to component but could not be automatically inherited because component renders fragment or text root nodes.
  at <Picker format="YYYY-MM-DD" type="date" modelValue=""  ... >
  at <ElDatePicker modelValue="" onUpdate:modelValue=fn<onUpdate:m

[2020-12-16 07:59] zazzaz commented on #1017
the fragment error will be fixed in # 1009 soon

[2020-12-16 09:03] sufengyong opened #1018 "Custom theme. After modifying the theme color, download the resource index.css Some styles unrelated to the theme color are different from the default"
修改主题色后 index.css 中
el-select-dropdown 类中包含 margin: 5px 0

官方文档中 el-select-dropdown 没有 margin: 5px 0；

导致下拉框弹出框三角形位置异常，脱离弹出框

[2020-12-16 09:15] zazzaz commented on #1018
Any more detail please, like how do you change the css in `index.css`?

[2020-12-16 09:41] sufengyong commented on #1018
I only changed the theme color in your online theme generation tool page. After downloading the resource package, the main.ts file of the project refers to the index.css in the resource, without making any changes to index.css. However, it was found that the triangle position of the EL-select pop-up box was incorrect, and compared with the el-select-Dropdown class of the official document, more ma

[2020-12-16 09:47] lighter217 opened #1019 "el-table doesn't show scrollbar"
[code]
[code]

![screenshot](https://user-images.githubusercontent.com/44219413/102332131-ab99f400-3fc6-11eb-96fd-548ba9eae3d1.png)

[2020-12-16 09:52] Liiked commented on #1006
Thx for reporting this issue 😉, we'll fix it ASAP.

[2020-12-16 09:56] citrucn opened #1020 "Dialog header slot is not valid, missing scrolling"
<template #footer>可以生效，<template #title>无效
内容长度超过屏幕不能向下滚动，而且没有滚动条

[2020-12-16 10:00] xyorz opened #1021 "el-date-picker in dialog doesn't update if value changed before dialog init"
Here is demo:
[https://codesandbox.io/s/purple-sunset-pnxhw?file=/src/App.vue](https://codesandbox.io/s/purple-sunset-pnxhw?file=/src/App.vue)
If click the change date botton before dialog init, the date picker in dialog will not update, though the value has been changed.

[2020-12-16 11:03] zazzaz commented on #1018
I see, the 'online theme generation' tool needs to be updated.

In the meantime, you can try the other way like update the sass var directly.

[2020-12-16 11:06] zazzaz commented on #1020
fixed in #997 , and will be available in the next release shortly

[2020-12-16 11:54] meikang123 opened #1022 "How to deal with unknown tags in webstorm"

[2020-12-16 12:03] meikang123 commented on #1022
[
![image](https://user-images.githubusercontent.com/16129828/102346298-967a9080-3fd9-11eb-9ee7-8be65ece4fd0.png)
](url)
[
![image](https://user-images.githubusercontent.com/16129828/102346355-ac885100-3fd9-11eb-8e5e-2da436cc81eb.png)
](url)
![image](https://user-images.githubusercontent.com/16129828/102346409-bf9b2100-3fd9-11eb-9914-2034ba7bdcea.png)

[2020-12-16 13:46] #1020 closed

[2020-12-16 14:10] #898 closed

[2020-12-16 14:10] #1001 closed

[2020-12-16 14:28] #968 closed

[2020-12-16 14:54] zazzaz opened #1024 "Button size display error"
<img width="586" alt="image" src="https://user-images.githubusercontent.com/10731096/102364612-9edec580-3ff1-11eb-8aa1-e184423dc3b8.png">

bug in the new `el-row` style

[2020-12-17 01:39] kooriookami commented on #1024
I think we need to give each button size a specific height.
40px、36px、32px、28px.

[2020-12-17 02:41] justwiner commented on #1013
Can you provide a screenshot or demo? @garrettzxd

[2020-12-17 03:27] ljxyaly opened #1027 "When collapse collapse panel component to embed table component, there are bugs in animation effect and poor user experience"

[2020-12-17 03:28] JeremyWuuuuu commented on #1027
Would you please provide demo to demonstrate your point?

[2020-12-17 03:29] JeremyWuuuuu commented on #1024
Nope, the size of the button is derived from either the props or the global configs.

[2020-12-17 03:31] JeremyWuuuuu commented on #1022
This is a plugin related issue, because the tag itself was a customized tag, you editor/IDE needs to know what that is, I personally suggest you to use `VSCode` with `Volar` plugin to support that, for WebStorm developers we cannot provide any help. You may raise the same issue to `Vue`

[2020-12-17 03:31] #1022 closed

[2020-12-17 03:33] sakura-flutter opened #1028 "Datepicker returns the second day of the selected week when the Chinese language type is week"
### Element UI version
1.0.1-beta9

### OS/Browsers version
windows10 chrome87.0.4280.88

### Vue version
3.0.3

### Reproduction Link
https://codesandbox.io/s/element3-date-picker-5unvk?file=/src/App.vue

### Steps to reproduce
选取其中一周

### What is Expected?
中文语言时应该返回选取周的第一天

### What is actually happening?
返回了选取周的第二天

[2020-12-17 03:36] JeremyWuuuuu commented on #1021
This is because dialog's content is lazily loaded. https://element-plus.org/#/zh-CN/component/dialog Please read the blue section.

[2020-12-17 03:53] kooriookami commented on #1024
Just a default height of global configs or props, user can change props or global configs.

[2020-12-17 06:34] xyorz commented on #1021
Date picker in a dialog now is always empty unless we update it's value after the dialog loaded.
I think it should be a bug since el-input component has different behaviour.

[2020-12-17 07:19] kooriookami opened #1029 "【BUG】Click scrollbar when mouseup still scroll by mousemove"
version：1.0.1-beta.9
https://element-plus.org/#/zh-CN/component/time-select
https://element-plus.org/#/zh-CN/component/select

Click scrollbar when mouseup still scroll by mousemove.

[2020-12-17 08:04] Bo-LiangD commented on #853
It is found that the 'DateTimePicker' component in the Element-Plus website cannot slide, but there is no problem in element-UI

em em em

[2020-12-17 08:19] JeremyWuuuuu commented on #1029
Confirmed. By single click the scrollbar, it will be reproduced.

[2020-12-17 08:21] JeremyWuuuuu commented on #1012
Caused by `Vue`, seems they don't think this is a big problem.
![image](https://user-images.githubusercontent.com/15975785/102461811-e877f080-4083-11eb-80ed-65d1f9c55161.png)

[2020-12-17 08:22] #1012 closed

[2020-12-17 08:25] JeremyWuuuuu commented on #989
Got it. cc @bastarder

[2020-12-17 08:26] Bo-LiangD opened #1030 "API type = "datetimerange" in datetimepicker seems to be invalid"
Api type="datetimerange" in DateTimePicker seems invalid. I check the 'date and time range with the shortcut option' in your Element-Plus. I see that the code has the latest week, month, and three months, but I don't see it in the example

em em  em
![image](https://user-images.githubusercontent.com/29296518/102462124-591f0d00-4084-11eb-9636-4e29a7dc8153.png)
Console information

![image](https://

[2020-12-17 08:28] zazzaz commented on #1030
this should be fixed in 1.0.1-beta.9

also, note, picker-option is removed and all the props are moved to the top-level

[2020-12-17 08:50] #992 closed

[2020-12-17 08:51] #919 closed

[2020-12-17 08:58] Bo-LiangD commented on #1030
My update is 1.0.1-beta.9. But still no date or time range to choose from.

What form are you saying the props are moved to the top-level '...

Is it possible for me to reprocess it so as to realize a week, January and March...

[2020-12-17 09:10] garrettzxd commented on #1013
![image](https://user-images.githubusercontent.com/13514116/102466967-af8f4a00-408a-11eb-92ac-92a44f535f1f.png)

![image](https://user-images.githubusercontent.com/13514116/102466899-97b7c600-408a-11eb-8fea-9f0621949126.png)

[2020-12-17 09:10] JeremyWuuuuu commented on #1030
Seems like we got this documentation forgotten. We need to update that one as well. `picker-options` had been deprecated.

[2020-12-17 09:29] zazzaz commented on #1030
Hi, you can check the demo code `shortcuts` in https://element-plus.org/#/en-US/component/date-picker

Doc will be updated soon.

[2020-12-17 10:24] HiWayne opened #1031 "When el-input set "value" attributes, it can't show this value in the input box. el-date-picker and el-radio-group maybe also have this problem."
**version:  vue@3.0.2  &&  element-plus@1.0.1-beta.3**

**example:**
[code]

**In my own project, first, i write a reactive state for ":value" in ElInput, value doesn't work.**

**Then, i write 12( :value="12" ) or "12"( value="12" ) for value directly. As shown in the code above.**

**They all can't show value in the input box.**

**\<el-date-picker\> and \<el-radio-group\> also have this problem

[2020-12-17 10:27] JeremyWuuuuu commented on #1031
Have you tried using `v-model` notation?

[2020-12-17 10:29] Ryan2128 commented on #1031
Please check [migration/v-model](https://v3.vuejs.org/guide/migration/v-model.html#overview)

[2020-12-17 10:31] JeremyWuuuuu commented on #1031
The documentation ain't right, we need to update it. It still recommends `value` notation

[2020-12-17 10:33] tbwork commented on #869
The picker-options is vaid, but  the whole document does not provide any selectable plan, so annoying!

[2020-12-17 10:34] HiWayne commented on #1031
"v-model" is right, but i need send value as prop to input component, so, v-model will prompt "Unexpected mutation of "value" prop"

[2020-12-17 10:39] JeremyWuuuuu commented on #1031
When you use v-model it updates the value for you. Could you send the errored version  for me to investifate? It is even better if you can send us a online version. Much appreciated.

[2020-12-17 10:40] HiWayne commented on #1031
I expect a config that type is "object[]" can be provided to a component, that it can be rendered to a form list. I am not particularly familiar with the new syntax of vue3. So, maybe i can only use value as prop, right ?

[2020-12-17 10:42] HiWayne commented on #1031
element-plus@1.0.1-beta.3
How can i send you a online version ?

[2020-12-17 10:44] JeremyWuuuuu commented on #1031
There is a link(button) on the main page of our github you may find.

[2020-12-17 10:45] JeremyWuuuuu commented on #1031
As long as the binding is reactive. You can use it as v-model to get updates automatically

[2020-12-17 10:45] zazzaz commented on #869
Please ref to this demo code ATM https://github.com/element-plus/element-plus/issues/1030#issuecomment-747321613

The doc will be updated in this week.

[2020-12-17 10:46] JeremyWuuuuu commented on #1031
If you find that value won't work. Use modelValue instead. This is a one way binding

[2020-12-17 10:48] JeremyWuuuuu commented on #1031
Passing the value like you did above with the name `:modelValue=binding`. You'll get the same behavior like `value`

[2020-12-17 10:52] HiWayne commented on #1031
Wow, it works magically! Thank you very much. I seem can't find the button about online version.

[2020-12-17 10:54] JeremyWuuuuu commented on #1031
Don't worry, thank you for raising this issue, we'll improve our documentations later

[2020-12-17 10:57] HiWayne commented on #1031
Ok. I'm in Shanghai too. Goodbye if fate.

[2020-12-18 01:49] Bo-LiangD commented on #1030
![image](https://user-images.githubusercontent.com/29296518/102564180-da72b000-4115-11eb-82c1-e63fa238d594.png)
The value of the selected date was not cleared when I cleared it
![image](https://user-images.githubusercontent.com/29296518/102564338-32a9b200-4116-11eb-8cec-7276225a9881.png)
It will come up when I reset it

[2020-12-18 02:07] JeremyWuuuuu commented on #1027
Closing since no further updates, reopen this when you can provide detailed demo or description

[2020-12-18 02:07] #1027 closed

[2020-12-18 02:30] #1000 closed

[2020-12-18 02:58] zazzaz commented on #869
fixed in #1033

[2020-12-18 02:58] #869 closed

[2020-12-18 02:58] zazzaz commented on #1030
fixed in #1033

[2020-12-18 02:58] #1030 closed

[2020-12-18 03:17] wzohxia opened #1036 "The value of the data column in the table component cannot be displayed when it is of bool type"
[code]
![image](https://user-images.githubusercontent.com/22089141/102570564-976b0980-4122-11eb-8166-4a109444e22a.png)

[2020-12-18 03:18] JeremyWuuuuu commented on #874
Fixed in #967

[2020-12-18 03:18] #874 closed

[2020-12-18 03:20] JeremyWuuuuu commented on #1036
Why should we display bool type? I think the data in the table is essentially `string` or `img` sometimes.

[2020-12-18 03:21] JeremyWuuuuu commented on #1036
If you need a bool type, you might need to cast it into `string` type.

[2020-12-18 03:22] wzohxia commented on #1036
只是测试发现有这个问题，实际使用影响不大

[2020-12-18 03:30] JeremyWuuuuu commented on #989
Hey, I've just investigated the issue. So it was caused by `Vue` instead of `ElementPlus`, see this. https://github.com/vuejs/vue-next/issues/2737 Also the fix: https://github.com/vuejs/vue-next/commit/c59897c7b0dbd82b5bbf3fbca945c0639ac37fb8

[2020-12-18 03:33] JeremyWuuuuu commented on #989
The current available solution is that you downgrade your `Vue`'s version to `3.0.3`, that should be good.
You can solve this by
[code]
See the screenshot:
![image](https://user-images.githubusercontent.com/15975785/102571611-dc903b00-4124-11eb-956a-5dfb002a8d58.png)

[2020-12-18 03:34] #989 closed

[2020-12-18 03:34] JeremyWuuuuu commented on #989
Note that unless `Vue` gives us a new version `3.0.5`, you will still have issues because in `3.0.3` they have some serious issues as well.

[2020-12-18 04:04] ht-sauce commented on #989
谢谢，现在我在生产中采用其他方式实现该功能。

[2020-12-18 04:20] YoungsunLi commented on #1019
✋I have the same bug

[2020-12-18 05:40] JeremyWuuuuu commented on #989
NP, feel free to ping me when you have any other questions.

[2020-12-18 05:41] JeremyWuuuuu commented on #989
Note that this issue will only appear when you have slots being dynamically updated.

[2020-12-18 05:43] JeremyWuuuuu commented on #926
Could you give some demo in order to get the investigation started? If this is really confirmed as an issue, then it will need to be fixed.

[2020-12-18 06:59] kooriookami opened #1040 "Doc about space has inconsistency"
![image](https://user-images.githubusercontent.com/38392315/102584375-4b7b8d00-4141-11eb-8d03-795e19e62094.png)

[2020-12-18 07:48] gameruleCEO opened #1041 "El autocomplete does not work properly"
![image](https://user-images.githubusercontent.com/32796170/102588417-600f5380-4148-11eb-8542-319a46884c59.png)

[2020-12-18 07:57] JeremyWuuuuu commented on #1031
I'm closing this issue since it had been resolved.

[2020-12-18 07:57] #1031 closed

[2020-12-18 08:11] edsolater commented on #162
there should be an example about how to set locale on Day.js which may affect element-plus as metioned。

[2020-12-18 08:13] JeremyWuuuuu commented on #1040
Sorry.. I've made some mistakes when writing docs, could you help with that?

[2020-12-18 08:15] JeremyWuuuuu commented on #1041
Could you provide us reproduce steps, also with actual behavior and expected behavior?

[2020-12-18 08:16] kooriookami commented on #1040
Yes, which is correct?
`8px 12px 16px 20px` or `4px 8px 12px 16px`

[2020-12-18 08:25] JeremyWuuuuu commented on #1040
The last one.

[2020-12-18 08:41] hojit opened #1043 "When the post element button is added to input, the type attribute of button is invalid"
input中添加后置元素button时,button的type属性无效,如:
`<template #append><el-button type="warning">搜索</el-button></template>` type="warning"样式不改变

[2020-12-18 08:55] cenmes opened #1045 "How to carry out local development and debugging ?"
"run website"  dose'nt work, it need to install element-plus, can't do local development and debugging

[2020-12-18 08:57] JeremyWuuuuu commented on #1045
![image](https://user-images.githubusercontent.com/15975785/102595056-feec7d80-4151-11eb-9b03-5d29895e4ef7.png)
Please do read the `get started` section first. We have that written in the documentation.

[2020-12-18 08:57] #1045 closed

[2020-12-18 09:02] JeremyWuuuuu commented on #1043
That's because it was overrode by this rule:
[code]

[2020-12-18 09:16] gameruleCEO commented on #1041
就是官网例子，在线运行
![image](https://user-images.githubusercontent.com/32796170/102596829-b7b3bc00-4154-11eb-8f3b-18cc772d7c5b.png)

[2020-12-18 09:17] kooriookami opened #1046 "Bug with Slider"
The slider button still move when mouseup on the tooltip.
Reproduction steps:
1. Drag the round button and mousemove. ![image](https://user-images.githubusercontent.com/38392315/102596732-90f58580-4154-11eb-8389-ae262188f93c.png)
2. Mouse up on the tooltip. ![image](https://user-images.githubusercontent.com/38392315/102596699-7e7b4c00-4154-11eb-8384-141145cb4074.png)
3. Mousemove and you'll see.